[2021-11-24 21:43] #378 closed

[2021-11-24 21:44] ShadauxCat commented on #1189
NetworkReader was removed a while ago, so I'm closing this.

[2021-11-24 21:44] #1189 closed, assigned to ShadauxCat

[2021-11-24 21:45] ShadauxCat commented on #1188
This was fixed.

[2021-11-24 21:45] #1188 closed, assigned to ShadauxCat

[2021-11-24 21:48] ShadauxCat commented on #1369
This should have been fixed in #1444 since it refactored the way local execution of RPCs on host are executed.

[2021-11-25 07:45] vikpek commented on #1450
The issue does NOT appear while using the Unity Transport layer.

I added an additional branch called: `message-limit-report-unitytransport` that has the exact same setup just with Unity Transport.

[2021-11-25 22:11] JayPeet commented on #1440
This problem occurs on both the UNET transport and the Ruffles transports, with a couple differences in which IDs you get (because as @kjohnston-ooi says, the TransportIdToClientId call appears to be in the wrong place.)

As far as I can tell from working on a fix on my fork (PR: https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1474) doing the TransportIdToClientId call sho

[2021-11-26 16:03] Agoxandr opened #1475 "Physics 2D dependency in version 2.0.0"
Physics 2D module dependency is missing in package.json.
I understand that this is nitpicky and I would make a pull request myself, but it would take me more than 20 mins.

Thank you.

[2021-11-26 22:28] Haruwolf opened #1489 "Add client write support to NetworkVariable"
NetworkVariables don't have more permissions in 1.0.0 only server can write them.

If I can give a suggestion, adding a way to client change a local variable and server taking to Network Variable, would be good.

[2021-11-26 22:34] Haruwolf opened #1488 "Feedback for /versioned_docs/version-1.0.0/components/networkmanager.md"
Suggestion: In version 1.0.0 you can't access NetworkPrefabs object list neither add GameObject via script, this can be some limiting in some cases.

[2021-11-27 10:59] elton-okawa opened #1476 "RPCs are not affected by Simulator Tools artificial network conditions"
**Describe the bug**
RPC calls are not affected by Simulator Tools artificial network conditions

**To Reproduce**
1. Clone this [repository](https://github.com/elton-okawa/issue-unity-mlapi-simulator-tools)
2. Open `Netcode -> Simulator Tools`
3. Set delay to `200` (we can leave others the default value)
4. Open `ParrelSync -> Clones Manager`
5. Click Add new clone
6. After a while, there'll be a

[2021-11-28 19:55] wokamoka commented on #1450
Hi,
I'm currently experiencing the same problem with a project, with attaching the UnetTransport component to the NetworkManager component.
So I installed com.unity.netcode.adapter.utp from https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tree/release/1.0.0/com.unity.netcode.adapter.utp
I'm also experiencing the same issue.

[2021-11-29 15:43] LukeStampfli commented on #1475
Is this causing any issues in your project? Did you try to import Netcode for GameObjects and run into exceptions? The Physics 2D module should be part of every Unity project already by default.

[2021-11-29 16:17] Agoxandr commented on #1475
As I said it's really nitpicky.
It threw errors in NetworkRigidbody2D when I imported because the project didn't have the module. The package.json includes all the other modules you need except for this one.

[2021-11-29 17:01] lukasreuter commented on #1469
For me this is a huge blocker as it makes using a NetworkList for anything more than a few elements of a trivial type impossible.

[2021-11-29 20:11] ShadauxCat commented on #1469
I've opened a PR that contains a fix that will increase the size of NetworkVariable that can be sent, up to the transport-specific maximum message size under ReliableFragmentedSequenced delivery. If your lists get large enough, you'll still run into errors from the transport trying to send them. That limit is much larger than the previous one, though.

[2021-11-29 23:25] #1362 closed, assigned to NoelStephensUnity

[2021-11-29 23:59] NoelStephensUnity commented on #1098
Hi @ataitson!
I am looking at your project and have some suggestions:

1. I would highly recommend using a common scene, shared/loaded on both the server and clients, that contains your NetworkManager instance especially when scene management is enabled.
2. Upgrading to the most recent version of Netcode for GameObjects will also provide you with additional functionality and messaging when you run

[2021-11-30 00:01] NoelStephensUnity commented on #869
@DreadBoy
Just following up to see if you have resolved your issue or if this issue is still outstanding.

[2021-11-30 01:07] NoelStephensUnity commented on #796
@dwoodruffsf
I am seeing a the same kind of behavior in v1.x.x.x/develop for this bug with some additional issues upon being disconnected (an exception within the UnityTransport occurs).

So, it does appear that custom messages are ordered but then the server side disconnect is processed at the transport layer.
After running the same test as described above, with the added step of adjusting the Ch

[2021-11-30 08:39] lukasreuter commented on #1469
Awesome, thanks for quick help! Will try out if that fixes the overflow issues.

[2021-11-30 09:30] mraue commented on #1469
Great, thanks! You changed the NetworkVariable channel to fragmented and I was wondering if there was a reason why it was set to ReliableSequenced only?

[2021-11-30 10:56] vikpek commented on #1469
Thank you! We'll check it out asap

[2021-12-01 16:28] LukeStampfli commented on #434
Closing this since it has been stale for a while. If anyone is looking for getting WebGL to work, we are no longer supporting this platform with our built in transports. A websocket based transport can be found in the [community contributions repository](https://github.com/Unity-Technologies/multiplayer-community-contributions)

[2021-12-01 16:28] #434 closed

[2021-12-01 16:30] LukeStampfli commented on #871
Closing this issue, the solution above should work. Alternatively starting from 1.0.0 there is also the `NetworkObjectReference` type which can be used to serialize a reference to a NetworkObject over the network.

[2021-12-01 16:30] #871 closed

[2021-12-01 16:32] LukeStampfli commented on #978
Apologies for not responding earlier. I don't think there is a technical reason for why there is no OnServerStopped. If you want us to add this feature, the best way would be to request a feature on our [roadmap](https://unity.com/roadmap/unity-platform/multiplayer-networking#roadmap)

[2021-12-01 16:32] #978 closed, assigned to LukeStampfli

[2021-12-01 16:33] LukeStampfli commented on #1135
@Mp3Shark where you able to fix this issue?

[2021-12-02 06:50] ashkan-saeedi-mazdeh commented on #871
sorry for not seeing this
If the solution using SpawnManager works on the clients too. that is good enough. otherwise, NetworkReference is mandatory if you don't want to maintain a list.

[2021-12-02 18:56] LPLafontaineB opened #1490 "Host and client not disconnected when relay connection lost"
**Describe the bug**
In Boss Room, if we start a game using Unity Relay, with a host and a client, then later remove our internet connection by disabling wifi on the device, or pulling out the ethernet cable, no disconnection message is sent either to the host nor to the client. The client doesn't receive any updates, and its messages aren't sent to the host, but the host can still play.

Both the

[2021-12-02 20:55] jacobdavis2 commented on #1249
I had to solve this with a timer, a server RPC and a client RPC. (The time to allow whatever additional work that goes into synchronizing client and server NetworkObjects - is there an event handler for this?) I am also looking for the correct way to set spawn location for newly joined clients.

[2021-12-02 20:56] jacobdavis1 commented on #1249
I had to solve this with a timer, a server RPC and a client RPC. (The time to allow whatever additional work that goes into synchronizing client and server NetworkObjects - is there an event handler for this?) I am also looking for the correct way to set spawn location for newly joined clients.

[2021-12-02 21:37] will-mearns commented on #1304
Reached out to DST for further discussion

[2021-12-02 21:47] simon-lemay-unity commented on #1304
Should be fixed by #1441 (which has been backported to 1.0.0 and will be part of release 1.0.0-pre.4 of the adapter). The stack trace is exactly the same as in #1439 which that PR was fixing.

Despite the name of that PR, the exception would be thrown whenever a client received a `Disconnect` event (which might happen in other situations than the host disconnecting, like exiting play mode).

[2021-12-02 21:47] #1304 closed, assigned to simon-lemay-unity

[2021-12-03 04:04] aazzolini commented on #1430
Any updates?

[2021-12-03 04:05] aazzolini commented on #1476
I'm experiencing the same issue and it's actually making it hard to iterate on my netcode. I am basically deploying my server to EC2 as the only way to simulate these latency conditions.

[2021-12-03 07:07] Cratesmith commented on #1489
Seconding issue about not being able to have client written network vairables.
This is a major workflow problem for clientside driven elements if the only option is to RPC all state changes to the server.

[2021-12-03 21:18] Bugord opened #1495 "Tick System - duplication/skipping tick value for Tick event"
**Describe the bug**
Problem with tick value calculation in LocalTime and ServerTime. Some ticks consistently repeating or are skipped. For example for 60 tickrate ticks 30, 61, 122 duplicated, 32, 62, 124 skipped. Probably problem with float calculations.

**To Reproduce**
Steps to reproduce the behavior:
1. Subscribe to Tick event
2. Write in console current tick
3. See skipped/duplicated tick v

[2021-12-03 22:47] NoelStephensUnity commented on #426
Verified that this is no longer an issue in v1.0.0-pre.3 so upgrading to the latest version should resolve this issue.

[2021-12-03 22:47] #426 closed

[2021-12-04 00:12] 0xFA11 commented on #1476
https://jira.unity3d.com/browse/MTT-1907

[2021-12-05 17:56] daniellochner opened #1498 "Lobbies delete themselves when integrating Lobby and Relay"
**Describe the bug:**
When [integrating Relay and Lobby](https://docs.unity.com/lobby/relay-integrations.htm), it seems you have to start the game (with `StartHost`) before 10 seconds have passed. Otherwise, the lobby you created will be deleted. I'm not sure, but I think this may be a bug? For example, this could be an issue in the case of a classic FPS game where you're in a lobby waiting for th

[2021-12-05 18:05] daniellochner opened #1499 "NetworkPrefab has a duplicate GlobalObjectIdHash source entry value of XYZ"
**Describe the bug:**
Every now and then, I get this issue when trying to enter play mode:

It seems to happen with some of the prefabs in my network prefabs list. To fix it, I just revalidate the `NetworkObject` component (e.g., toggle one of the parameters on and off), and another `GlobalObjectIdHash` is generated. I tried completely removing and re-adding the `NetworkObject` components from eac

[2021-12-06 00:16] #1469 closed, assigned to ShadauxCat

[2021-12-06 15:49] luuky50 commented on #1450
Hello,
I'm also currently having the same problem changing transports didn't work and also setting the max packet queue size higher did not help. I have also tried to revert to NetCode version 1.0.0-pre.2 but this also didn't remove the problem,
Hoping to find a quick solution.

[2021-12-06 19:05] JohnConbere opened #1503 "Server time incorrect on client if the Tick Rates are different"
**Describe the bug**
If you have the NetworkManager.TickRate set to different values on the client and server the NetworkManager.ServerTime value is incorrect.  For example, if you set the Server Tick rate to 30 and the Client Tick rate to 5, the servertime on the client will be reported to be 6x what is on the server.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a server and clie

[2021-12-07 17:31] ShadauxCat commented on #1440
Fixed by #1477

[2021-12-07 17:31] #1440 closed, assigned to ShadauxCat

[2021-12-07 21:30] #1428 closed, assigned to ShadauxCat

[2021-12-08 00:29] #552 closed

[2021-12-08 00:39] #1445 closed, assigned to ShadauxCat

[2021-12-08 04:28] kylemiller3 commented on #1490
We are having the same issue but over a real network. The service will cut out after a few minutes of actually being in the game. The game state freezes for the client but our inputs are still processed at the host end. So this means we can see updates on the host when the frozen client clicks but the client does not update.

[2021-12-08 15:06] LukeStampfli commented on #1503
Different tickrates are not something we support. We should include the tickrate of the config in the checksum so that there is an exception when different tickrates are used.

[2021-12-08 15:43] LukeStampfli commented on #1503
I just checked and I'm not able to perform step 2 and 3 by changing the tick value of the NetworkConfig. If I do change the values to different ones I'm not able to connect due to a config mismatch. Could you provide more details for how you set those values?

[2021-12-08 16:29] JohnConbere commented on #1503
We have completely separated client and server projects and I just set it in the editor on each project in the NetworkManager component.

![image](https://user-images.githubusercontent.com/29717450/145245708-698159bd-0eb1-469b-a674-cb6dd5ab02ac.png)

[2021-12-08 16:55] LukeStampfli commented on #1503
Okay thanks, I checked the source and we are indeed missing a check. I will create a PR to fix that so that using two different tick rates will result in an exception being thrown. Right now we only support cases where the client and the server are using the same tickrate.

[2021-12-08 17:50] 0xFA11 commented on #1305
fixed by #1496

[2021-12-08 17:50] #1305 closed, assigned to 0xFA11

[2021-12-08 20:50] Jura-Z commented on #982
`OnEnable` is affected as well.

[2021-12-09 15:40] NoelStephensUnity commented on #1499
Hi @daniellochner,
It would help to know how your network prefabs are organized.  Could you provide either a sample repository that yields the same results or provide screenshot for some of the prefabs so I can see how they are organized?

[2021-12-09 15:42] NoelStephensUnity commented on #1424
This will be resolved when the next patch is released.

[2021-12-09 15:42] #1424 closed, assigned to NoelStephensUnity

[2021-12-09 16:03] NoelStephensUnity commented on #661
@fachryip

I will see if we can improve upon the documentation a bit, but the rule of thumb to follow is:

1. If the client disconnects itself, then this is almost always invoked by some form of user/player action (i.e. clicking an "exit session" button or the like) local to the client.  So, it would make sense that the client should already know that it has disconnected from this user/player acti

[2021-12-09 16:03] #661 closed

[2021-12-09 16:20] NoelStephensUnity commented on #677
Hi @sk3p71c,
I have upgraded your sample project to work with the new Netcode for GameObjects:
![image](https://user-images.githubusercontent.com/73188597/145434169-942c4dc9-26a3-4937-aece-3b99d28a22d1.png)

I had to make an adjustment in your scripts to replace the using MLAPI namespace with using Unity.Netcode, and the Spawner.cs:
[code]
Running your sample yields no warning messages and the cub

[2021-12-09 16:20] #677 closed

[2021-12-09 16:24] NoelStephensUnity commented on #902
This appears to be fixed in Version 1.0.0-pre.3:
![image](https://user-images.githubusercontent.com/73188597/145435432-0d59b36c-4614-44ee-a1fd-42205d118ab0.png)

[2021-12-09 16:24] #902 closed, assigned to NoelStephensUnity

[2021-12-09 16:54] NoelStephensUnity commented on #480
Fixed in v1.0

[2021-12-09 16:54] #480 closed

[2021-12-09 17:12] NoelStephensUnity commented on #525
This no longer happens in v1.0.0-pre.4:
![image](https://user-images.githubusercontent.com/73188597/145443376-271ff347-3e19-4cd6-9415-e31ad825de7c.png)

[2021-12-09 17:12] #525 closed

[2021-12-09 17:21] NoelStephensUnity commented on #589
Hi @roglew,
This should no longer be an issue in Netcode for GameObjects v1.0.0-pre.x versions.   Upgrade to the most recent version should resolve this issue for you.

[2021-12-09 17:21] #589 closed

[2021-12-09 17:30] NoelStephensUnity commented on #563
Fixed in v1.0.0-pre.x releases.
![image](https://user-images.githubusercontent.com/73188597/145446323-aa05f488-a9a0-4a91-9d4e-c9df1d309996.png)

[2021-12-09 17:30] #563 closed

[2021-12-09 17:45] 0xFA11 commented on #600
This is actually not a bug and it's by design in 1.x — so, I'd rather consider this as a feature request or change request.

[2021-12-09 17:46] NoelStephensUnity commented on #609
Fixed in v1.0.0-pre.x releases.

[2021-12-09 17:46] #609 closed

[2021-12-09 18:13] 0xFA11 commented on #571
no longer applies after 1.x release

[2021-12-09 18:13] #571 closed

[2021-12-09 22:39] NoelStephensUnity commented on #1417
@Wenzy--
The fix for this issue will be applied in the next Netcode for GameObjects update (v1.0.0-pre.4).
Thank you for taking time to submit this issue.

Cheers!
-N

[2021-12-09 22:39] #1417 closed, assigned to NoelStephensUnity

[2021-12-09 23:09] ShadauxCat commented on #1369
I took another look at this and found that not only did #1444 not really fix it, this is also something we don't think we can really fix. Like you mentioned, the `NetworkTest` object hasn't spawned yet... even trying to defer and queue things, we can't process an RPC because the object's `NetworkObjectId` hasn't been assigned yet.

I'll update with a better error message, but there's no magic we s

[2021-12-09 23:09] #1369 closed, assigned to ShadauxCat

[2021-12-09 23:16] brogan89 commented on #1369
No worries. Thanks for looking into that anyway.
I've gotten around the limitation with my own NetworkBehaviour wrapper that has a virtual method `OnNetworkPostSpawn()` which is called a frame after `OnNetworkSpawn()`. Probably not the most elegant solution, but it's working reliably and haven't had the issue since :)

Thanks.

[2021-12-10 16:56] will-mearns commented on #564
This was fixed in 1.0.0-pre.2

[2021-12-10 16:56] #564 closed

[2021-12-10 20:58] fernando-cortez opened #1523 "NetworkObject parenting per docs is not possible for a spawned player."
**Is your feature request related to a problem? Please describe.**
The doc [here](https://docs-multiplayer.unity3d.com/docs/advanced-topics/networkobject-parenting/index.html) describes parenting with NetworkObjects.

However, a spawned player with a child NetworkObject cannot parent any scene/spawned NetworkObjects to it since that child's `IsSpawned` flag is never set to true.

**Describe the so

[2021-12-11 15:06] #1503 closed, assigned to LukeStampfli

[2021-12-11 18:00] DovydasAL commented on #1450
Also having this issue. Quite detrimental to procedurally generated content by the server; making the map too large (and not even that large) prevents the client from rendering anything.

[2021-12-12 10:36] akyoto opened #1524 "Custom messages are not processed when sending to oneself"
**Describe the bug**
Custom messages are ignored on the host when the receiving ID is the host itself.

**To Reproduce**
1. Start hosting.
2. Register a custom message handler with a `Debug.Log("I expect to see this!");`
3. Send a custom message to `NetworkManager.Singleton.ServerClientId`.

**Actual outcome**
The log message will not appear. The custom message from client ID 0 to client ID 0 (its

[2021-12-13 12:51] phisn opened #1525 "OwnedObjects of clientId is not set correctly after ChangeOwnership(clientId)"
**Describe the bug**
If the ownership of an object is changed with ChangeOwnership(clientId), the object is not added to the list of owned objects of this new owner.

**Fix**
In the current implementation the removal and add is handled in the following way in Runtime/Spawning/NetworkSpawnManager.cs lines 232 to 245.
[code]
Here the object is added to the old owner, instead of the new owner. This b

[2021-12-13 12:58] luuky50 opened #1526 "Updating the interpolar when no data has been added yet"
**Describe the bug**
Once a NetworkTransform and a NetworkObject to the player prefab have been added and trying to join as a client to the server it shows that the interpolator doesn't have any data added to it yet.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new project (Unity version 2020.3.12f1)
2. Add packages: Netcode for GameObjects (1.0.0-pre.2) and
Unity Transport for Net

[2021-12-13 14:14] luuky50 commented on #1526
Okay trying it out with unity version 2021.2.6f1 didn't solve the problem with Netcode version 1.1.0-pre.2. It did gave me a different error:
![image](https://user-images.githubusercontent.com/28782905/145827822-b4a2d614-ce52-499e-ae17-0bae3247d282.png)
![image](https://user-images.githubusercontent.com/28782905/145828064-e245149a-d6da-4e72-8ba5-a6b3ca97828c.png)

Upgrading to netcode version 1.1.

[2021-12-14 09:34] broding commented on #1525
In the suggested fix, make sure you change the added code from:
`if (TryGetNetworkClient(networkObject.OwnerClientId, out NetworkClient newNetworkClient))`
to:
`if (TryGetNetworkClient(clientId, out NetworkClient newNetworkClient))`

[2021-12-14 14:21] ben-magicn opened #1529 "Wrong client ID passed to NetworkManager.OnClientConnectedCallback"
**Describe the bug**
When a client connects to the game server, the ID passed to NetworkManager.OnClientConnectedCallback on the client is incorrect, and in my testing off by one. It's possible that it's using the transport ID rather than the network ID, as a similar problem is present in OnClientDisconnectCallback, which I believe has already been reported as an issue. If you examine NetworkManag

[2021-12-14 14:59] WhippetsAintDogs opened #1530 "NetworkSceneManager.LoadScene should accept scene path as well as scene name like its SceneManager counterpart."
It took me a while to figure out this one, but unlike the SceneManager, the NetworkSceneManager doesn't support scene path and it should IMHO.

Even if Unity's SceneManager.LoadSceneAsync first argument is called `sceneName`, it accepts scene path.

![image](https://user-images.githubusercontent.com/9271409/146022810-84e6c802-4a81-4ed9-b10e-794bfc728db6.png)

https://docs.unity3d.com/ScriptReferen

[2021-12-15 05:03] Jacellen opened #1534 "Fix please"
![image](https://user-images.githubusercontent.com/78690727/146126529-f70305cf-1a62-498b-94d8-cfabcaede3d8.png)

[2021-12-15 11:49] ben-magicn opened #1535 "Reconnected client not receiving NetworkVariable updates"
**Describe the bug**
When a client is disconnected from the server and then reconnects from within the same running game instance, it is possible for them to not receive any NetworkVariable updates from NetworkObjects. The client still has the old value that was set when they reconnected, and when the value is changed on the server, the following warning message is displayed on the client:

Deferr

[2021-12-15 16:16] LukeStampfli commented on #1534
NetworkVariables and NetworkList only support unmanaged types. You can use the fixed string types such as `FixedString32` instead of string.

[2021-12-15 16:20] will-mearns commented on #1526
Thanks for the issue, @luuky50 . So as far as I understand, the issue can be closed as resolved in 1.0.0-pre.3 ?

[2021-12-15 16:20] #1526 closed, assigned to nobody

[2021-12-15 16:22] will-mearns commented on #1525
Hi @phisn , can you provide some information about the versions you are using and whether you can reproduce it on 1.0.0-pre.3? This may be resolved already. Thanks

[2021-12-15 16:24] jeffreyrainy commented on #1529
There is indeed fix coming for a point release, on the disconnection flow
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1477/files

On the connection flow, this version seems to have proper handling on the connection flow. But please, let me retry and confirm.

[2021-12-15 16:30] will-mearns commented on #1535
Added this to our backlog (MTT-1967)

[2021-12-15 21:24] WhippetsAintDogs opened #1538 "NetworkManager shutdowns cause the NetworkSceneManager to throw an exception (in the OnSceneLoaded method) preventing further AsyncOperation.completed event listeners to be executed."
**Describe the bug**
Hi ! During a scene transition, if the NetworkManager shuts down (disconnection or voluntary shutdown), the NetworkSceneManager throws in its OnSceneLoaded method (hooked on the AsyncOperation.completed of the scene loading) which prevents my own delegate I've added on the "completed" event to execute (because of the order of registering). Do you have any idea of how I could g

[2021-12-16 14:43] rdhinrichsen opened #1539 "Build error when UWP platform uses Windows namespaces in same assembly as Netcode"
**Describe the bug**
Building for the UWP platform while using any Windows namespaces alongside Netcode causes an unidentified build error with no stacktrace reported. This error happens within the first 20 seconds of the build as it compiles scripts.

The bug only occurs when both Netcode and Windows are loaded in the same assembly, otherwise builds on the same machine succeed and work as expecte

[2021-12-16 15:25] phisn commented on #1525
We do indeed not need to use clientId, because in the line before the owner is set to clientId `networkObject.OwnerClientId = clientId;`.

[2021-12-16 15:27] phisn commented on #1525
This bug does still exist in 1.0.0-pre.3 (it was the first version I started to use) and also exists in the current develop branch.

[2021-12-16 16:28] 0xFA11 commented on #1430
@SamuelBellomo's quick demo showcasing the issue in Boss Room

https://user-images.githubusercontent.com/12574651/146410271-7b28b9b6-05c7-42bd-9d8b-8b1c764ea21f.mov

[2021-12-16 16:45] ben-magicn commented on #1535
Another finding I'd like to add is that if the client scene is reloaded on disconnect, and then the client reconnects to the game, it appears to function as expected.

[2021-12-16 18:04] will-mearns commented on #1339
This was fixed in pre.3

[2021-12-16 18:04] #1339 closed, assigned to nobody

[2021-12-16 18:08] will-mearns commented on #1313
Tracking this in https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1396

[2021-12-16 18:08] #1313 closed, assigned to nobody

[2021-12-16 18:12] will-mearns commented on #1303
@cdmazom , was this intentional for some reason?

[2021-12-16 18:33] will-mearns commented on #1525
MTT-1975 added into the backlog

[2021-12-16 22:35] 0xFA11 commented on #1430
hey @aazzolini — this is an excellent find!

we had a recent fix merged into `develop` branch and backported to `1.0.0` release.
however, that destabilized `release/1.0.0` and `develop` branches, we also caught that when we were doing Boss Room playtest.
so, you can see #1540 and #1541 reverting it from `release/1.0.0` and `develop` branches, it should not reproduce any longer.

thanks again and s

[2021-12-16 22:35] #1430 closed, assigned to 0xFA11

[2021-12-16 22:37] fernando-cortez opened #1542 "Client experiences an ObjectDisposedException when host shuts down over Unity Relay"
**Describe the bug**
Client runs into the following exception when a connected host over Unity Relay shuts down.

[code]

**To Reproduce**
This issue was seen inside Boss Room and is easily reproduceable.
Steps to reproduce the behavior:
1. Grab https://github.com/Unity-Technologies/com.unity.multiplayer.samples.coop/commit/230d413647b2a24fe3174eb82a4f9f8d84a65772.
2. Have player A host via Unity

[2021-12-16 22:57] 0xFA11 commented on #1297
This is by design and expected behavior.
If we were to not call approval callback for its own client on the host side, that removes an ability.
If we were to call it (we currently do) then user code could simply check if `connId == myLocalClientId` and skip the rest.
So, this is a wontfix/bydesign.

[2021-12-16 22:57] #1297 closed, assigned to 0xFA11

[2021-12-17 06:32] NachtAktivist commented on #1499
Hi @NoelStephensUnity,

sometimes I have the same problem. As a workaround I change something in the NetworkObject Component of my NetworkPrefab (tick off a checkbox and back again). After rebuilding it is working again. I have to repeat this workaround from time to time.

At the moment I don't have the problem, but here is a screenshot of a very simple Enemy networkPrefab, that has this problem s

[2021-12-17 21:38] LPLafontaineB opened #1545 "Adding high artificial latency makes game unplayable"
**Describe the bug**
While testing with BossRoom, if we add high artificial latency (e.g. 500ms on both client and host), the game stops being playable after a few seconds. The client freezes and we see the same error message on the host about not being able to add payload to the send queue. See the full error message below.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify BossRoom's p

[2021-12-17 22:20] SamuelBellomo opened #1546 "Netcode SDK version mismatch between players should trigger an error"
**Is your feature request related to a problem? Please describe.**
As a user, if I try to connect two players, both with different Netcode versions, this produces very hard to debug issues and weird bugs.

**Describe the solution you'd like**
Having a version check at connection time and refusing connection if Netcode versions are incompatible would help identify the cause of this issue (or at lea

[2021-12-18 19:05] xaroth8088 opened #1547 "[NetworkSerializable] and [NetworkNonSerialized] attributes"
**Is your feature request related to a problem? Please describe.**
This is a quality-of-life request, made without regards to its performance considerations. 😉

**Describe the solution you'd like**
Rather than manually implementing `INetworkSerializable` and needing to maintain all instances of `serializer.SerializeValue(...)` within, it'd be a lot cleaner and simpler to maintain if I could levera

[2021-12-20 16:29] hesic73 opened #1548 "NullReferenceException: Object reference not set to an instance of an object"
When I call NetworkManager.Singleton.Shutdown() on host side, the client **in editor**  will crash with the following output:

[code]

I add Debug.Log so the line number may be different.

[code]
The problem is that, in `OnNetworkEarlyUpdate`, MessagingSystem is null.

how to avoid this? Or I call shutdown inproperly?

[2021-12-21 03:38] thecosmicstudios commented on #1489
Is it possible to change the read permissions since the new 1.0 update? How?

[2021-12-21 08:28] CosmicStud opened #1549 "Expose Network Manager Prefabs List From Internal To Public"
**Is your feature request related to a problem? Please describe.**
Its more so a retcon, previous versions of MLAPI had in its NetworkManager a public NetworkPrefab List. Now with the updated Netcode For GameObjects, the list has been internalized.

**Describe the solution you'd like**
I know there is probably a reason for the hiding of the list. I am simply proposing we make the list public. With

[2021-12-21 16:10] will-mearns commented on #796
Mtt-1512

[2021-12-21 18:52] WhippetsAintDogs commented on #1549
You can still manage the list programmatically by registering the prefabs you want using NetworkManager.Singleton.PrefabHandler.AddHandler(a prefab, an handler) in a script instead of registering them using the serialized list "Network Prefabs" in the NetworkManager editor.

[2021-12-21 20:11] WhippetsAintDogs opened #1550 "Declaring a NetworkList of NetworkBehaviourReference as a NetworkBehaviour field causes ObjectDisposedExceptions"
**Describe the bug**
Declaring a NetworkList of NetworkBehaviourReference as a NetworkBehaviour field causes ObjectDisposedExceptions.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a script inheriting a NetworkBehaviour.
2. Add a private field of type NetworkList<NetworkBehaviourReference>.
3. Use it in a scene.
4. Enter play-mode.

**Actual outcome**

**Expected outcome**
No except

[2021-12-21 20:24] #1550 closed, assigned to nobody

[2021-12-22 02:46] CosmicStud commented on #1549
I gotcha, in my case I am already utilizing the prefab handler for object pooling. But for cases like scene networked objects, player prefab, or any other objects that aren't being added to the prefab handler and Netcode automatically handles it, it'd just be nice if I could access the global network objects on the server for synchronicity purposes

[2021-12-22 15:44] jmguillemette opened #1551 "Lobbies prevent the same user from joining twice from the same machine - This prevents/impedes developer testing"
**Describe the bug**
Use a tool like ParelleSync to open two instances of unity.
Run your project and authenticate using anonymous login.
One the first instance create a lobby.
On the second instance try to join the newly created lobby.
An error will be presented that the user is already in the given lobby and thus can not join again.
This restriction forces the developer to a) no use anonymous lo

[2021-12-23 01:03] daniellochner commented on #1499
Thanks @NachtAktivist. For a quick workaround, I've attached a component to my startup scene that toggles a property from each network prefab twice...

[code]

Silly workaround, but this issue has been incredibly frustrating, so just glad I don't have to worry about it again.

[2021-12-23 16:06] NaolShow opened #1552 "Spawned network objects have the IsSceneObject and DestroyWithScene flag set to true"
**Describe the bug**
When spawning a new network object with:
[code]

All the clients will see that the newly spawned object have both booleans set to true:
- IsSceneObject
- DestroyWithScene

**To Reproduce**
Steps to reproduce the behavior:
1. Start a host on a build, then on another build let a client connect to the host
2. Spawn a network object from the host on all the clients (see the code a

[2021-12-23 16:40] NaolShow commented on #1548
Same problem here

[2021-12-24 13:42] sagering commented on #52
Any update on this? I am running into a similar issue. Currently measuring round trip time by sending custom messages (CustomMessagingManager of the NetworkManager), using UNet transport. With both client and server running on my local machine, I am measuring 50-80ms. NetworkManager tick rate does not have any effect on this. I am getting the same results with a tick rate of 1 or 120. UNet Message

[2021-12-26 05:27] Shivang44 commented on #1348
@will-mearns if this is the case can we please update the documentation (https://docs-multiplayer.unity3d.com/docs/components/networkanimator) that it won't work with clients setting params on the animator? It seems to imply that all you need to do is add a `NetworkAnimator` and you're good to go. Spent quite a few hours debugging the `NetworkAnimator` script only to find that it may actually be a

[2021-12-27 14:06] DasOhmoff opened #1553 "NetworkSpawnManagers "RegisterSpawnHandler" and "RegisterDestroyHandler" got removed. How can I now react to these events?"
Hello. I saw that the new version 1.0.0 seems to have removed the `NetworkSpawnManager.RegisterSpawnHandler(prefabHash, OnSpawned)` and  `NetworkSpawnManager.RegisterDestroyHandler(prefabHash, OnDestroyed)` methods. How can I now react to these events? I cannot use the `OnDespawned` methods within the networked behaviours, because they don't have (and they should not have) access the code that I w

[2021-12-28 18:13] jhirst1 opened #1554 "Animator Integer values continuously change when host is running, but bool/floats work fine"
**Describe the bug**
If a network object has a Network Animator component and Animator.SetInteger is assigned by the Owner at runtime when host is running, the value loops around from a very large negative number to a very large positive number, e.g.

animator.SetInteger("Variable1", 3);

**To Reproduce**
Steps to reproduce the behavior:
1. Add Network Object
2. Add Network Animator
3. Create Inte

[2021-12-29 19:41] Shivang44 opened #1555 "Despawn/Spawn functionality seems to be broken after removing Prefabhash functionality"
**Describe the bug**

It seems NetworkObjects used to have the option to manually assign a hash in a field called `PrefabHash` that was used to associate the hash with the prefab. This was removed.

NetworkObject now auto-generate the hash in a key called `GlobalObjectIdHash` based on some internal Unity3d object name.

This causes the functionality as [described by the docs](https://docs-multipla

[2021-12-30 06:50] DasOhmoff commented on #946
Hello. I still have this problem.

[2021-12-30 14:22] JackCher commented on #1450
Same problem. In my case I suspect it is caused by sending large amount of data in RPC during `OnNetworkSpawn`. Increasing UNetTransport message buffer size from default 5120 to bigger one fixes the issue.

I also tried it in UnityTransport, and have similar issue (but with no exception on the client side). In the case of UnityTransport the issue is resolved by increasing `SendQueueBatchSize` to a

[2021-12-30 19:21] WeLikeIke opened #1556 "ServerRpc are not executed when called from another script"
**Describe the bug**
Identical ServerRpc functions behave differently when called from a script different from own

**To Reproduce**
Steps to reproduce the behavior:
1. Open UnityEditor with the latest Netcode package.
2. Drag and Drop the Scene provided in the attachment.
3. Build and Run.
4. In the Editor, Start the runtime and click on the "Start Server" button.
5. In the Build, click on the "S

[2022-01-01 01:34] akyoto opened #1558 "Rigidbody2D should not be a 100% required dependency"
**Describe the bug**

I removed the Rigidbody2D package because I don't use 2D physics, however Netcode complains about this.

**To Reproduce**
1. Go to `Packages/manifest.json`
2. Remove the `com.unity.modules.physics2d` line.
3. Go back to Unity.
4. See the error in the console.

**Actual outcome**
Compilation errors.

**Expected outcome**
No errors via conditional compilation so I don't need to

[2022-01-01 18:48] styliann-eth commented on #1499
Hi, I have a similar issue with the system complaining of identical GlobalObjectIdHash however it's not the case when I start the game.

I start playing - the values are properly different then - and when I StartHost or StartClient the GlobalObjectIdHash values all get set to 951099334.

There is also a post on the Multiplayer part of the Unity forum about this.

Can someone from Unity please have

[2022-01-02 05:09] CosmicStud opened #1559 "CheckObjectVisibility Delegates Issues"
**Describe the bug**
Currently in the develop branch, CheckObject Visibility delegates are not applied. All network objects regardless of delegates are spawned on clients.

**To Reproduce**
Start a server and spawn an object with checkObjectVisibility returning false
Start client

**Actual outcome**
Client visibly sees spawned object

**Expected outcome**
Client does not see spawned object

**Envi

[2022-01-03 12:53] rCarleon opened #1560 "Spawning an object with ownership leads to a different initial rotation between server and client"
**Description**
I am using ClientNetworkTransform component on a gameobject. When spawning the object with a specific rotation (Z Axis) and with ownership (SpawnWithOwnerShip) the object is spawned on the client correctly with the correct rotation. On the server it is also spawn correctly at first but it changes the rotation within a short period of time (1 Second or so) to EulerAngles 0/0/0, resu

[2022-01-03 22:35] elton-okawa commented on #1542
I think that this is the same problem as #1439 which has been solved by #1441 but it hasn't been released yet.

[2022-01-04 13:42] LukeStampfli commented on #1534
Closing this, if after my comment it is still unclear how to use unmanaged types to have string NetworkVariables re-open.

[2022-01-04 13:42] #1534 closed, assigned to LukeStampfli

[2022-01-04 13:43] LukeStampfli commented on #1135
Closing this due to lack of activity and no instructions on how to reproduce.

[2022-01-04 13:43] #1135 closed, assigned to LukeStampfli

[2022-01-04 13:45] LukeStampfli commented on #858
Closing this issue, fixed in 0.1 and 1.0.0.

[2022-01-04 13:45] #858 closed

[2022-01-04 13:46] LukeStampfli commented on #369
Closing this since SyncVars got removed.

[2022-01-04 13:46] #369 closed

[2022-01-04 13:54] LukeStampfli commented on #901
This has been fixed in the 1.0.0 version.

[2022-01-04 13:54] #901 closed, assigned to LukeStampfli

[2022-01-04 13:56] LukeStampfli commented on #988
Unassigned myself since I'm not sure why I was assigned.

[2022-01-04 13:57] LukeStampfli commented on #1397
Sorry for the late response. Were you able to fix this (if so how?) or is it still an issue?

[2022-01-04 13:59] LukeStampfli commented on #982
Unassigning myself from the issue so that we can find a new TO.

[2022-01-04 16:12] DasOhmoff commented on #1560
I have the same issue. Please fix

[2022-01-04 22:43] ShadauxCat commented on #1556
So there's a few things here.

- Sending RPCs from one object to a different object during `OnNetworkSpawn` isn't safe because spawn order is not deterministic. Even if two objects are both manually spawned in a specific order on the server, they may spawn in a different order on the client.
  - This is actually not what's happening here, the spawn order happens to be fine in this case, but it's n

[2022-01-04 22:52] ShadauxCat commented on #1553
Take a look at `NetworkManager.PrefabHandler.AddHandler()` - I think that should give effectively the same functionality.

[2022-01-04 22:53] ShadauxCat commented on #1548
I believe this is fixed in current develop.

[2022-01-05 06:31] DasOhmoff commented on #1553
ah ok thanks

[2022-01-05 06:31] #1553 closed, assigned to nobody

[2022-01-05 06:43] WeLikeIke commented on #1556
Hey!
Thanks for your reply,
So how did you fix the second bullet point?

Could you post the code here?

After that we can close the Issue then, it was user error, not a bug :)

[2022-01-05 16:10] #1542 closed, assigned to nobody

[2022-01-05 16:14] will-mearns commented on #1545
This may not be a bug still, we can try and repro again with latest

[2022-01-05 16:15] will-mearns commented on #1548
@ShadauxCat can you add the PR?

[2022-01-05 16:33] LukeStampfli commented on #1559
Linking a [Forum thread](https://forum.unity.com/threads/issues-on-develop-branch.1214577/#post-7773507) with some more information.

[2022-01-05 17:25] lcompton opened #1564 "KeyNotFoundException in new client instance when a certain number of NetworkObjects are present"
**Describe the bug**
If there are more than 41 non-player network prefab instances, new clients consistently throw a KeyNotFoundException. The client is left in a broken state. It looks like the player prefab is prevented from spawning due to the exception.

I have tried different ways of creating the objects in the server including manually adding them to the scene and spawning via the NetworkMan

[2022-01-05 18:07] 0xFA11 commented on #1558
we actually depend on physics and physics2d due to `NetworkRigidbody` & `NetworkRidigbody2D` (similar to animation dependency due to `NetworkAnimator`).
we are thinking of separating high-level Unity components out from the SDK package and have less dependencies but that's not our current setup atm — so, we'll add physics & physics2d deps to package to make it explicit and clear, sorry.

[2022-01-05 20:52] NoelStephensUnity commented on #1538
Hi @WhippetsAintDogs,
I will investigate this issue further, but while I am doing that you might want to use the [SceneEventType.LoadComplete](https://docs-multiplayer.unity3d.com/docs/api/Unity.Netcode.SceneEventType) event type as opposed to using the AsyncOperation.  Really, the AsyncOperation was something that was intended to be used to track the progress of the scene loading and not determin

[2022-01-05 21:30] NoelStephensUnity commented on #1552
Hi @NaolShow,
It would appear you are trying to associate a NetworkObject with the player being spawned?  When scene management is enabled, you can just assign a network prefab (i.e. prefab with a NetworkObject) to the NetworkManager.PlayerPrefab property in the editor and it will automatically spawn that network prefab for you.

I can make adjustments to the NetcodeTests project you submitted, bu

[2022-01-05 21:32] ShadauxCat commented on #1310
This was fixed by #1480

[2022-01-05 21:32] #1310 closed, assigned to ShadauxCat

[2022-01-05 21:38] ShadauxCat commented on #1556
In ScriptB's OnNetworkSpawn, I changed it to grab the data from ScriptA there rather than ScriptA passing it to ScriptB:

[code]

In general, even if ConnectionApprovedCallback were executed on the client, it isn't safe to assume that ScriptB has spawned by then. The only way to react to ScriptB being spawned is via ScriptB's `OnNetworkSpawn`. So it's better to have ScriptB pull data when it spawn

[2022-01-05 21:42] ShadauxCat commented on #1031
Is this issue still occurring? I made some changes a while back (#1368) that I think should have fixed this. Can you confirm if your issues are resolved in the latest version?

[2022-01-05 22:51] jhirst1 commented on #1492
Bump - I need to change the ownership of an object between the server and the client. For the client only when changing the owner, the network transform is reset to the same value it was when the client initially joined.

E.g. Server starts, network transform is moved to 3,3,3
Client joins
Server moves network transform to 5,5,5
Client is assigned ownership
(few ticks delay ~ 5-10)
Network work tr

[2022-01-05 23:27] jhirst1 commented on #1492
Potentially linked to:
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1560

[2022-01-06 00:52] NoelStephensUnity commented on #1555
Hi @Shivang44,
With v1.x Netcode for GameObjects (NGO), there is a bit of a trick with respawning what we refer to "in-scene placed NetworkObjects" (whether it is a prefab or just a GameObject with a NetworkObject component added to the scene within the editor).  The path of least resistance would be:
1. create an in-scene placed NetworkObject (GameObject with a NetworkObject component)
2. add a N

[2022-01-06 01:24] #1558 closed, assigned to 0xFA11

[2022-01-06 03:28] WhippetsAintDogs commented on #1538
Hi @NoelStephensUnity !

Thanks for the reply. For the use case of scheduling a recovery when a client is disconnected while the scene is transitionning, will the LoadComplete event still fire after the NetworkManager.Shutdown happened ? I assumed not since the ref on the NetworkManager.Singleton for the NetworkSceneManager is nullified when a shutdown happens. It made more sense for me to listen

[2022-01-06 04:44] #1556 closed, assigned to ShadauxCat

[2022-01-06 10:35] LukeStampfli commented on #1551
[This](https://forum.unity.com/threads/current-limitations-of-relay.1198198/) Forum thread has instructions for a workaround which allows to use ParrelSync to run multiple instances of Relay clients.

I can understand though that it's frustrating that this does not work out of the box. The repository here is for issues related to Netcode for GameObjects. I will close this issue and suggest opening

[2022-01-06 10:35] #1551 closed, assigned to LukeStampfli

[2022-01-06 16:30] NoelStephensUnity commented on #1538
@WhippetsAintDogs I can see where your concern resides.
The RFC link I provided also [includes additional diagrams that might help you visualize the end result](https://github.com/Unity-Technologies/com.unity.multiplayer.rfcs/blob/rfc/additivescenes-and-networkscenemanager-refactoring/text/0000-additivescenes-and-networkscenemanager-refactoring.md#new-local-event-notifications).  Both intentional

[2022-01-06 16:46] simon-lemay-unity commented on #1476
Fixed (inadvertently) by PR #1512, which was backported to `release/1.0.0` with #1515. The fix will be available in release 1.0.0-pre.4 of the adapter (`com.unity.netcode.adapter.utp`).

The repro project forces the ping RPCs to use the unreliable delivery method. In the adapter, this caused the traffic to be sent through the null pipeline, which is unaffected by simulator parameters. #1512 made i

[2022-01-06 16:46] #1476 closed, assigned to simon-lemay-unity

[2022-01-06 18:16] WhippetsAintDogs commented on #1538
Thanks @NoelStephensUnity, that's really insightful and validating. What you've described here, is exactly what we have done :

And it's handled the same for the case where a client scene loading is timed out. Nonetheless, all the RFC links that you've shared (and that I was unaware of their existence) are really useful.

Thanks a lot !

[2022-01-06 19:01] NoelStephensUnity commented on #1538
@WhippetsAintDogs
Glad to here that I could help.  I am going to go ahead and close this Github issue.  If you run into any other issues related to this topic please feel free to post here (I will be notified and can respond) or create a new Github issue.
Happy coding!  :)

[2022-01-06 19:01] #1538 closed, assigned to NoelStephensUnity

[2022-01-06 20:02] NoelStephensUnity commented on #1499
@ns2808
Do you have a repository or perhaps could you provide a project as a zip file where you are experiencing this issue?
It will help me determine the best way to fix your issue.

[2022-01-06 21:18] NoelStephensUnity commented on #869
@DreadBoy
Feel free to post here if you find that your issue is not resolved please feel free to respond at any time.

[2022-01-06 21:18] #869 closed

[2022-01-06 23:16] ShadauxCat commented on #1539
Took some time trying to reproduce this, and it looks like it's already been fixed in 1.0.0-pre.4, which we just released today. If you update to the latest, this should be fixed for you.

[2022-01-06 23:16] #1539 closed, assigned to ShadauxCat

[2022-01-07 13:07] Daniel4144 opened #1570 "Spawning too many network objects at once"
**Describe the bug**
If too many network objects are spawned at once, they are spawned for the host, but not for the client (with Unity Transport).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Prefab with a NetworkObject component and add it to the NetworkPrefabs in the NetworkManager
2. Increase SendQueueBatchSize (tested with 6144000)
3. Start two instances (Host and Client) an

[2022-01-07 16:43] rgarat commented on #1499
This happened to us recently, we had a main prefab and 2 prefab variants that were added as network prefabs, we edited the main prefab, and sometimes on the parrelsync client clone it would get broken (both prefab variants ended up with the same value)
The main project was fine, only the parrelsync clone got broken
In order to fix that, we just changed some value in the prefab saved, and let the c

[2022-01-07 18:29] SamuelBellomo commented on #982
We got this issue a bunch of times boss room side too.
@will-mearns it might be worth it to triage this during our next session

[2022-01-07 21:43] NoelStephensUnity commented on #1564
Hello @lcompton,

I looked through your project (thank you for including this, it made it very easy to assist you with this issue) and determined that you were most likely experiencing a limit of the UNet network transport's Message buffer size.  It would appear that the default U Net Transport Message Buffer Size of 5120 bytes was too small to be able to update the client with all of the spawned

[2022-01-07 21:49] NoelStephensUnity commented on #1570
@Daniel4144
I think that this could be similar to [Github Issue 1564](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1564) but due to the number of objects this will need to be handled differently.  This will need to be further explored as to how we will break up the initial Object synchronization as I think that this could get fixed by the snapshot system in a near fut

[2022-01-08 02:03] PunnetRed commented on #1564
Hi @NoelStephensUnity ,

I had the same issue as @lcompton, as per the forum thread: https://forum.unity.com/threads/netcode-for-gameobjects-keynotfoundexception-in-client-for-non-player-networkobjects.1217268/

Your suggestion has resolved the issue in my project - thank you very much for your help!

Would you also be able to explain if there are any negative ramifications for maxing out the Mess

[2022-01-08 02:44] lcompton commented on #1564
@NoelStephensUnity,

Thanks for the reply. This does solve the problem that I described, although it'll reemerge with a higher number of network managed objects.

Since UNet is deprecated, I'm satisfied with this resolution. I've played around Unity Transport and have run into similar problems to those described in #1570. I'm concerned with scale limitations and will be keeping a close eye for a r

[2022-01-08 03:15] lcompton commented on #1564
I took a look at issue #1570. It's definitely the same basic problem, although that poster did a more thorough job of tracking down the problem than I did. I'm guessing he didn't see the KeyNotFoundExceptions in the client due to not having Developer Build turned on.

Your response in the other ticket mentioned a snapshot capability in an upcoming build. My concern is that my requirements may not

[2022-01-09 18:27] lcompton commented on #1570
I've also run into this problem with Unity Transport. I was able to increase the number of network managed objects slightly by tweaking the three "queue size" parameters in the transport, but in my sample application the max was around 400. As I mentioned in #1564, I'm concerned about this number being so low. Is there a design goal for the minimum number of network managed objects NGO is intended

[2022-01-10 02:16] WhippetsAintDogs opened #1571 "Scene-synced NetworkObjects (IsSceneObject == true) once despawned by a NetworkManager shutdown cannot be respawned again. [Working in 1.0.0-pre.3 - Broken in 1.0.0-pre.4]"
**Describe the bug**
Any NetworkObjects already in the scene upon connection are synchronized as expected. Their inner `IsSceneObject` property is set to  `true`. If the NetworkManager is shut down, these NetworkObjects are despawned (but not destroyed if their scene is still active). However, at that point, their `IsSceneObject` property is still set to `true` instead of `null` and when the Netwo

[2022-01-10 11:06] Daniel4144 commented on #1570
Hi @NoelStephensUnity
In version 1.0.0-pre.3 I encountered several different errors, but no KeyNotFoundException as in #1564 (but I haven't tested UNet Transport a lot).

Here is a sample project to reproduce my problem:
[Netcode-issue-1570.zip](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/files/7838317/Netcode-issue-1570.zip)
In this sample I am able to spawn thousands of o

[2022-01-10 11:23] ezoray commented on #1570
Daniel I've been having similar problems spawning too many network objects (I've been harping on about it on the forums under cerestorm). Object visibility appears to be broken in pre.4 so may not be an option right now, there's a raised issue here #1559.

[2022-01-10 18:07] LPLafontaineB opened #1573 "In scene NetworkObjects that are despawned by the server are not despawned when clients connect afterwards"
**Describe the bug**
If a client joins a session for which some NetworkObjects placed in-scene have already been despawned, it will not despawn for that client.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the Boss Room sample
2. Launch a game as the host
3. Kill a few imps
4. Launch another instance of the game and join as client
5. See that the imps that the host killed are vis

[2022-01-10 19:38] ScriptsEngineer commented on #1564
Trigger when used IP (Unet Connection)

[2022-01-10 20:45] LPLafontaineB opened #1574 "In-Scene NetworkObjects placed in DontDestroyOnLoad scene don't get respawned when host restarts"
This is a duplicate of issue #1571. Leaving this here for extra context.

**Describe the bug**
An in-scene NetworkObject that is placed in DontDestroyOnLoad will be correctly spawned when the NetworkManager starts the host, then despawned when it is shut down. However, if we try to start the host again, the object will not be spawned.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone Bos

[2022-01-10 21:53] WhippetsAintDogs commented on #1574
Hi @LPLafontaineB ! We've filed the same issue. So I'm linking the other for extra context 😄

https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1571

[2022-01-11 01:33] circles-png opened #1575 "Support changing of Time.timeScale across clients"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Implement a way to change timeScale with a function instead of having to send a ClientRpc for each client to change its timeScale

Add support

[2022-01-11 13:05] #1525 closed, assigned to TwoTenPvP

[2022-01-11 14:30] LPLafontaineB commented on #1574
Oops I did not notice yours when filing it 😄.  I'll mark this one as duplicate

[2022-01-11 15:40] WhippetsAintDogs opened #1576 "Allow NetworkTransform interpolation to be applied to only some properties (e.g. only position, not rotation)"
**Describe the solution you'd like**
It would be useful to have one checkbox for interpolation per property (position, rotation and scale).

**Describe alternatives you've considered**
Manually Teleporting the transform when changing properties where interpolation shouldn't be used, but it's really inconvenient.

[2022-01-11 15:42] rdhinrichsen commented on #1539
Confirmed - following the repro steps using 1.0.0-pre.4 resulted in a successful build. Thanks for the help!

[2022-01-11 16:11] will-mearns commented on #1523
Added to backlog via MTT-2074

[2022-01-12 16:05] lcompton commented on #1570
@Daniel4144
Thank you for the tip about object visibility. That will help.

[2022-01-12 16:06] will-mearns commented on #1571
@NoelStephensUnity , potential for pre.5 . In the JIRA ticket, we can reference this one and https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1574

[2022-01-12 16:09] #1574 closed, assigned to NoelStephensUnity

[2022-01-12 20:59] cdmazom commented on #1303
Yes, it is intentional. NetworkConnection (the struct that defines the connection id) is composed by two integers.

We could discuss the details of its implementation and hep with a strategy for optimization, but how those 8 bytes are used is actually for UTP internal optimization.

Lets sync.

[2022-01-13 16:16] WeLikeIke opened #1582 "When Overloading FastBuffer methods, The wrong reflection is called for List<T>"
**Describe the bug**
While trying to implement custom serialization of data to be given to Rpcs, I found myself implementing methods:
[code]
However when invoked by Rpcs that use List\<int> and List\<string>, only one at the time works.

Specifically,
- **if both implementations are present, the List\<int> overload will be called for both, leading to an error when using List\<string>.**
- if only

[2022-01-13 19:54] WhippetsAintDogs commented on #1560
Same here !

[2022-01-13 21:09] nealohb commented on #1554
Also experiencing this bug.
Two things I've observed:
1. It seems the integer only jumps when an animation using the value of the integer is active
2. The numbers seem to be power of 2

[2022-01-13 21:23] WhippetsAintDogs commented on #1002
I've just had the same surprise as you, expecting it would've worked like you're describing but it isn't.

[2022-01-14 15:20] WhippetsAintDogs commented on #1560
I did some digging and the problem seems to come from the base NetworkTransform's `m_HasSentLastValue` private field being initialized to `false`.

This mechanism is supposed to duplicate the sending of the last change of a streak of changes in order to clamp the interpolation. However, if upon ownership transfer there is no changes, it being initialized to `false` will result in the duplication o

[2022-01-15 13:56] mrmaffen opened #1589 "Latest release pre4 has broken LagCompensation/TrackedObject.cs in multiplayer-community-contributions"
pre4 removed 3 data types including FixedQueue<> ([#1398](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1398)) which LagCompensation/TrackedObject.cs was using
https://github.com/Unity-Technologies/multiplayer-community-contributions/blob/a37a913b4c3ae3021ff86ab9b2402bacfcf1a0fb/com.community.netcode.extensions/Runtime/LagCompensation/TrackedObject.cs#L18

not sure if yo

[2022-01-15 14:00] elton-okawa opened #1590 "Client-side NetworkList has duplicated values from server-side list after a specific scene flow"
**Describe the bug**
Client-side `NetworkList` has duplicated values from server-side list after a specific scene flow

Initially, everything syncs correctly but after leaving the `ListScene` and going back, it seems that client-side `NetworkList` is synched with values from server and also receive add `NetworkListEvents` which causes the observed duplication

**To Reproduce**
1. Clone this reposi

[2022-01-16 02:52] kaen opened #1591 "Large object counts cause "Reading past the end of the buffer" when joining"
**Describe the bug**
Very large message batches (e.g. when a client joins a game with several hundred network objects which are then replicated in a single frame) variously cause OverflowExceptions during buffer reads.

In some configurations this is thrown as "OverflowException: Not enough space in the buffer to read recorded synchronization data size".

Several community transports like Ruffles

[2022-01-16 08:51] f09f909b commented on #773
Hello, a first time contributor here!

I was wondering if I could work on this issue?

[2022-01-16 21:16] LukeStampfli commented on #1589
We're just gonna move the file over to the contrib repo for now. Closing this and we'll use 140 to track. A PR with a fix has been submitted.

[2022-01-16 21:16] #1589 closed, assigned to nobody

[2022-01-17 06:39] jadeeeeeeeee opened #1593 "Unable to Synchronous load scene resources or prefab in AssetBundle."
Good afternoon.

**Describe the bug**
I met a problem. Unable to Synchronous load    scene resources or prefab    in AssetBundle.
Scene resources ,it must be added to    Build settings —— Scenes In Build.

**Environment (please complete the following information):**
 - OS: [e.g. Windows 10]
 - Unity Version: [e.g. 2019.4.3]
 - Netcode Version: [e.g. v0.1.0]
 - Netcode Commit: [e.g. https://github.

[2022-01-17 09:30] hoesterey commented on #1396
I'm seeing the same issue and IEquatable does not fix the problem (makes the error go away but wont transfer across the network)

`

public partial struct StatusEffect: INetworkSerializable, IEquatable<StatusEffect>
    {
public int m_Hash; //hash be faster then string
        public double m_EndTime;//server time or round time depending on combat type.
        public int m_Level;
        public u

[2022-01-17 14:52] VALERE91Unity commented on #1575
Can you give us more information about your use case?

We don't think that this is a multiplayer feature that could be integrated inside the SDK since it is more a specific gameplay use case than a general need of multiplayer games. Moreover, it is really hard to generalize such use cases in multiplayer and we are advising against the usage of timeScale since it could have a bad impact on the mult

[2022-01-17 14:57] VALERE91Unity commented on #1576
Hello, you could achieve it today by copy-pasting the code from NetworkTransform and removing the interpolation of the properties you'd like to opt-out from interpolation. The SDK team will further discuss the need for such a feature and whether it should be in the SDK.

[2022-01-17 15:02] VALERE91Unity commented on #1593
Hello, addressables and asynchronous loading for NEtwork Objects are not supported by the SDK at this moment. This is under consideration for our roadmap and we are actively checking on it.

[2022-01-17 20:51] simon-lemay-unity commented on #1529
Issue reported at Unity-Technologies/com.unity.multiplayer.samples.bitesize/issues/43 too. Although in this case the user is probably using `UnityTransport` (the extremely large client ID is a tell-tale sign).

[2022-01-17 20:55] DanTulovsky commented on #1529
The user is, in fact, using UnityTransport. :)

[2022-01-18 01:19] jadeeeeeeeee commented on #1593
Thank you for your reply . When will the roadmap start , and i want to use it urgently.

The Netcode  version I use is [e.g. v0.1.0]

[2022-01-18 01:55] jadeeeeeeeee opened #1594 "When the game use host mode, other players will not be able to playgame after the host player offline."
Good afternoon.

**Is your feature request related to a problem? Please describe.**
When the game use host mode, other players will not be able to playgame after the host player offline.

**Describe the solution you'd like**
When the host player offline，we can transfer host authority to the other player. To ensure that other players game stably.

**Describe alternatives you've considered**
——

**E

[2022-01-18 05:31] xaroth8088 opened #1595 "Apparent state machine problem in NetworkManager"
**Describe the bug**
Essentially, calling `Shutdown()` while not in hosting or client mode triggers a state machine problem that prevents host mode from starting normally.

A sample project that exhibits this behavior can be found at https://github.com/xaroth8088/unity-networkmanager-bug

**To Reproduce**
Steps to reproduce the behavior:
1. Stop the project (if running)
2. Run the project
3. Click

[2022-01-18 20:19] MiTschMR commented on #1348
Any news on this, maybe an approximate date? It is basically useless if you use an asset that does all the animations if they can't be synced.

[2022-01-19 02:30] circles-png commented on #1575
@VALERE91Unity
I use Time.timeScale to make a bullet time system for my game (when a projectile is near a player, time slows down to allow for things like dodging it or making decisions quicker). Could you recommend some alternatives?

[2022-01-19 05:35] LaserYGD commented on #1348
My game is client-sided but I'm now facing this issue as well. And It'll be
problematic to switch to server authoritative due to lag issues.

Especially since NGO doesn't have client prediction.

On Tue, Jan 18, 2022 at 11:19 PM MiTschMR ***@***.***> wrote:

[2022-01-19 14:55] MrCool92 opened #1598 "Rpc params pooling"
I need to send complex data that contain complex data (lists for example). So my plan was to introduce pooling.
But with the current RPC send/receive netcode lifecycle I am not sure how would I return pool instances.

My approach:
[code]
This kinda feels and looks very messy. So I managed to get ILPP gen code that will call Dispose on any struct/class with IDisposable interface. And I think it is

[2022-01-19 15:45] NoelStephensUnity commented on #1564
@lcompton
I have opened a discussion on this issue as it does pertain to something that should be "automatically" handled based on the transport's current buffer size whether it is the default, max, or minimum value.  There are a couple of ways this could get fixed, but it depends upon when certain features are rolled out for the snapshot system.
**worst case scenario:** there could be a fix in th

[2022-01-19 16:25] NoelStephensUnity commented on #1564
@lcompton
As a side note,[ I was just made aware of this PR](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1596) that should at least provide you with the ability, using Unity Transport and not UNet, to bypass the 44KB packet size limitation.
There are on-going discussions on a more final solution.

[2022-01-19 18:04] NoelStephensUnity commented on #1570
@Daniel4144
I think this [PR-1596](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1596) should help you, but it will require that you switch from UNet over to the UnityTransport (UTP).
The issue with high NetworkObject synchronization is still being discussed internally as to the various ways this can be addressed.  The specifics are still being sorted out and so I am hes

[2022-01-20 17:40] CosmicStud commented on #1559
Latest release 1.0.0-pre.4 does not fix the issue

[2022-01-21 02:39] annerajb commented on #423
curious about this. an no update since created.

What is the option / path here? to not use networkscenemanager?

[2022-01-22 23:23] SenshiSentou commented on #1031
@ShadauxCat I just encountered this exact bug on 1.0.0-pre.4, on named messages.

The host (id 0) sends a handshake to the client (id 1), who then receives the message, but sees the senderId as 1. This is on UNetTransport.

[2022-01-22 23:46] ShadauxCat commented on #1031
@SenshiSentou  already fixed in pr #1597

[2022-01-23 02:11] SenshiSentou commented on #1031
@ShadauxCat Awesome, thanks! Any word on when this will be back-ported to the package? Or can we apply this patch on top of it?

[2022-01-23 21:11] SamTheBay commented on #1559
I upgraded to 1.0.0-pre.4 and I am still having this issue.

[2022-01-24 09:41] CosmicStud commented on #1559
How have you implemented the delegate, where in the exection? I ask because I assign the delegate after setting the game object active and directly before spawning

`
networkedObject.CheckObjectVisibility = ((clientId) => false);
networkedObject.Spawn();
`

[2022-01-24 16:26] Daniel4144 commented on #1570
Thank you for the update @NoelStephensUnity, that sounds great. Unfortunately I wasn't able to test it, but I am looking forward for the next version.

[2022-01-24 16:46] Daniel4144 opened #1612 "Host address in UTP"
With Unity Transport, I am not able to connect to a host that has not set its own IP address in connection data (as opposed to UNet Transport).
With UNet Transport it does work with the default address 127.0.0.1 set on the host, but with UTP I have to set the same host address, that I set on the client, also on the host.

Is this a bug or is there a reason for the different behaviour?

[2022-01-24 19:52] SamTheBay commented on #1559
I am setting it there as well as in the awake function of the object to try and catch all the places...

        NetworkLevel level = Instantiate<NetworkLevel>(levelPrefab);
        ...
        level.NetworkObject.CheckObjectVisibility = level.IsVisible;
        level.NetworkObject.Spawn();

The is visible function just returns false, but the level still shows up on the client.

[2022-01-24 22:53] IJsLauw commented on #1548
Similar situation here, without calling shutdown, (just NetworkManager.Singleton.StartClient actually) the MessagingSystem is null in OnNetworkLateUpdate.

While it was working in pre3, this happens after updating to pre4.

[2022-01-24 23:23] CosmicStud commented on #1535
Still happening in 1.0.0-pre.4, the network variable is not synced with the value set with the server upon client connect. At least with FixedString32Bytes

[2022-01-25 03:49] lcompton commented on #1564
@NoelStephensUnity,

Thanks for opening the discussion and for the link to the other PR. I appreciate the help!

[2022-01-25 08:16] MrCool92 commented on #1559
Tried #1588 fix, but it does not work for me.

[2022-01-26 07:25] TheCaveOfWonders commented on #1535
I experience the same as well, and not just for FixedString32Bytes, pretty much all network variables.
If I'm not mistaken, I believe on the reconnected client, the NetworkObject behavior on the offending game object is not set to "spawned", so nothing gets synced.

[2022-01-26 17:49] CosmicStud commented on #1559
Upon more inspection, seems the visibility is not fixed, strangely I had results which showed the issue fixed, its beyond me  at this point

[2022-01-27 02:33] CosmicStud opened #1625 "Network Variable Declaration"
Not fully declaring a networkvariable outputs errors,

`    public NetworkVariable<ulong> assignedPlayerNetID;
`

An error is outputted after a second client attempts connection to the server

`
[Netcode] Failed to create object locally. [globalObjectIdHash=65536]. NetworkPrefab could not be found. Is the prefab registered with NetworkManager?
...
Failed to spawn NetworkObject for Hash 65536.
...

[2022-01-27 08:16] LukeStampfli commented on #1625
This looks like a bug. Could you please [submit a bug report using the Unity Bug Reporter](https://unity3d.com/unity/qa/bug-reporting)?. That will help us to better handle the issue.

[2022-01-27 13:38] rCarleon commented on #1559
The issues seems to be here:

![image](https://user-images.githubusercontent.com/35304814/151368890-baac8673-aa65-4e14-9abf-288ca8f31f23.png)

The "else" part of the outer If statement, where the CheckVisibility happens, is never executed on the server because of the "|| NetworkManager.IsServer".

[2022-01-27 16:43] CosmicStud commented on #1559
I can't reproduce, objects still visible, your fix works for you?

[2022-01-27 19:14] ezoray commented on #1559
The same issue was mentioned here #1306 back in October. It's marked as critical but strangely still open.

[2022-01-28 10:45] rCarleon commented on #1559
I meant the issue is somewhere in this part of the code (Screenshot). I did not try out anything, but if I had, the first thing I would do is to add to one of the "if"s the check for the visibility. Probably after the null check.

[2022-01-28 13:43] UnityGio opened #1629 "NetworkAnimator won't work with client setting params missing from documentation"
@will-mearns if this is the case can we please update the documentation (https://docs-multiplayer.unity3d.com/docs/components/networkanimator) that it won't work with clients setting params on the animator? It seems to imply that all you need to do is add a `NetworkAnimator` and you're good to go. Spent quite a few hours debugging the `NetworkAnimator` script only to find that it may actually be a

[2022-01-28 14:48] UnityGio opened #1630 "Synchronization of masked and weighted layers for the animation controller is not supported"
From ProductBoard user:
"synchronization of masked and weighted layers for the animation controller is not supported at all at the moment and limits the usability of blending animations quite a lot. It's essential for the 3rd Person Project we are working on to blend and override Animations."

[2022-01-28 16:18] will-mearns commented on #1146
We can re-open if the issue persists

[2022-01-28 16:18] #1146 closed, assigned to nobody

[2022-01-29 17:07] SmalBox opened #1639 "How to using INetworkSerializable serialize List<T> in the custom class"
I want to serialize List<T> in the custom class.
What should I do?

[2022-01-29 18:29] LukeStampfli commented on #1639
You can use a NetworkList<T> on a NetworkBehaviour to synchronize a list of items.

[2022-01-29 18:38] SamTheBay commented on #1559
Ya, this looks obviously wrong. I don't have time to learn how to download the project and create a proper pull request. However, I think this is likely the fix...

        internal void UpdateObservedNetworkObjects(ulong clientId)
        {
            foreach (var sobj in SpawnedObjectsList)
            {
                if (sobj.CheckObjectVisibility == null)
                {

[2022-01-29 19:54] SmalBox commented on #1639
If using NetworkList in a custom class,  I don't directly assign when using the RPC method. I must manually assign not NetworkVariableBase type to make sure the assignment is correct.

[2022-01-30 05:17] brianjkd commented on #1450
+1 to this issue. I also had this issue with UNet transport and it took a while to determine why it was happening. It would be nice to have an error message or exception thrown from the NetworkManager server side that is more clear than just `KeyNotFoundException: The given key was not present in the dictionary` on the client.

[2022-01-30 08:53] SmalBox commented on #1639
If using NetworkList in a custom class,  I don't directly assign when using the RPC method. I must manually assign not NetworkVariableBase type to make sure the assignment is correct.

[2022-01-30 08:53] #1639 closed, assigned to nobody

[2022-02-01 09:49] #1612 closed, assigned to nobody

[2022-02-01 09:52] Daniel4144 commented on #1612
For UTP to listen on every IP address, enter 0.0.0.0 in the address field on the host.

[2022-02-01 15:38] MiTschMR commented on #1348
What I found out using 1.0 pre-5 is that if the Player you are controlling is instantiated on a Host, the animation sync happens if the NetworkAnimator component has the checkboxes checked. However, if you are a simple client, it doesn't happen because it is server authoritative. How would you guys do it if an asset you own has a player component that handles all the input via its own code and can

[2022-02-01 16:50] MrCool92 commented on #1582
Run into same issue.. I have

[code]
and
[code]

When sending Guid List as Rpc param WriteValueSafe for EquipmentSlot List is called.

[2022-02-02 08:57] MrCool92 commented on #1582
Adding this to [GetWriteMethodForParameter](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/d1f990d97b80d49ce12fce7357cbd5f6b794ce01/com.unity.netcode.gameobjects/Editor/CodeGen/NetworkBehaviourILPP.cs#L630) and [GetReadMethodForParameter](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/d1f990d97b80d49ce12fce7357cbd5f6b794ce01/com.unity.netcode.gam

[2022-02-02 13:01] rCarleon opened #1645 "NetworkManager.OnClientDisconnectCallback is not called on the client that disconnects"
To Reproduce
- subscribe to OnClientDisconnectCallback
- Start a server and a client
- Connect client
- Disconnect Client by stopping the client in the NetworkManager inspector (the stopping should not happen from server)
- OnClientDisconnectCallback is only invoked on Server

Actual outcome
OnClientDisconnectCallback is only invoked on the Server and not on the client that has disconnected

Expec

[2022-02-03 11:29] MiTschMR commented on #1645
I have submitted a bug report for this, will update this post when I get an official response.

[2022-02-03 13:46] #600 closed

[2022-02-03 13:48] #921 closed, assigned to nobody

[2022-02-03 13:57] 0xFA11 commented on #665
I see MTT-576 marked as "Done" — would you like to give us a summary here and over at the JIRA side too? @ShadauxCat

[2022-02-03 14:00] 0xFA11 commented on #779
what would you think about this @ShadauxCat?

[2022-02-03 15:12] ShadauxCat commented on #779
@MFatihMAR this is working as expected and as designed. We can't deserialize without knowing how to construct the type, and the only way we can reasonably construct it is with a parameterless constructor since we have no parameters to pass in. What @ArgentumVir describes is how the C# language works, and we can't change it, and even if we could... If a class or struct has defined a constructor, th

[2022-02-03 15:17] 0xFA11 commented on #779
I mean what do you think about minor docs update + erroring when no default ctor found? :)

[2022-02-03 15:41] DanTulovsky commented on #1529
Is there any other information I can provide here?  This is still a problem in the `pre5` release.

[2022-02-03 16:15] simon-lemay-unity commented on #1529
Do you still see the extremely large client ID on the client in 1.0.0-pre.5? Where exactly are you taking the value from?

[2022-02-03 17:06] gralmurdok commented on #1249
for me it sounds like a server/client RPC is the right way to request the starting position of the player, you can use the OnNetworkSpawn() event to make it work when the player is spawned

[2022-02-03 18:32] DanTulovsky commented on #1529
<img width="1513" alt="Screen Shot 2022-02-03 at 1 30 46 PM" src="https://user-images.githubusercontent.com/509887/152406321-32eb4778-3b47-419e-89c9-55bb9b738816.png">

<img width="535" alt="Screen Shot 2022-02-03 at 1 31 50 PM" src="https://user-images.githubusercontent.com/509887/152406468-37808253-3f2a-4dd7-b3ee-b4d68f1d6120.png">

Yes I do.  See screenshot above. This is from https://github.co

[2022-02-04 01:43] ashwinimurt commented on #1645
We have received the bug and will process it soon. Thank you!

[2022-02-04 02:29] ashwinimurt commented on #1106
This issue is no longer reproducible with the NGO 1.0.0-pre.5 / `develop`.
Please create a bug if you come across this again. Thanks.

[2022-02-04 02:29] #1106 closed, assigned to JesseOlmer

[2022-02-04 06:41] chromee commented on #1422
I was facing the same problem with the following environment.

OS: Windows 11
Unity Version: 2020.3.24f1
Netcode Version: 1.0.0-pre.5

However, when I updated unity version I was using, this problem stopped occurring.
Along with the update of unity, the version of com.unity.collections was also updated. Maybe that has something to do with it.

[2022-02-04 09:52] rCarleon commented on #1645
I just noticed that the problem only occurs when the client disconnects itself. If the server kicks the client, the callback is called.

[2022-02-04 17:40] ShadauxCat commented on #779
Oh, sorry. Yes, taking another look at it, I realize this is actually a little different than what I thought it was.

This seems to be specific to RPC parameters, and the issue is that the ILPP code that's generating RPC instructions isn't properly checking the `new()` constraint on the method it's emitting code for. As a result, the method's getting called, but it's unable to operate (invalid IL

[2022-02-05 13:23] rCarleon commented on #1559
Fixed this issue in my project by implementing the changes from @SamTheBay and the following changes:

![image](https://user-images.githubusercontent.com/35304814/152643802-46526e01-a1f9-41e5-b132-90da2b446d17.png)

![image](https://user-images.githubusercontent.com/35304814/152643884-df235081-044a-4cd2-ac75-979952082fc7.png)

Maybe this is going to help someone.

[2022-02-06 14:30] daalen opened #1656 "NetworkObjectReference should check for null before casting to GameObject"
**Suggested Changes**
If a NetworkObject was despawned after a NetworkObjectReference to it was cached somewhere, the NetworkObjectReference will return null when cast to a NetworkObject, as it should. However, if cast to a GameObject instead, it throws a NullReferenceException instead of returning null. This is because the casting to a GameObject happens with an intermediate cast to a NetworkObje

[2022-02-06 14:42] daalen opened #1657 "NetworkAnimator causes error when despawned for the second time"
I have a pool of networked objects, following the documentation [here](https://docs-multiplayer.unity3d.com/docs/advanced-topics/object-pooling/index.html). Some of these objects have NetworkAnimator components. When I spawn and despawn such an object for the first time, all is well. However, when I spawn and despawn one of those objects for the second time, on despawn I get "A Native Collection h

[2022-02-07 08:19] daalen opened #1658 "Nested NetworkObjects on players"
[The doc page on NetworkObject parenting](https://docs-multiplayer.unity3d.com/docs/advanced-topics/networkobject-parenting/index.html) describes a very common situation in which one parents an item (say a picked up weapon) to part of the player (say the hand). However, this requires the player's hands to be NetworkObjects themselves (as shown in the diagram on that doc page), and it currently see

[2022-02-07 14:30] #1625 closed, assigned to LukeStampfli

[2022-02-07 14:30] LukeStampfli commented on #1657
This looks like a bug. Could you please [submit a bug report using the Unity Bug Reporter](https://unity3d.com/unity/qa/bug-reporting)?. That will help us to better handle the issue.

[2022-02-07 14:30] #1657 closed, assigned to nobody

[2022-02-07 14:31] LukeStampfli commented on #1656
This looks like a bug. Could you please [submit a bug report using the Unity Bug Reporter](https://unity3d.com/unity/qa/bug-reporting)?. That will help us to better handle the issue.

[2022-02-07 14:31] #1656 closed, assigned to nobody

[2022-02-07 14:35] LukeStampfli commented on #1598
I think this can be achieved by using an extension function for your custom type and getting/returning values from the pool there.
https://docs-multiplayer.unity3d.com/docs/advanced-topics/custom-serialization

[2022-02-07 14:38] LukeStampfli commented on #1658
You should be able to spawn the hands after the player if the hands are separate NetworkObjects and then you can reparent the hands under the player object. It sounds like you tried that but it failed, do you remember why that didn't work?

[2022-02-07 14:41] MrCool92 commented on #1598
I am using serialization extensions. Thing is.. once it is fetched from the pool it must be released somewhere... I am not sure where. NetworkBehaviourILPP makes the most sense so I don't have to manually pool-release Rpc params.

[2022-02-07 14:46] daalen commented on #1658
On the server it works fine, but on the client it throws an error that you cannot reparent a NetworkObject to a non-NetworkObject. It might work to go down the entire hierarchy of the player object and make every bone a NetworkObject, but that seems overkill (and also does not match the documentation).

[2022-02-07 14:54] LukeStampfli commented on #1598
Ah right, I have to apologize I only skimmed over the issue and didn't fully read it 😬. From what I can tell everything you described is accurate and your solution of editing the ILPP is the only way to do this without having to manually dispose at the end of each RPC.

I don't think we have thought yet about adding support for auto release of IDisposable (or a custom interface) but it could be a

[2022-02-08 13:15] DaZombieKiller opened #1663 "[Feature Request] Ability to disable warning about nested NetworkManager"
**Is your feature request related to a problem? Please describe.**
I have a `NetworkManager` inside a prefab, which is ultimately unpacked into a scene (I have a writeup about this [here](https://twitter.com/TheZombieKiller/status/1488926918712107009), in case that sounds strange). As a result the `NetworkManager` is never actually nested when it is in use, so it is rather frustrating to dismiss t

[2022-02-08 15:29] daalen commented on #1658
To be clear, I am allowed to reparent the spawned hand objects under the player object's root, but that's of course not where the hands should go.

I get that it works this way in general, because a non-networkobject child might not exist on all clients, but maybe this can be allowed to work for (player) prefabs? Or perhaps there already is a way to achieve this but I'm missing it?

[2022-02-08 21:39] WhippetsAintDogs opened #1670 "In-Scene NetworkObjects get destroyed if NetworkManager shuts down while not fully connected (e.g. failed connection attempt)"
**Describe the bug**
Any NetworkObjects living in a scene (or even DDOL) will get destroyed if during connection attempt, it fails or it gets cancelled.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a GameObject with a NetworkObject (Don't Destroy With Owner = `true`) component to a scene.
2. Setup a NetworkManager with UNet's transport.
3. Start the scene in Play Mode.
4. Start the Ne

[2022-02-09 15:43] westside47 commented on #1406
Any idea of when this will be fixed?

[2022-02-09 20:17] limingjiu commented on #704
Is there a solution to this problem？

[2022-02-09 23:32] 0xFA11 commented on #704
@limingjiu, please grab latest `1.0.0-pre.5` :)

[2022-02-10 04:33] limingjiu commented on #704
I used 1.0.0-pre.5

[2022-02-10 04:36] limingjiu commented on #704
I started with 1.0.0-pre.5

[2022-02-10 12:07] ExpanseVR commented on #425
+1

[2022-02-11 16:20] ReedySpeedy opened #1872 "BUG with Uninstall of Unity Transport Package (com.unity.transport)"
When removing the package "Unity Transport (1.0.0-pre.12)" from the download com.unity.transport (https://docs-multiplayer.unity3d.com/transport/1.0.0/introduction) USING the package manager, the package is never fully removed from the package files under the project folder; however, it is removed from being listed as a live package in the Package Manager. This bug completely messes up the Unity.N

[2022-02-12 21:39] daalen opened #1688 "Nested networkobjects in scene give warnings on client connect"
When a scene networkobject has a child networkobject, warnings are produced when they are automatically being replicated upon a new client connecting (not for the server): "Cannot find parent. Parent objects always have to be spawned and replicated BEFORE the child"
However, as far as I know I have no control over the order in which Unity spawns or replicates networkobjects, do I? It would stand t

[2022-02-13 14:39] Nelson-Christensen opened #1689 "Scene Objects causes NetworkManager crash"
I have my game setup so that players can join ongoing game sessions (there is no lobby scene). The issue I have is that whenever a client connects and is loaded into the game scene, the NetworkManager breaks completely if it attempts to load any preplaced [Scene NetworkObjects](https://docs-multiplayer.unity3d.com/docs/basics/object-spawning#scene-objects). It loads the other players fine, but aft

[2022-02-13 15:34] Nelson-Christensen commented on #1689
Hmmm... it seems to work fine now when I only have a few NetworkObjects in the scene. The original error (strikethrough) must be because of maybe it was different build versions, so something got messed up is my guess. But I seem to get issues when it goes up towards 20, which is weird. Since according to [this](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1591) it lo

[2022-02-13 15:34] #1689 closed, assigned to nobody

[2022-02-14 15:27] ezoray commented on #1445
This still appears to be an issue, I'll created a bug report, 1403113.

[2022-02-14 16:30] will-mearns commented on #1670
@NoelStephensUnity , can you just transfer this over to Jira for now for us to triage?

[2022-02-14 16:33] WhippetsAintDogs commented on #1670
@will-mearns I've sent a reproduction project when I've filed this through Unity's bug reporting tool if you need it.

[2022-02-14 19:29] daalen opened #1693 "NetworkObjectReference should be nullable"
**Suggested Changes**
Currently NetworkObjectReferences are not allowed to be null, which limits their usability in custom structs. I have some clunky workarounds in place now to deal with cases in which NetworkObjectReference would be set to null, such as setting a bool and then putting a reference to a random NetworkObjectReference instead of null in there, but it would be way more convenient if

[2022-02-14 21:23] WhippetsAintDogs opened #1695 "Will the lifting of the 1300 bytes limitations in NetworkVariables be backported in release 1.0.0 ?"
Any plans to backport this ?

https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1481

[2022-02-14 22:25] #1523 closed, assigned to nobody

[2022-02-14 23:49] 0xFA11 commented on #1695
coming from the PR side to here:

we will reconsider things went into `experimental-develop` (previous `develop`) again and backport applicable fixes into current `develop` which will eventually make it into `1.0` release.

however, it's not happening at this very moment but will happen soon.

thanks for asking and keeping a track of this :)

[2022-02-14 23:49] #1695 closed, assigned to nobody

[2022-02-14 23:50] 0xFA11 commented on #1695
maybe to add a speculative/personal comment on top, I think #1481 will potentially be backported to current `develop`, I can't see any obvious reasons to not to.

[2022-02-15 00:16] devx81 opened #1698 "Unable to serialize string array"
Sending a string array via RPC causes unity to a compilation error: Assets\ScriptName.cs(126,5): error - Don't know how to serialize String[] - implement INetworkSerializable or add an extension method for FastBufferWriter.WriteValueSafe to define serialization.

An array of int (just as an example) does not generate a compile time error. According to the docs, all the C# primitives (and their arr

[2022-02-15 00:26] NoelStephensUnity commented on #1695
This requires a refactoring of the MessagingSystem as the 1300 byte limitation fix in experimental-develop only worked because of the snapshot system.  It also requires changing how we send NetworkList delta updates (i.e. would need to change this to Fragmented).
It is definitely do'able.  We just need to see how it fits in our current feature schedule.

[2022-02-15 01:52] 0xFA11 commented on #1695
lifting up the 1300 bytes limit does not have to require SnapshotSystem — it could expose underlying "can't handle too big packets" sure, but still, lifting it up can be done separately in isolation.

[2022-02-15 13:32] arty-F opened #1700 "Method with ClientRpc execute on server (host) too"
Hi. Im a little bit a confusing with rpc logic. In short, the problem is in [tutorial](https://docs-multiplayer.unity3d.com/docs/advanced-topics/messaging-system) says "client rpc no execution server side", but in my case it's wrong. I have a simple class:
[code]

When i run two instance of game (one runned in editor and started as host, and one builded and started as client). After that im see th

[2022-02-15 13:33] LukeStampfli commented on #1700
ClientRPCs execute on the host because a host is both a server and a client at the same time.

[2022-02-15 13:40] arty-F commented on #1700
Thanks for the answer!
It would be nice if this was mentioned in the documentation.

[2022-02-15 13:56] ezoray opened #1701 "OverflowException: Could not deserialize SceneObject: Out of buffer space."
I've reported this issue in the bug tracker, you'll find the project to reproduce the problem there, number 1403113.

1. What happened

I have a single pre-existing network object on the server with ObjectVisibility set to false.  On client connect I'm getting the above error on the client, no error on the server.  If I set ObjectVisibility to true the object spawns fine with no errors. This sound

[2022-02-15 14:00] ezoray opened #1702 "NetworkLists are severely limited on space and bug out when limit reached."
I created a bug report for this with project attached, number 1402885.

1. What happened

There are a couple of problems with NetworkLists. The first problem is you quickly reach the buffer limit when adding elements. The second problem is when you do reach that limit you get constant error spam of "Writing past the end of the buffer" which never stops.

2. How can we reproduce it using the exampl

[2022-02-15 14:02] LukeStampfli commented on #1702
Duplicate of #1469. This is already fixed but we have yet to backport this. @ashwinimurt FYI.

[2022-02-15 14:02] #1702 closed, assigned to nobody

[2022-02-15 14:08] LukeStampfli commented on #1700
It is documented [here](https://docs-multiplayer.unity3d.com/docs/advanced-topics/message-system/execution-table). Did you see that page? If yes any recommendations on how we can improve it? @s-omeilia-unity

[2022-02-15 14:13] ezoray commented on #1702
Ah I see, thanks Luke.

[2022-02-15 15:14] arty-F commented on #1700
Of course I didn't see it. My mistake.

[2022-02-15 15:15] #1700 closed, assigned to nobody

[2022-02-15 16:34] ghost opened #1704 "Disabling Scene Management Causes Errors"
### What happened
Turning off 'Enable Scene Management' causes 3 error messages to appear in console as listed below.

### Error messages
1. [Netcode] Failed to create object locally. [globalObjectIdHash=x]. NetworkPrefab could not be found. Is the prefab registered with NetworkManager?
2. Failed to spawn NetworkObject for Hash x.
3. OverflowException: Reading past the end of the buffer

### How t

[2022-02-15 16:36] #1704 closed, assigned to nobody

[2022-02-15 19:24] will-mearns commented on #1670
Perfect, that will help us reproduce the issue. In the future, you don't have to submit a Github issue here as well.

[2022-02-16 01:21] ashwinimurt commented on #1303
Reducing the priority to Low to match Jira bug's Low priority.

[2022-02-16 01:27] ashwinimurt commented on #1275
Based on the resolution notes in https://jira.unity3d.com/browse/NCCBUG-96

This is a Won't fix.

[2022-02-16 01:27] #1275 closed, assigned to nobody

[2022-02-16 01:31] ashwinimurt commented on #1495
This is fixed on `develop` and backported to release: `1.0.0-pre.5`.

[2022-02-16 01:31] #1495 closed, assigned to LukeStampfli

[2022-02-16 01:34] ashwinimurt commented on #582
[Taken from Jira ticket's comment]
This is not something we will fix for 0.1.0 or 1.0.0 so closing this as wont fix. Can you communicate to the user that we will however address it in a future version with a different design.

Closing the issue.

[2022-02-16 01:34] #582 closed

[2022-02-16 01:50] ashwinimurt commented on #1670
Linking bug for tracking https://fogbugz.unity3d.com/f/cases/1401687/

[2022-02-16 02:31] ashwinimurt commented on #1670
@NoelStephensUnity The bug is moved here https://jira.unity3d.com/browse/NCCBUG-119

[2022-02-16 06:38] arty-F opened #1708 "Class internal state not saved after rpc"
Hi. Need help with understanding why default behavior not working when using rpc's. Have a simple class:

[code]

Here i want to store all connected users id on each game instance. First of all entered user (host) send rpc to server with his id as parameter. Server save that id to list and sending it to all clients. But every time the new client is connected, list with id's will cleared and stored

[2022-02-16 08:20] daalen commented on #1708
It won't create a new instance for each rpc, but each client may have its own instance, depending on where/how you set up TestPlayer. So on the version that the server spawned with, only the server's id was added, and on the version that the new client spawned with, only the new client's id was added.

You can solve this however by using the fact that OnNetworkSpawn will be called on all instances

[2022-02-16 08:56] arty-F commented on #1708
In other words, it can use different class instance when rpc called? So how to control this? Maybe have some documentation about this mechanism?

When i let OnNetworkSpawn called on all instances:
[code]

I got error, when client started:
[code]

[2022-02-16 09:11] arty-F commented on #1708
Ok, find a simple solution. When i store data (list with id's) in a MonoBehaviour container or simple c# static class everything work fine. But with this approach it is possible to use NetworkBehaviour's only for logic, not for state (data) saving. Looks weirdy.

[2022-02-16 09:30] daalen commented on #1708
Glad you found something that works. But to answer your earlier question, no, it always calls the Rpc on the exact same instance that the Rpc was called from (unless you explicitly call it on a different instance), it's just that you may not be aware that there were different instances of the object to begin with.

Your error is solved by writing [ServerRpc(RequireOwnership=false)] instead of [Ser

[2022-02-16 09:54] #1708 closed, assigned to nobody

[2022-02-16 13:46] DaZombieKiller commented on #1663
I should note that this also results in play mode errors during the initialization stage:
![image](https://user-images.githubusercontent.com/6316315/154277046-39500be0-79a8-49ba-894b-ea4253908d9f.png)

[2022-02-16 14:16] WhippetsAintDogs commented on #1670
@will-mearns @ashwinimurt, just wondering about the visibility of Unity's bug reporting process. Its been more than a week that've filed the bug and it's still not visible in https://issuetracker.unity3d.com/ (and I don't know when it will be). Someone encountering the same problem I had could need this information. I understand the importance of this process to you guys and the bug reporting tool

[2022-02-17 18:39] #570 closed

[2022-02-18 02:24] #1306 closed, assigned to nobody

[2022-02-19 00:21] mattwalsh-unity commented on #568
Ok, bug is confirmed...indeed the parameter list won't appear under NetworkAnimator when an override is in place.  I'm going to try and fix this.  FWIW, note that that list of checkboxes does *not* mean "you must checkbox this parameter for it to sync".  It means "even if the animation isn't in transition, synchronize that parameter anyway".  So (and I've confirmed this) your overridden animation

[2022-02-19 13:45] devx81 commented on #1698
As a work around I have found I can use the fixed types, ie: FixedString64Bytes[], those seem to pass through the RPC serialization just fine.

[2022-02-19 14:02] ezoray commented on #1670
@WhippetsAintDogs Agreed, the positive of using the bug reporter means an easy way of attaching a project to go along with the report. The negative from a user perspective is we have no visibility if it's even been acknowledged and this seems a step backward from adding issues directly in Github. I did post about this on the forum but no response so far.

[2022-02-19 18:00] DasOhmoff commented on #1645
What is the status on this? Is this being worked on?

[2022-02-19 18:56] 0xFA11 commented on #1695
backporting with #1725

[2022-02-19 22:29] MiTschMR commented on #1645
I haven't yet received an answer from Q/A, case number is 1398927.

[2022-02-20 18:56] ashwinimurt commented on #1670
@WhippetsAintDogs There seems to be an internal problem that prevented creating the Issue tracker for this particular bug. I have requested the customer QA teams to fix and have it created. I understand that not being able to easily search for an issue is a concern. We will discuss with the team. Thank you for the feedback.

[2022-02-20 18:57] ashwinimurt commented on #1645
The bug report is still being processed. Sorry for the delay. I have asked the Customer QA teams to fast-track it.

[2022-02-22 16:20] Daniel4144 opened #1737 "Secure connection over Relay UTP"
Hi,
I am not able to establish a secure connection for NGO with the Relay Unity Transport. I have pretty much copied the code samples from the [relay documentation](https://docs.unity.com/relay/relay-and-ngo.html) which works fine, but if I modify the code to use a secure connection, host and client do not connect (no errors or warnings). I only added the isSecure=true parameter to the SetRelayDat

[2022-02-22 17:00] Daniel4144 opened #1738 "Persistent player object"
Hi,
I want to achieve a seamless transition between offline and online gameplay. Basically, a player object already exists before connection and when connecting this object should be spawned for all other clients and remain the clients player object. What actually happens is that the existing object becomes the hosts object, but no additional objects spawn.

Is there a simple approach to keep and

[2022-02-22 19:31] MiTschMR commented on #1645
Issue is open: https://issuetracker.unity3d.com/issues/netcode-netcode-not-calling-the-method-when-closing-built-client

[2022-02-23 10:33] vikpek commented on #1701
Confirming @ezoray report. #1445 is not closed. The same issue appears with updated Netcode and using Unity Transport instead of UNet

[2022-02-23 10:34] vikpek commented on #1445
Still appears with 1.0.0-pre.5.
For reproduction you can follow the upper guidelines just check out the tag _failed-verification-1445_ instead

[2022-02-23 10:49] Daniel4144 commented on #1570
This issue is fixed in the latest version 1.0.0-pre.5, I was able to spawn several thousand objects at once. Thanks for your help

[2022-02-23 10:49] #1570 closed, assigned to nobody

[2022-02-23 12:01] MiTschMR commented on #796
Any update on this?

[2022-02-23 12:59] vikpek commented on #1469
After update to 1.0.0.-pre.5 and switch to UnityTransport (with doubled limits):

Managed to reproduce it with slightly higher list counts. ~15 already causes the same issue to occur.

[2022-02-23 13:05] vikpek commented on #1702
Not fixed unfortunately. I added more information to the original report.

[2022-02-23 13:29] LukeStampfli commented on #1445
I don't think this has been backported from develop to the 1.0.0-pre.5 release. So it will be in a future release.

[2022-02-23 13:55] mraue commented on #1445
This is currently one of the blockers which prevents us from updating to 1.0.0 (from 0.1.0). It would be greatly appreciated if this issue would get some <3. Thanks.

[2022-02-23 14:06] Daniel4144 commented on #1737
Finally I got it working, I missed one step in the setup. A relay allocation contains several server endpoints, I had to select the secure one instead of using the default ip and port:

[code]
This has to be done on both the host for the Allocation and on the clients for the JoinAllocation.

[2022-02-23 14:11] vikpek commented on #1450
With 1.0.0-pre.5 and Unity Transport the limit is a bit higher - but still reaches the limits quite quickly.
When you follow the upper descriptions and checkout the tag _failed-verification-1450_ instead you can easily test it there.

[2022-02-23 14:37] Daniel4144 commented on #1737
I still do not know if as secure connection over UTP without the relay is possible, so I reopen the issue.

[2022-02-23 15:06] LukeStampfli commented on #1445
The fix for this will be in pre6 which we plan to release very soon.

[2022-02-24 01:42] mattwalsh-unity commented on #568
This will be fixed in the next release.  We actually have removed these checkboxes.

[2022-02-24 06:18] ashwinimurt commented on #592
Confirmed with @mattwalsh-unity this is fixed. Closing.

[2022-02-24 06:19] ashwinimurt commented on #382
Confirmed this is already fixed, and MTT-75 is marked done.
Closing.

[2022-02-24 06:19] #382 closed

[2022-02-24 06:19] #592 closed

[2022-02-24 08:09] PhiSel opened #1748 "Scene NetworkObjects get destroyed if the user starts and stops as host multiple times"
### Bug Description
In a context of lobbies where users can spawn lobbies, connect to other lobbies and leave them, NetworkObjects in the scene get destroyed if client is shutdown twice.

### Reproduction steps
1. Create a new Scene
2. Setup a NetworkManager with UNET-Transport
3. Add a GameObject with a NetworkObject (Dont Destroy with Owner = true)
4. Start Playmode
5. Click "Start Host"
6. Clic

[2022-02-24 09:27] mraue commented on #1445
Great to hear that! Thanks @LukeStampfli !

[2022-02-24 10:42] mraue commented on #1469
@LukeStampfli  Could the fix maybe also added to 1.0.0-pre6? That would be awesome!

[2022-02-24 17:01] WhippetsAintDogs commented on #1663
@NoelStephensUnity , @MFatihMAR

The pop-up warning logic doesn't scale in bigger projects. The version 1.0.0-pre.5 added this check for nested `NetworkManager` that performs a costly `Resources.FindObjectsOfTypeAll<NetworkManager>();` on `EditorApplication.hierarchyChanged` which slows down our editor to 5 FPS and cause annoying 30-40s `Inspector.WindowRepaint` intermittent editor freezes.

Pleas

[2022-02-24 17:16] 0xFA11 commented on #1663
#1484 for the reference

[2022-02-26 04:30] WhippetsAintDogs opened #1754 "NetworkRigidbody nested on a NetworkObject child, when destroyed, dies ungracefully"
I'm posting for the sake of searchability while still using Unity's bug reporting tool until it lands in the issue tracker (https://issuetracker.unity3d.com) - I'll close it afterward.

When a spawned NetworkRigidbody living on a child GameObject nested under the NetworkObject is destroyed before its NetworkObject, when the later is destroyed a `MissingReferenceException` is fired because there is

[2022-02-28 00:39] I-got-gats-PHD commented on #1214
@LukeStampfli I'm having this issue as well. Using Netcode for GameObjects Version 1.0.0-pre.5.

The client definitely owns the NetworkObject which has the NetworkAnimator and Animator components attached to it because the NetworkObject in question is the default player prefab.

Testing with a host and one client shows that:
Host can see host's animations
Host can't see client's animations
Client

[2022-02-28 01:13] I-got-gats-PHD commented on #1214
Nevermind. I just saw in the discord that NetworkAnimator is server driven.

[2022-02-28 17:50] will-mearns commented on #780
This message doesn't to be in the code anymore.

[2022-02-28 17:50] #780 closed

[2022-02-28 17:56] will-mearns commented on #1246
Correct, we no longer support managed types in Network Vars

[2022-02-28 17:56] #1246 closed, assigned to mattwalsh-unity, will-mearns

[2022-02-28 19:53] will-mearns commented on #1291
We will consider this if we overhaul NetworkTransform, though as stated, this is a low repro rate

[2022-02-28 19:53] #1291 closed, assigned to nobody

[2022-02-28 20:51] #1267 closed, assigned to nobody

[2022-02-28 20:54] will-mearns commented on #526
We were unable to reproduce this issue anymore

[2022-02-28 20:54] #526 closed

[2022-02-28 20:55] will-mearns commented on #548
Closing this as this was by design

[2022-02-28 20:55] #548 closed

[2022-02-28 20:57] will-mearns commented on #445
NetworkedVar does not support GameObject anymore

[2022-02-28 20:57] #445 closed

[2022-02-28 21:10] will-mearns commented on #1357
This has been deprioritized as related to the previous comment

[2022-02-28 21:10] #1357 closed, assigned to nobody

[2022-02-28 21:14] will-mearns commented on #1429
Our snapshotting is out of the 1.0 system. This would be addressed in the following solution

[2022-02-28 21:14] #1429 closed, assigned to jeffreyrainy

[2022-03-01 15:28] will-mearns commented on #1422
From Jeffrey,
"Added a netvar of 4K FixedString to an existing test and observed the value being carried across just fine:

        void StringChanged(FixedString4096Bytes oldValue, FixedString4096Bytes newValue)
        {
            Debug.Log($"newValue is {newValue.Length} bytes long");

            if (newValue.Length == 4000)
            {
                Debug.Log($"byte 3999 is {(int) newVa

[2022-03-01 15:28] #1422 closed, assigned to jeffreyrainy

[2022-03-01 16:08] WhippetsAintDogs opened #1757 "Deactivated nested NetworkTransform and NetworkRigidbody throws errors (they should perform their Awake in OnNetworkSpawn if not already done)"
I'm posting for the sake of searchability while still using Unity's bug reporting tool until it lands in the issue tracker (https://issuetracker.unity3d.com/) - I'll close it afterward.

Having a NetworkTransform and / or a NetworkRigidbody on a deactivated GameObject nested under an activated NetworkObject throws errors like `NullReferenceException` because when OnNetworkSpawn is fired by the par

[2022-03-01 18:30] WhippetsAintDogs opened #1759 "NetworkTransform's Teleport method interpolates on clients if other transform changes are made subsequently"
I'm posting for the sake of searchability while still using Unity's bug reporting tool until it lands in the issue tracker (https://issuetracker.unity3d.com/) - I'll close it afterward.

If a NetworkTransform is continuously receiving transform changes (e.g. controlled by a gamepad) and some action want to teleport it to some place using the `Teleport` method, interpolation will still happen on th

[2022-03-01 21:16] will-mearns commented on #1630
Committed to our backlog in MTT-2698

[2022-03-02 02:19] mattwalsh-unity commented on #1630
Currently in PR #1765

[2022-03-02 04:56] lightningrock commented on #1693
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/builtin-types/nullable-value-types

[2022-03-02 12:16] Daniel4144 commented on #1738
While working on a workaround, I was thinking about how existing player objects could be handled:

There is already a difference between scene objects and spawned objects - scene objects remain in the scene after disconnecting.
At the moment, if there is an instance of the player prefab in the scene, it is treated like a normal scene object (even if it is not in the NetworkPrefabs list!). On conne

[2022-03-04 13:24] WhippetsAintDogs commented on #1757
Closing this issue since it has landed in the official issue tracker.
https://issuetracker.unity3d.com/issues/nullreferenceexception-when-gameobject-with-networktransform-component-is-a-child-of-a-networkobject

[2022-03-04 13:24] #1757 closed, assigned to nobody

[2022-03-04 18:28] WhippetsAintDogs commented on #1754
Closing this issue since it has landed in the official issue tracker.
https://issuetracker.unity3d.com/issues/missingreferenceexception-spam-after-deleting-a-gameobject-with-networkrigidbody-component-before-its-parent-with-networkobject

[2022-03-04 18:28] #1754 closed, assigned to nobody

[2022-03-05 11:38] NaolShow commented on #1552
Hi! Thanks for your response, I'll study the code that you sent. Thanks.

But the problem disappeared when updating to Netcode pre6.
The network objects doesn't have the flags set to true now. So it's working fine.

Thanks! (And sorry for the late answer)

[2022-03-05 11:38] #1552 closed, assigned to NoelStephensUnity

[2022-03-05 12:36] NaolShow commented on #1548
This is fixed with pre6 of Netcode

[2022-03-05 12:54] NaolShow commented on #1535
Still happening in Netcode pre6, is there any news on this issue ?
Thanks!

[2022-03-05 15:08] herrmutig commented on #1658
Same issue for me! It feels very cumbersome to be forced to either have the Player as SceneObject or reparenting all NetworkObject when spawning the Player, making a task to give the player a weapon more difficult and tideous than it should be.

[2022-03-05 22:26] Zbmosahlo opened #1778 "Track RFC #<pr-number>: <description>"
Tracking issue for [RFC #<pr-number>: <description>](https://github.com/Unity-Technologies/com.unity.multiplayer.rfcs/pull/<pr-number>)

[2022-03-06 10:07] simtrip commented on #1031
Hi, sorry it's taken me so long to retest this, but it's looking good now 👍

I adjusted my script quite a bit and tried it with `1.0.0-pre6`. It seems to successfully report that a client (id 1) receiving an unnamed message from the server (id 0) is receiving it from id 0 as intended.

Below is the updated script

[code]

[2022-03-06 10:07] #1031 closed, assigned to ShadauxCat

[2022-03-08 19:53] #1778 closed, assigned to nobody

[2022-03-09 00:04] mattwalsh-unity commented on #1367
There is a straightforward workaround, namely, to move the instantiation into your Awake function.

[2022-03-09 01:37] mattwalsh-unity commented on #456
No longer relevant; we don't have the channel property anymore.

[2022-03-09 01:37] #456 closed

[2022-03-09 18:58] #1273 closed, assigned to nobody

[2022-03-09 18:58] will-mearns commented on #1273
This is no longer reproducible.

[2022-03-10 00:53] theomonnom commented on #722
Unity-Technologies/multiplayer-community-contributions#136
Since the last version, this is unusable on WebGL

[2022-03-11 15:08] will-mearns commented on #686
We have significantly overhauled NetworkList and have not experienced this issue in our BossRoom playtests. Please open another bug via our new process with reproduction steps if this issue persists.

[2022-03-11 15:08] #686 closed

[2022-03-11 15:13] will-mearns commented on #528
Fixed in [PR-1779](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1779)

[2022-03-11 15:13] #528 closed

[2022-03-11 15:14] will-mearns commented on #555
@mattwalsh-unity  can you add the PR that this was fixed in? (and whatever labels this needs)

[2022-03-11 15:14] #555 closed

[2022-03-12 21:26] NaolShow opened #1798 "Possibility of getting client's IP Address ?"
Hi everyone.

Just a quick question, is there any way of getting the IP Address of a client?
I would like to check the IP Address of all the clients that connects (using the ConnectionApproval event)

But it seems that there is no way of getting this? I even checked in the NetworkClient class and there is no IP Address in it.
Am I missing something? Thanks!

[2022-03-13 11:19] NaolShow commented on #1737
Same here, it would be useful to have a concrete documentation on encryption without relay

[2022-03-13 22:33] MiTschMR commented on #1348
The network animator has been reworked with 1.0 pre-6 and now looks differently in the inspector, it does not show checkboxes anymore. Is there internal work being done or what was the reason for it?

[2022-03-14 16:54] theyonatan commented on #1535
happening to me when the player first joins...

In the lobby they all see each other, everything is fine.

In the game scene, after they all finish to connect to the scene, I try to spawn each player:

(on the server)
`public void SpawnPlayers(NetworkObject PlayerObject)
    {
        foreach (var Item in PlayerList)
        {
            ulong Id = Item.Key;
            NetworkObject NewPlayer;

[2022-03-18 14:58] WhippetsAintDogs commented on #1670
#1809

[2022-03-18 15:00] WhippetsAintDogs commented on #1571
Fixed in pre.6

[2022-03-18 15:00] #1571 closed, assigned to NoelStephensUnity

[2022-03-18 19:56] WhippetsAintDogs commented on #1670
Fixed in pre.7

[2022-03-18 19:56] #1670 closed, assigned to NoelStephensUnity

[2022-03-18 20:53] will-mearns commented on #995
This is no longer an issue. It was most likely fixed in several PRs, but [PR-1769 \|https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1769] could be the fix if the in-scene placed NetworkObjects were already loaded prior to starting the server and connecting the client.

[2022-03-18 20:53] #995 closed, assigned to nobody

[2022-03-19 11:52] Sneirox commented on #1535
temp fix is to call it manually:
`
void Awake()

    {

        sunRotation.OnValueChanged += SunRotationChanged;

        SunRotationChanged(sunRotation.Value, sunRotation.Value);

    }
`

[2022-03-20 13:37] NichoBrando opened #1817 "Can't build unity project after install netcode on Unity 2020.3.29f1/2021.2.16f using Windows 10"
Hello!
I'm having an issue using Unity 2020.3.29f1 and 2021.2.16f on Windows 10, and I'm not being able to build my project.
Steps to reproduce:
- Create a new project with one of these versions (I put the project in a customer folder inside Documents)
- Add NetCode package using the git url `com.unity.netcode.gameobjects`
- Try to build to any Windows platform

![image](https://user-images.github

[2022-03-21 11:36] KOT-KOCMOCMOHABT opened #1818 "Bind to a specific ip address when starting the server (there are several of them on the server). How?"
maybe in
public class UNetTransport : NetworkTransport

[code]
or

create new method like:

[code]
Or is there another way?

[2022-03-21 11:38] 7Upers commented on #1818
it will be very helfull!

[2022-03-21 15:19] Daniel-Datatekniker opened #1820 "Bug regarding GameObjects / NetworkManager"
I just factory ressettet my pc, installed vs & unity
Made a brand new project & followed your guide https://docs-multiplayer.unity3d.com/docs/migration/install
After i attach the NetworkManager i get 11 Errors when clicking the gameobject
im brand brand new to unity, so i just followed your guide & i do not know how to fix this.
Is this a bug or am i doing anything wrong here?

![image](https://us

[2022-03-21 19:42] 0xFA11 commented on #1156
was fixed by #1221

[2022-03-21 19:42] #1156 closed, assigned to nobody

[2022-03-21 23:24] ashwinimurt commented on #1820
Hi @Daniel-Datatekniker Thank you for submitting the issue. My guess is something is missing in the installation or probably docs outdated. Do you mind sharing this project with me? You can upload a zip here or send me an email.

[2022-03-21 23:45] Daniel-Datatekniker commented on #1820
Ofc i happen no matter what, if i make a emty project or and example project
Can you give me you're email address?

[2022-03-22 12:51] WhippetsAintDogs commented on #1759
Hi @ashwinimurt, is it normal that the bug ticket is still open and not in the issue tracker after 3 weeks ? 😮 I've filled other bugs during that period of time that did landed in the issue tracker.

![image](https://user-images.githubusercontent.com/9271409/159485885-ae3f4766-7d95-48c9-8ee4-dc80aecf297a.png)

[2022-03-22 14:55] NoelStephensUnity commented on #1817
Hi NicoBrando,
I am looking into a similar issue with another project/bug unrelated but having the same issue with that user-submitted project to replicate a different bug. Just using a fresh project with Unity Editor v2020.3 and Netcode for GameObjects v1.0.0-pre.6, I was able to compile with no issues:
![image](https://user-images.githubusercontent.com/73188597/159510419-45b9da67-7fc3-4d5f-8a35-

[2022-03-22 15:02] NoelStephensUnity commented on #1701
@ezoray
Could you provide a bit more information on the ObjectVisibility setting you are using?
Are you setting the NetworkObject.CheckObjectVisibility delegate handler or using some other way?
Also, are you making it not-visible to visually hide the NetworkObject or to remove it from the client's observable NetworkObjects (i.e. does not update its state to the client over the network)?

[2022-03-22 16:57] will-mearns commented on #1573
Tracking in MTT-2924

[2022-03-22 18:06] ezoray commented on #1701
@NoelStephensUnity
I no longer have that code in the project, at least not the code for handling pre-existing network objects as I removed them due to the error and instantiate and spawn at runtime now. The original project should still be attached to that bug report though.  Incidentally I had an email a couple of days back stating this issue had been fixed.

In regard to the reason for using vis

[2022-03-23 01:50] ashwinimurt commented on #1820
Could you try assigning a NetworkObject to the PlayerPrefab? The error suggests:
<img width="757" alt="image" src="https://user-images.githubusercontent.com/36935028/159605897-da3e8658-1090-4182-94ed-6179964af79f.png">

[2022-03-23 02:30] Shivang44 opened #1824 "Putting app in background and resuming is not handled gracefully on Android"
### Bug Description

When running a game using Netcode with an Android client, pausing the app (for example, by going Home or locking the screen) and resuming the app does not seem to be handled gracefully. The screen will either go completely black or flicker, and I get the following error message from Netcode:

![Screenshot_20220320-215956_Serenity](https://user-images.githubusercontent.com/6234

[2022-03-23 18:09] yannick-van-der-loo-fika opened #1825 "NetworkBehaviourReference TryGet method throws error when trying to get a component that is not on the gameobject"
I'm posting for the sake of searchability while still using Unity's bug reporting tool until it lands in the issue tracker (https://issuetracker.unity3d.com/) - I'll close it afterward.

NetworkBehaviourReference.TryGet force cast and will throw when the type is not found. It should use as to prevent throwing.
`networkBehaviour = (T)GetInternal(this, null);` -> `networkBehaviour = GetInternal(this

[2022-03-24 00:40] danielchipman opened #1829 "Broadcast UnloadComplete SceneEvent after m_IsSceneEventActive is set to false"
**Is your feature request related to a problem? Please describe.**
In OnSceneUnloaded in NetworkSceneManager.cs, m_IsSceneEventActive doesn't get reset to false until after OnSceneEvent is invoked. This causes scene operation requests such as LoadScene or UnloadScene to be rejected with SceneEventProgressStatus.SceneEventInProgress in OnSceneEvent listeners when sceneEvent.SceneEventType == SceneE

[2022-03-24 01:20] NichoBrando commented on #1817
Hey, sorry for the delay.
No, there's no additional packages on the projects when this happened.

Also, I discovered the reason of this error, my antivirus was stopping the build process but not putting a warning to me, and even when it was disabled, this specific file was still not working.
It got fixed after a lot of attempts, that a popup appeared to me and then I was able to rebuild again.

If

[2022-03-24 01:20] #1817 closed, assigned to nobody

[2022-03-24 16:20] wackoisgod commented on #1737
@Daniel4144 you do not need the relay in order to have a secure connection via UTP.

You can do a `NetworkSettings.WithSecureParameters` and thus when you create the NetworkDriver with these settings it will properly use the SecureProtocol under the covers. It should be noted that the Relay uses its own protocol built on top of the secure protocol but if you want to use the secure protocol itself

[2022-03-25 22:45] JesseOlmer opened #1837 "Test Issue"
Ignore me.

[2022-03-26 17:45] rafante commented on #1370
Hi, I'm having the same issue in 1.0.0-pre.6. See the screenshots below please.

![image](https://user-images.githubusercontent.com/4541914/160251197-c18d2069-5c72-429a-a144-f1b05e795b9b.png)

Could you please reopen and help me?

[2022-03-27 15:45] brian-kryptomon opened #1840 "Question on Interest Feature"
@mattwalsh-unity is there any documentation or high level explanation on the Interest feature? I am looking to leverage the new netcode framework for a large scale MMO. There is no real time combat so I have much lower requirements for syncing - mostly just positional information, animations and any model changes (changing of cosmetics). I was planning on extending the framework to include a syste

[2022-03-28 09:53] #1738 closed, assigned to nobody

[2022-03-28 10:58] yigiteren opened #1843 "NetworkManager gives error on serializing empty NetworkPrefabs array"
**Steps to produce:**
1.  Create an empty GameObject and add NetworkManager component to it.
2. You will see the error popping up on the console immediately

Expected behaviour: No errors to be given because an array is empty
Current behaviour: Gives about 9 errors, "Retrieving array element that was out of bounds"

The issue only occurs when NetworkPrefabs array is empty.

![Screenshot](https://u

[2022-03-28 11:58] Daniel4144 commented on #1737
Thank you for your reply @wackoisgod.
Normally it is not required to create a NetworkDriver manually, I assume that is done automatically under the hood when using Netcode with UnityTransport. Is there a sample project or documentation for how to configure that with a secure connection?

[2022-03-28 15:29] will-mearns commented on #1843
Added to our backlog as MTT-2980

[2022-03-29 03:22] ashwinimurt commented on #1825
https://fogbugz.unity3d.com/f/cases/1413211/

[2022-03-29 03:23] ashwinimurt commented on #1825
Assigning to @ashwinimurt to link Jira Ticket.

[2022-03-29 03:29] ashwinimurt commented on #1824
Added to our backlog as [MTT-3017](https://jira.unity3d.com/browse/MTT-3017)

[2022-03-29 03:34] ashwinimurt commented on #1820
Following up @Daniel-Datatekniker Did this work for you?

[2022-03-29 03:41] ashwinimurt commented on #1759
Hi @WhippetsAintDogs, I am sorry about the processing times. I see this Issue is the queue being processed. We are currently evaluating this process and coming up with a solution soon. Thanks for your patience.
Adding https://fogbugz.unity3d.com/f/cases/1407783/ for visibility internally.

[2022-03-29 03:45] ashwinimurt commented on #1748
Added to our backlog [MTT-3018](https://jira.unity3d.com/browse/MTT-3018)

[2022-03-29 03:51] ashwinimurt commented on #1701
Linking Bug for tracking https://fogbugz.unity3d.com/f/cases/1403113/

[2022-03-29 03:53] ashwinimurt commented on #1701
The fix for this is in 1.0.0-pre.6.
@ezoray Could you please confirm if the issue is fixed for you on this version? Thanks

[2022-03-29 03:54] ashwinimurt commented on #1701
@vikpek Can you please try 1.0.0-pre.6 and let us know. Thanks
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1445 is fixed in pre.6

[2022-03-29 04:06] ashwinimurt commented on #1645
https://fogbugz.unity3d.com/f/cases/1398927/
Tracked in our backlog [NCCBUG-128](https://jira.unity3d.com/browse/NCCBUG-128)

[2022-03-29 04:09] ashwinimurt commented on #1630
PR https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1765 has been merged.
Closing Issue.

[2022-03-29 04:09] #1630 closed, assigned to mattwalsh-unity

[2022-03-29 04:14] ashwinimurt commented on #1593
This is not a bug. Adding Feature Tag.

[2022-03-29 04:17] ashwinimurt commented on #1591
Tracked in our backlog [MTT-3020](https://jira.unity3d.com/browse/MTT-3020)

[2022-03-29 04:18] ashwinimurt commented on #1595
Tracked in our backlog [MTT-3019](https://jira.unity3d.com/browse/MTT-3019)

[2022-03-29 04:21] ashwinimurt commented on #1590
Tracked in our backlog [MTT-3021](https://jira.unity3d.com/browse/MTT-3021)

[2022-03-29 04:57] kaen commented on #1591
To my knowledge this was fixed with the following PR (disregard if there's more recent information) https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1686

[2022-03-29 17:19] ezoray commented on #1701
@ashwinimurt I no longer have the scenario where it failed before but as I as I test it appears fixed.

[2022-03-29 21:31] ashwinimurt commented on #1591
Thanks for the confirmation. Closing.
@MFatihMAR

[2022-03-29 21:31] #1591 closed, assigned to nobody

[2022-03-29 21:41] ashwinimurt commented on #1701
Duplicate of https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1445
Fixed in 1.0.0-pre.6

[2022-03-29 21:41] ashwinimurt commented on #1701
Closing.
cc @NoelStephensUnity

[2022-03-29 21:41] #1701 closed, assigned to nobody

[2022-03-29 21:43] ashwinimurt commented on #1837
Cleaning up, closing.

[2022-03-29 21:43] #1837 closed, assigned to nobody

[2022-03-29 21:49] ashwinimurt commented on #1564
Same as Internal [NCCBUG-127](https://jira.unity3d.com/browse/NCCBUG-127)

[2022-03-29 21:53] ashwinimurt commented on #1560
Tracked in our backlog [MTT-3044](https://jira.unity3d.com/browse/MTT-3044)

[2022-03-29 21:56] ashwinimurt commented on #1559
Tracked in our backlog [MTT-3046](https://jira.unity3d.com/browse/MTT-3046)

[2022-03-29 21:58] ashwinimurt commented on #1564
Fixed by [PR-1596](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1596)
Closing.

[2022-03-29 21:58] #1564 closed, assigned to NoelStephensUnity

[2022-03-29 22:14] ashwinimurt commented on #1554
Tracked in our backlog [MTT-3047](https://jira.unity3d.com/browse/MTT-3047)

[2022-03-29 22:15] ashwinimurt commented on #1548
Fixed in 1.0.0-pre.6.
Please reopen if you are still seeing the issue. Thanks.

[2022-03-29 22:15] #1548 closed, assigned to ShadauxCat

[2022-03-29 22:19] ashwinimurt commented on #1546
This would be super useful - Added to backlog [MTT-3048](https://jira.unity3d.com/browse/MTT-3048)

[2022-03-29 22:22] ashwinimurt commented on #1545
This is most likely fixed. Assigning to myself to confirm and update the bug.

[2022-03-29 22:25] ashwinimurt commented on #1545
Fixed by [MTT-2330](https://jira.unity3d.com/browse/MTT-2330)
In `Adapter-1.0.0-pre.5`
Or in the next release of NGO where Adapter is no longer a package by itself - upcoming 1.0.0-pre.7

[2022-03-29 22:25] #1545 closed, assigned to ashwinimurt

[2022-03-29 22:32] ashwinimurt commented on #1529
Tracked in our backlog [MTT-3049](https://jira.unity3d.com/browse/MTT-3049)

[2022-03-29 22:34] ashwinimurt commented on #1524
Added to our backlog [MTT-3050](https://jira.unity3d.com/browse/MTT-3050)

[2022-03-29 22:37] ashwinimurt commented on #1499
Add to our backlog - [MTT-3052](https://jira.unity3d.com/browse/MTT-3052)

[2022-03-29 23:39] ashwinimurt commented on #591
@becksebenius-unity do you know if this has been fixed?

[2022-03-29 23:43] ashwinimurt commented on #647
@TwoTenPvP Can this issue be closed if its fixed for other transports

[2022-03-29 23:55] TwoTenPvP commented on #647
Yes!

[2022-03-29 23:55] #647 closed

[2022-03-30 06:14] vikpek commented on #1445
@ashwinimurt confirming that the fix works (you asked me to confirm in #1701) 🥳

[2022-03-30 12:49] WhippetsAintDogs commented on #1759
Closing as it as landed in the issue tracker:
https://issuetracker.unity3d.com/issues/networktransform-dot-teleport-interpolates-on-client-when-another-transform-change-occurs-on-the-same-frame

[2022-03-30 12:49] #1759 closed, assigned to ashwinimurt

[2022-03-30 14:36] ashwinimurt commented on #716
This only occurs in one particular Editor version.
Closing after confirming with Luke.

[2022-03-30 14:36] #716 closed

[2022-03-30 14:44] ashwinimurt commented on #722
Tracked in our backlog [MTT-3061](https://jira.unity3d.com/browse/MTT-3061)

[2022-03-30 14:54] ashwinimurt commented on #772
This might already be fixed on latest develop. Adding [MTT-3062](https://jira.unity3d.com/browse/MTT-3062) to our backlog for tracking.

[2022-03-30 14:58] ashwinimurt commented on #792
This is feature request, not a bug.

[2022-03-30 15:03] ashwinimurt commented on #1582
Added to our backlog [MTT-3063](https://jira.unity3d.com/browse/MTT-3063)

[2022-03-30 15:05] ashwinimurt commented on #1498
Added to our backlog [MTT-3064](https://jira.unity3d.com/browse/MTT-3064)

[2022-03-30 15:07] ashwinimurt commented on #1490
Added to backlog [MTT-3065](https://jira.unity3d.com/browse/MTT-3065)

[2022-03-30 15:14] ashwinimurt commented on #1427
Added to backlog [MTT-3066](https://jira.unity3d.com/browse/MTT-3066)

[2022-03-30 15:22] ashwinimurt commented on #1396
This is fixed in 1.0.0-pre.6. Please reopen if you encounter it again.

[2022-03-30 15:22] #1396 closed, assigned to LukeStampfli

[2022-03-30 15:35] #1825 closed, assigned to ashwinimurt

[2022-03-30 17:17] Andrila-Yang opened #1853 "HttpException: HTTP/1.1 429 Too Many Requests"
I try to set up a relay for my project according to this tutorial:
[https://youtu.be/82Lbho7S0OA](url)
this is the relay manager code:

[code]

but when I try to join relay in the game scene, I receive `HttpException: HTTP/1.1 429 Too Many Requests`

this is the code I used to join relay:
[code]

Why did it throw this error? How to solve it?

[2022-03-30 20:23] ShadauxCat commented on #665
This entire system was rewritten as part of the serialization updates. #1082 and #1187. The current way of handling custom type serialization is:

- If it's a plain-old-data unmanaged struct, it's automatically supported
- If not, it's supported via extension methods for FastBufferReader and FastBufferWriter - see docs here: https://docs-multiplayer.unity3d.com/docs/advanced-topics/custom-serializ

[2022-03-30 20:23] #665 closed

[2022-03-30 22:03] JesseOlmer commented on #1370
@rafante That is not the same issue (this one is related to NetworkAnimator). Please file a new support request issue with appropriate detail about your situation.

[2022-04-03 21:09] Shivang44 commented on #1824
I've found a workaround but it's kind of hacky and seems to work about 70-80% of the time (other times I get same black screen or flicker). Basically when the application pauses and unpausing (putting game in background/opening it up again), we can disconnect and reconnect the client:

[code]

Another problem with this workaround is that `NetworkManager.Shutdown()` runs into the `NotServerExceptio

[2022-04-04 14:48] ddonk opened #1860 "Using Generics with ServerRpc will generate error at line (0,0)"
### Descripition
I was trying to make a handler that can sync variables over network, my only problem is that when I use a method with the ServerRpc attribute it gives my a compile error.

### Reproduce Steps
1. Create a script with this as the code:

[code]

2. Save Script so Unity will recompile
3.  See Error

### Actual Outcome
This is the error i get:
`(0,0): error  - System.NullReferenceExcep

[2022-04-05 18:21] ashwinimurt opened #1862 "This is a Test Issue"
### Description

A clear and concise description of what the bug is.

### Reproduce Steps

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Actual Outcome

A clear and concise description of what happened and broke.

### Expected Outcome

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your

[2022-04-06 07:58] kaygundraka opened #1863 "NetworkClientTransform cannot teleport without interpolation."
### Description

I am using Netcode 1.0.0-pre.6 Version.

In my project, Player prefab is using NetworkClientTransform for moving.

When player tried to teleport using Teleport() Method, player position was interpolated.
For this reason, unity3d OnTriggerEnter/Stay/Exit events in all travel paths are triggered.

How to find a way can teleport owned network object of individual clients without inte

[2022-04-06 13:07] WhippetsAintDogs commented on #1863
Hi @kaygundraka, I think it's a duplicate of a bug I've filed:

https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1759
https://issuetracker.unity3d.com/issues/networktransform-dot-teleport-interpolates-on-client-when-another-transform-change-occurs-on-the-same-frame

[2022-04-06 13:14] kaygundraka commented on #1863
Thank you, I voted that issue too.

[2022-04-06 13:17] WhippetsAintDogs commented on #1863
@kaygundraka, if you need a workaround, you can in the meantime do something like this:

[code]

[2022-04-07 00:58] kaygundraka commented on #1863
Thank you guy!.

I've seen solutions in netcode-discord channel.
The code has been temporarily applied.

In my case, it doesn't solve perfectly.
When teleporting to a faraway place in the open world game, admission is processed to the dungeon located in the middle.

[2022-04-07 02:13] ashwinimurt commented on #1397
Added to backlog [MTT_3232](https://jira.unity3d.com/browse/MTT-3232)

[2022-04-07 02:14] ashwinimurt commented on #1392
Added to backlog [MTT-3231](https://jira.unity3d.com/browse/MTT-3231)

[2022-04-07 02:15] ashwinimurt commented on #1406
Added to backlog [MTT-3230](https://jira.unity3d.com/browse/MTT-3230)

[2022-04-07 02:15] ashwinimurt commented on #1450
Added to backlog [MTT-3239](https://jira.unity3d.com/browse/MTT-3229)

[2022-04-07 02:16] ashwinimurt commented on #1863
Added to backlog [MTT-3228](https://jira.unity3d.com/browse/MTT-3228)

[2022-04-07 02:22] ashwinimurt commented on #1820
@Daniel-Datatekniker  Were you able to get it to work?
This is not reproducible on our side. Please reopen the issue if you happen to see it again.

[2022-04-07 02:22] #1820 closed, assigned to ashwinimurt

[2022-04-07 14:52] lcompton commented on #1570
@Daniel4144 Would you share the transport parameters you used when you were able to successfully spawn several thousand objects?

[2022-04-07 17:39] NoelStephensUnity commented on #1098
Hi @ataitson!
I am going to be closing this issue out as I cannot reproduce this issue using the [most recent version of Netcode for GameObjects](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/releases/tag/1.0.0-pre.7).
If you run into the same issue please let us know.
Best Regards,
Noel

[2022-04-07 17:39] #1098 closed, assigned to NoelStephensUnity

[2022-04-07 17:56] NoelStephensUnity commented on #988
I am not quite sure why you would want to hookup listeners to NetworkManager.Singlton.CustomMessagingManager prior to establishing a connection because the server-host must be started in order to send or receive custom messages and clients need to be connected (and approved if applicable) before sending or receiving custom messages.

The current advised solution for registering NetworkManager.Sing

[2022-04-08 08:07] Daniel4144 commented on #1570
Hi @lcompton,
I can´t remember exactly, sorry. I just added one or two zeros to the buffer sizes until it worked (I think I did not change max packet queue size). If there are a lot of networked components such as Networktransforms on your objects, try to spawn empty NetworkObjects without any components first. Also, if spawning takes too long (heavy workload in Awake/Start, loading models etc.) a

[2022-04-08 12:43] NaolShow commented on #888
Fixed in pre 7

[2022-04-08 12:43] #888 closed, assigned to nobody

[2022-04-08 19:46] lcompton commented on #1570
@Daniel4144 No problem. Thanks for the response. That's funny. I did the same thing (added two "0"s to the various parameters). Seems to work, although I'd rather change them a bit more confidently. Anyway, I figured it couldn't hurt to ask.

[2022-04-08 22:12] DovydasAL commented on #1863
Using this temporary solution, I'm noticing jitter on the client. If the client teleports, waits a little bit, then moves, it's fine. However, if they teleport then move shortly after, it makes them jitter before moving. Any ideas to fix this?

[2022-04-11 15:14] NoelStephensUnity opened #1867 "NetworkTransform.Teleport client-side interpolation issue"
### Description

When using a server authoritative NetworkTransform model while also using NetworkRigidbody and Rigidbody, if you attempt to teleport a NetworkObject from one location to the next the client-side will interpolate from a position close to the source teleport location and will interpolate to the destination location.

### Reproduce Steps

1. Create a project where you have dynamicall

[2022-04-11 21:23] jeffreyrainy opened #1868 "Owner NetworkVariables jitter over past values"
### Description

NetworkVariables with Owner write permissions, received on the host, repeat past values often

### Reproduce Steps

1. clone https://github.cds.internal.unity3d.com/jeffrey-rainy/net-movement at 76ca18a4e5c01d48fb4f06b3479abaaa1a280785
2. compile with `AnimateRemotely = true` on the MovementInput component of the JammoRobot
3. make sure to run with log redirection `-logfile host o

[2022-04-11 21:26] jeffreyrainy commented on #1868
You can confirm this to **not be** a PlayerController issue by instead using
[code]
and observe a smooth movement.

[2022-04-11 22:20] jeffreyrainy commented on #1868
Switching to unet from UTP changes the behaviour slightly, but it is still incorrect

![chart_unet](https://user-images.githubusercontent.com/24359051/162842866-f6519b5d-283e-4fa5-a820-268e09a5ffb0.png)
:

[2022-04-12 20:41] simon-lemay-unity commented on #1872
Tracked internally in JIRA through MTT-3271.

[2022-04-13 01:21] simon-lemay-unity commented on #1872
Closing this bug as I can't reproduce the issue on my end. I installed UTP (the "Unity Transport") package in an empty project and then removed it. After an editor restart the package is correctly purged from the project.

I note that in the screenshots the "Unity Transport for Netcode for GameObjects" package is also installed. Note that "Unity Transport" is a dependency of that package. If only

[2022-04-13 01:21] #1872 closed, assigned to nobody

[2022-04-13 17:29] NoelStephensUnity opened #1874 "During client synchronization, using ValidateSceneBeforeLoading to ignore already loaded scenes fails"
### Description

When a user implements ValidateSceneBeforeLoading to bypass loading certain scenes (security or platform specific purposes) and ValidateSceneBeforeLoading is invoked during a client's synchronization stage then the entire remaining portion of the synchronization process is completely halted.

### Reproduce Steps

1. Create a project where clients invoke ValidateSceneBeforeLoading

[2022-04-14 14:36] martindevans opened #1876 "`FixedString128Bytes.Equals(String)` does not handle null string"
### Description

The `FixedString128Bytes` type throws a `NullReferenceException` if you pass `null` into the `Equals` method. I expected it to always return `false` (since a `FixedString128Bytes` can never be null).

It's arguable if this should return `false` or throw an exception. However, even if you think this _should_ throw an exception it should be an `ArgumentNullException` - never a null

[2022-04-15 09:35] Cyantoo opened #1878 "Add a system to tag methods so they can only be executed either client-side or server-side"
In my code (and I would guess that is the case for many other users), I have, for a bunch of my mehtods executed only server-side, the following snippet of code:
[code]
I have the same, with IsClient, for my methods only executed client-side.
This system is heavy and error prone: I have to add this snippet manually every time and might forget to do it sometimes.

I believe Mirror has [Server] and

[2022-04-15 13:11] WhippetsAintDogs commented on #1878
Me too ! 😍

They seems to use Unity's internal ILPostProcessor to do code weaving.

https://github.dev/vis2k/Mirror/blob/1631402bd7cad3f349f12a4e0d4eb82821c382a9/Assets/Mirror/Editor/Weaver/EntryPointILPostProcessor/ILPostProcessorHook.cs#L139

https://forum.unity.com/threads/how-does-unity-do-codegen-and-why-cant-i-do-it-myself.853867/

[2022-04-16 10:16] BenDevelopment commented on #1305
Still present in 1.0.0-pre.7

[2022-04-16 18:27] maxsroka opened #1879 "OnNetworkSpawn() is not called with specific enter play mode options enabled/disabled."
### Description

`OnNetworkSpawn()` is not called on NetworkBehaviours under these circumstances:

1. If _Reload Scene_ and _Reload Domain_ are disabled - `OnNetworkSpawn` will not be called just for the first time after scripts reload.
2. If _Reload Scene_ is disabled and _Reload Domain_ is enabled - `OnNetworkSpawn` will not be called at all.

_Reload Scene_ and _Reload Domain_ are under the ent

[2022-04-17 10:06] NaolShow opened #1880 "Inconsistencies in the on client connected and disconnected callbacks"
# Transport inconsistencies

So while moving from UNetTransport to UnityTransport I found that there is an inconsistencies between those two with the OnClientDisconnected callback (from NetworkManager). This only happens when being a client-only, so not the host and not the server.

Here's the difference between the two:
- When using UNetTransport: The event is triggered when the local client is g

[2022-04-18 17:40] JesseOlmer commented on #989
Fixed in e30e9ff2b6d14c7e96392eee2e84a08a5ebe817e ([1.0.0-pre.3](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/releases/tag/1.0.0-pre.3))

[2022-04-18 17:40] #989 closed, assigned to johann-r-unity

[2022-04-18 17:42] JesseOlmer commented on #848
`NetworkNavMeshAgent` was removed in version [1.0.0-pre.1/2](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/releases/tag/1.0.0-pre.2)

[2022-04-18 17:42] #848 closed

[2022-04-18 17:54] JesseOlmer commented on #911
Does not repro in 1.0.0-pre.6 & 2020.3.33f1

[2022-04-18 17:54] #911 closed, assigned to nobody

[2022-04-18 17:59] JesseOlmer commented on #1876
This type is part of the Collections package, not Netcode for GameObjects. I'll pass the information on to the appropriate team, but if you want to have visibility & tracking on this issue and any potential fix you'll need to file the issue through Unity Bug Reporter.

[2022-04-18 17:59] #1876 closed, assigned to nobody

[2022-04-18 19:24] Marc477 opened #1881 "How to have a secured connection with Netcode for Gameobjects and Unity Transport?"
I'm trying to figure out how to create a secured connection.
I don't find any doc about it.

I saw somewhere you can do it with the Unity Transport. But it only says how to do it if you're coding directly the transport, not with Netcode.

[code]

 But then what do you do with this?
 Is there any way to plug the driver or the settings directly into the NetworkManager of Netcode? Or in the UnityTran

[2022-04-18 19:39] Marc477 commented on #1881
Ok so I found where the driver is created in the code UnityTransport.cs line 1123
[code]

But it doesn't allow for changing the secured settings.
I feel like there should be new settings in Connection data, for example i would be able to do this

[code]
And then based on if you called StartHost or StartClient, it will create the right settings in UnityTransport.cs

Is this something you would cons

[2022-04-18 20:23] martindevans commented on #1876
Oops sorry about that, thanks for passing it along to the right team.

[2022-04-18 20:45] JesseOlmer commented on #795
Does not repro in 1.0.0-pre.6 on 2020.3.33f1

[2022-04-18 20:45] #795 closed

[2022-04-18 21:31] JesseOlmer commented on #1213
NetworkDictionary was removed from the SDK in 1.0.0-pre.1.
NetworkList does not repro this issue, verified in 1.0.0-pre.6 on 2020.3.33f1

[2022-04-18 21:31] #1213 closed, assigned to mattwalsh-unity

[2022-04-18 21:52] Haeri commented on #1658
Totally agree with @herrmutig. Kinda defeats the purpose of a prefab if you have to manually reassemble a player on the fly. I also don't see the point why we are forced to parent directly under a NetworkObject instead of just mandating a NetworkObject in the root.

[2022-04-19 10:44] jesuscfp opened #1885 "Some issues with a frozen experience"
I'm using Netcode and ARFoundation for my project.  Sometimes of a random way, using a Android device as host or client, the FPS falls until 1 or less. I couldn't reproduce it using only Netcode or ARFoundation.

![Low framerate](https://user-images.githubusercontent.com/100858739/163985025-2d399018-bb2c-45fd-8c0f-51584e5931e7.png)

After do some diagnosis, I could see the Netcode generates garbag

[2022-04-19 16:11] becksebenius-unity commented on #591
Yes, this has been fixed

[2022-04-19 17:37] JesseOlmer commented on #1214
The design of NetworkAnimator is intentionally server-owned. You can look at various examples in the Boss Room sample project, or build your own solution similar to those in the ClientNetworkTransform sample.

I've filed a bug with our docs team to update the NetworkAnimator documentation page as it's severely out of date and implies owner-authority.

[2022-04-19 17:37] #1214 closed, assigned to nobody

[2022-04-19 18:38] JesseOlmer commented on #988
Agreed this is likely a documentation thing for now since the "system not initialized yet" approach is very common in the codebase. I'd suggest we address this in the CustomMessagingManager xmldoc and maybe even a dedicated documentation page. This one's slightly tricky in some cases, but it seems to be doable at any point in the connection flow, even before connection approval:

[code]

[2022-04-20 15:14] 0xFA11 commented on #1885
it looks like PostLateUpdate.FinishFrameRendering is taking 98.9% of the frame budget.
please have a deeper look at that — it doesn't look like a performance issue related to netcode.

[2022-04-20 19:03] johann-r-unity commented on #1880
Hi @NaolShow ,
Thank you for reaching out.
Unet transport is deprecated and will not be supported in the future.
Is it recommended to use UnityTransport instead.
Have a nice day !

[2022-04-21 08:45] jesuscfp commented on #1885
Hey! Thanks for the answer.

I leave from here a new screenshot about the FinishFrameRendering:

![high-cpu-semaphore](https://user-images.githubusercontent.com/100858739/164413750-086bc18a-1d78-489b-aea3-4385ec89e5a4.png)

For my tests, I always leave the device fixed in a same place and simply I leave pass the time until the frames fall. The only special thing is that when Netcode host/server st

[2022-04-21 12:11] jeffreyrainy commented on #966
Hi Daniel,

I believe this is fixed by this Pull Request:

https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1871

Netcode for GameObjects changed a bit since you posted this bug (and to be fair, in the time it took us to get to it). For example, we now have `NetworkVariableReadPermission` and `NetworkVariableWritePermission`, but it looks like this bug was kept through the

[2022-04-21 15:19] #854 closed

[2022-04-21 20:22] styliann-eth commented on #158
Has there been any development since #338 was closed?

It would be a very helpful thing if Unity Netcode for GameObjects could have at least the transfer of the host role to another client automatically.

Boss Room could maybe have an example of host migration? Thanks!

[2022-04-22 18:32] NoelStephensUnity commented on #1874
This is fixed in #1883.

[2022-04-22 18:32] #1874 closed, assigned to nobody

[2022-04-25 18:01] LPLafontaineB opened #1902 "LoadEventCompleted scene event not invoked when a client disconnects before finishing loading a scene"
### Description
If a scene load is initiated by the server, and a client disconnects before finishing loading the scene, the server will have to wait until NetworkConfig.LoadSceneTimeOut before invoking the event. The same happens for unload events.

### Reproduce Steps

1. Start a game with at least one connected client
2. Have the server listening for LoadEventCompleted SceneEvents
3. Pause one

[2022-04-25 20:14] daalen opened #1904 "Infinite loop auto-adding NetworkObject to NetworkManager"
Since updating to 1.0.0-pre7, Unity endlessly complains that my NetworkManager does not have a NetworkObject (e.g. four times in a row whenever I enter or leave Play mode). I don't know why, possibly because it also has NetworkBehaviours attached, although this was not an issue before. Since these warnings did not go away, I allowed it to automatically add a NetworkObject since it promised me the

[2022-04-26 08:32] broding opened #1905 "Duplicated ticks on the server caused by some rounding error"
### Description

Ticks are getting run twice at very specific tick ranges. Looks like some kind of rounding error. Very similair to https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1495 but at different ticks.

### Reproduce Steps

1. Set Tick Rate to 60 (it may also happen at tick rate 30 but the duplicated tick number may be different then)
2. Debug log the current tick

[2022-04-26 14:56] jeffreyrainy commented on #1529
This is definitely fixed at `pre.7`.

Using this script component, on the NetwormManager:

[code]
We observe, when connecting two clients to a single host, using UTP:

[code]

And, using Unet:

[code]

[2022-04-26 14:59] #1529 closed, assigned to jeffreyrainy

[2022-04-26 15:00] jeffreyrainy commented on #966
This has been released in `pre.7`

[2022-04-26 15:00] #966 closed, assigned to jeffreyrainy

[2022-04-26 22:28] #1868 closed, assigned to nobody

[2022-04-26 22:28] jeffreyrainy commented on #1868
This was fixed.

[2022-04-27 09:53] ddaa2000 opened #1910 "Separate scene control between client and server"
**Is your feature request related to a problem? Please describe.**
Say I need to create a online game with multiple scenes. For each player, he/she only exists in one scene, but can travel between scenes. While for the server, all the scenes are managed and the state of the scene is synchronized with players presently in the scene. Many online games like World of Warcraft is like this.
However, pr

[2022-04-27 16:46] xaroth8088 opened #1911 "ClientRpc and ServerRpc decorators should give an error if attached to a non-NetworkBehaviour class method"
**Is your feature request related to a problem? Please describe.**
I'm finding it easy to accidentally add `[ClientRpc]` or `[ServerRpc]` methods to `MonoBehaviour`-derived classes, where clearly they won't do anything.  This leads to a bunch of confusion while I try to figure out what's wrong with the networking only to do the forehead-slap when I notice that the class hasn't been switched to `Ne

[2022-04-28 07:52] itismarcii opened #1916 "OwnerShipID not assigned properly on Server/Client seperated Projects"
### Description

Hello,

I have a separate Server project that handles CharacterSpawns, which clients can control via ServerRpc requests.
And i have a separate Client project that, except the camera movement, only handles client to server requests.
Also in between there is a package that connects them both with the most important features.

I try to spawn several Clients on multiple ClientProjectB

[2022-04-28 11:19] ezoray commented on #1910
Have you looked into disabling scene management and handling it yourself?

[2022-04-28 15:50] jeffreyrainy commented on #1905
This was fixed either just before or after pre.8. Thanks for the report, please look for the fix in an upcoming release.

[2022-04-28 15:50] #1905 closed, assigned to jeffreyrainy

[2022-04-28 15:54] jeffreyrainy commented on #1590
Hi @elton-okawa ,

Thanks for the report, that's a good one. I'll be working on a fix. For now, all I can offer is a workaround, that is, not updating the `NetworkList` during `OnNetworkSpawn`.

Please see diff:

[code]

You can go this way until we put in the proper fix.

[2022-04-29 10:25] #574 closed

[2022-04-29 16:31] ezoray opened #1919 "Best way to represent strings in NetworkVariables in pre8+"
As mentioned in this [thread](https://forum.unity.com/threads/nullable-types-for-networklist-networkvariable.1269746/#post-8088581) FixedString*Bytes types can no longer be used directly as network variables. I see in the pre8 release notes the handling of structs has changed, it mentions RPC's but it seems to relate to network variables as well.

With that in mind, what's the best way to have net

[2022-04-29 17:20] #1590 closed, assigned to jeffreyrainy

[2022-04-29 17:30] jeffreyrainy commented on #1748
This looks like a duplicate that was fixed by either:

https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1809
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1769

Indeed duplicates https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1670

Please try pre.7 or above. Thanks !

[2022-04-29 17:30] #1748 closed, assigned to nobody

[2022-04-29 21:34] WhippetsAintDogs opened #1921 "NetworkBehaviourEditor.CheckForNetworkObject pop-up should allow to dismiss it forever on "this machine" without auto-adding a NetworkObject."
**Is your feature request related to a problem? Please describe.**
IMHO, it's a valid use case to have a NetworkObject at the root of some prefab and NetworkBehaviours nested under, but encapsulated in some sub-prefabs (without NetworkObjects). We have a lot of these in our project and we keep getting spammed by this pop-up that we have to dismiss every time.

One example of such use-case: Timelin

[2022-04-30 00:56] Ator9 commented on #1348
Ok, i just found out about this.
I'm currently using the ClientNetworkTransform and i was trying to make the Animator work without luck.

Hoping this can get updated.

[2022-05-01 15:34] Stealcase commented on #1919
For those coming here through the google/the Unity Forums thread, check out https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1901 for details on why this changed.

Also Documented here:
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/releases/tag/1.0.0-pre.8

[2022-05-02 08:24] tangx246 opened #1922 "NetworkAnimator not syncing blend trees"
### Description

There is a forum post about this as well: https://forum.unity.com/threads/networkanimator-not-syncing-blendtrees.1257468/

Blend trees in an animator controller are not being synced from the server to the client. Switching a blend tree out for regular nodes seems to be a workaround for now, and causes the NetworkAnimator to sync as usual.

### Reproduce Steps

Have an Animator wit

[2022-05-02 22:17] tangx246 opened #1924 "When NetworkManager.StartHost() is called with invalid ConnectionData in Unity Transport, the NetworkManager is irrecoverably shutdown"
### Description

If we call NetworkManager.StartHost() and it fails to connect due to invalid IP address format (e.g. "127.0.0."), then the NetworkManager shuts itself down and seems to be unable to retry a connection even if the ConnectionData is fixed

### Reproduce Steps

1. Have a NetworkManager
2. Add a Unity Transport
3. Set ConnectionData.Address to "127.0.0." (invalid IP address)
4. Call N

[2022-05-02 22:20] ashwinimurt commented on #1862
Test slack

[2022-05-02 22:28] ashwinimurt commented on #1862
Test again

[2022-05-02 22:28] #1862 closed, assigned to nobody

[2022-05-03 16:09] will-mearns commented on #1924
This may be a duplicate in Boss Room bug list

[2022-05-03 16:12] will-mearns commented on #1919
@ashwinimurt , can you see if this is in our backlog?

[2022-05-03 16:14] will-mearns commented on #1904
@NoelStephensUnity / @ashwinimurt , can we verify that this was fixed in pre.8?

[2022-05-03 17:09] NoelStephensUnity opened #1925 "INetworkSerializableILPP crashes with templated NetworkBehaviours"
### Description
When using templated NetworkBehaviours with the current develop branch (05-03-2022), INetworkSerializableILPP throws an exception at line 119.

### Reproduce Steps
1. Open the editor using the develop branch
2. Add the attached files to the default scripts folder
[NetworkAddressableBase.zip](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/files/8612309/NetworkAd

[2022-05-03 23:11] JesseOlmer opened #1928 "Connection Approval timeout does not work on client-side"
### Description

`NetworkManager.ApprovalTimeout()` is called during the connection process on clients, but will always no-op because `NetworkManager.PendingClients` is not populated on the client.

ApprovalTimeout Coroutine Invoke:
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/develop/com.unity.netcode.gameobjects/Runtime/Core/NetworkManager.cs#L1505

PendingClients con

[2022-05-03 23:39] ashwinimurt commented on #1904
Tracked in our backlog [MTT-3252](https://jira.unity3d.com/browse/MTT-3252)

[2022-05-03 23:41] ashwinimurt commented on #1925
Tracked in our backlog [MTT-3438](https://jira.unity3d.com/browse/MTT-3438)

[2022-05-03 23:50] ashwinimurt commented on #829
[MTT-3461](https://jira.unity3d.com/browse/MTT-3461)

[2022-05-03 23:51] ashwinimurt commented on #982
[MTT-3460](https://jira.unity3d.com/browse/MTT-3460)

[2022-05-03 23:53] ashwinimurt commented on #988
[MTT-3459](https://jira.unity3d.com/browse/MTT-3459)

[2022-05-03 23:53] ashwinimurt commented on #1867
[MTT-3458](https://jira.unity3d.com/browse/MTT-3458)

[2022-05-03 23:54] ashwinimurt commented on #1879
[MTT-3457](https://jira.unity3d.com/browse/MTT-3457)

[2022-05-03 23:55] ashwinimurt commented on #1885
[MTT-3456](https://jira.unity3d.com/browse/MTT-3456)

[2022-05-03 23:55] ashwinimurt commented on #1902
[MTT-3455](https://jira.unity3d.com/browse/MTT-3455)

[2022-05-03 23:56] ashwinimurt commented on #1916
[MTT-3454](https://jira.unity3d.com/browse/MTT-3454)

[2022-05-03 23:56] ashwinimurt commented on #1922
[MTT-3453](https://jira.unity3d.com/browse/MTT-3453)

[2022-05-03 23:56] ashwinimurt commented on #1924
[MTT-3452](https://jira.unity3d.com/browse/MTT-3452)

[2022-05-03 23:57] ashwinimurt commented on #1928
[MTT-3451](https://jira.unity3d.com/browse/MTT-3451)

[2022-05-04 20:53] daalen opened #1932 "Jitter causes immediate closed connection"
When setting a small jitter in a Unity Transport component (say 3 ms), a connecting client will be almost immediately disconnected with the following error:
"Couldn't add payload of size [some small number] to reliable send queue. Closing connection 1 as reliability guarantees can't be maintained. Perhaps 'Max Send Queue Size' (98304) is too small for workload."
The small number is typically of th

[2022-05-05 07:15] XYZboom opened #1934 "Error when spawn a lot (about 700) of NetworkObjects."
### Description

When tried to spawn a lot of NetworkObjects, an error occurred:

Max message size cannot be greater than 65527
UnityEngine.Networking.NetworkTransport:Send (int,int,int,byte[],int,byte&)

It will also occurred when the client reconnect to the host.

### Reproduce Steps

Spawn a lot of NetworkObjects in a shrot time on a host, the error occurred.

### Screenshots

![image](https://

[2022-05-05 21:42] JesseOlmer commented on #287
The (deprecated) UNet transport for Netcode for GameObjects will not have Websocket support added. Web platform support is on the roadmap for our Unity Transport (see https://unity.com/roadmap/unity-platform/multiplayer-networking)

[2022-05-05 21:42] #287 closed

[2022-05-06 10:20] ezoray opened #1940 "Incorrect behaviour when NetworkHide followed by NetworkShow"
### Description

On a network object when a call made to NetworkHide is shortly followed by NetworkShow on the same object the object on the client is not despawned but is no long registered as a network object.

### Reproduce Steps

Import and run the attached package.

### Actual Outcome

On NetworkHide then NetworkShow the object on the client is not despawned on the client, and no longer has a

[2022-05-06 16:47] JesseOlmer commented on #594
Previously fixed in 611678a (8/25/21)

[2022-05-06 16:47] #594 closed

[2022-05-06 18:22] jlao opened #1941 "Exception when there are multiple connectional approval callbacks"
### Description

If you register multiple connectional approval callbacks on `NetworkManager.Singleton.ConnectionApprovalCallback`, then you will get an exception because `NetworkManager.HandleApproval` will be invoked twice for the same client. An exception is thrown when trying to add the client multiple times to `m_ConnectedClients`.

[code]

### Reproduce Steps

1. Register more than one conne

[2022-05-06 19:18] jeffreyrainy commented on #1940
Thank you for the report. This is an interesting one.

Initial investigation:
Netcode.GameObjects relies on `OnDestroy()` on the GameObject to implement some of its functionality. Specifically:

[code]

This `OnDespawnObject` is triggered at end-of-frame. So, if `NetworkHide` and `NetworkShow` occur on the same frame, the object gets despawned again. We'll look for a fix but this will need some in

[2022-05-06 19:35] ezoray commented on #1940
I figured it would be something along those lines, thanks for looking into it.

[2022-05-07 00:49] tangx246 opened #1942 "Cannot load a scene from the OnUnloadEventCompleted"
### Description

When trying to load a scene from OnUnloadEventCompleted, the scene does not load.

This is reported in a forum post with a workaround: https://forum.unity.com/threads/you-cannot-load-a-scene-from-the-onunloadeventcompleted-callback.1267208/

### Reproduce Steps

[code]

### Actual Outcome

The scene does not load

### Expected Outcome

The scene should load without having to wait

[2022-05-07 08:01] gooddereklu opened #1943 "Client unable to reconnect after disconnect from the server"
Hi I've been working on a reconnect system but find no success, because once my client is offline, I'm not able to reconnect it

here's how I reproduce this error:

1. I use NetworkManager.Singleton.StartServer and NetworkManager.Singleton.StartClient to begin netcode connection
2. I then call NetworkManager.Singleton.DisconnectClient to disconect the test client.
3. Trying to reconnect client by

[2022-05-07 15:39] #1943 closed, assigned to nobody

[2022-05-07 15:42] gooddereklu commented on #1943
Sorry... I thought I was using NetworkManager.Singleton.DisconnectClient, but I accidentally switch to NetworkManager.Singleton.Shutdown, which cause both my server and client were shut down, no wonder client was unable to reconnect again, because there is no server to connect to.... My bad!

[2022-05-09 15:16] will-mearns commented on #1940
Tracking in jira as MTT-3488

[2022-05-09 15:20] will-mearns commented on #1942
Hey @NoelStephensUnity , can you verify/triage this one?

[2022-05-09 15:51] NoelStephensUnity commented on #1942
Hi @tangx246,
I am sorry you are running into an issue with the NetworkSceneManager.  Hopefully I can help you navigate around this issue.
If you check the status output of the LoadScene method like:
var status = NetworkManager.Singleton.SceneManager.LoadScene(m_ActiveEncounter, LoadSceneMode.Additive);
You will most likely get a SceneEventProgressStatus.SceneEventInProgress if you try to load a s

[2022-05-09 15:58] tangx246 commented on #1942
Needing to load the scene in the next frame is quite unintuitive, and seems to be undocumented (at least in the API reference - https://docs-multiplayer.unity3d.com/netcode/current/api/Unity.Netcode.NetworkSceneManager#onunloadeventcompleted)

We've found the workaround so this is somewhat lower priority, and I think unintuitive is fine as long as it's documented

[2022-05-09 17:19] NoelStephensUnity commented on #1942
@tangx246
You make a good point and I will look into adjusting the xml documentation to make a note of this.

[2022-05-10 00:01] CosmicStud opened #1952 "Remotely Downloaded Scenes Via Addressables Cannot Be Used As GameServer"
### Description
I do believe since my gameserver scene is downloaded from the addressables remote location. Not present in the build at all produces this issue. I am developing for Android and Quest. I cannot have a large scene included in the build due to the app stores size limitations. Currently, Netcode blocks scenes not present in the build on the Android platform. Scene Management is enabled

[2022-05-10 00:47] DovydasAL opened #1953 "NetworkShow/NetworkHide doesn't work for scene network objects"
### Description

When a scene object is a network object, showing, hiding, then reshowing that scene object throws an exception.

### Reproduce Steps

1. Create a scene with a network object.
2. On server, set CheckObjectVisibility to false (don't believe this is even necessary)
3. Boot a server into the scene
4. Boot a client into the scene
5. Show the scene object to the client (they should alre

[2022-05-10 01:22] CosmicStud commented on #1952
To fix, I had to override the NetworkSceneManager, SceneNameFromHash return value, and hardcode a name :(

[2022-05-10 05:56] LouieBloo opened #1954 "Burst Package Wont Compile After Unity Update"
### Description

I'm getting a compiler error when building any release. I was able to build fine but I upgraded my unity version and suddenly am receiving namespace errors for the burst package. I have tried re-importing, deleting /Library, and downgrading unity. If I uninstall this package I do not get the error.

Library\PackageCache\com.unity.burst@1.6.5\Unity.Burst.CodeGen\AssemblyLoader.cs(1

[2022-05-10 06:05] DovydasAL commented on #1953
As an alternative, not destroying scene objects would be nice. I thought removing the client from an observer would be a good solution, but I can't remove an observer.

[2022-05-11 13:10] infinityplusb opened #1959 "Problem creating templated instances derived from NetworkBehaviour"
### Description

Creating a templated instance derived from NetworkBehaviour doesn't appear to compile.
I'm following along with [this youtube](https://www.youtube.com/watch?v=rFCFMkzFaog), which links to [this git repo](https://github.com/dilmerv/UnityMultiplayerPlayground/tree/master/Assets/Scripts)

### Reproduce Steps
1. Create a templated class derived from NetworkBehaviour like
[code]
2. Cre

[2022-05-11 13:21] infinityplusb commented on #1959
This issue doesn't appear using `"com.unity.netcode.gameobjects": "1.0.0-pre.7"`
but is using `"com.unity.netcode.gameobjects": "1.0.0-pre.8"` and `"com.unity.netcode.gameobjects": "1.0.0-pre.9"`

[2022-05-11 19:27] jeffreyrainy commented on #1427
So, as it turns out, this release ships without SnapshotSystem.
As such, this bug doesn't apply, the code has simply been removed.

Still, thank you for the report. Please expect a different/better Snapshot System in a future release.

[2022-05-11 19:27] #1427 closed, assigned to mattwalsh-unity

[2022-05-11 23:39] hashamali opened #1962 "Unable to build on MacOS targeting WebGL."
### Description

I added this Netcode package to an empty project targeting WebGL on MacOS platform. I realize that the default transport, UTP, does not work on WebGL. I am planning on using a WebSocket based community transport. However, this should not prevent compilation. Upon loading the package, I see several of the following error:

[code]

### Reproduce Steps

1. Ensure you're on MacOS.
2.

[2022-05-12 10:42] lpmaurice commented on #416
@jeffreyrainy can we close this issue?

[2022-05-12 13:29] jeffreyrainy commented on #416
yes, thanks for the reminder.

[2022-05-12 13:29] #416 closed

[2022-05-12 14:39] #751 closed

[2022-05-12 16:55] JayPeet opened #1963 "Compile / Code Gen Error: Unity.Netcode.Editor.CodeGen.INetworkSerializableILPP: (0,0)"
### Description
On Unity 2022.2.0a12, Latest version of NGO (hash: 6d54e2878bc80b92f32a618473162763b56b38ce), the package fails to compile.

I feel this is related to https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1920 , I tried with different versions of the Mono.Cecil package with no luck (1.10.1 through 1.11.4).

### Reproduce Steps

1. Install Unity 2022.2.0a12.
2. In

[2022-05-13 11:18] lpmaurice commented on #1311
Fixed: https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/commit/18cd3f20ab97bfa6ecdff864bc9977bcd5d62570

[2022-05-13 11:18] #1311 closed, assigned to nobody

[2022-05-13 14:29] LukeStampfli opened #1965 "OnNetworkDespawn NetworkTickSystem null"
### Description

When shutting down the NetworkManager, in OnNetworkDespawn NetworkManager.NetworkTickSystem is null which prevents from being able to unsubcribe from the network tick.

### Reproduce Steps

1. Add the following script to your player object:
[code]

2. Enter playmode and start host using the button on the NetworkManager inspector.
3. Press the stop host button on the NetworkManager

[2022-05-13 19:16] ezoray commented on #1940
I'll close this now as it's fixed in pre9.

[2022-05-13 19:16] #1940 closed, assigned to jeffreyrainy

[2022-05-13 19:18] jeffreyrainy commented on #1595
Should be fixed in next release. Thanks for the report.

[2022-05-13 19:18] #1595 closed, assigned to jeffreyrainy

[2022-05-14 12:33] qkdreyer commented on #1919
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1961

[2022-05-14 19:57] simtrip opened #1967 "CustomMessageManger.SendNamedMessage xml doc is misleading"
While reading the XML doc for the overload of `SendNamedMessage` which takes a client list, the summary for the `clientIds` parameter reads:

`<param name="clientIds">The clients to send to, sends to everyone if null</param>`

The last clause of this is incorrect. The method will actually throw an exception if this parameter is null.

The correct way to send to all clients would seemingly instead

[2022-05-15 22:42] akoolenbourke commented on #772
Does anyone know if it's fixed as I seem to be getting the same problem in Unity 2021.3.1f1. When a client shuts down when connnected to a host it gets the hosts client id (0 in this case) passed in.

[2022-05-16 09:20] #1904 closed, assigned to NoelStephensUnity

[2022-05-16 14:16] lpmaurice commented on #1954
Hi @LouieBloo
Could you confirm whether you tried with the latest release, pre.9?

[2022-05-16 14:19] lpmaurice commented on #1952
Hi @thecosmicstudios ,
Did you have NGO installed as a package when you built those scenes as Addressables?

[2022-05-17 09:36] ashkan-saeedi-mazdeh commented on #1963
I get a similar one with preview 9 and 2021.3.2f1

[code]

I don't get this in an empty project so something in my project is triggering it.

[2022-05-17 10:11] ashkan-saeedi-mazdeh commented on #1963
Also based on this post https://forum.unity.com/threads/null-reference-exception-after-add-script.1280162/ It seems to be at least one case it happens is generic constraints.

[2022-05-17 10:23] CosmicStud commented on #1952
@lpmaurice, Hey, yes, installed via package manager. I am using the latest develop up until the date May 9th, 1.0.0.pre.8 . As well as netcode worked before I made the upgrade from 1.0.0.pre.6. Possibly some changes were done that now causes this issue with addressable scenes

[2022-05-17 12:22] PyrateAkananto commented on #1305
Still present in 1.0.0-pre.9

[2022-05-17 14:40] jeffreyrainy commented on #1941
Third time's a charm. https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1972 will address your issue. :-)

[2022-05-17 14:40] #1941 closed, assigned to jeffreyrainy

[2022-05-17 15:12] NoelStephensUnity commented on #1942
@tangx246
PR-1974 was merged and the xml documentation API should be updated hopefully sometime after v1.0.0-pre.10.  If not, it should be updated by v1.0.0 release.

Thank you for your patience and feedback to help us improve Netcode for GameObjects!

Cheers,
Noel

[2022-05-17 15:12] #1942 closed, assigned to NoelStephensUnity

[2022-05-18 20:10] tangx246 commented on #1863
Unsure if this should be a separate issue, but it would seem that teleporting long distances just doesn't work at all, workaround or not

[2022-05-19 14:30] daalen opened #1977 "NetworkTransform behaviour when InLocalSpace changes"
**Is your feature request related to a problem? Please describe.**
If NetworkTransform's InLocalSpace changes during runtime, and interpolation is on, the object is teleported to its previous local coordinates in world coordinates or vice versa, before smoothly moving back to its correct position.

**Describe the solution you'd like**
NetworkTransform should notice when InLocalSpace changed, and T

[2022-05-19 16:41] mrwillt1986 opened #1978 "NetworkAnimator not syncing float values"
### Description

Since pre.6 the function CheckAnimStateChanged has been rewritten and has stopped syncing animations over network. It seems that it detects changes in bool's and then gets stuck in whatever state its in at the time. It doesn't appear to be considering floats as a change in state. So when passing velocity to a animation parameter as a float, the changes in that float don't get repl

[2022-05-20 09:12] mrwillt1986 commented on #1978
Just noticed my unity version is incorrect. Though I doubt this is going to make a blind bit of differencehere.

also to note, I've tried the latest pre.9 build. Nothing has been changed in this function since pre.6 so 100% needs to be addressed.

[2022-05-21 22:19] WhippetsAintDogs commented on #1952
@thecosmicstudios Did you use reflection to set your overridden NetworkSceneManager into the SceneManager property (private set) of the NetworkManager component ?

[2022-05-21 22:25] CosmicStud commented on #1952
Not at all, I have a fresh copy of Netcode using github, the develop branch, edited the script to just hardcode the scene name at line 520

[2022-05-23 02:49] TheCaveOfWonders opened #1981 "NetworkList<MyStruct> doesn't sync with clients."
### Description

When using a NetworkList with a custom type (a struct that supports NetworkVariable), the list does not sync with clients.

### Reproduce Steps

1. Create a struct to be used with the NetworkList, let's call it MyStruct. Make sure it can be used as a NetworkVariable, so it needs to implement INetworkSerializeByMemcpy, IEquatable<T>.
2. Have a NetworkBehavior on a prefab that also

[2022-05-23 12:34] aryansaurav opened #1982 "Changing ConnectAddress in the runtime for specifying server IP Address"
Hello,

So I am trying to use UNetTransport and NetworkManager to connect a server and a client running on LAN.

I have a UI with buttons, StartServer, StartClient and a text input field to get the IP address of the server.
In the function for StartClient button click, I am first setting the connectaddress of NetworkManager Singleton before calling the StartClient function of the singleton. Here i

[2022-05-23 20:10] I-got-gats-PHD commented on #1978
I've been having this same issue since pre6 as well. For me, all of the Client's NetworkAnimators sync fine but the Host's NetworkAnimator has this issue.

OS: Windows 10
Unity Version: 2020.3.18f1
Netcode Version: 1.0.0-pre.9
Netcode Commit: https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/commit/cdca1eb844973e9f314f6a263bb4c0497d9e396f

[2022-05-23 22:47] #1902 closed, assigned to nobody

[2022-05-24 03:48] WhippetsAintDogs opened #1983 "NetworkList "EventType.Full" synchronization always sends an empty list on client-side when spawning since commit #24388c4c636544871bfe40d1fccf616751665ade causing next "EventType.Value" to throw an Exception trying to set a value at a given index in an empty internal list."
### Description

The fix to prevent duplicate application (#1917) by @jeffreyrainy introduces a bug where when a client gets the spawn call of an object, the server marks dirty the NetworkList's `base.IsDirty()` causing the NetworkList's next `WriteDelta` to enter the `if` sending the `EventType.Full` which is using the modified `WriteField` that sends value from `m_ListAtLastReset` instead of `m_

[2022-05-24 20:53] jeffreyrainy commented on #1983
Hi Marc-Antoine Fortier,

I just tried reproducing this, both at head revision and at the commit specified above. I was unable to.

I've put below the script I used. I put this script both on the PlayerObject and on a scene-placed object (with NetworkObject components). My logs show the host writing to the `NetworkList` and the clients (tried 2 and 3) receiving the updated lists.

[code]

Would yo

[2022-05-25 05:24] kroecks commented on #1247
Just wanted to add a supplemental comment regarding issues pertaining to 0 value GlobalObjectIdHash on build;

I recently cloned the repository and copied in the cs classes into my Assets/Plugins directory. When I did this, it seemed to break every NetworkObject script binding ("Missing Script").

I spent some time solving that, but I had issues with newly fixed objects not retaining their GlobalO

[2022-05-25 17:49] jeffreyrainy commented on #1348
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1946

Should fix this. Can you confirm ?

[2022-05-25 23:46] TheCaveOfWonders commented on #1981
quite possibly related to
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1983

[2022-05-26 02:17] TheCaveOfWonders commented on #1983
I think i have the same issue
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1981

I also noticed the exact same net code steps that OP mentions while debugging the net code.
Workaround is posted in the issue i linked above.

[2022-05-26 12:25] mraue opened #1987 "When a client connects to a server all clients receive all NetworkVariables"
Thanks @mraue for the update. I get your issue now. Please let me update it and re-open as it seems pretty important.

### Description

Every time a client connects to a server all `NetworkVariable`s on all `NetworkObject`s get synced to **all** clients.

### Reproduce Steps

1. Create a NetworkObject with a NetworkVariable. Add a log that tracks `OnValueChanged`
2. Start a server and connect a cl

[2022-05-26 14:23] LukeStampfli commented on #1987
More details can also be found in the Discord conversation [here](https://discord.com/channels/449263083769036810/563033158480691211/979354994337792020)

[2022-05-27 05:09] thetestgame commented on #158
I would be interested in knowing if there has been any development as well. Host migration could end up being a critical piece of a project currently in the proof of concept phase.

[2022-05-27 07:56] mraue commented on #1987
I tested commenting out the line `networkObject.MarkVariablesDirty();` in`SendSpawnCallForObject`.
While the initial spawning works fine, the spawning triggered by visibility changes is then broken. The objects do not receive the NetworkVariable states.

[2022-05-27 12:34] 11BelowStudio commented on #1963
Similar issue with preview 9 and 2020.3.15f2 over here as well ~~university requiring the use of 2020.3.15f2, still trying to encourage them to update the version they have installed~~

`(0,0): error  - System.NullReferenceException: Object reference not set to an instance of an object||  at Unity.Netcode.Editor.CodeGen.INetworkSerializableILPP.Process (Unity.CompilationPipeline.Common.ILPostProce

[2022-05-28 07:16] Tivise opened #1989 "Spawning NetworkObjects blocked by Server errors (NetworkObject limit ?)"
### Description

When I am trying to spawn too many networkObjects, the Server starts to return some errors and it is blocking every new networkObjects that are trying to spawn.

### Reproduce Steps

1. Spawn a first client : everything seems to be okay !
2. Spawn like 50 AI (monsters) : monsters spawned !
3. Spawn a second client: Server detected, but the player can't spawn.
4. Try to spawn new n

[2022-05-29 20:11] ChrisJD-VMC commented on #1002
Ran into this as well. If a method is called OnGainedOwnership it should be called no matter how ownership is gained. i.e. when SpawnWithOwnership is preformed.

No opinion on needing it to be called on the server as well, although that does seem logical at first glance

[2022-05-31 18:53] lcompton opened #1990 "Setting position of object with NetworkTransform and NetworkRigidbody"
### Description

I have a player prefab that is spawned by the NetworkManager. The player prefab contains a Rigidbody, a NetworkRigidbody, and a NetworkTransform. I am trying to set the initial position from within "OnNetworkSpawn()" of a custom component that is based on NetworkBehaviour, which is also attached to the player prefab.

What I discovered is that I can only set the position via "Rigi

[2022-06-01 12:56] JayPeet opened #1992 "New Approval Func<ConnectionApprovalRequest, ConnectionApprovalResponse> restricts approval to main thread"
**Feedback**
The new changes to the NetworkManager.ConnectionApprovalCallback seems to restrict the usage of Approval to anything main thread related (since its waiting in the function to return the ConnectionApprovalResponse). The documentation gives an example of doing a Steam API ticket check on client connection, which would be a web request that could take seconds to complete.
In my current c

[2022-06-01 13:32] tynitoon commented on #52
Hello, the tickrate only impact network variables.
To test it :
- Share a position through Network Variable
- Set the tickrate to 1
- And you will see your character on client side teleporting every 1s

The tickrate doesn't affect the RPCs. Anyway, I already did lot of benchmark for latency on Netcode library.
I just did a client -> server -> client via an empty RPC function. the latency is betwee

[2022-06-01 13:35] Valentineed commented on #1396
I can not serialize a FixedString32Bytes or FixedString64Bytes and if I use string is not possible to use a NetworkList because is not nullable
"The type 'Unity.Collections.FixedString32Bytes' cannot be used as type parameter 'T' in the generic type or method 'BufferSerializer<T>.SerializeValue<T>(ref T, FastBufferWriter.ForPrimitives)'. There is no boxing conversion from 'Unity.Collections.FixedS

[2022-06-01 13:45] Valentineed opened #1993 "NetworkList<T> initialization and Docs version: 1.0.0-pre.9"
### Description

The problem is similar to https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1396

I can not serialize a FixedString32Bytes or FixedString64Bytes and if I use string is not possible to use a NetworkList because is not nullable

public struct LobbyPlayerState : INetworkSerializable, IEquatable<LobbyPlayerState>
{
	public ulong ClientId;
	public FixedString32

[2022-06-01 15:13] mraue commented on #1987
David from Unity pinged me about this issue and I looked deeper in our issues when using the fix detailed above. Turns out the issue was on or side (see below).

Currently it seems that just commenting out the line is a good fix. I will test it further tomorrow.

Martin | Twin Drums — Today at 4:44 PM
The issue is a bit tricky: if a NetworkVariable is set before spawning the object and that value

[2022-06-01 15:25] FSKiller commented on #1348
Still not fixed. Players stay in idle animation and slide across the map.

As a temp fix i've been using RPC's to set the animator values, and this seems to work just fine at the cost of more network traffic.

[2022-06-01 16:56] Vulcanostrol commented on #1245
I am not quite sure why the access is restricted in sub-classes. So take my solution with a grain of salt.

An easy way to get access to the `NetworkBehaviour` would be to override the `Initialize(NetworkBehaviour)` method and store it for yourself. Don't forget to call `base.Initialize`.

[2022-06-01 18:45] #1993 closed, assigned to nobody

[2022-06-02 14:36] lcompton commented on #1990
I've experimented with this a bit more. It looks like "NetworkTransform.Teleport()" will not work until the "Rigidbody" has been updated on the player game object. I've put together a workaround in my game that involves introducing a delay before teleporting the player to their starting location. After the delay (several seconds, currently set to 2), I set the "Rigidbody" and run "NetworkTransform

[2022-06-03 10:22] itismarcii opened #1995 "ConnectionApprovel issue - ConnectionData often didnt reach the server on the default ConnectionApprovalBuffer values"
**Feedback**
The client sever connection approval seems unstable. Since connecting without it is nearly always possible. But trying to connect with the connection approval enabled seems to be a problem. Around every third connection was an actual success (Server getting the ConnectionData (ignoring if its approved or not)). And for that we needed it to tune the ConnectionApprovalBuffer up from the

[2022-06-03 11:38] jesuscfp opened #1996 "Exceptions and warnings when a sixth player joins in the server session"
### Description

We have a netcode server in Linux and the clients can connect with it across a public ip. The game has 4 enemies and the player can shot to try to hit any enemie in the scenary. If a player hits an enemy, then the enemy is resetted to simulate a fake respawn and there can have enemies continually. If we connect more than 5 players the server starts to show a lot of exceptions and

[2022-06-03 11:46] jesuscfp commented on #1989
Related https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1996

[2022-06-03 12:08] jesuscfp commented on #1885
I can't access to jira with my Unity credentials to can see the progress. What could be happening?

[2022-06-04 15:45] Natank25 opened #1997 "A lot of erros show up when unity start"
### Description
When Unity Editor starts and/or when the asset is installed, a lof of arrors show up mostly about "The format of the URI could not be determinated" and "Assertion failed on expression :'exception == SCIRPTING_NULL'"

### Environment

- OS: Windows 10
- Unity Version: 2021.3
- Netcode Version: 1.0.0-pre6

### Additional Context

Also, when using the testproject with version 2021.3 o

[2022-06-05 12:00] pwaradowx commented on #1993
Since Netcode for GameObjects version 1.0.0-pre.8 you should use ForceNetworkSerializeByMemcpy(FixedString32Bytes) instead of just FixedString32Bytes. This behaviour also exist in version 1.0.0-pre.9. In future versions it can be brought back to just using FixedString.
FixedString32Bytes should be transferred as a generic parameter to ForceNetworkSerializeByMemcpy.

[2022-06-05 13:36] LoneDev6 opened #1998 "`PhysicsPlayer` local player of `PhysicsSample` cannot be controlled by client"
### Description

The `PhysicsPlayer` cannot be controlled (using WASD or arrow keys) by the client, it doesn't move at all.

### Reproduce Steps

1. Open the `PhysicsSample` scene
2. Host a game
3. Open a new instance and join the game
4. Try to move the player on the client instance, the player won't move.

### Actual Outcome

The client player can't be controlled at all.

### Expected Outcome

I

[2022-06-06 11:37] mickjmason commented on #1963
Also having an issue with pre-9.  This repo by Dilmer works on pre-3 but fails on pre-9.
https://github.com/dilmerv/UnityMultiplayerPlayground
With this error:
`(0,0): error  - System.NullReferenceException: Object reference not set to an instance of an object.||   at Unity.Netcode.Editor.CodeGen.INetworkSerializableILPP.Process(ICompiledAssembly compiledAssembly) in D:\repos\bombbomb\Library\Pack

[2022-06-06 19:05] ashwinimurt commented on #1998
This is probably a bug in the Sample, and the Sample may be broken.

[2022-06-06 19:08] ashwinimurt commented on #1997
This is probably unrelated to Netcode. Could you please provide full reproduction steps?
Did you create an empty project and install Netcode for GameObjects?

[2022-06-06 19:14] ashwinimurt commented on #1996
Hello, thanks for reporting this issue. We have seen a couple of these reported warnings during internal testing, but don't have a consistent repro. Do you mind sharing a minimal repro project with us to investigate the issue?

[2022-06-06 19:16] ashwinimurt commented on #1995
Thanks for reporting. We are working on some refactor on Connection Approval logic and will take this into consideration.

[2022-06-06 19:18] ashwinimurt commented on #1992
Thanks for reporting. We are working on some refactor on Connection Approval logic and will take this into consideration.
After the refactor, it will be possible to use any thread to perform approval.

[2022-06-06 19:25] ashwinimurt commented on #1996
Duplicate of https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1989

[2022-06-06 19:32] ashwinimurt commented on #1978
Related to MTT-1565

[2022-06-06 19:54] ashwinimurt commented on #1967
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2001

[2022-06-06 20:46] ashwinimurt commented on #1995
Will be addressed by MTT-2567

[2022-06-06 20:46] ashwinimurt commented on #1992
Will be addressed by [MTT-2567](https://jira.unity3d.com/browse/MTT-2567)

[2022-06-06 20:56] ashwinimurt commented on #1954
Hi @LouieBloo , We cannot reproduce this in-house. The latest release as of today is pre.9.
Could you try updating to the pre.9 release, and may be try the LTS Unity version 2021.3 please.

[2022-06-06 22:10] #1967 closed, assigned to ashwinimurt

[2022-06-06 22:49] ashwinimurt commented on #1954
It is possible that you have removed cecil package accidentally. Please do a fresh install with the latest pre.9 and let us know. Thanks

[2022-06-06 22:49] #1954 closed, assigned to ashwinimurt

[2022-06-07 00:40] LouieBloo commented on #1954
![image](https://user-images.githubusercontent.com/12995936/172271715-9a68074d-4862-4e7a-9139-57df6fa9c507.png)
I tried Unity version 2021.3.4f1 and 2021.3.2f1 and am using pre.9. Still having the same compile errors. I think when I updated my Unity version the first time I didn't have enough disc space on my drive and had some weird errors. I have since cleaned it out and am able to install any U

[2022-06-07 00:47] LouieBloo commented on #1954
![image](https://user-images.githubusercontent.com/12995936/172272414-839d2afd-0181-4f8c-99e1-6bcd43a86dff.png)
Maybe this is a clue? If I delete my /Library file and reload the project I get these errors.

[2022-06-07 01:20] ashwinimurt commented on #1954
Yes, something is messed up with the environment. Would you be able to share this project (zip, without the Library folder)? If you are unable to share, could you try creating a new project and installing the package.

[2022-06-07 01:35] LouieBloo commented on #1954
You can pull the repo https://github.com/LouieBloo/CardGame

It seems that Unity doesnt like the burst meta files so it ignores the actual dlls which leads to compilation errors. If I delete those meta files unity just reimports the package again.

For example this error:
`The .meta file Packages/com.unity.burst/Unity.Burst.CodeGen/Unity.Burst.Cecil.dll.meta does not have a valid GUID and its corr

[2022-06-07 12:29] jesuscfp commented on #1996
Sure! There is any way to share our project with you of private way?

[2022-06-07 17:55] jeffreyrainy commented on #1992
Hi JayPeet,

Thanks, this is the kind of great feedback we need. We were a bit hasty in the changes. https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2002 would address the concerns you raised, I believe.

Please let me know if you think otherwise.

Thanks!

[2022-06-07 18:36] jeffreyrainy commented on #1995
There's a PR under review for connection approval changes. https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2002

But, can you elaborate ? What does

refer to ? I'm unfamiliar with any buffer of default value of 10.

[2022-06-08 11:05] itismarcii commented on #1995
I am sorry i used the wrong term.

On the current "Netcode for Gameobjects" version ,1.0.0-pre.9, if you attach a new NetworkManager on an object. The default value for the "ClientConnectionBufferTimeout" is 10. For some reasons tuning it up helped us to improve the actual connection probability. We are using OnDisconnectClient to get a Server response if the Client couldnt connect on the Server.

[2022-06-09 05:39] kaygundraka opened #2007 "The problem is that error occurs when client disconnect with NetworkObject pooling."
Excuse me, guys.
I met a big problem using Netcode 1.0.0-pre.9
The problem is that error occurs when client disconnect with NetworkObject pooling.
The reason why this error occurs,

1. 'Observers' in NetworkObject add when NetworkObject spawn or client connect, but doesn't remove when NetworkObject despawned.
2. So if you pool NetworkObject, 'Observers' in pooled NetworkObject( == despawned Networ

[2022-06-09 08:14] mrwillt1986 commented on #1978
Confirmed that this appears to now be fixed.

[2022-06-11 18:49] danielchipman opened #2010 "Open NetworkVariableBase initialization path to derivations"
Small but helpful QoL request

**Is your feature request related to a problem? Please describe.**
NetworkVariableBase is available for developers to create their own implementations, however if additional logic is needed for initializing the custom network variable, a new entry point must be added and manually called whenever used.

**Describe the solution you'd like**
Add virtual keyword to `Netw

[2022-06-12 20:00] HarryBGamer2570 commented on #796
same...

[2022-06-14 09:48] itismarcii opened #2014 "Several Client connections at the same time wont perform certain Code."
### Description

If you spawn several Clients at the same time, it seems like neither the Client nor the Server perform certain code.
If you spawn 100 clients at the same time, around half of them perform properly and the other half dont.

And what I mean by that, the Server wont perform all OnClientCallback's and the Clients dont perform OnNetworkSpawn. It also seems like that the Clients dont kn

[2022-06-14 15:00] ashwinimurt commented on #1982
Hi, This seems like a text field issue. Can you debug / print the contents of `Input_hostIP.text` to ensure that the string looks correct and not malformed in some way?

[2022-06-14 15:08] ashwinimurt commented on #1997
Hi @Natank25 Just checking if you were able to move past the issue?

[2022-06-14 15:45] aryansaurav commented on #1982
Thanks @ashwinimurt  for your response. I have already tried printing that and it does not seem like a problem.

What I did notice was that, when the Unity Editor enters the Game mode (on pressing the play button) in the Editor, the connect address automatically changes to the address assigned in the UNet Transport in the edit mode. Then, it does not take the IP address from Input field as it shou

[2022-06-14 21:02] JesseOlmer commented on #1982
@aryansaurav Can you provide a minimal repro sample? I'm not able to reproduce this issue locally.

Also, probably worth noting that part of your code snippet is potentially very misleading:
[code]

StartClient returns BEFORE any connection has been established when using the UNet Transport. Think of it more like BeginStartClient(). If you want a confirmation of a connection you should hook into t

[2022-06-15 02:11] andriyDev opened #2019 "NetworkObject parent not replicated if Instantiated with parent"
### Description

Instantiating a NetworkObject prefab and passing in a NetworkObject parent causes the client to error with `NotServerException`.

### Reproduce Steps

1. Start server
2. Connect with client
3. Instantiate a NetworkObject prefab on server. Store as `someOtherNetworkObject`. (This also works with an in-scene NetworkObject).
4. Instantiate a NetworkObject prefab on server with `Insta

[2022-06-15 02:15] andriyDev commented on #1688
Is the object you're parenting the player? In my project this was the case.

As a workaround, try instantiating the object, spawning the object, then reparenting to what you want. This worked for me!

Also, possibly related: #2019

[2022-06-15 06:52] daalen commented on #1688
No, this is about scene objects, not manually instantiated or spawned objects.

[2022-06-15 07:01] andriyDev commented on #1688
Ah sorry I misunderstood. Now I'm even more convinced this is related to #2019, since this seems to be a case where Netcode is struggling to handle objects that are instantiated with a parent, rather than doing `transform.parent = ...`.

Again, a workaround, but I bet it'd work if you had a NetworkBehaviour that set the parent of the nested Networkobject to the root NetworkObject  on network spawn

[2022-06-15 08:37] aryansaurav commented on #1982
Thanks for your comment @JesseOlmer . I see your point about using ClientConnectedCallback instead of my way. But, I guess as I am using this only to log debug info, it may not be directly be the cause of the issue I am facing.

If I send you my entire script, which is used in the UI Canvas and also creates server/client connection, would that be enough? You could possibly use it in your project a