[2022-06-15 08:55] Natank25 commented on #1997
Hi, sorry I forgot this issue because I managed to fix it by creating a new project and then installing netcode again.

[2022-06-15 10:28] mrwillt1986 opened #2020 "Server Needs NetworkAnimator to Sync on non owned objects"
### Description

The latest NetworkAnimator changes have made it so that only NetworkObject OWNERS can sync, but there is a valid reason you'd want non owners to sync.

In a Server Authoritative environment, the server is animating the client and sending the positions and animations out to all other clients. It makes no sense for the owner (who is the player) to be syncing, as ultimately the serve

[2022-06-15 14:34] mrwillt1986 commented on #2020
Ignore this. Just yesterday someone has made it so you can now achieve this by overriding OnIsServerAuthoritative

[2022-06-15 14:34] #2020 closed, assigned to nobody

[2022-06-15 15:46] jesuscfp commented on #1996
Hi @ashwinimurt were you able to see my comment?

[2022-06-15 17:08] JesseOlmer commented on #1982
If you want to throw your script in a [gist](https://gist.github.com) and link to it here I can give that a shot. If you want to share your project (or a separate minimal project) you can then use the Unity bug reporter to have it packed up and sent over in a way I could try it out.

[2022-06-15 17:23] aryansaurav commented on #1982
Here it is: https://gist.github.com/aryansaurav/6dafde04af570dc01df89e9dd68e945a

It's the script that I use with my main menu canvas with three buttons (StartHost, StartClient and Set) and a text input field( Host IP address). Please assign these functions in your sample Unity project to three buttons on a canvas. Then I click StartHost on one device  (Unity Editor for example) and StartClient (o

[2022-06-15 18:54] JesseOlmer commented on #1982
Hi @aryansaurav,

  Thanks for providing that gist. Unfortunately (or fortunately?) it works as expected with that code. If the IP address is hard-coded as in your gist it uses that address, if I change the code in StartClient so that the ConnectAddress is set to the `IP_address` field it uses the value in that field as expected. I'm not able to reproduce your issue, using Netcode for GameObjects

[2022-06-15 18:54] #1982 closed, assigned to ashwinimurt

[2022-06-15 18:59] ashwinimurt commented on #1997
Thanks for confirming.

[2022-06-15 18:59] #1997 closed, assigned to ashwinimurt

[2022-06-16 19:37] C0d1ngJammer commented on #1658
Any updates on this? this should be way more prioritized!

[2022-06-16 20:45] ashwinimurt commented on #1953
Hi, This is probably fixed in the later version. Do you mind updating to pre.9 and giving it a shot? Thanks

[2022-06-16 20:48] ashwinimurt commented on #1952
Loading scenes from addressables is currently not supported. This is more of a feature request. Thanks for reporting.

[2022-06-16 20:52] ashwinimurt commented on #2007
Hi @kaygundraka
Fix for this issue was merged recently https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2009
It will be part of the next release.
Could you try `develop` and let us know if its fixed. Thanks.
cc @NoelStephensUnity

[2022-06-16 21:01] thecosmicstudios commented on #1952
Understood, I vote we add this feature lol. How are we to build apps larger then 150mb for android and iphone? They have store size limitations from Google, Apple, and Oculus...

Could a fix be editor/gameserver scriptable objects that have the scene name and are used instead of just the name from the build list. The server can have these scriptable objects built with the player or downloaded. The

[2022-06-16 22:42] thecosmicstudios commented on #1952
Or is it that we are supposed to use the new scene management additive loading? Basically one scene which has the network manager and is small, which is built with player. Then the network scene manager loads additively the next larger/actual scene not built with the player. Would it still be verified via hash?

I suspect even with this path, the player and smaller game server will still be over t

[2022-06-18 11:46] itismarcii opened #2022 "NetworkTransform sends always all informations. Improve network perfomance with flags and buffer."
**Is your feature request related to a problem? Please describe.**
The NetworkTransform syncs its Position/Scale/Rotation every time and with all information. Which really costs a lot of resources if you got several objects that need to be synced over the whole network. For example:

If you never changed your position you still need as much resources as some did that re scaled, moved and rotated.

[2022-06-19 00:31] JayPeet commented on #1992
Much better, thank you for taking the time to make these changes!

[2022-06-19 00:31] #1992 closed, assigned to jeffreyrainy

[2022-06-19 00:37] JayPeet commented on #1963
Its fixed locally for me, however my remote CI (ubuntu) can only get one build out before hitting this error. Deleting the library folder "fixes" it.

[2022-06-20 14:10] gooddereklu opened #2023 "Server lost ownership but OnGainedOwnership was triggered"
### Description

Hi! guys! I just upgrade to Netcode preview 9, and found a strange behaviour.

I had a network behaviour object that will switch ownership from server to client.

But the network behaviour on the server side will trigger OnGainedOwnership even when it lost owner from server.

This happen on Netcode preview 9 only.

I was using Netcode preview 5 before upgrading.

### Reproduce Ste

[2022-06-20 23:41] akoolenbourke commented on #1983
I think I have just discovered it too as my lists are going across to standalone clients empty. Note, they work fine on a host client.

I am using a custom struct that implements INetworkSerializable and IEquatable.

Other NetworkLists I have seem to work find - even ones with custom structs.

[2022-06-21 16:25] jesuscfp commented on #1996
Finally I was be able to resolve the problem. It's not a bug, the error is produced by the Message Buffer Size variable of UNetTransform. Incremeting his value by four times now I can connect more than 6 players!

[2022-06-21 16:25] #1996 closed, assigned to nobody

[2022-06-21 16:28] jesuscfp commented on #1989
#1996 This error has been fixed incrementing the Message Buffer Size value of UNetTransport.

[2022-06-21 17:02] JesseOlmer commented on #1658
The issue here is that the Unity engine doesn't really make this feasible. The reason we need the parent to be a NetworkObject (or the scene root) is that those are the only things you can reliably create an ADDRESS for.

For other objects, the instance IDs are runtime-dependant and won't match between a server and client or two clients. A hierarchy-based solution is also untenable as there's no c

[2022-06-21 17:25] daalen commented on #1658
This is indeed how I now handle it: I parent to the player root (which is a networkobject) and then update the localTransform each frame to make it seem like it is parented to e.g. the player hand. A bit cumbersome, but it works, as long as you ensure the authority is the same.

[2022-06-21 17:45] Tivise commented on #1989
thanks  @jesuscfp , that fixed this issue too !

[2022-06-21 18:06] #1989 closed, assigned to nobody

[2022-06-21 20:10] akoolenbourke commented on #1983
Just to add, I have found a reasonably workaround. After setting the list on the server, I can call ResetDirty(). This effectively will copy a modified list into m_ListAtLastReset and so synching will work.

[2022-06-23 14:39] 11BelowStudio opened #2035 "NetworkManager.ConnectionApprovalCallback improperly documented in 1.0.0.pre-10 release notes - Release notes say it's a Func<>, it's actually still an Action<>."
According to the [release notes for 1.0.0.pre-10](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/releases/tag/1.0.0-pre.10), `NetworkManager.ConnectionApprovalCallback` is *supposed* to be a `Func<ConnectionApprovalRequest, ConnectionApprovalResponse>`. However, it's an `Action<ConnectionApprovalRequest, ConnectionApprovalResponse>` instead.

https://github.com/Unity-Technolog

[2022-06-23 15:43] ezoray opened #2037 "Pre 10 ClientNetworkTransform error"
**Feedback**
Just updated a project to pre10 and I'm getting the following error:

Library/PackageCache/com.unity.multiplayer.samples.coop@2bbc9f1cc2/Utilities/Net/ClientAuthority/ClientNetworkTransform.cs(43,33): error CS0115: 'ClientNetworkTransform.OnIsServerAuthoritatitive()': no suitable method found to override.

I tried re-importing the multiplayer samples package and deleting it from the P

[2022-06-23 15:58] gxp-mattias opened #2038 "AddSceneObject() --> CreateLocalNetworkObject() doesn't parent nested NetworkObjects correctly for non-host clients."
### Description

I've got a scene where the server spawns in x separate objects (all with NetworkObject components) as children of a single "Spawner" object, which also has a NetworkObject component.
When a client connects, everything works as intended and the client Instantiates the objects that were spawned by the server and then attempts to spawn the NetworkObject components on those objects.
T

[2022-06-23 16:20] 11BelowStudio commented on #2037
It's because the base method in `NetworkTransform` has been renamed from `OnIsServerAuthoritatitive()` to `OnIsServerAuthoritative()` (fixed typo), and the Multiplayer Samples Utilities package hasn't been updated for v1.0.0.pre-10 yet (see https://github.com/Unity-Technologies/com.unity.multiplayer.samples.coop/issues/685)

[2022-06-23 18:52] 11BelowStudio commented on #2037
looks like multiplayer samples utilities has been updated to fix that problem.

[2022-06-23 19:27] ezoray commented on #2037
Thanks for letting me know :) I'll close this now.

[2022-06-23 19:27] #2037 closed, assigned to nobody

[2022-06-24 16:26] 11BelowStudio opened #2044 "[NetworkAnimator bug] Cannot re-host a game after pressing 'return to menu' from the BossRoom scene - NetworkAnimator null reference exception (does not happen after going to main menu from CharSelect or PostGame)"
**Describe the bug**
Using the 'return to menu' button in the `BossRoom` scene causes a `NullReferenceException` to be thrown by `NetworkAnimator.OnClientConnectedCallback` upon attempting to host a new game. `NetworkManager.StartHost()` itself works, but as this exception prevents the game from going to `CharSelect`, the player, with no way of stopping the `NetworkManager`, is stuck and is forced

[2022-06-24 19:43] JesseOlmer commented on #1983
Hey folks,

Can you please verify this still occurs on 1.0.0-pre.10. If it does, can you please share a minimal repro with us? A few of us have tried (on multiple versions with multiple types) and have so far been unable to hit this issue.

[2022-06-24 20:10] NoelStephensUnity commented on #2038
Hello @gxp-mattias!
Sorry that you are having issues with NetworkObject parenting.  Netcode for GameObjects uses a server authoritative model, which means all parenting actions have to be done on the server side.  If you must have a client driving when a NetworkObject is parented, then I would suggest using an RPC to send a message to the server, otherwise when the NetworkObject is spawned  you co

[2022-06-24 20:31] NoelStephensUnity commented on #2022
Hello [itismarcii](https://github.com/itismarcii)
What are your NetworkTransform position, rotation, and scale threshold values?
If they are zero, could you try to increase them to some non-zero value and see if this problem persists?

[2022-06-24 20:34] NoelStephensUnity commented on #2014
Hello [itismarcii](https://github.com/itismarcii)!
With 100 clients it could be that you are exceeding a transport buffer threshold.  What transport are you using (UNet or UnityTransport) and what are their buffer and/or queue sizes?

[2022-06-25 11:34] itismarcii commented on #2014
Hello [NoelStephensUnity](https://github.com/NoelStephensUnity),
We are using the Unity Transport.

We also varied with the values.

Tickrate: 8

Test1: Default
Max Packet Queue Size:128,
Max Payload Size: 6144
Max Send Queue Size: 98304

Test 2: Default times 4
Max Packet Queue Size: 512
Max Payload Size:  24576
Max Send Queue Size: 393216

Test 3: Default times 36
Max Packet Queue Size: 4608
Max

[2022-06-25 11:53] itismarcii commented on #2022
Hello [NoelStephensUnity](https://github.com/NoelStephensUnity),

We used the default values for the test.
Which is:
Position: 0.001
Rotation: 0.01
Scale: 0.01

We didnt test scale, the X and Z rotations and the Y position much.

[2022-06-25 13:19] julcreutz opened #2042 "Unity Transport connection does not work over internet unless host specifies own IPv4 address in the 'address' field"
### Description

We were desperately trying to get multiplayer working over the internet and the only way we achieved that is by typing in the host's IPv4 address into the Unity Transport 'Address' field. We were assuming the Address didn't matter for the host, but apparently, it does.
The client uses the public IPv4 address of the host of course.

### Reproduce Steps

1. Leave Address field empty

[2022-06-27 13:58] brainwipe opened #2043 "Cannot implement derived class from NetworkVariableSerialization as Read/Write are marked as internal"
### Description

[Documentation](https://docs-multiplayer.unity3d.com/netcode/current/basics/networkvariable) implies that you can create your own custom network variable structures such as [NetworkDictionary](https://github.com/Unity-Technologies/multiplayer-community-contributions/blob/095d1c78b77f405b44c9ff4ae20c3a01f6d3cddc/com.community.netcode.extensions/Runtime/NetworkDictionary/NetworkDict

[2022-06-27 14:07] gxp-mattias commented on #2038
Hi @NoelStephensUnity
Thanks for getting back to me. I understand the idea behind parenting being controlled by the server, but in my specific case I don't understand why what I'm doing breaks server authority. The client isn't trying to drive or set any parenting operations. The client is only trying to get an identical object hierarchy as the server when they join the game after the server has a

[2022-06-27 17:03] LPLafontaineB commented on #2044
Hi @11BelowStudio ,
Thank you for submitting this issue! After some investigation, it seems to be an issue with the NetworkAnimator itself. It looks like it does not properly unregister the OnClientConnected callback when the server shuts down. I'll transfer this issue to the Netcode for GameObjects project.

[2022-06-27 17:08] LPLafontaineB commented on #2044
To give a bit more details about the issue causing this:
NetworkAnimator registers to NetworkManager's OnClientConnectedCallback when spawning, if IsServer is true. It then de-registers it when despawning. However in the case of a shut down, IsServer is set to false before the despawn happens, so it is not de-registered.

[2022-06-27 22:00] ashwinimurt commented on #2035
Updated the "release notes" for 1.0.0-pre.10 https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/releases/tag/1.0.0-pre.10

[2022-06-27 22:00] #2035 closed, assigned to jeffreyrainy

[2022-06-28 14:51] simon-lemay-unity commented on #2042
Thanks for your report!

I believe this is the expected behavior. On the host, the address entered in the 'Address' field (or 'Listen Address' field if not left empty) is the one it will bind to. This must be an address at which the host can be directly reached by clients. If clients are on the same machine, then 127.0.0.1 works. If clients are on the LAN (or behind a router like on the internet),

[2022-06-28 15:40] julcreutz commented on #2042
Thanks for heads up! I agree that this should be more clear from the documentation.

[2022-06-28 15:40] #2042 closed, assigned to nobody

[2022-06-28 16:13] ashwinimurt commented on #2042
Tracked in our backlog: [MTT-3942](https://jira.unity3d.com/browse/MTT-3942) for improving the documentation, and [MTT-3943](https://jira.unity3d.com/browse/MTT-3943) for looking into making 0.0.0.0 the default listen address.

[2022-06-28 18:57] NoelStephensUnity commented on #2038
@gxp-mattias it would definitely help if I could see an example of your project or a sub-set that highlights the issue(optional).
If that is not possible then perhaps the following information might help:

NetworkObjects spawned on the server should automatically be synchronized with newly joining clients.  During the client synchronization period, if there are any children of a `NetworkObject` th

[2022-06-28 19:25] scott-lin commented on #1549
Echoing the intent of this request, I'd love the prefab list to be readable as well, so I don't have to keep a duplicate copy of the data in sync with Netcode's, which may be error prone and is a duplication of effort/resources really (you've already got it).

If exposing the list as public is a no-no, please at least consider exposing the data as read-only public. I assume additions and removals

[2022-06-28 19:25] akoolenbourke opened #2051 "Can't compile INetworkSerializable of custom struct array"
### Description

I have a custom struct that is INetworkSerializable. That struct has an array of another struct that is INetworkSerializable. This won't compile and I get the error

The type 'Thing' must be a non-nullable value type, along with all fields at any level of nesting, in order to use it as parameter 'T' in the generic type or method 'NetworkVariable<T>'

### Reproduce Steps

1. Create

[2022-06-28 23:23] CosmicStud commented on #1549
Lol, I concur! Add Netcode as a package through github, and change the NetworkPrefab class from internal to public, do the same for the enum NetworkPrefabOverride, and the NetworkConfig NetworkPrefabs list to public. That way you dont have to have two separate data structures to work on

[2022-06-28 23:24] CosmicStud commented on #1549
Hopefully they can still see this

[2022-06-29 02:44] scott-lin commented on #1549
I'd rather the change be official, so I don't have to manage a private change as Netcode releases more versions.

[2022-06-29 13:30] TheCaveOfWonders commented on #2044
having the same issue in my project.

  at Unity.Netcode.Components.NetworkAnimator.OnClientConnectedCallback (System.UInt64 playerId) [0x00001] in E:\New folder\mygame\Library\PackageCache\com.unity.netcode.gameobjects@1.0.0-pre.10\Components\NetworkAnimator.cs:446
  at (wrapper delegate-invoke) System.Action1[System.UInt64].invoke_void_T(ulong)
  at Unity.Netcode.NetworkManager.InvokeOnClientCon

[2022-06-29 19:49] NoelStephensUnity commented on #2044
@TheCaveOfWonders
I am truly sorry you are experiencing this bug as it is a regression bug from some of my recent updates/fixes applied to NetworkAnimator. Currently we don't have an ETA for when the next update will be made available since we just published the v1.0.0 release version today.  So, for the time being there are two paths you can take to work around this issue:

### Download the V1.0.

[2022-06-29 23:15] NoelStephensUnity commented on #2022
@itismarcii Thank you for that additional information, it helped me better understand the issue you are experiencing.
If I understand correctly, you are saying that NetworkTransform is sending all values that are marked to be synchronized whether they all change or only some changed.  To better clarify, here would be a hypothetical example:
- You are only synchronizing the position and rotation va

[2022-06-30 11:26] gxp-mattias commented on #2038
@NoelStephensUnity I apologize for my lack of clarity. There is no client side code that is trying to do something that only the server has the authority to do.

The server spawns n objects (I'll refer to them as _[Obj-1, Obj-2, ..., Obj-n]_). When each of these objects is spawned, their parent transform is set to the object which contains the script which spawns them.
So all n objects share the s

[2022-06-30 12:11] itismarcii opened #2052 "NetworkObject spawn that occures at the same time as an Client connection with Scene changes causes the NetworkObject to be destroyed"
### Description

Should a NetworkObject spawn at the same time as an Client that connects into the Server Scene, the NetworkObject will be destroyed on the new connecting Client.

On Server and already connected Clients the issue has no effect.

### Reproduce Steps

[Bugproject](https://github.com/itismarcii/UnityNetcode-ConnectionSceneIssue) (recommend usage)

1. Create new Netcode project with d

[2022-06-30 12:21] itismarcii commented on #2022
It is in fact the issue you described. On 1 value change, inside the tolerance, all other flagged values will be updated. On none changed, none will be updated.

[2022-06-30 16:58] NoelStephensUnity commented on #2022
@itismarcii
Thank you for responding!  I am re-opening this issue and associating it with an internal ticket.

For the time being, to help reduce the bandwidth consumption, you might try increasing the threshold values to reduce the granularity (i,e. depending upon what 1 world unit translates to for the over-all relative scale of your art assets the default values may be way too granular).

[2022-06-30 17:21] NoelStephensUnity commented on #2038
@gxp-mattias
Ahhh...ok...then yes I need to investigate this issue further.

Before I can do that, I have a few more questions for you before I can try to replicate the issue on my side:
- Is the parent NetworkObject with the script that spawns the child NetworkObjects an in-scene placed NetworkObject or is the parent dynamically spawned?
- How are you spawning the NetworkObjects on the server sid

[2022-06-30 18:39] NoelStephensUnity commented on #2038
@gxp-mattias
As a follow up I believe I replicated the bug on my side (I assumed the parent is an in-scene placed NetworkObject) and have a way to work around the issue.

### The Script Used
The below script I used to both verify that it was indeed a bug (check) and it was used to come up with an alternate approach that will avoid the issue you are experiencing.
[code]
### My first attempt (where

[2022-06-30 21:27] ShadauxCat commented on #1925
This was fixed by #1976

[2022-06-30 21:27] #1925 closed, assigned to ShadauxCat

[2022-07-01 09:58] gxp-mattias commented on #2038
@NoelStephensUnity Thank you so much for testing this out and demonstrating a workaround.
I also got the soft-sync issue with spawned network prefabs being recognized as in-scene placed network objects.
I was unable to trace where exactly IsSceneObject is set to true for these objects, so I assume it might be happening in code that's generated by the NGO backend.

I will test out your workaround w

[2022-07-01 15:26] gxp-mattias commented on #2038
@NoelStephensUnity
I tried implementing your solution and it didn't work for me right out of the box.
However I realized that this was maybe because of the way I was parenting the child objects to the parent.
I was doing something like this:

`GameObject spawnedPrefab = Instantiate(myPrefab, transform);
spawnedPrefab.GetComponenet<NetworkObject>().Spawn();`

With the parenting happening before the

[2022-07-02 16:14] Agoxandr commented on #1475
Fixed in new release.

[2022-07-05 18:55] NoelStephensUnity commented on #2038
Ahh!
Yes, v1.0 does not support "pre-spawn parenting".  Apologies for not making that portion clearer.
However, I am glad to here that you are no longer blocked on this issue!
_(leaving this issue open for triage purposes)_

[2022-07-06 11:27] maxsroka opened #2053 "Components have inconsistent names in the "Add Component" menu."
### Description

Components have inconsistent names in the "Add Component" menu. Some of them have spaces and some do not.

### Reproduce Steps

1. Select a GameObject
2. Click "Add Component" in the inspector
3. Type "net"

### Actual Outcome

Some components have spaces and some do not.

### Expected Outcome

Components should have consistent names.

### Screenshots

![image](https://user-images

[2022-07-06 15:00] JayPeet commented on #1963
Its still an issue, here is the error log output during build

`Library/PackageCache/com.unity.netcode.gameobjects@fddb7cd920/Editor/CodeGen/NetworkBehaviourILPP.cs(611,69): error CS1061: 'GenericParameterConstraint' does not contain a definition for 'Resolve' and no accessible extension method 'Resolve' accepting a first argument of type 'GenericParameterConstraint' could be found (are you missin

[2022-07-06 19:09] ashwinimurt commented on #2052
@NoelStephensUnity Fyi

[2022-07-06 19:15] ashwinimurt commented on #2043
Hi @brainwipe thanks for reporting. We will take a look and consider making them public if they don't cause any issues Or fix the documentation.

[2022-07-06 19:22] ShadauxCat commented on #2051
It's known that `NetworkVariable` doesn't support anything that has a managed type within it. The docs are unfortunately out of date on this - we don't support serializing arrays as part of network variables. Instead, you can use `NativeArray<Bob>` (if your array is going to be of a static size) or `NativeList<Bob>` (if your array needs to be dynamically sized).

You'll then have to serialize each

[2022-07-06 20:22] NoelStephensUnity commented on #2052
@itismarcii Hello!
I am currently investigating the issue you are experiencing.  To help me better understand the issue, is there any particular (project specific) purpose for having a client scene and a server scene or was this just an easy way to divide the two concepts up?

[2022-07-06 21:22] NoelStephensUnity commented on #2052
@itismarcii
I think I found the issue you were experiencing.

**To Resolve Your Current Issue**
If you modify your NetworkSpawnManager class to look like this:
![image](https://user-images.githubusercontent.com/73188597/177639312-0ba97d08-e00d-4e9d-8c69-e964c4517b06.png)
Then, within the editor you will need to copy the GlobalObjectIdHash value of the Player prefab:
![image](https://user-images.gi

[2022-07-07 07:47] itismarcii commented on #2052
Hello [NoelStephensUnity](https://github.com/NoelStephensUnity),

we currently perform an evaluation of the Unity Netcode for GameObjects component and are aware that your solution would definitely work without the current issue. But since we try to test different settings, we decided to disconnect the Server and Client project and tried to let the Client perform in the dark as much as possible. W

[2022-07-07 15:56] NoelStephensUnity commented on #2052
Ahh I see.
The only issue I found with your project is that it wasn't using the connection approval properly.  Once I corrected that (the screenshot) it worked just fine.

Let me know if there is anything else I can do to assist you.

Cheers,

Noel

[2022-07-07 15:56] #2052 closed, assigned to nobody

[2022-07-08 14:18] fernando-cortez opened #2056 "NetworkAnimator not sending state to clients on connection"
### Description

When clients connect to host, they won't receive a packet containing the state of the host's version of NetworkAnimator. So, if the host's version of an animator has transitioned to a state that **isn't** the default state, the client won't be aware of that transition and so visual desyncs will naturally occur.

### Reproduce Steps

1. Host a game where the host's player contains

[2022-07-09 08:40] daalen opened #2058 "Some metrics went over the configured limits"
Whenever a client connects to my server I get spawned with dozens of identical warnings about some metrics – but I have no idea what these metrics are or how to configure them. The full error is:

Some metrics in the collection went over the configured values limit. Some values were ignored.
UnityEngine.Debug:LogWarning (object)
Unity.Multiplayer.Tools.NetStats.MetricDispatcher:Dispatch () (at Lib

[2022-07-11 08:01] 2shady4u opened #2059 "De-activated spawned GameObjects do not get despawned when the server shuts down"
### Description

I would expect that spawned, but de-activated, GameObjects get despawned when the server/host shuts down, but this doesn't seem to happen.... because the de-activated NetworkObjects are ignored by the despawning methods.

Is there any reason why the current behavior ( = NOT despawning de-activated GameObjects) would be the expected/required behavior?

### Actual Outcome
De-activat

[2022-07-11 17:58] ashwinimurt commented on #2056
Tracked in our backlog [MTT-4060](https://jira.unity3d.com/browse/MTT-4060)

[2022-07-11 19:57] danielchipman commented on #1645
This was originally reported for pre.4, however I observed this callback working correctly in pre.7 and pre.8. However, this seems to have been broken again with changes made to pre.9.

Worth noting that this will be invoked on clients when the server terminates the connection. The issue is specifically when the client calls Shutdown.

This is still broken in the recent 1.0 release.

[2022-07-12 09:39] ezoray opened #2062 "NetworkLists not populating on client"
### Description

I have a network object with a network list of networkBehaviourReferences, in pre7 this list was populated on the client but since updating to pre10 it's not being populated.

### Reproduce Steps

Connect a client to the server.
Spawn network object containing a list, and populate that list.

### Actual Outcome

Server's list is populated, client's list is not.

### Expected Outco

[2022-07-12 23:10] ashwinimurt commented on #1983
Tracked in our backlog [MTT-4089](https://jira.unity3d.com/browse/MTT-4089)

[2022-07-12 23:14] ashwinimurt commented on #1962
Tracked in our backlog [MTT-4088](https://jira.unity3d.com/browse/MTT-4088)

[2022-07-12 23:15] ashwinimurt commented on #1963
Tracked in our backlog [MTT-4087](https://jira.unity3d.com/browse/MTT-4087)

[2022-07-12 23:15] ashwinimurt commented on #1965
Tracked in our backlog [MTT-4086](https://jira.unity3d.com/browse/MTT-4086
)

[2022-07-12 23:16] ashwinimurt commented on #1981
Backlog [MTT-4085](https://jira.unity3d.com/browse/MTT-4085)

[2022-07-12 23:16] ashwinimurt commented on #1987
Backlog [MTT-4084](https://jira.unity3d.com/browse/MTT-4084)

[2022-07-12 23:17] ashwinimurt commented on #1998
Backlog [MTT-4083](https://jira.unity3d.com/browse/MTT-4083)

[2022-07-12 23:18] ashwinimurt commented on #2019
Backlog [MTT-4082](https://jira.unity3d.com/browse/MTT-4082)

[2022-07-12 23:18] ashwinimurt commented on #2023
Backlog [MTT-4081](https://jira.unity3d.com/browse/MTT-4081)

[2022-07-12 23:19] ashwinimurt commented on #2044
Backlog [MTT-4080](https://jira.unity3d.com/browse/MTT-4080)

[2022-07-12 23:20] ashwinimurt commented on #2051
Backlog [MTT-4079](https://jira.unity3d.com/browse/MTT-4079)

[2022-07-12 23:20] ashwinimurt commented on #2053
Backlog [MTT-4078](https://jira.unity3d.com/browse/MTT-4078)

[2022-07-12 23:21] ashwinimurt commented on #2059
Backlog [MTT-4077](https://jira.unity3d.com/browse/MTT-4077)

[2022-07-12 23:21] ashwinimurt commented on #2062
Backlog [MTT-4076](https://jira.unity3d.com/browse/MTT-4076)

[2022-07-12 23:28] ashwinimurt commented on #650
Hi @AlexBoost,
Just following up on this super old issue. Happy that the workaround worked for you. The NetworkTransform has gone through a lot of changes and I believe this is fixed in later versions of NGO. Please try the newer 1.0 Netcode for GameObjects if you are still working on this project.
Thank you!

[2022-07-12 23:28] #650 closed

[2022-07-13 13:47] Myxcil opened #2063 "Wrong IsOwner/IsOwnedByServer in NetworkBehaviour on Server"
### Description

https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/ba302860e6edf4e710633145e96592eab06d310a/com.unity.netcode.gameobjects/Runtime/Spawning/NetworkSpawnManager.cs#L217-L219

When a client owner is removed **UpdateNetworkProperties** is called on the server with the previous **OwnerClientId** still set, which leads to wrong values in **NetworkBehaviour.IsOwner*

[2022-07-13 17:29] daalen commented on #2058
Setting the max payload size ridiculously high helps, but then I get these warnings instead:

A lot of pipeline updates have been queued, possibly too many being scheduled in pipeline logic, queue count: 68

These warnings are really not informative, what is going on?

[2022-07-14 18:22] daalen opened #2064 "OnClientDisconnectCallback not triggered if server disconnects client"
### Description

When the server disconnects a client through NetworkManager.Singleton.DisconnectClient([clientId]), OnClientDisconnectCallback is not triggered. It is triggered when the client disconnects itself.

### Reproduce Steps

1. Subscribe to NetworkManager.Singleton.OnClientDisconnectCallback
2. On the server, call NetworkManager.Singleton.DisconnectClient([clientId]) with [clientId] any

[2022-07-15 01:21] jeffreyrainy commented on #2062
Would you be in a position to test a branch before it is released ?

The branch is fix/in-scene-networklist
The commit you are after is 19dbda7f80df7c7a2c1b231c61143492a7f452da

From the description, it looks exactly like what this fix attempts to address.

[2022-07-15 08:13] ezoray commented on #2062
Hi Jeff, I've tried the fix in the test project and all seems to be working, thanks.

[2022-07-15 11:56] AwixStudio opened #2066 "Relay disconnects player during loading big scenes."
### Description

Relay disconnects player during loading big scenes due to "inactive". This problem exist only in Unity 2021.3 In 2021.2 everything works fine for the same project and the same setup. So it looks like it is definitly somethink wrong in 2021.3.

### Reproduce Steps

1. Crete really big scene, which loading in, can take long time
2. Try load scene
3. Player is disconnected due to ina

[2022-07-16 00:01] cmlewis89 commented on #1549
+1

[2022-07-16 14:19] jicefrost commented on #425
+1

[2022-07-18 22:37] JesseOlmer commented on #593
Fixed in #1623

[2022-07-18 22:37] #593 closed

[2022-07-18 22:45] JesseOlmer commented on #604
@becksebenius-unity can this be closed?

[2022-07-18 22:46] JesseOlmer commented on #605
@becksebenius-unity can this be closed?

[2022-07-19 19:12] jeffreyrainy commented on #2062
Hi, we've merged a PR for this to `develop` which will go a later release.

[2022-07-19 19:12] #2062 closed, assigned to jeffreyrainy

[2022-07-19 19:14] jeffreyrainy commented on #1983
This should be addressed by https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2065

[2022-07-19 19:14] #1983 closed, assigned to jeffreyrainy

[2022-07-19 19:15] jeffreyrainy commented on #1981
This should be addressed by https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2065

[2022-07-19 19:15] #1981 closed, assigned to jeffreyrainy

[2022-07-19 20:05] JesseOlmer commented on #772
This is by design in the 1.0 of the framework. The clientId passed in is that of the sender. On all clients, the sender of the disconnect event is the server (id 0). Clients don't have access/visibility into other clients anyways, so the only time a client will receive this event is if it is being disconnected from the server.

[2022-07-20 21:56] ashwinimurt commented on #2058
Hi @daalen, Thank you for reporting! We are aware of this issue and is being tracked in our backlog. I will post here when we have an update.

[2022-07-20 21:57] ashwinimurt commented on #2058
Backlog: [MTT-3388](https://jira.unity3d.com/browse/MTT-3388)

[2022-07-20 22:04] becksebenius-unity commented on #2058
Note - there's two different warnings reported in this issue and while both are probably caused by a high volume of network traffic being transmitted, they're coming from different places and may need different solutions.

This is coming from too many network events happening in a short window of time, and is coming from the `com.unity.multiplayer.tools` package. There should be no practical effec

[2022-07-20 22:13] ashwinimurt commented on #1498
Assigning to myself to verify is this is still an issue.

[2022-07-20 22:45] ashwinimurt commented on #1963
Hi @JayPeet
`error CS1061: 'GenericParameterConstraint' does not contain a definition for 'Resolve' and no accessible extension method 'Resolve' accepting a first argument of type 'GenericParameterConstraint' could be found (are you missing a using directive or an assembly reference?)` This only happens on specific versions of 2022.2.x

I believe this is fixed now. Could you please try the latest

[2022-07-21 09:03] daalen commented on #2058
Good to know, thanks!

[2022-07-21 15:01] ashwinimurt commented on #1498
Hi @daniellochner,

I heard back from our Lobby experts  - "I think everything is working as expected actually. Using the example that was shared in the bug, I see that the lobby appears in query results for ~30 seconds and then stops showing up. That matches with [our documentation about active/inactive lobbies](https://docs.unity.com/lobby/heartbeat-a-lobby.html). Doing a `Get` on the lobby afte

[2022-07-21 15:30] ashwinimurt commented on #1391
Hi @ImDanTheDev This issue has been fixed in one of newer versions of the package. Could you try updating to 1.0.0?
I upgraded the project you attached to use Netcode for Gameobjects 1.0.0 and can no longer reproduce the issue.
Please reopen the issue if you are still seeing the NullRef.
Thank you.

[2022-07-21 15:30] #1391 closed, assigned to ashwinimurt

[2022-07-21 19:37] NoelStephensUnity commented on #2066
@AwixStudio
If you have scene management enabled in your NetworkManager, have you tried increasing the Load Scene Time Out value from 20 to say 60 or higher?

[2022-07-21 19:52] NoelStephensUnity commented on #2059
@2shady4u
Are you saying that if you call gameObject.SetActive(false) during an active session and then shutdown the server the OnNetworkDespawn method does not get called?
If so, what problem are you trying to solve by disabling the GameObject in the scene hierarchy?

[2022-07-21 22:33] JesseOlmer commented on #889
Should be doable - `SpawnNetworkObjectLocallyCommon` already handles overwriting the player object. Would require changing reference on `NetworkClient`, `IsPlayerObject`, and creating a new message type to synchronize the change.

This won't make it to the top of Unity's backlog any time soon, but community contributions are welcome.

[2022-07-21 22:40] JesseOlmer commented on #900
Hey @fachryip sorry we missed this one! MLAPI (now called Netcode for GameObjects) is strictly about synchronizing the simulation state, so it's not built to communicate with other systems outside of that purview. Typical solutions to this type of problem are:
- Whatever system is managing your dedicated game servers can communicate with your matchmaker, and then can write metadata into a file on

[2022-07-21 22:40] #900 closed, assigned to nobody

[2022-07-21 22:42] JesseOlmer commented on #937
Duplicate of #572

[2022-07-21 22:42] #937 closed, assigned to nobody

[2022-07-21 22:43] JesseOlmer commented on #714
Duplicate of #572

[2022-07-21 22:43] #714 closed

[2022-07-21 23:08] JesseOlmer commented on #946
Unfortunately, the framework is largely not unit-testable. It's a pain that we of course wrestle with internally on a daily basis. There are some facilities for running 2 NetworkManagers in one Unity instance, and essentially running a full integration test (with caveats). It's far from ideal, but it's what we currently have available.

[2022-07-21 23:08] #946 closed, assigned to nobody

[2022-07-21 23:13] JesseOlmer commented on #958
We do have a compile error on statics, missing suffix, etc. No errors for using the attributes on a class type other than NetworkBehaviour... should consider this.

[2022-07-21 23:35] JesseOlmer commented on #1204
Hey Willyema, apologies for missing this one for so long.

Hopefully, you're not still stuck on this issue, but the most common cause of what you're describing is that you have something like input/movement handling as a component on the player prefab, and so you basically have both the local and remote players both listening for local movement inputs.

 If you still have issues or questions about

[2022-07-21 23:35] #1204 closed, assigned to nobody

[2022-07-22 00:06] JayPeet commented on #1963
Heya @ashwinimurt

I get the same issue on 2022.2.0b2, on the latest Netcode version

[2022-07-22 00:50] #1259 closed, assigned to simon-lemay-unity, VALERE91Unity

[2022-07-22 00:56] JesseOlmer commented on #1325
Is this still relevant? If so, can you please provide more information? We have OnNetworkSpawn on the objects themselves. Is there a reason you can't call whatever systems you have locally from this callback?

[2022-07-22 01:26] NoelStephensUnity commented on #2064
We possibly need to improve the documentation on this method.  The intended usage of OnClientDisconnectedCallback is:
- server-side: to notify the server that a client disconnected itself (i.e. a client/player exits a network session)
- client-side: to be notified that the server disconnected it (i.e. server sends a disconnect or terminates the transport's connection)

The original logic behind th

[2022-07-22 08:57] daalen commented on #2064
OK, if that's the intended use that's fine, though indeed the documentation could be clearer. I was using this callback for cleanup and to have the client return itself to the login scene, but it was easy enough to work around.

[2022-07-22 09:09] AwixStudio commented on #2066
@NoelStephensUnity

I have tried 60, 200, 2000, 20000. Result is still the same "player timed out due to inactivity".

[2022-07-22 11:09] 2shady4u commented on #2059
I have a `Menu.unity`-scene which contains different sibling GameObjects that I disable/enable depending on the menu's state.
The relevant ones are:
- `Main`-GameObject which serves as the initial canvas when the game launches.
- `Lobby`-GameObject which contains 2 NetworkObjects as children (one for each player as it is a coop game).

All siblings of the `Main`-GameObject are initially disabled.

[2022-07-22 15:12] #2044 closed, assigned to NoelStephensUnity

[2022-07-22 15:55] JesseOlmer commented on #1353
Fixed by #1390

[2022-07-22 15:55] #1353 closed, assigned to nobody

[2022-07-22 16:24] JesseOlmer commented on #1397
@Falkonio can you please confirm if you're still seeing this in the latest version of the SDK?

[2022-07-22 16:34] #1389 closed, assigned to nobody

[2022-07-22 16:36] NoelStephensUnity commented on #2066
@AwixStudio
Thank you for confirming that first step.  This is starting to sound like a bug indeed.
The more information I have the better so if you could provide me with any of the following pieces of information it would greatly help me verify the bug and then we can start looking into a fix.
- Could you provide me with the console log output of the client and server-host from startup to the poi

[2022-07-22 16:49] #604 closed

[2022-07-22 16:49] #605 closed

[2022-07-22 17:04] AwixStudio commented on #2066
@NoelStephensUnity

Thanks for answear. I will be able provide you console log and info about scene file size, etc... earliest on nearest monday. To dont wasting time, I can answear right now about second question.

Due to project complication level and scale, I am unable to provide you part of project with only scene loading (maybe mentioning the name of our project to better illustrate the scale

[2022-07-22 17:07] JesseOlmer commented on #1488
Duplicates #1351

[2022-07-22 17:07] #1488 closed, assigned to nobody

[2022-07-22 19:33] JayPeet commented on #1963
Looking at my build log, I notice that CECIL_CONSTRAINTS_ARE_TYPE_REFERENCES is set. Yet on my local machine its not.
Going to investigate to find out where its being set

[2022-07-22 21:04] NoelStephensUnity commented on #2059
Based on what you are describing above and depending upon how far along you are with your project, you might find this (MIT Licensed) project very useful:
https://github.com/NoelStephensUnity/Netcode-For-GameObjects-BootStrap-Pattern
It basically "solves" many of the issues you are experiencing currently while also providing you with the ability to easily extend/expand upon it.

If that doesn't wo

[2022-07-23 01:08] JayPeet commented on #1963
Worked around it for now by using my fork, with the defines disabled https://github.com/JayPeet/com.unity.netcode.gameobjects

[2022-07-25 15:54] NoelStephensUnity commented on #2066
It is something I can do that was verified internally and as long as this project is too big to be submitted via the editor (looking at it I am assuming that is the case) then it is not unheard of to grant someone (in this case myself) from Unity temporary access to help determine where the underlying issue might be (SDK bug or potentially a feature that hasn't made it to documentation yet).  If w

[2022-07-25 21:21] ashwinimurt commented on #988
The doc changes have been made and will be published soon. Assigning to @s-omeilia-unity to close this issue when changes are live.

[2022-07-25 21:54] ashwinimurt commented on #1392
Noel has verified that this issue is now fixed :)

Verified Boss Room is now:
Exiting playmode if it needs to load the bootstrap scene
Loading the bootstrap scene (StartUp) via EditorSceneManager to assure OnValidate is called.
Once loaded, it then enters back into playmode and BossRoom starts.

[2022-07-25 21:55] ashwinimurt commented on #1392
A new issue is created on the Samples side https://jira.unity3d.com/browse/MTT-4206 for `SceneBootstrapper.k_BootstrapSceneKey still uses the legacy "BootstrapScene" name when it should now be "StartUp".`

[2022-07-25 21:56] #1392 closed, assigned to nobody

[2022-07-25 22:55] flyingkaktus opened #2078 "IsOwner == false on client site locally"
### Description

I start the game as host and as client. The prefabs of the players appear on both windows. But on client side IsOwner is printed as false and OwnerClientID is always 0.

[code]

### Reproduce Steps

1. Go to Unity Build

### Actual Outcome

On the client side and on the server side, the Destory(this) is executed, written in the PlayerControll Script attached to the client player.

[2022-07-26 13:32] AwixStudio commented on #2066
@NoelStephensUnity

After some investigating, we noticed that this error exist only in editor. In build everything works fine.

So, after entered play mode in editor, we create lobby and then join to game through relay.

We started loading in scenes. We loading (as additive scenes) few scenes in row, we start loading next scenes only when all players (in this example only one player - host) loaded

[2022-07-26 16:08] NoelStephensUnity commented on #982
This was actually removed in [PR-1785](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1785) to avoid exceptions under edge case scenarios and to help with performance.
The general idea was this:
If it is not spawned then those properties will be their default values.
If it is spawned then those values will be valid.

We moved away from using other component references wit

[2022-07-26 16:08] #982 closed, assigned to nobody

[2022-07-26 16:40] NoelStephensUnity commented on #2066
@AwixStudio
Ok, so this is starting to sound like a relay issue specific to 2021.3.
To make sure I understand correctly:
1. This only happens when running in the editor, but running as a stand alone build it works fine?
2. This only happens with relay on 2021.3 but it works just fine in the editor 2021.2?
3. You have increased the scene loading timeout in the NetworkManager and that does nothing (

[2022-07-26 16:43] NoelStephensUnity commented on #2059
@2shady4u
Just following up to see if you still need assistance with this issue.

[2022-07-27 08:28] AwixStudio commented on #2066
@NoelStephensUnity

1. Yes.
2. Yes.
3. Yes.
4. Yes.

I have tried to increase "Disconnect Timeout MS" to 3000000, but it doesn't change anything. I will attach screenshot with my transport setup (after increasing values for test as you asked):
![transportSetup](https://user-images.githubusercontent.com/29355013/181199903-748edcb3-c8c8-4cce-80f8-ace55a7cee86.PNG)

[2022-07-27 08:41] 2shady4u commented on #2059
Hi @NoelStephensUnity,

The linked Github repo is certainly helpful.
Unfortunately we are too far into development to switch out the entire architecture at this point.

I think the issue as described in the original post is and always will be a stumbling block for all beginning users of Netcode and, as a result, I do think that the original issue is still extremely relevant, even after going throu

[2022-07-27 15:05] NoelStephensUnity commented on #2056
#2076 Resolved this issue.

[2022-07-27 15:05] #2056 closed, assigned to nobody

[2022-07-27 17:27] #1978 closed, assigned to jeffreyrainy

[2022-07-27 19:55] jeffreyrainy commented on #1953
@NoelStephensUnity l As discussed, probably a similar fix to what we do for dealing with spawn/despawn of in scene placed objects

[2022-07-27 20:53] NoelStephensUnity commented on #1953
[MTT-4211](https://jira.unity3d.com/browse/MTT-4211)

[2022-07-27 21:03] NoelStephensUnity commented on #1953
@DovydasAL
This was verified an issue today and does currently break consistency with the v1.0.0 in-scene placed NetworkObjects where you can call NetworkObject.Despawn(false) on an in-scene placed NetworkObject and then call NetworkObject.Spawn on that same NetworkObject and it works as expected.  However, NetworkHide doesn't take into account whether it is or is not an in-scene placed NetworkObj

[2022-07-27 23:38] flyingkaktus commented on #2078
Changed version of unity, now it seems to work.

[2022-07-27 23:38] #2078 closed, assigned to nobody

[2022-07-28 03:36] NoelStephensUnity commented on #2059
@2shady4u
If that is the case, then I would definitely suggest not making the players child GameObjects of an in-scene placed NetworkObject (or any GameObject you plan on disabling) but allow those to be spawned naturally by assigning the NetworkManager PlayerPrefab.  I would also highly recommend not having a single scene and use GameObjects paired with calls to GameObject.SetActive to simulate s

[2022-07-28 18:38] NoelStephensUnity commented on #1406
This issue references a very old repository that contains references to MLAPI namespaces.  The issue described I cannot get to happen using Netcode for GameObjects v1.0.0.

[2022-07-28 18:38] #1406 closed, assigned to mattwalsh-unity

[2022-07-28 20:09] NoelStephensUnity commented on #2066
Actually I apologize... it should be:
Test increasing the "Connect Timeout MS"... but really that is like 100 seconds (just shy of 2 minutes) and I am guessing on direct IP it takes less than 100 seconds for the client to connect?

I have also forwarded this issue to the Relay team and am waiting for a response.

[2022-07-28 20:36] NoelStephensUnity commented on #2066
@AwixStudio
I got a response from the Transport team:

With that said, try decreasing the Heartbeat Timeout to a lower value and see if that has any impact? (i.e. like 1000 or even back to 500ms)
Otherwise, the Relay team has also been notified of this issue and when I know more I will update you.

_As a side note: if you need to debug a client you can always attach to a development build from you

[2022-07-28 20:57] NoelStephensUnity commented on #2063
Hi @Myxcil !
Just to make sure I am understanding the underlying issue:

**Server-Side:** (_problematic_)
1. When an ownership is removed, `UpdateOwnershipTable` is invoked
2. The only place where I could see this would be an issue is within UpdateOwnershipTable it will invoke networkObject.InvokeBehaviourOnLostOwnership()
3. If you try to check the OwnerClientId (or any property that uses that) i

[2022-07-28 23:19] NoelStephensUnity commented on #2007
This was fixed in [PR-2009](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2009)

[2022-07-28 23:19] #2007 closed, assigned to nobody

[2022-07-29 09:43] itismarcii opened #2089 "Access to NetworkPrefabs"
It would be nice if there is read access to the NetworkPrefab array. Right now i need to make a copy of that array to Instantiate and spawn objects via GlobalHash from the NetworkManager and in most cases i already have this "ServerManager" script on the same GameObject as the NetworkManager that keeps an exact copy of that array that i need to fill myself.

**Describe the solution you'd like**
Ge

[2022-07-29 11:00] AwixStudio commented on #2066
@NoelStephensUnity

Setting Heartbeat Timeout to a lower value (500ms) fixed problem. Thank you!

[2022-07-29 11:00] #2066 closed, assigned to nobody

[2022-07-29 17:02] NoelStephensUnity commented on #1450
Closing this bug since UNet is deprecated and the recommended Netcode for GameObjects transport is now UnityTransport.

[2022-07-29 17:02] #1450 closed, assigned to nobody

[2022-07-29 17:12] NoelStephensUnity commented on #1879
@pixldev
I am unable to replicate this issue using v1.0.0.
Have you tried upgrading your package to the latest version of Netcode for GameObjects?
If so, do you still see this issue?

[2022-07-29 18:37] NoelStephensUnity commented on #1879
@pixldev
I was able to replicate it with the domain reload being enabled and the scene reload being disabled.
When you disable the domain reload you can run into a myriad of issues if you exit playmode prior to completely shutting down NetworkManager as is demonstrated in the code example from [InitializeOnEnterPlayModeAttribute](https://docs.unity3d.com/ScriptReference/InitializeOnEnterPlayModeAt

[2022-07-29 18:52] NoelStephensUnity commented on #1885
@jesuscfp
I am following up on this issue and was wondering if you have the same issues with the official release of Netcode for GameObjects v1.0?  If so, could you please capture another profiler session so we can review it?

Also, in your first screenshot I noticed that it is spending a very large period of time on the NetworkVairableDeltaMessage deserialization side.  Are you using a NetworkTra

[2022-07-29 19:57] WhippetsAintDogs opened #2090 "Setting a NetworkAnimator boolean parameter to a value, then starting a Coroutine to set it back to the previous value next frame will cause the latest update to be overriden by the first change."
### Description

Setting a NetworkAnimator boolean parameter to a value (e.g. `false`, was `true` before), then starting a Coroutine to set it back to the previous value (`true`) next frame will cause the latest update to be overriden by the first change.

Tl;dr NetworkAnimator doesn't handle well flickering parameter values.

### Reproduce Steps

[code]

### Actual Outcome

The animator's value i

[2022-07-30 01:06] NoelStephensUnity commented on #1953
@DovydasAL
At this time the fix for the issue you were experiencing has landed in the Netcode for GameObjects develop branch. In the event it was blocking any further progress in your netcode enabled Unity project you can work off the develop branch until the next package update. 👍

[2022-07-30 01:06] #1953 closed, assigned to NoelStephensUnity

[2022-07-30 12:49] sf-t-kato opened #2092 "High load is applied when turning to the background on iOS"
### Description
High load is applied when turning to the background on iOS

### Reproduce Steps

1. Build your application on iOS
2. Launch application on iPhone
3. Turn the application into the background
4. Does not work under heavy load

### Actual Outcome
Unity Transport.Update() takes a high load of about 10000ms
Attached screen shot of unity profiler

### Expected Outcome
---

### Screenshot

[2022-07-31 12:02] maxsroka commented on #1879
Having these settings disabled saves a lot of time. It is a nice-to-have, but rather low priority.  A warning that these are unsupported could be handy.

[2022-08-01 06:04] xyxwangkai opened #2093 "Transmission problems of networktransform"
### Description

If NetworkTransform only modifies some attributes (for example, only the x of Pos is modified this time), m_Bitset is not reset after the message is sent, resulting in the sent attributes being sent forever

###
here would be a hypothetical example:

- We only modify position.x and position.z, but during debugging, we found that in the NetworkTransform.NetworkSerialize method, the

[2022-08-01 11:40] sianzhan opened #2094 "NetworkVariable with both Read&Write Permission set to Owner doesn't have its Value updated to Server"
### Description

Network Variable with both ReadPerm = NetworkVariableReadPermission.Owner and WritePerm = NetworkVariableWritePermission.Owner doesn't have the value updated from Owner Client to Server.

### Reproduce Steps

1. Declare a NetworkVariable of any type T with both Read & Write Permission set to Owner.
i.e. new NetworkVariable<T>(default, NetworkVariableReadPermission.Owner, NetworkVa

[2022-08-01 19:52] ashwinimurt commented on #2063
Backlog: [MTT-4259](https://jira.unity3d.com/browse/MTT-4259)

[2022-08-01 20:18] ashwinimurt commented on #2051
Assigning to myself to close when the Docs are updated.

[2022-08-01 20:21] ashwinimurt commented on #2043
Backlog [MTT-4261](https://jira.unity3d.com/browse/MTT-4261)

[2022-08-01 20:26] ashwinimurt commented on #2038
Setting priority to low because of existing workaround.

[2022-08-01 20:34] ashwinimurt commented on #2022
Backlog: [MTT-3967](https://jira.unity3d.com/browse/MTT-3967)

[2022-08-01 20:36] ashwinimurt commented on #2038
Backlog: [MTT-4262](https://jira.unity3d.com/browse/MTT-4262)

[2022-08-01 20:41] ashwinimurt commented on #2014
Backlog: [MTT-4263](https://jira.unity3d.com/browse/MTT-4263)

[2022-08-01 20:54] ashwinimurt commented on #1990
Added to backlog to investigate [MTT-4264](https://jira.unity3d.com/browse/MTT-4264)

[2022-08-01 22:32] ashwinimurt commented on #1645
Thanks for the update. I have reopened the bug internally for investigating.

[2022-08-01 22:54] ashwinimurt commented on #1645
@MiTschMR For the bug you filed https://issuetracker.unity3d.com/issues/netcode-netcode-not-calling-the-method-when-closing-built-client Please see my comments in the Resolution notes. It is slightly different from this particular issue.

@rCarleon This seems to be working as expected and is by design. The original implementation was that if the client side is shutting itself down, then it knows i

[2022-08-01 22:54] #1645 closed, assigned to 0xFA11, NoelStephensUnity

[2022-08-01 23:01] ashwinimurt commented on #1573
The Jira issue is marked Done, but the bug is not really fixed. Assigning to myself to reproduce and reopen.

[2022-08-01 23:08] ashwinimurt commented on #1546
This is not a bug, missing feature/func.

[2022-08-01 23:25] ashwinimurt commented on #1371
Hi @tdautreme, This issue is fixed in 1.0.0-pre.10. Please try our latest 1.0.0 release and let us know if you encounter it again. Thanks,
Ash

[2022-08-01 23:25] #1371 closed, assigned to nobody

[2022-08-01 23:29] #1367 closed, assigned to nobody

[2022-08-01 23:31] ashwinimurt commented on #1397
Assigning to myself to verify and close.

[2022-08-01 23:46] ashwinimurt commented on #1143
Assigning to myself to verify with NGO 1.0.0

[2022-08-01 23:47] ashwinimurt commented on #1143
I see Luke has already verified it:
No longer reproducible in 1.0.0-pre5 using 2020.3.12f1 and 2021.2.0b12 on Windows 10, and the Jira ticket is marked Done.

[2022-08-01 23:47] #1143 closed, assigned to ashwinimurt

[2022-08-01 23:54] ashwinimurt commented on #722
Does not work with recent NGO. Linking duplicate issue: https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/1962 and
Tracked in our backlog [MTT-4088](https://jira.unity3d.com/browse/MTT-4088)

[2022-08-02 02:01] ashwinimurt commented on #2094
Backlog [MTT-4266](https://jira.unity3d.com/browse/MTT-4266)

[2022-08-02 14:46] ashwinimurt commented on #1303
This is by design. On the NGO side, these IDs are remapped to 1, 2, 3 and so. So users shouldn't see these large ugly identifiers. And while it's a fair point that maybe this is not optimal from a performance point of view, we don't think it's that big of a deal. If it actually causes measurable performance overhead, we can revisit this, but for now "won't fix" is the best status.

[2022-08-02 14:46] #1303 closed, assigned to ashwinimurt

[2022-08-02 19:52] NoelStephensUnity commented on #1573
Fixed in https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/1898

[2022-08-02 19:52] #1573 closed, assigned to ashwinimurt

[2022-08-02 20:07] ashwinimurt commented on #2093
Backlog: [MTT-4275](https://jira.unity3d.com/browse/MTT-4275)

[2022-08-02 20:09] ashwinimurt commented on #2092
Backlog [MTT-4276](https://jira.unity3d.com/browse/MTT-4276)

[2022-08-02 20:10] ashwinimurt commented on #2090
Backlog [MTT-4277](https://jira.unity3d.com/browse/MTT-4277)

[2022-08-02 23:34] NoelStephensUnity commented on #2093
Hi @xyxwangkai
m_Bitset should only be used to determine which axis is to be checked for deltas above the given threshhold, whether it is in local space or not and things of this nature.  It shouldn't impact how often you will be sending updates.
What could impact the frequency of when a NetworkTransform will send an update are the "threshold" NetworkTransform properties (i.e. position, rot angle,

[2022-08-03 07:02] xyxwangkai commented on #2093
Hi @NoelStephensUnity
I pushed a merge request with a detailed description in the content
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2100

[2022-08-03 15:21] NoelStephensUnity commented on #2093
@xyxwangkai
Thank you for taking the time to do this.  Let me take a look at your changes.

[2022-08-03 16:41] NoelStephensUnity commented on #2093
@xyxwangkai
It took me a little bit to make sure I wasn't missing something, but eventually I noticed where the bug was.
The easiest way to show you were the changes needed to occur would be via code.
Take a look in [this branch version of NetworkTransform](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/c0e94d67aaa8a25841687ec728d270c1ae283aac/com.unity.netcode.gameobject

[2022-08-03 17:31] NoelStephensUnity commented on #2093
Backlog [MTT-4275](https://jira.unity3d.com/browse/MTT-4275)

[2022-08-03 21:14] NoelStephensUnity commented on #2022
@itismarcii
closing this bug out again (there is a duplicate issue recently filed that we are using to track this issue)
#2102 is the fix I believe you are looking for and should be included in the next update.  👍

[2022-08-03 21:14] #2022 closed, assigned to nobody

[2022-08-04 01:11] Marc477 commented on #1499
Can't believe this issue is still not fixed. This makes Netcode unusable with large number of NetworkObjects in a scene.

For anyone that has this issue, you can use this Editor script in your scene when it happens:

[code]

[2022-08-04 02:47] Marc477 opened #2104 "How to prevent scene NetworkObjects from auto Spawning ?"
I have a scene with thousands of NetworkObjects, but only a few of them needs to be active at a time.
If they are not spawned, everything would work smoothly, but scene objects are spawned automatically according to :
https://docs-multiplayer.unity3d.com/netcode/current/basics/object-spawning/index.html

How do I prevent this from happening? Is there a variable on the NetworkObject to prevent auto

[2022-08-04 14:00] ezoray opened #2105 "NetworkList behaviour on object spawn."
I'm making a lot of use of NetworkLists in my network objects and I wanted to check if this is intended behaviour.

I have a network object which contains a network list of structs, I populate the list with initial values and then the object is spawned, hidden from the client. Later I show the object to spawn it on the client, if I then directly afterwards (in the same frame) make changes to the c

[2022-08-04 16:43] ezoray commented on #2105
Actually using Start is unreliable, the list is sometimes but not always up-to-date when it's called leading to list changes being missed.

I'd change this issue to being a bug can't see how to change the label.

[2022-08-05 08:30] hiddenFSBuser opened #2107 "NetworkVariable string could'nt init"
If i init a network variable, use string, i get error: The type 'string' must be a non-nullable value type, along with all fields at any level of nesting, in order to use it as parameter 'T' in the generic type or method 'NetworkVariable<T>'
(i dont use a 'Collections' package)

Screenshot: https://cdn.discordapp.com/attachments/938306442098802688/1005029576772165744/unknown.png

- OS: Windows 8.1

[2022-08-06 10:23] itismarcii commented on #2107
Strings are **not**  non-nullable. You need to use FixedStrings, in the documentation is an example. [Source](https://docs-multiplayer.unity3d.com/netcode/current/basics/networkvariable#strings-networkvariable-fixedstring-example)

[2022-08-07 14:39] TCleard opened #2108 "NullReferenceException on NetworkBehaviourILPP when using ServerRpc or ClientRpc"
### Description

In a newly createed project, created an abstract class extending NetworkBehaviour that uses [ServerRpc] and [ClientRpc].

Got the following error :

`System.NullReferenceException: Object reference not set to an instance of an object.||   at Unity.Netcode.Editor.CodeGen.NetworkBehaviourILPP.GetWriteMethodForParameter(TypeReference paramType, MethodReference& methodRef) in N:\Docum

[2022-08-07 16:43] TCleard commented on #2108
I think I know where this is from.
What I am trying to do is to create an abstract class with generic types, to implement prediction reconciliation easily.

How my class is declared :
`public abstract class NetworkHandler<I, S> : NetworkBehaviour
    where I: NetworkInput
    where S: NetworkState`

In this class, I'm checking if I'm the server, the host owner, the owner or just a passive client,

[2022-08-08 01:35] Finn-NHNEdu opened #2109 "NetworkVariable which have NetworkVariableWritePermission.Owner occurred infinity calling WriteDelta() from server."
### Description

NetworkBehaviourUpdater.NetworkBehaviourUpdate() update every network variables for every connected clients. Inside of NetworkBehaviour.VariableUpdate() calls  NetworkBehaviour.PreNetworkVariableWrite() and it clear list variable  NetworkVariableIndexesToReset. But last client(in networkManager.ConnectedClientsList)'s variable is changed which has NetworkVariableWritePermission.Ow

[2022-08-08 13:25] jesuscfp commented on #1885
Hey @NoelStephensUnity thanks for the help. I've tried to update NetCode to 1.0.0 and multiply the threshold by 100 for AR's NetworkTransform, but the problem persists.

The problem is random and for this last test, I've executed it six times on Samsung A20 leaving the device in the same position, with the nexts results:

1. Game freeze after 40 minutes of execution.
2. Game freeze after 26 minute

[2022-08-09 12:56] NoelStephensUnity commented on #2094
This issue was resolved in #2097

[2022-08-09 12:57] #2094 closed, assigned to NoelStephensUnity

[2022-08-09 16:10] davidyrgilbert opened #2111 "NetworkAnimator.Cleanup() removes OnClientConnectedCallback only if IsServer is true, but ShutdownInternal() sets it to false beforehand."
### Description

When shutting down a server/host and starting it again with a NetworkAnimator on e.g. the player, an error gets thrown:

[code]

 It's pretty clear why that happens:

For the NetworkAnimator, OnNetworkSpawn:

[code]

Now, on Cleanup(), the callback is removed again:
[code]

However, cleanup gets called here:
[code]

[2022-08-10 08:47] Sirall opened #2112 "Suggestion - remove [RequireComponent(typeof(Animator))] in NetworkAnimator"
**Is your feature request related to a problem? Please describe.**
NetworkAnimator require to be on the same game object as Animator, but it looks that by design it's not necceserly. The Animator component can and is attached manually. I prefer to remove this requirement because animator root and network game object root can be different.

**Describe the solution you'd like**
Just remove [RequireC

[2022-08-10 15:58] itismarcii opened #2114 "If Clients try to connect pre Server start, the Clients Owner Authoritative Network Animator wont work"
### Description

If Clients try to connect to a Server that hasnt started yet, those Clients will not sync their animations after spawn anymore. Should another Client spawn post Server start, all Client syncs (pre/post) will work (again).

### Reproduce Steps

1. Clients try to connect to a not started Server
2. Server started
3. Clients connect
4. Server spawns PlayerPrefabs with Owner Authoritat

[2022-08-10 17:23] JesseOlmer commented on #134
This issue was closed because it has been inactive for more than a year. If you still have issues or questions around the topic, we suggest asking on our [discord](https://discord.gg/FM8SE9E).

[2022-08-10 17:23] #134 closed

[2022-08-10 17:24] JesseOlmer commented on #157
This issue was closed because it has been inactive for more than a year. If you still have issues or questions around the topic, we suggest asking on our [discord](https://discord.gg/FM8SE9E).

[2022-08-10 17:24] #157 closed

[2022-08-10 17:26] JesseOlmer commented on #158
This feature was closed because host migration is not in the short-term plans for the SDK.

[2022-08-10 17:26] #158 closed

[2022-08-10 17:26] JesseOlmer commented on #176
This issue was closed because it is no longer relevant.

[2022-08-10 17:26] #176 closed

[2022-08-10 17:27] #207 closed

[2022-08-10 17:28] JesseOlmer commented on #220
This issue was closed because it has been addressed. Since MLAPI became NGO, Unity has released [samples](https://unity.com/demos/small-scale-coop-sample) and added a documentation site.

[2022-08-10 17:28] #220 closed

[2022-08-10 17:30] JesseOlmer commented on #259
This issue was closed because it has been addressed. Connection Approval is now an asynchronous process that (depending on transport used) can pass messages with custom data.

[2022-08-10 17:30] #259 closed

[2022-08-10 17:30] JesseOlmer commented on #274
NetworkTransform was updated to handle scaling prior to the 1.0 release.

[2022-08-10 17:30] #274 closed

[2022-08-10 17:31] JesseOlmer commented on #305
This issue has been closed because it is no longer relevant.

[2022-08-10 17:31] #305 closed

[2022-08-10 17:33] JesseOlmer commented on #307
This issue has been closed because it has been addressed. NGO now supports additive scene loading.

[2022-08-10 17:33] #307 closed

[2022-08-10 17:34] JesseOlmer commented on #317
This issue has been closed because a number of the aspects have been addressed. Additional change requests, as well as conceptual new feature requests should be filed in new issues.

[2022-08-10 17:34] #317 closed

[2022-08-10 17:40] JesseOlmer commented on #324
This issue was closed because the suggestion is not part of the plans for NGO going forward.

[2022-08-10 17:40] #324 closed

[2022-08-10 17:42] JesseOlmer commented on #330
Yes, Netcode for GameObjects should work with these features. Please file separate bugs for any issues you may encounter.

[2022-08-10 17:42] #330 closed

[2022-08-10 17:42] JesseOlmer commented on #379
This issue was closed as it is no longer relevant. Channels are no longer a feature of NGO.

[2022-08-10 17:42] #379 closed

[2022-08-10 17:43] #383 closed

[2022-08-10 17:43] #420 closed

[2022-08-10 17:54] JesseOlmer commented on #423
We have compatibility with much of addressable (see `NetworkManager.AddNetworkPrefab), but unfortunately this does not include addressable scene loading. This functionality isn't in our near-term plans for the SDK, but we'd be happy to have a discussion about possible approaches if anyone from the community wants to contribute a solution.

[2022-08-10 17:54] #423 closed

[2022-08-10 17:55] JesseOlmer commented on #425
This feature request is not in the short-term plans for the SDK. Community contributions to this issue would be welcome.

[2022-08-10 17:55] #425 closed

[2022-08-10 17:56] #511 closed

[2022-08-10 17:56] JesseOlmer commented on #544
NetworkTransform is currently server-authoritative only. There exist samples for a ClientNetworkTransform, but there are too many project-specific specializations (and as Luke calls out, a lack of snapshot interpolation) required for inclusion in the SDK.

[2022-08-10 17:56] #544 closed

[2022-08-10 17:57] #545 closed

[2022-08-10 17:58] JesseOlmer commented on #546
This is perhaps helpful in smaller/simpler projects but is frequently not desired as there is often specialized startup and configuration necessary on servers. We would rather not complicate the framework with little "helpers" like this.

[2022-08-10 17:58] #546 closed

[2022-08-10 17:59] JesseOlmer commented on #556
This issue has been closed because it is no longer relevant.

[2022-08-10 17:59] #556 closed

[2022-08-10 17:59] JesseOlmer commented on #557
This issue has been closed because it is not part of the short-term plans for the SDK. Community contributions to this issue would be welcome.

[2022-08-10 17:59] #557 closed

[2022-08-10 18:00] JesseOlmer commented on #572
This issue has been closed because it is not part of the short-term plans for the SDK. This would likely depend on a full rewrite of the RPC system using Source Generators instead of ILPP.

[2022-08-10 18:00] #572 closed

[2022-08-10 18:55] jeffreyrainy commented on #1987
Hi @mraue ,

This doesn't seem to repro on the released 1.0.

I just checked, in `NetworkVariableDeltaMessage.cs`. We do not see serialized message for every network variable and `OnValueChanged` is not triggered when a client joins. I assume that the released version fixed this for you, without the hack/removal described above.

I'l close this issue as it got a bit old and doesn't seem to apply a

[2022-08-10 18:55] JesseOlmer commented on #579
You should be able to achieve this by using custom messages during the asynchronous connection approval period.

[2022-08-10 18:55] #579 closed

[2022-08-10 18:56] JesseOlmer commented on #596
Implemented in 1.0.0-pre.1. Added in #1202 and #1175

[2022-08-10 18:56] #596 closed

[2022-08-10 18:56] JesseOlmer commented on #597
You should be able to achieve this, as you call out, in Host mode. You can either only bind on 127.0.0.1, or implement a loopback transport. This is currently not part of the short-term plans for the SDK.

[2022-08-10 18:56] #597 closed

[2022-08-10 18:57] JesseOlmer commented on #598
This issue has been closed because it is not part of the short-term plans for the SDK. Community contributions for this issue would be welcome.

[2022-08-10 18:57] #598 closed

[2022-08-10 18:57] JesseOlmer commented on #663
This issue was closed because it has been inactive for more than a year. If you still have issues or questions around the topic, we suggest asking on our [discord](https://discord.gg/FM8SE9E).

[2022-08-10 18:57] #663 closed

[2022-08-10 18:58] JesseOlmer commented on #752
This issue was closed because it has been inactive for more than a year. If you still have issues or questions about the topic, we suggest asking on our [discord](https://discord.gg/FM8SE9E).

[2022-08-10 18:58] #752 closed

[2022-08-10 19:00] JesseOlmer commented on #768
This issue was closed because it has been inactive for more than a year. If you still have issues or questions about the topic, we suggest asking on our [discord](https://discord.gg/FM8SE9E) or filing a support ticket with Unity.

[2022-08-10 19:00] #768 closed

[2022-08-10 19:02] JesseOlmer commented on #796
This was fixed in a prior version of the framework and is available in the latest release.

[2022-08-10 19:02] #796 closed

[2022-08-10 19:03] JesseOlmer commented on #857
This issue was closed because it has been inactive for more than a year. If you still have issues or questions around the topic, we suggest asking on our [discord](https://discord.gg/FM8SE9E).

[2022-08-10 19:03] #857 closed

[2022-08-10 19:04] JesseOlmer commented on #883
This issue has been closed because it is no longer relevant. The framework is a server-authoritative solution, which means an EveryoneRPC would only be used by the Server, at which point it's typically preferred to use other synchronization mechanisms.

[2022-08-10 19:04] #883 closed, assigned to nobody

[2022-08-10 19:05] JesseOlmer commented on #899
This feature request is not in the short term plans for the SDK.

[2022-08-10 19:05] #899 closed, assigned to nobody

[2022-08-10 19:08] JesseOlmer commented on #943
This feature request is not in the short-term plans for the SDK.

[2022-08-10 19:08] #943 closed, assigned to nobody

[2022-08-10 19:09] JesseOlmer commented on #959
This issue has been closed because it is no longer relevant.

[2022-08-10 19:09] #959 closed, assigned to nobody

[2022-08-10 19:09] JesseOlmer commented on #980
This issue has been closed because it is no longer relevant.

[2022-08-10 19:09] #980 closed, assigned to nobody

[2022-08-10 19:11] JesseOlmer commented on #988
The docs have been published.

[2022-08-10 19:11] #988 closed, assigned to s-omeilia-unity

[2022-08-10 19:12] JesseOlmer commented on #996
This issue has been fixed in a previous version of the framework.

[2022-08-10 19:12] #996 closed, assigned to lpmaurice

[2022-08-10 19:12] JesseOlmer commented on #997
We cannot repro this issue, and as Luke stated, it seems like it may be unrelated to the SDK.

[2022-08-10 19:12] #997 closed, assigned to nobody

[2022-08-10 19:13] JesseOlmer commented on #1107
This issue has been closed because it is not part of the short-term plans for the SDK. Connection details are transport specific, so we can't implement a generic solution for this.

[2022-08-10 19:13] #1107 closed, assigned to nobody

[2022-08-10 19:14] JesseOlmer commented on #1130
This issue has been closed because it is not part of the short-term plans for the SDK.

[2022-08-10 19:14] #1130 closed, assigned to LukeStampfli

[2022-08-10 19:14] JesseOlmer commented on #1141
This issue has been closed because it was answered. @JoernPo, your code should work fine, if you're getting compile errors please open a new issue. If you still have issues or questions about the topic, we suggest asking on our [discord](https://discord.gg/FM8SE9E).

[2022-08-10 19:14] #1141 closed, assigned to LukeStampfli

[2022-08-10 19:15] JesseOlmer commented on #1215
This issue has been closed because it has been inactive for more than six months. If you still have issues or questions around the topic, we suggest asking on our [discord](https://discord.gg/FM8SE9E).

[2022-08-10 19:15] #1215 closed, assigned to nobody

[2022-08-10 19:16] JesseOlmer commented on #1238
This feature request is not in the short-term plans for the SDK. Community contributions for this issue would be welcome. The preferred approach would be an IPC or Memory Transport implementation.

[2022-08-10 19:16] #1238 closed, assigned to nobody

[2022-08-10 19:17] JesseOlmer commented on #1249
You can potentially achieve this by spawning in ConnectionApproval (or other custom logic) instead of using the automated approach. ClientNetworkTransform is not part of the framework and we do not actively support it.

[2022-08-10 19:17] #1249 closed, assigned to nobody

[2022-08-10 19:19] JesseOlmer commented on #1250
This issue has been closed because it has been inactive for more than six months, and ClientNetworkTransform is not part of the framework. If you still have issues or questions around the topic, we suggest asking on our [discord](https://discord.gg/FM8SE9E).

[2022-08-10 19:19] #1250 closed, assigned to nobody

[2022-08-10 19:50] ashwinimurt commented on #2092
This issue is fixed and verified in the upcoming Unity Transport 1.2. We don't have a release date yet. So I will leave this issue assigned to me to close _after_ UTP 1.2 is released.

[2022-08-10 22:16] JesseOlmer commented on #1489
Fixed by #1762

[2022-08-10 22:16] #1489 closed, assigned to nobody

[2022-08-10 22:18] JesseOlmer commented on #662
@ashwinimurt I didn't want to do this back when the only option we had was something like `new-mlapi/x.y.z`, but maybe we could dual-tag releases with `x.y.z` AND `ngo/x.y.z`. What do you think?

[2022-08-11 12:01] mraue commented on #1987
Hi @jeffreyrainy,

while we are running on 1.0.0 we are still using the fix described above.

In com.unity.netcode.gameobjects/Runtime/Spawning/NetworkSpawnManager.cs line 579 is still says:
`networkObject.MarkVariablesDirty();`

which was causing the issue.

I haven't yet time to test 1.0.0 without this patch since we are currently preparing for a release. But I would be curious what your thought

[2022-08-11 14:12] jeffreyrainy commented on #1987
Hi @mraue ,

The original description says:

 There is indeed a `networkObject.MarkVariablesDirty();` in `SendSpawnCallForObject`. However, this is called in two situations:
 - When a `NetworkObject` is `NetworkShow()`n
 - When a `NetworkObject` is spawned.

 What's important to notice is that in both cases, a specific `NetworkObject` is passed to this function and only the `NetworkVariable`s of t

[2022-08-11 14:49] mraue commented on #1987
Hey @jeffreyrainy ,

The reported issue is that

And this is exactly caused by this line. The network object gets marked dirty for all clients, not only for the client that needs to receive them.

Since the code also seems to work without that line, I was wondering why it was there in the first place.

Cheers, m

[2022-08-11 14:55] jeffreyrainy commented on #1987
Hi @mraue ,

When you say:

The NetworkObject you refer to in that sentence is the NetworkObject that has just been spawned. Not all the NetworkObject in your scene. Only one. Typically, the player object for the joining player.

If this object was not marked dirty, the other players in the game would not receive it. As a result, your player would not updated on other players' machines. The reason

[2022-08-11 15:03] mraue commented on #1987
Hi @jeffreyrainy ,

thanks for the reply.

This method is called for the the player object that just has spawned. But it is also called for each object that should be visible to this new client:

NetworkObject.NetworkShow(ulong clientId) is called on each object that should be shown to a specific client.

In
NetworkObject.NetworkShow(ulong clientId) line 260
`NetworkManager.SpawnManager.SendSpawnC

[2022-08-11 18:07] ashwinimurt commented on #2114
@NoelStephensUnity Could you take a look to verify if your fixes fix this particular issue

[2022-08-11 18:09] ashwinimurt commented on #2111
@NoelStephensUnity I think this belongs to you as well :)

[2022-08-11 18:14] ashwinimurt commented on #2108
Thanks for reporting. This issue has been closed because it is not part of the short-term plans for the SDK. RPCs do not support generics.

[2022-08-11 18:14] #2108 closed, assigned to nobody

[2022-08-11 18:15] ashwinimurt commented on #2107
@DPrison please follow @itismarcii's solution.

[2022-08-11 18:15] #2107 closed, assigned to nobody

[2022-08-11 18:26] ashwinimurt commented on #1924
Assigning to myself to follow up with Transport

[2022-08-11 18:27] ashwinimurt commented on #1922
This feature request is not in the short term plans for the SDK. Community contributions for this issue would be welcome.

[2022-08-11 18:27] #1922 closed, assigned to nobody

[2022-08-11 20:45] danielchipman opened #2117 "NetworkObject despawning state"
**Is your feature request related to a problem? Please describe.**
Situation: A client script is holding a reference to a NetworkBehaviour. The associated NetworkObject is despawned, and in response to the NetworkBehaviour reporting this to the reference holder, the ref holder starts listening for when the same object is respawned, using its network ID. Applicable scenario would be for intermitten

[2022-08-12 00:17] ashwinimurt commented on #2109
Backlog https://jira.unity3d.com/browse/MTT-4386

[2022-08-12 00:18] ashwinimurt commented on #2111
Backlog [MTT-4385](https://jira.unity3d.com/browse/MTT-4385)

[2022-08-12 00:19] ashwinimurt commented on #2114
Backlog [MTT-4384](https://jira.unity3d.com/browse/MTT-4384)

[2022-08-12 03:18] DevinWatson commented on #1348
Create this script and then remove the NetworkAnimator and add ClientNetworkAnimator

[code]

[2022-08-12 07:25] wlwl2 opened #2118 "NetworkBehaviour.IsSpawned and Enter Play Mode Options: Reload Scene"
### Description

I'm already amazed with the progress on Scene handling.

See this for context (Boss Room issue): https://github.com/Unity-Technologies/com.unity.multiplayer.samples.coop/issues/710

There seems to be a problem with Enter Play Mode Options: Reload Scene unchecked when trying to change scene.
Reload Domain unchecked was fine (that is usually a source of problems). For performance re

[2022-08-12 07:33] wlwl2 commented on #2118
This `NetworkBehaviour.IsSpawned` property is also causing other issues I think. https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/2117

[2022-08-12 07:39] itismarcii opened #2119 "NetworkAnimator - Server Authoritative to Owner Authoritative via Inspector toggle instead a new class"
**Is your feature request related to a problem? Please describe.**
Creating a new class just to toggle an boolean seems a lot over the top. A boolean inside the Inspector should be enough.

**Describe the solution you'd like**
Inside the NetworkAnimator Inspector there should be a boolean-toggle that allows to switch between Server Authoritative  and Owner Authoritative.

**Additional context**
If

[2022-08-12 08:02] superztf opened #2120 "NetworkTransform method SetState seems wrong"
The method SetState in NetworkTransform assign parameter shouldGhostsInterpolate to IsTeleportingNextFrame.

I think shouldGhostsInterpolate =true means need to interpolate, but IsTeleportingNextFrame=true means not interpolate.

Please check it. Thanks.

[2022-08-12 10:34] mtpython opened #2121 "UI NetworkObject Parenting ignores `SetParent` `worldPositionStays`"
### Description

When using `SetParent` on Server for UI, Client ignores the `worldPositionStays` param, throws a warning: `Parent of RectTransform is being set with parent property`

### Reproduce Steps

1. Start Server
2. Start Client, connect to Server
3. On Server: Instantiate and Spawn Canvas with Network Object (`_parentInstance`):
[code]
6. On Server: Instantiate and Spawn Image with Networ

[2022-08-12 10:43] mtpython commented on #2121
### Notes on the solution

I assume the warning points us to the correct place to solve this:
[code]

This line:
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/1.0.0/com.unity.netcode.gameobjects/Runtime/Core/NetworkObject.cs#L739

Maybe I'm missing something, but the `worldPositionStays` param is not used here, breaking the the parenting on the Client side.

[2022-08-12 11:54] mtpython commented on #2121
I'm able to do a workaround for this by sending the location via `ClientRpc` to the transform that needs to have its position fixed.

On Client:
[code]

On Server:
[code]

But it doesn't seem like something necessary to do.

[2022-08-12 21:15] ChadGatling commented on #1348
@DevinWatson This isn't working for me. It enables the animations on the server but not on other clients.

[2022-08-13 12:20] ezoray opened #2122 "NetworkVariable OnValueChanged trigger order on Client does not match Server/Host."
This is a longstanding issue that's been bugging me for a while which needs some clarification and hopefully a fix.

### Description

Having a network object with a number of network variable fields, when multiple fields are changed on the server the order in which OnValueChanged events are triggered is correct on the server/host but out of order on the client. This can lead to awkward workarounds

[2022-08-13 21:06] DianeOfTheMoon opened #2123 "Have NetworkList implement IList and IList<T> interfaces?"
I was looking integrating some multiplayer code I have with a NetworkList object into visual scripting to have a designer able to easily work on it, when I realized that it doesn't seem to implement the list interfaces.  I'd love for it to be able to, if there's not any particular reason why it shouldn't.

[2022-08-15 12:48] Vnko opened #2124 "Too early for ShutDown Method to use 'NetworkConfig.NetworkTransport.OnTransportEvent -= HandleRawTransportPoll' in ‘NetworkManager.cs’"
### Description
It seems that it is too early for ShutDown Method to use  'NetworkConfig.NetworkTransport.OnTransportEvent -= HandleRawTransportPoll' in ‘NetworkManager.cs’  which can lead to the case 'NetworkEvent.Disconnect' can not be executed  .

### Reproduce Steps

1. Client and server enter the same room.
2. BreakPoint in 'case NetworkEvent.Disconnect:'  in 'ShutDown()' of ‘NetworkManager.c

[2022-08-15 14:50] TheCaveOfWonders commented on #2104
Disabled game objects won't spawn. So have them disabled, and then only enable the ones you want.

[2022-08-15 14:54] TheCaveOfWonders commented on #1524
this would be very nice indeed, have it work for dedicated servers too, not just host, so basically anytime the sender is also the receiver.

[2022-08-16 02:54] Vnko commented on #2124
OnClientDisconnectCallback. The callback to invoke when a client disconnects. This callback is only ran on the server and on the local client that disconnects. As for the former, it works. As for the latter， it didn't work.

[2022-08-16 07:04] Alexejhero commented on #937
I don't think this issue constitutes a duplicate of #572.

This issue is about using non-generic RPCs within a class which has generic parents, while the other is about generic parameters in RPCs.

Given that this worked in previous versions of mlapi, this is a bug. I propose reopening.

[2022-08-16 08:38] dunorb opened #2126 "Owner Authoritative NetworkAnimator does not work properly when ownership is assigned after spawning"
### Description

`NetworkAnimator` does some setup in `OnNetworkSpawn` that is behind a check of `if (IsOwner || IsServer)`
If a client spawns a `NetworkAnimator` without ownership and then later receives ownership, this setup is never done, which leads to errors.

I believe a simple fix could be to do the necessary setup in `OnGainedOwnership`

### Reproduce Steps

1. Spawn an owner authoritative

[2022-08-16 16:44] NoelStephensUnity commented on #1885
@jesuscfp
Ok, we haven't run across this particular issue with the overheating.
Could you try something on your end (if possible) to narrow this issue down?
Try decoupling the AR side of things (disable or the like) and where you are feeding the AR device's rotation and position add some script to simulate the AR device to see if the Netcode side still causes it to over heat?

I am trying to narro

[2022-08-16 17:40] wlwl2 commented on #1499
I'll look into this later again. I'll leave my current thoughts in this comment. https://docs.unity3d.com/ScriptReference/GlobalObjectId.html states: 'The ID changes when the object is moved to a new scene because the scene ID is part of the GlobalObjectID.' As long as Netcode, supports scene changes, this ID will keep on changing and this gets worse when clients are on different scenes than the s

[2022-08-16 19:54] NoelStephensUnity commented on #2111
Hi @davidyrgilbert!
I am closing this out as it was fixed in [PR-2074](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2074) and the fix will be included in the next update.  If this is blocking your progress, you can always use the develop branch that has the most recent fixes applied to it until the package is updated.

[2022-08-16 19:54] #2111 closed, assigned to NoelStephensUnity

[2022-08-16 19:58] NoelStephensUnity commented on #2114
This was actually a fix another user suggested that I just finished migrating into our build pipeline via [PR-2127](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2127).  I will close this out once that PR is merged. 👍

[2022-08-16 21:01] NoelStephensUnity commented on #1499
[wlwl2](https://github.com/wlwl2) We do use the [GetGlobalObjectIdSlow](https://docs.unity3d.com/ScriptReference/GlobalObjectId.GetGlobalObjectIdSlow.html) method during the [validation period](https://docs.unity3d.com/ScriptReference/MonoBehaviour.OnValidate.html) which only regenerates the GlobalObjectIdHash value if there is a change, if the script is being loaded, when entering into play mode,

[2022-08-16 21:15] NoelStephensUnity commented on #2120
@superztf Hello!
Yeah, I am not that happy with the name myself.
On the other hand, you could take a look at [PR-2110](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2110).
If you look at the [updates to SetState](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/07282c4408a6e9769df34eead283af3bd18f5981/com.unity.netcode.gameobjects/Components/Netwo

[2022-08-16 21:20] NoelStephensUnity commented on #2118
Currently, we do not support having the Reload Scene unchecked as that will break part of the GlobalObjectIdHash generation process that is required for NGO to function properly.

[2022-08-16 21:39] jeffreyrainy commented on #2109
Thank you for the submission, this is a good write-up. Working on a fix.

[2022-08-16 21:46] NoelStephensUnity commented on #2121
@MtPython
Thank you for your example project as that helped me narrow down the issue.
In your prefabs, you will need to add a NetworkTransform to both your Canvas and Image prefabs:
The Canvas prefab's NetworkTransform should look like this:
![image](https://user-images.githubusercontent.com/73188597/184990229-f718be7f-d1dc-4b88-8b3e-a8fefa6ca023.png)

The Image prefab's NetworkTransform should lo

[2022-08-16 22:04] NoelStephensUnity commented on #2124
Hello @Vnko,

I see what you are pointing out, but removing the unsubscribe to the OnTransport event won't help.
If you look a few lines further down you will find this:
[code]
The transport is completely shutdown, so nothing will be sent or received on the client side.
As you pointed out, the host does get notified which is the most important portion of that sequence as the client side knows they

[2022-08-16 22:10] NoelStephensUnity commented on #2126
@dunorb
I will take a closer look to see if this is something that could make it into the next patch, but just seeing that there are no OnGainedOwnership or OnLostOwnership overrides I am confident that this indeed is something that requires a fix indeed!

Thank you for taking the time to point this out. 👍

[2022-08-16 23:34] wlwl2 commented on #1499
@NoelStephensUnity That solved the issue for me! It's no problem if this issue doesn't get fixed in the short term.

[2022-08-16 23:55] wlwl2 commented on #2118
@NoelStephensUnity Should we leave this issue open just as a reminder for Enter Play Mode Options? The official (non-Netcode and/or Netcode) docs could also be changed to account for this?

[2022-08-17 02:22] NoelStephensUnity commented on #2118
@wlwl2
We sure can for the time being.  I am planning on adding some additional documentation in the appropriate areas as well as add an entry in the troubleshooting section of the documentation.

[2022-08-17 07:17] akoolenbourke commented on #796
In what way was this fixed; i.e. what can we do now to send an error like "server full" before disconnection? I currently use the BossRoom workaround (send message, wait a bit then disconnect) and if I could remove that it'd be great.

[2022-08-17 13:42] mtpython commented on #2121
@NoelStephensUnity
thanks for your response! 😄

Of course, this is a working solution, but it seems like an overkill for this issue.

The solution I propose [above](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/2121#issuecomment-1213032993) essentially does the same, in case you only need to synchronize the initial spawned position, and do not want to use all of the _N

[2022-08-17 14:01] jeffreyrainy commented on #2122
Hi @ezoray ,

That is a good observation. This subject can be a bit tricky (and lengthy), so I'll try to organize this reply in small sections. :-)

**Hard facts:**
The current release of Netcode for GameObjects is designed to bundle all the updates to NetworkVariables done in the same frame together. There is no guarantee offered for the order in which they will be delivered, if modified on the s

[2022-08-17 15:00] mtpython commented on #2121
Additionally, I've found if you try to reparent more complex UI structures, like using Scroll Rect, Layout Group, Content Size Fitter, there are still layout issues on the Client, even if you enable _Syncing_ for all values in _NetworkTransform_.

[2022-08-17 17:17] ezoray commented on #2122
Hi Jeffrey, many thanks for the detailed explanation. That makes what's going on under the hood a lot clearer and why ordering the network variables isn't currently feasible.

I'm using OnValueChanged all the time and they do ultimately lead to state changes in either drawing or of the interface. As this is working fine in most situations I'll have a look at the logic for the couple of situations

[2022-08-17 18:34] NoelStephensUnity commented on #2121
@MtPython
Thank you for the additional information and sticking with this. It forced me to do a double take on the issue, and I think I see the bug 🐛!

Currently, it looks like the WorldPositionStays parameter is not being synchronized or honored throughout the parenting code base.  This is very likely the cause of the issue you are experiencing.

I also noticed:
- After you change the parent with

[2022-08-17 20:28] mtpython commented on #2121
@NoelStephensUnity
Thanks for double-checking the issue!

Yes, that would be a great addition for the next update, thank you.

[code]

Alright, that makes sense.

-------------

Here's a bit more complex UI setup: [issue-2121-complex-ui-20220817.zip](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/files/9365827/issue-2121-complex-ui-20220817.zip)

It tries to network the follow

[2022-08-17 22:25] DianeOfTheMoon commented on #2123
I can also toss up a PR if the idea seems acceptable.

[2022-08-17 22:58] NoelStephensUnity commented on #2121
Got the project and will run it on my branch.
This change will have to happen in the next update as we just froze the develop branch and only existing PRs are getting merged.
But it will definitely make it in the next patch and once the PR is merged I will close this issue out...at that time you can use the develop branch to get the fix until the next patch comes out.  👍

[2022-08-18 01:51] jeffreyrainy commented on #2109
A fix as been merge to the `develop` branch, for the next release. Thanks for the report!

[2022-08-18 01:51] #2109 closed, assigned to jeffreyrainy

[2022-08-18 02:25] Zee2 commented on #158
This is a pretty critical feature! At least exposing hooks in the API to allow developers to write their own host migration system would be great.

[2022-08-18 03:01] akoolenbourke commented on #2122
That is very interesting to know. Can you tell me if there's any order gaurantee if you do a NetworkTransform/Rigidbody changes followed by an RPC? That is, will the client get the NetworkTransform/rb change processed before the RPC so the RPC can be assured the RB is up to date? I need to teleport on the server but a client-only RB that is following that server RB needs to know when to teleport a

[2022-08-18 08:12] mrstruijk commented on #158
I would also really love to be able to do host migration

[2022-08-18 10:42] ezoray opened #2132 "Writing to a NetworkVariable on an instantiated (not spawned) network object is suddenly causing an error (on develop)."
### Description

In my project I have a lot of instances where I instantiate a network object and set values before spawning, attempting to set a value on it now is throwing an exception.

### Reproduce Steps

Instantiate a network object with a NetworkVariable field and write to it. In case it's relevant CheckObjectVisibility is false.

### Actual Outcome

Writing to the field causes the followin

[2022-08-18 13:03] jesuscfp commented on #1885
@NoelStephensUnity
I can say that having a scene with AR active but with Netcode inactive (without start as client, host o server), the bottle neck continue appearing randomly. So the problem could be caused by AR?

[2022-08-18 15:59] NoelStephensUnity commented on #2122
Hi [akoolenbourke](https://github.com/akoolenbourke),
We have a [pending PR that fixes a bunch of issues with `NetworkTransform`](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2110/).  _When this is merged you could wait for the patch or use the develop branch to get the fixes immediately._
Based on your question, I think you would find this [PlayerMovement.cs](https://g

[2022-08-18 18:18] jeffreyrainy commented on #2132
Hi @ezoray ,

It's pretty funny, I just got that issue this morning. At first I thought it was a big deal. But...

The only safe place to _allocate_ the `NetworkVariable` is during the `Awake()` of the `NetworkBehaviour` that contains it. Elsewhere and you run into many edge cases.

As far as I understand, after the `Awake()` has been called and returned, you can set the `NetworkVariable` value du

[2022-08-18 20:16] ezoray commented on #2132
Hi Jeffrey, I've actually gone around and replaced the code to change the values after spawning. This was months back but I had a weird issue where when a player was connecting I had to make the instantiating and spawning a two step process, one in the approval callback and one on connect. I forget the issue but it seems to be no longer present.

Thanks for getting back to me, I'll close this tick

[2022-08-18 20:16] #2132 closed, assigned to jeffreyrainy

[2022-08-18 22:26] akoolenbourke commented on #2122
Hi Noel. I might be not fully understanding the PlayerMovement script but it looks like it's client authoritative, but still exists and controls somethng on the server. Is that right? What we have is a situation where there exists a GameObject that's ONLY on the client's not on the server and it's an RB so it can collide with client side objects where it doesn't matter if each client has a differe

[2022-08-18 22:54] NoelStephensUnity commented on #2122
@akoolenbourke
In the PlayerMovement.cs file you will see this:
[code]
That will place the NetworkTransform into true owner authoritative mode for the updated version of NetworkTransform (**in the develop branch today btw**).

If you notice the rest of the code either exits early if it isn't the owner or executes certain blocks of code if it is the owner.

With the current version of NetworkTransf

[2022-08-18 23:32] NoelStephensUnity commented on #2121
@MtPython
Just following up:
Running your more complex setup from the following branch: `fix/parenting-does-not-preserve-worldpositionstays-option`
Yields the following results:
![image](https://user-images.githubusercontent.com/73188597/185512625-55575442-ac23-42e6-9eeb-c9c630264ec4.png)
_(if you want to use that branch for the time being, you will need to remove your NetworkTransforms)_
👍

[2022-08-19 06:34] Finn-NHNEdu commented on #2109
Thank you! I'll wait next release with pleasure.

[2022-08-19 07:27] mtpython commented on #2121
@NoelStephensUnity
Thank you,
just tested, it works on my side too (from that branch).

I'll text here if I find anything not working related to this, but otherwise I believe this issue can be closed. 👍

[2022-08-19 17:23] VapidLinus commented on #2123
Please prefer `IReadOnlyList<T>` over the old `IList<T>`

[2022-08-20 14:18] ChadGatling opened #2134 "Network animator only syncing animations to clients if the are more than 2 clients connected"
### Description

On the network animator component. There is this check in the send animation functions:

`if (NetworkManager.ConnectedClientsIds.Count - 2 > 0)`

I believe this meant to be a comparison of greater than or equal.
As when there are only 2 connected clients this returns false and the animations are not sent to any client from the server. After a third client joins all the clients can

[2022-08-21 18:31] JayPeet opened #2136 "When despawning a client owned object, the client attempts to send a NetworkVariableDeltaMessage when the NetworkObject is "null""
### Description
I have a situation where destroying a NetworkObject on the server causes the object to be deleted on the client while the clients NetworkBehaviourUpdater still tries to write its variables.
This results in the following callstack being spammed repeatedly

`MissingReferenceException: The object of type 'MyNetworkBehaviour' has been destroyed but you are still trying to access it.
Yo

[2022-08-21 19:00] #576 closed

[2022-08-21 19:03] 0xFA11 commented on #779
@ShadauxCat, not urgent and also not triaged yet but I think it'd worth checking if we implemented RPC params `new()` (default parameterless constructor) constraint check on the ILPP side and closing this one off. There might be a minor update on the docs side (as we mentioned before above) but I actually want to just leave all this on your judgement.

[2022-08-22 06:18] Vnko commented on #2124
OK， I Got it

[2022-08-22 07:26] mraue commented on #1987
Nice! Thank you!

[2022-08-22 14:01] deeffoora opened #2137 "Make it possible to get endpoint bindings in transport"
When you open any free port (property UnityTransport.ConnectionData.Port  = 0), then after the server starts, it is impossible to determine which port is attached. The property LocalEndpoint is in NetworkDriver, but this instance is private.

In the UnityTransport class, you need to organize a property to get LocalEndpoint after binding via a NetworkDriver instance, for example.

[2022-08-22 14:59] JesseOlmer opened #2138 "DontDestroyWithOwner not honored on PlayerObjects"
### Description

When a client disconnects from the server the server will destroy their PlayerObject regardless of how DontDestroyWithOwner is set.

### Reproduce Steps

1. Create a project with a simple Player Prefab configured.
2. Set `DontDestroyWithOwner = true` on player prefabs when they're spawned. e.g. Add a component with the following to the prefab:
[code]
4. Launch a client and server.

[2022-08-22 15:43] jeffreyrainy commented on #2123
Hi @DianeOfTheMoon ,

Thanks for the suggestion. This idea was suggested before and some of the interface content was found to not quite fit the `NetworkList`. Now that we shipped a first version, we're aiming to keep the SDK API compatible and, as such, we don't want to have public classes implementing a new interface.

So, we won't be adding this interface.

[2022-08-22 15:43] #2123 closed, assigned to nobody

[2022-08-22 17:27] #2124 closed, assigned to nobody

[2022-08-22 18:36] ashwinimurt commented on #2136
Could you include an example that can reproduce this situation? That will help us narrow down.

[2022-08-22 18:37] ashwinimurt commented on #2134
This is probably a duplicate bug. @NoelStephensUnity
Related to https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/2114
Possible fix: https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2127

Tracked in backlog with existing bug https://jira.unity3d.com/browse/MTT-4384

[2022-08-22 18:43] ashwinimurt commented on #1916
Hi @itismarcii Can you try using Unity Transport and let us know if this still reproduces.
It would be great if you can attach your projects for easy reproduction.

[2022-08-22 18:44] ashwinimurt commented on #1867
This is already fixed.

[2022-08-22 18:45] ashwinimurt commented on #1867
Fixed in https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2110/ on develop

[2022-08-22 18:45] #1867 closed, assigned to NoelStephensUnity

[2022-08-22 18:48] ashwinimurt commented on #1863
This is probably fixed on `develop`. Assigning to @NoelStephensUnity to close this issue.
Duplicate of https://jira.unity3d.com/projects/NCCBUG/issues/NCCBUG-163
PR with fix: https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2110

[2022-08-22 18:50] ashwinimurt commented on #1843
Assigning to @ashwinimurt to check if this still repro's.

[2022-08-22 18:55] ashwinimurt commented on #1554
This is probably fixed. Assigning my @ashwinimurt to verify and close. Tests must be added.

[2022-08-22 18:58] ashwinimurt commented on #1490
Assigning to @ashwinimurt to verify if this is fixed.

[2022-08-22 19:01] ashwinimurt commented on #1251
This issue was closed because it has been inactive for more than a year. If you still have issues or questions around the topic, we suggest asking on our [discord](https://discord.gg/FM8SE9E).

[2022-08-22 19:01] #1251 closed, assigned to nobody

[2022-08-22 19:33] ashwinimurt commented on #1863
Hi @kaygundraka This issue is fixed on develop and will be part of the upcoming 1.0.1 release.
Could you please verify and let us know if you are still seeing issues. Thanks

[2022-08-22 19:33] #1863 closed, assigned to NoelStephensUnity

[2022-08-22 19:58] ashwinimurt commented on #2120
Backlog: [MTT-4462](https://jira.unity3d.com/browse/MTT-4462)

[2022-08-22 20:02] ashwinimurt commented on #2121
Backlog: [MTT-4461](https://jira.unity3d.com/browse/MTT-4461)

[2022-08-22 20:04] ashwinimurt commented on #2126
Backlog: [MTT-4460](https://jira.unity3d.com/browse/MTT-4460)

[2022-08-22 20:04] ashwinimurt commented on #2136
Backlog: [MTT-4459](https://jira.unity3d.com/browse/MTT-4459)

[2022-08-22 20:06] ashwinimurt commented on #2138
Backlog: [MTT-4458](https://jira.unity3d.com/browse/MTT-4458)

[2022-08-22 20:46] akoolenbourke commented on #2122
Yeah, can't wait to get the new NetworkTransform.

The issue I see with that script is that this object I am talking about exists ONLY on the client, there is no NetworkTransform. It's a client side only thing for client (That specific client) physics. It needs, at some point to be able to be 100% confident that some other object (that is networked) has has its position updated by the server so it

[2022-08-23 16:30] JesseOlmer commented on #158
This doesn't really seem realistic to me. There are many parts of the framework itself that would need fixup in the case of a host migration and hooks wouldn't really enable that. Here's a non-exhaustive list of the types of problems that need to be addressed with host migration:

- NetworkObject Observers lists would need to be modified (to include the new host), sent to the new host, and the sta

[2022-08-23 18:38] fernando-cortez opened #2141 "NetworkObjectReference OnValueChanged callback"
**Is your feature request related to a problem? Please describe.**
`NetworkObjectReference` should have a `OnValueChanged` callback, like a `NetworkVariable` does.

**Describe the solution you'd like**
A callback added to `NetworkObjectReference` to listen to.

**Describe alternatives you've considered**
Caching a reference to a `NetworkObject`'s `NetworkObjectId` through `NetworkVariable<ulong>`

[2022-08-23 19:20] JayPeet commented on #2136
I was unable to create a small repro project, however I am pretty certain its the same as this issue https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2140 which was merged in recently.

Its something to do with a network object being despawned but the client still tries to write to its network variables

[2022-08-23 20:23] JesseOlmer commented on #796
There are two changes relevant to this.

The first is the Connection Approval process can now be resolved asynchronously, giving you several frames to send messages. https://docs-multiplayer.unity3d.com/netcode/current/basics/connection-approval#networkmanagerconnectionapprovalresponse

The other is that the default transport (Unity Transport) now flushes the message send queue before sending a di

[2022-08-23 20:57] ashwinimurt commented on #2136
That is great! If you can confirm with the latest `develop` that contains the fix, we can close the ticket. Thank you!

[2022-08-23 23:20] #1582 closed, assigned to ShadauxCat

[2022-08-24 17:01] NoelStephensUnity commented on #565
This particular trigger related issue has been fixed since v1.0.0 (and most likely pre) and was improved in v1.0.1.
_There is still a pending trigger related issue #2127 that will make it in the next patch._

[2022-08-24 17:01] #565 closed

[2022-08-24 17:27] #1987 closed, assigned to jeffreyrainy

[2022-08-24 17:28] NoelStephensUnity commented on #1987
[MTT-4084](https://jira.unity3d.com/browse/MTT-4084) fixes this issue.

[2022-08-24 17:34] NoelStephensUnity commented on #568
This is no longer an issue with v1.0.0

[2022-08-24 17:34] #568 closed

[2022-08-24 18:21] jeffreyrainy commented on #2122
Closing the issue as we have a model where the order is not guaranteed.

[2022-08-24 18:21] #2122 closed, assigned to jeffreyrainy

[2022-08-24 18:25] jeffreyrainy commented on #2141
I'm not sure I'm following the use case. Can you present a typical use?

The way I understand it, `NetworkObjectReference` is meant to be serialized. It is something you can send.

`OnValueChanged` is the paradigm we use for when you have an object that is synchronized between server and client. You want to be told when the other party changed it. Since you send a `NetworkObjectReference` and you

[2022-08-24 18:28] jeffreyrainy commented on #2136
Would you be setup to run with code from the `develop` branch ? If so, I would expect the issue to be fixed after

https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2143

Please let me know if that is not the case.

[2022-08-24 21:43] ezoray opened #2147 "NetworkVariable is written to, but doesn't know its NetworkBehaviour yet. Are you modifying a NetworkVariable before the NetworkObject is spawned?"
### Description

I'm getting this warning when despawning a network object with Despawn(true) immediately after hiding the object from the client. It looks to relate to the fix that went in for #2143.

### Reproduce Steps

Hide the object from client - object.NetworkObject.NetworkHide(clientId)
Despawn the object - object.NetworkObject.Despawn(true)

### Actual Outcome

It looks like I get the abo

[2022-08-24 22:10] ShadauxCat commented on #1559
I am pretty confident this was fixed in 1.0.0-pre.5, fix was in PR #1680. I'm closing this issue; if anyone still has this problem, let us know and we can re-open.

[2022-08-24 22:10] #1559 closed, assigned to nobody

[2022-08-24 22:18] daniellochner commented on #2066
Hi there. This error unfortunately still seems to occur in the editor for me (Unity 2021.3.6f1).

[2022-08-25 14:26] jeffreyrainy commented on #2147
Thank you for the report! The quick iterations you are performing are really helpful.

I could repro in our test suite, with just:
[code]
It seems to occur if the object being despawned still has NetworkVariables that didn't get written yet. If the two lines above are done on different frames, then the issue(the warning log) doesn't show.

I'll fix it by cleaning up the pending NetworkVariable wri

[2022-08-25 14:29] itismarcii opened #2149 "Extra Events like: OnShutdownComplete/OnNetworkManagerConnected"
**Is your feature request related to a problem? Please describe.**
Currently you have a limited amount of events which are used for workarounds. For example is the OnClientConnectedCallback often used to perform code from the Client side immediatly after the connection. But that has the flaw that other Client spawns also occure.
An OnNetworkManagerConnected would be an good alternative to perform

[2022-08-25 14:32] itismarcii commented on #1916
Sadly the project was only a throwaway project and doesnt exist anymore, i am sorry about that. But since the latest updates i didnt encounter that problem anymore. It seems like the bug isnt around anymore after updating towards version [1.0.0]

PS: We used Unity Transport while that bug occured.

[2022-08-25 14:58] ezoray commented on #2105
I'll close this as using the latest develop update it appears to have been fixed.

[2022-08-25 14:58] #2105 closed, assigned to nobody

[2022-08-25 15:06] ezoray commented on #2147
@jeffreyrainy You're welcome. I just wanted to ask if it's possible to add an identifier like the netId to localise the error as the stack trace didn't give anything away so I had to do a bit digging to find the problem.

[2022-08-25 15:16] ashwinimurt commented on #1916
Thanks for letting us know.

[2022-08-25 15:16] #1916 closed, assigned to nobody

[2022-08-25 15:28] jeffreyrainy commented on #2147
Sadly, no. I know how annoying this is (been there done that too). We're kind-of stuck with the `NetworkVariableBase` abstract base class that knows nothing of the context. The best I can suggest, while developing, in-editor, is to set a breakpoint on that warning, if you get it. When it hits, typically, in the callstack leading to it you'll have a NetworkObject writing to a NetworkVariable. The G

[2022-08-25 15:57] NoelStephensUnity commented on #1885
Hi @jesuscfp,
It definitely seems like it could be an issue related to AR.
I would suggest [opening a new ticket via this link](https://support.unity3d.com/hc/en-us/requests/new) to get support with the AR side of things.  Once you can run that without the bottleneck, then try enabling Netcode for GameObjects.  If you run into problems at that point feel free to open another ticket here and our SD

[2022-08-25 15:57] #1885 closed, assigned to nobody

[2022-08-25 16:12] ezoray commented on #2147
Ah okay, thanks for the tip. :)

[2022-08-25 16:35] JesseOlmer opened #2152 "Deferred Messages aren't tracked by the Network Profiler"
### Description

When a message is deferred logic returns before NetworkMetrics.TrackRpcReceived is called and our tracking ends up providing inaccurate data.

### Reproduce Steps

[The method returns](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/develop/com.unity.netcode.gameobjects/Runtime/Messaging/Messages/RpcMessages.cs#L34) before [the metrics tracking is invoked]

[2022-08-25 16:44] ashwinimurt commented on #662
Done (starting with 1.0.0).
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tags

[2022-08-25 16:44] #662 closed

[2022-08-25 17:28] ashwinimurt commented on #2152
@becksebenius-unity This belongs to the Tools team

[2022-08-25 17:30] ashwinimurt commented on #2147
Already has a PR with fix, no need to import to Jira

[2022-08-25 18:02] ashwinimurt commented on #2152
Backlog [MTT-4497](https://jira.unity3d.com/browse/MTT-4497)

[2022-08-25 21:04] ezoray opened #2154 "Server unable to write to NetworkVariables on objects it doesn't own when NetworkVariableWritePermission.Owner is set."
### Description

If an object is spawned with client ownership (not host) and a network variable has NetworkVariableWritePermission.Owner permission the server throws an error when writing to it.

### Reproduce Steps

1. Run server and connect a client
2. Spawn an object with client ownership
3. Have server write to a network variable field of the object

### Actual Outcome

Server throws a Invali

[2022-08-25 21:20] jeffreyrainy commented on #2154
Hi @ezoray ,

As written, this seems expected. You stated:
- Spawn an object with client ownership (NetworkVariableWritePermission.Owner)
- Have server write to a network variable field of the object

There's two permissions for NetworkVariables:
`NetworkVariableWritePermission.Server`
`NetworkVariableWritePermission.Owner`

For NetworkVariables with `NetworkVariableWritePermission.Server` only th

[2022-08-25 21:34] ezoray commented on #2154
@jeffreyrainy I did run this in test with both scene management enabled and disabled. The issue is in my main project scene management is disabled so there is no host to worry about.

My personal view is the server should have ultimate authority, also going by the Netcode documentation _"Owner: This means only the owner of the NetworkObject and the server can write to the value."_  this is meant t

[2022-08-25 21:42] jeffreyrainy commented on #2154
Yeah, sorry, I think this will get closed "as-designed". We had plenty of discussion around whether the server should be authoritative always and how to deal with concurrent writes. Since we release 1.0, we have to stick with a paradigm. Otherwise, supporting developers coming in with different expectations and wishes would be a nightmare.

In this case, it seems like the error reported by the SDK

[2022-08-25 21:57] ezoray commented on #2154
I don't see the concurrency issues you're describing when your running as server only without a host/client. Plus adding write permissions and updating the documentation was fairly recent so it seems some intent was there.

But anyway, it's not a big issue for me but we'll have to agree to differ on this one.

[2022-08-25 22:13] ShadauxCat commented on #1843
Could not reproduce this issue. On inspection of the code referenced in the callstack in the screenshot, I see that a guard for an empty NetworkPrefabList was added in #1861 - closing this as fixed.

[2022-08-25 22:13] #1843 closed, assigned to ashwinimurt

[2022-08-26 01:20] RamenSea commented on #158
Not having host migration makes this library a no go for us.

[2022-08-26 02:28] #2147 closed, assigned to jeffreyrainy

[2022-08-26 08:07] itismarcii opened #2155 "MaxPacketQueueSize still throws StackOverFlowException with the new UnityTransport [1.2.0] fix"
### Description

In a [forum discussion](https://forum.unity.com/threads/max-packet-queue-size-max-limit-at-around-13-000.1316871/) I mentioned that the MaxPacketQueueSize throws an StackOverflowException with very high values around 13.000+ (using version [1.0.0]).

In the new [Unity Transport [1.2.0] changelog](https://docs.unity3d.com/Packages/com.unity.transport@1.2/changelog/CHANGELOG.html#12

[2022-08-26 12:33] ezoray opened #2156 "NetworkList permissions and behaviour"
### Description

I wanted to share some testing I've done and to get an idea on what should and shouldn't be expected in different scenarios of writing to a network list with different permissions.

I have a client and server/host setup spawning a network object that contains a list of integers. It also has a network variable with owner permissions which is relevant in scenario 3.

1. Server spawn

[2022-08-27 02:37] TheCaveOfWonders opened #2159 "Adding a value to a NetworkList before spawning its networkObject results in a null ref exception"
If we try to add something to a network list, BEFORE we spawn its network object, we get a null ref exception.
In the code below from NetworkList.cs, m_NetworkBehaviour is null.

`internal void MarkNetworkObjectDirty()
        {
            m_NetworkBehaviour.NetworkManager.MarkNetworkObjectDirty(m_NetworkBehaviour.NetworkObject);
        }`

This was not the case before the latest release (1.0.1)

[2022-08-27 14:53] ezoray commented on #2159
In case it's related I had a similar issue which I posted under #2132.

[2022-08-27 14:59] TheCaveOfWonders commented on #2159
Thanks for linking your issue, i would like to note that I am allocating the network list in the awake.

[2022-08-28 20:26] daalen opened #2160 "1.0.1 broke networked object pooling"
I just updated to 1.0.1, and immediately my game stopped working: disabled network objects are no longer synced. This means that all my networked object pool objects that are currently in the pool and therefore disabled, start throwing errors and are not spawned on the clients. I do not think this change was made with object pooling in mind.

Note that the reason the objects are not only spawned w

[2022-08-29 00:54] akoolenbourke opened #2161 "1.0.1 has broken/changed `In Local Space` NetworkTransform syncing . Objects are at wrong location/orientation"
We had a hierarchy of NetworkTransforms for our game which consisted of the body of a vehicle, wheels and children of the wheels. All but the parent (NetworkObject) were syncing in local space. This was required because for our wheels, if we didn't sync in local space they would lag (And interpolate independently) to the body and look terrible.

Now, in 1.0.1 the wheels themselves and up in the co

[2022-08-29 13:09] alevastor commented on #2159
I have the same problem. Our game has a local coop mode and a multiplayer mode. Local coop does not use a multiplayer connection and does not start the client or the host because all players play from the same device. Both modes use the same code and the same NetworkList. After updating the netcode package to 1.0.1, NetworkList stopped working in local coop mode.
Trying to add an item to the list

[2022-08-29 16:02] SamuelBellomo commented on #158
To add to Jesse's answer above: I described a few of the manual implementation steps you'd need to do [here](https://github.com/Unity-Technologies/com.unity.multiplayer.samples.coop/issues/624#issuecomment-1230499690)
It's not trivial and would still involve scenarios where migration would fail (I can't think of a game with fool proof host migration --> player devices are such a mess and so uncont

[2022-08-29 16:55] WarlordMSM opened #2163 "changes to the `NetworkList` inside `OnNetworkSpawn` results in other clients not catching the change of the values"
### Description

After taking the steps below, clients do not get the updated value which was set on objects `OnNetworkSpawn` on server when the respective `OnNetworkSpawn` is called on clients. Only happens for `NetworkList`s and not `NetworkVariable`s

### Reproduce Steps

1. make a basic networking scene with a default NetworkManager and a networkobject with [this](https://gist.github.com/Warlo

[2022-08-29 20:15] ashwinimurt commented on #2160
Hi @daalen Could you provide a specific repro. This seems to be by design and we will not sync disabled network objects.

[2022-08-29 20:22] ashwinimurt commented on #2132
@jeffreyrainy Could you link the fix PR to this

[2022-08-29 20:36] JesseOlmer commented on #2154
Hi ezoray,

  Jeffrey is correct, this is by design. Owner write permission is owner-only, not owner and server. Thanks for pointing out the old language on the docs portal, we'll get that fixed ASAP. Note that the xmldoc (code tooltips) are already correct and mention owner-only here.

  The concurrency issues arise because the framework doesn't currently have versioning or rollback concepts. Thi

[2022-08-29 20:36] #2154 closed, assigned to jeffreyrainy

[2022-08-29 20:44] simon-lemay-unity commented on #2155
Thanks for the report! Turns out we had another source for stack overflows that triggered with higher queue capacities than originally tested with. This will be fixed in the next release of `com.unity.transport`.

[2022-08-29 20:44] #2155 closed, assigned to simon-lemay-unity

[2022-08-29 20:44] jeffreyrainy commented on #2132
There is no specific PR for this. The recommendation we make to users is to not write to NetworkVariables of not-spawned objects.

[2022-08-29 22:03] ezoray commented on #2154
Thanks @JesseOlmer for your update on this, and your explanation makes sense.
I don't follow your 'hypothetical situation' comment. If you're running with scene management disabled you're not going to have a host are you? At least for what I'm doing that would be a nightmarish proposition. Where you say 'somehow spawned an object not owned by the server', is there a reason why that would unusual i

[2022-08-29 22:05] ashwinimurt commented on #2156
Backlog: [MTT-4519](https://jira.unity3d.com/browse/MTT-4519)

[2022-08-29 22:07] ashwinimurt commented on #2159
@jeffreyrainy this may already be fixed. Added to backlog just in case [MTT-4518](https://jira.unity3d.com/browse/MTT-4518)

[2022-08-29 22:09] ashwinimurt commented on #2161
Backlog [MTT-4517](https://jira.unity3d.com/browse/MTT-4517)

[2022-08-29 22:10] ashwinimurt commented on #2163
Backlog [MTT-4516](https://jira.unity3d.com/browse/MTT-4516)

[2022-08-29 22:37] JesseOlmer commented on #2154
Scene management doesn't factor into this conversation at all - it's not relevant to the concept of host, or the concept of network variable write permissions.

You can be a host (server & client in one process) with scene management enabled OR disabled.
You can be a server (no host/client) with scene management enabled OR disabled.

This MAY be disingenuous, if it's really a Server that's trying

[2022-08-29 23:17] ezoray commented on #2154
Thanks Jesse, that makes things clearer. I don't know why I'm tying scene management to client-server concepts, I mean it more in terms of practical application.

I am using StartServer and spawning with client ownership. I got into that habit after reading somewhere that they would be automatically despawned on client disconnect, I should really double-check that's true.

The reason I got into th

[2022-08-30 07:03] daalen commented on #2160
This worked perfectly fine in 1.0.0; did the design intent change in 1.0.1?

**To reproduce**
1. Spawn a network object with networkbehaviour on the server and any number of connected clients (e.g. a player object)
2. Temporarily deactivate the network object (e.g. the player dies)
3. Connect a new client
4. Reactivate the deactivated object – it is not (correctly) replicated on the new client

Th

[2022-08-30 08:43] zzragida opened #2167 "An error occurred during EndSend. ErrorCode: -5"
### Description

During increase connection client per sec then "An error occurred during EndSend. ErrorCode: -5" occured more information on log file

### Reproduce Steps

1. clients connect to server (increase 1 client per sec ~ max 100)
2. clients play automative move, jump, other actions duration (20sec)
3. clients shutdown end of duration

### Actual Outcome

A clear and concise description o

[2022-08-30 08:46] zzragida opened #2168 "InvalidOperationException: Collection was modified;"
### Description

During increase connection client per sec then "InvalidOperationException: Collection was modified;" occured more information on log file

### Reproduce Steps

Step1.
1. clients connect to server (increase 1 client per sec ~ max 100)
2. clients play automative move, jump, other actions duration (20sec)
3. clients shutdown end of duration

Step2.
1. clients connect to server (incre

[2022-08-30 12:28] jeffreyrainy commented on #2159
Thanks for the report!

@TheCaveOfWonders The current SDK recommendation is: "Don't modify NetworkVariables before they are spawned". There's a bunch of edge cases we might not be handling correctly if you modify NetworkVariables before (or worse: during) spawning. We made a fix over 1.0.1 so that the exception above doesn't occur for regular NetworkVariables:

`NetworkVariableBase.cs`
[code]

And

[2022-08-30 15:54] jeffreyrainy commented on #2159
#2169 should address this.

[2022-08-30 15:55] #2159 closed, assigned to jeffreyrainy, ashwinimurt

[2022-08-30 16:41] TheCaveOfWonders commented on #2159
ok i'll move forward with `Don't modify NetworkVariables before they are spawned`
would be nice being able to manipulate them before spawn, as part of setting up objects/prefabs.

[2022-08-30 16:59] JesseOlmer commented on #2160
I cannot reproduce the issue with your steps. With your steps I observe the deactivated object being spawned on the late-join client in step 3 (although it stays active - we never synced active/deactivated state for objects), and then no change if I execute step 4 on the server.

Furthermore, if I add a NetworkBehaviour which has some synchronized data (NetworkVariable<int> for example), I observe

[2022-08-30 16:59] #2160 closed, assigned to nobody

[2022-08-30 23:22] NoelStephensUnity commented on #2161
Hello @akoolenbourke !
Do you have a project that replicates this issue that I could look at?  This would help me test the issue against a shortly up-and-coming hot-fix patch specifically for NetworkTransform.

If not, could you [clone/download this branch](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tree/fix/networktransform-extrapolation) and see if those updates resolve

[2022-08-31 00:08] akoolenbourke commented on #2161
Hi Noel, sorry I don't have a repro for it, I haven't had the time to try and isolate it. I will try with that branch when I have some time and report back here.

Is there anything special I need to do to try a dev branch of a package? I downloaded the code zip from the link you supplied, added a package by file, pointed to the downloaded package. It seemed to import OK and the .json file was poin

[2022-08-31 15:38] itismarcii commented on #2167
Try to increase your Max Packet Queue Size value. The reason might be that your Server cant send enough Reliable Packages on time. Note that currently that limit is something around 12k+ (the reason is a current bug that will be resolved in the future  [#2155](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/2155)).
If that is not enough tweak your Max Payload Size and ac

[2022-08-31 20:27] PitouGames opened #2171 "Can't properly sync data if `Time.timeScale` is set to 0"
### Description

I build a RTS game, with coop multiplayer.
One of my feature is to allow the players to stop the time, so they can relax and program orders to their troups. Troups will start to do the actions only when the players chose to unlock the time.

To do so, I set `Time.timeScale` to 0 on server and all clients. It is convenient, because it stop all animations, nav mesh agent movements,

[2022-08-31 21:34] Marc477 opened #2175 "NetworkConfig cached Hash not cleared when switching server"
So I noticed that if I try to disconnect from a server (for example a lobby server that doesn't manage scenes) and try to connect to another server (for example game server that manage scenes), it doesn't work, even though I setup the config on client to be exactly the same than the server I try to connect to.

I realized that the problem is because m_ConfigHash   inside NetworkConfig.cs is alread

[2022-09-01 00:16] Marc477 commented on #2104
So i tried disabling inside the Start() function and it doesn't work, it will spawn and sync right away.

Disabling in the Awake() function works, it prevents the Spawn, but then if I call Spawn() later (i tried from the component UI on the server by clicking on Spawn)  it doesn't sync the object with the one already existing on the client scene.

So in other words, it's impossible to Spawn() an o

[2022-09-01 11:58] daalen commented on #2160
Thanks for this, and your clarification of the change in 1.0.1. I tested
some more and it turns out this is because I have two NetworkBehaviours on
a lot of my objects. There were cases in which the first spawned, then
deliberately deactivated the object, which made the second script unable to
spawn as well.

Thanks!

[2022-09-01 16:54] JesseOlmer commented on #2175
More info in discord: https://discord.com/channels/449263083769036810/563033158480691211/1014565598505738270

Summarized here:
Many values used in the hash wouldn't typically change between servers in an application. Some, like SceneManagement could change between e.g. Lobby and Game servers.
We should:
1. Implement a ResetCash or InvalidateCachedHash or similar on NetworkConfig
2. Pass `false` to

[2022-09-02 05:23] danielchipman opened #2178 "Make shutdown in OnApplicationQuit optional"
**Is your feature request related to a problem? Please describe.**
I use the `Application.wantsToQuit` callback to allow me to gracefully terminate certain things before the app concludes, such as updating Lobby info, etc. I'd also like to use it to gracefully let clients know that the server has purposefully terminated, but `OnApplicationQuit()` triggers and shuts down the network before any of m

[2022-09-03 12:43] JayPeet commented on #2136
Yup that change did fix it, reverted my change on my local branch.

Appreciate it! :)

[2022-09-04 00:30] JayPeet commented on #2136
Unfortunately, this is still an issue.
Seems to be I have something writing to a NetworkVariable on a client owned object, when the NetworkObject is switched owner to the server the client keeps trying to access the network behavior to update the network variable internally. My commit here fixes the issue https://github.com/JayPeet/com.unity.netcode.gameobjects/commit/3c3b18a05882d36feabf199284eda

[2022-09-06 12:51] EscherHarlock opened #2180 "Version 1.0.1 introduces jittering in player position & rotation synchronization"
I just updated from NfG 1.0.0 to 1.0.1 and immediately noticed a drastic drop in quality in interpolation of player position and rotation over the network.

### Reproduce Steps

Simply take a basic multiplayer project (or create a new one) and compared how the 2 versions of Netcode for Gameobjects behave during runtime while interpolation is enabled. Run a secnario with 2 or more players, walk and

[2022-09-06 23:15] DavidGoedicke commented on #2161
Hey Noel,
Thanks for working on this hotfix!  I have e same problem. I tried it with your branch, but it still doesn't work. If it helps, I'd be happy to invite you to the git project if that helps.

Here is a picture where you can see that the wheels and the steering wheel are about 100 meters from the car.
![XCDriving-simulator](https://user-images.githubusercontent.com/2676840/188756093-a9a1f21

[2022-09-06 23:50] NoelStephensUnity commented on #2161
If you wouldn't mind inviting me to your repo, it would help me troubleshoot this issue quicker.  👍

[2022-09-07 00:07] NoelStephensUnity commented on #2161
@DavidGoedicke
@akoolenbourke
Could you grab the [most recent update of the hot fix branch](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tree/fix/networktransform-extrapolation)?

I was fixing an issue with the initialization of the interpolators and left out the InLocalSpace check.  >.<
It should now properly initialize the interpolators with the world or local space values

[2022-09-07 00:10] DavidGoedicke commented on #2161
You should have an invitation:
I am updating to the new version on the  ``cathartic-reconciliation`` branch.

https://github.com/FAR-Lab/CrossCulturalDriving2021/tree/cathartic-reconciliation

I do have to apologize for the messy repo.  I usually build to windows, and then click ``Start as Server`` in the build and then ``Start Client A`` inside the Unity editor to see the client behavior.

``Asse

[2022-09-07 00:17] DavidGoedicke commented on #2161
I just tried the new update and the issue still persists.

[2022-09-07 01:44] NoelStephensUnity commented on #2161
I am looking at the packages and they seem to be all installed but not finding the  "Rerun" namespace.

[2022-09-07 16:33] DavidGoedicke commented on #2161
Sorry about that. There is sadly no easy way to exclude it. I also invited you to the Rerun repository. It in turn uses the `Ultimate Replay 2.0`package https://assetstore.unity.com/packages/tools/camera/ultimate-replay-2-0-178602

Let me know if there is any other way I can help, or you run into more problems.

[2022-09-07 17:30] ShadauxCat commented on #1965
Was not able to reproduce following the provided repro steps. Tried some other possible repros as well and was not able to make this happen with the current SDK.

[2022-09-07 17:30] #1965 closed, assigned to nobody

[2022-09-07 17:50] NoelStephensUnity commented on #2161
Ok, this requires additional packages that I would need to go through the normal bug submission process that includes the repository.
Is there any way I could get you to send me the Network Prefabs you are parenting without any of the third party components?
I really just need to know:

1. What the parent and children are
2. What the parent and children's' local position, rotation, and scale are
3

[2022-09-07 18:11] DavidGoedicke commented on #2161
Yes! I totally get it. Let me try to recreate the issue in a minimal example.

One thing I know is that I don't spawn the children separately, they all get spawned from one prefab and are owned by the server. I'll get right on this.

[2022-09-07 19:14] DavidGoedicke commented on #2161
Hey Noel,

I created a branch `NetworkedTransformsDebug`  that should not include any 3rd party libraries.

https://github.com/FAR-Lab/CrossCulturalDriving2021/tree/NetworkedTransformsDebug

The Front Left wheel Example in the XE_Rigged_Networked prefab
![NetworkedTransforms](https://user-images.githubusercontent.com/2676840/188957841-d167655a-6bf0-48e2-925c-b77d07389852.png)

Here are the lines o

[2022-09-07 21:12] NoelStephensUnity commented on #2161
I was literally just coming back to this to ask if you are using local space.
My guess is that if you are using the hotfix branch when those tires spawn they no longer have the InLocalSpace setting?

[2022-09-07 21:50] DavidGoedicke commented on #2161
I checked and `InLocalSpace` is set to true also when spawning it.

This picture shows the client running in the editor. We are in the waiting room scene. The Front Right pivot is selected with the network settings visible in the inspector.

![InLocalSpace](https://user-images.githubusercontent.com/2676840/188989577-9e2fa42c-2776-4545-9321-d4d78666f577.png)

[2022-09-07 22:29] NoelStephensUnity commented on #2161
Ok, I think I am seeing where there could be an issue.
It looks like all of the anchors have NetworkTransforms that fall under the same NetworkObject.
This is what I needed to create a test to replicate the issue on my side.

[2022-09-07 23:04] akoolenbourke commented on #2161
Sorry I hadn't gotten around to a repro for you but I had mentioned that in the OP - multiple NetworkTransforms under a single NetworkObject is where it seems to die.

Good luck and thanks for taking the time to look at this

[2022-09-07 23:23] NoelStephensUnity commented on #2161
@DavidGoedicke  @akoolenbourke
I think I figured out the issue.
If you grab the same branch (the updated version):
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tree/fix/networktransform-extrapolation
The issue (that I found on my end using a much simpler replica of what your project) was that the authority side wasn't using local space to initially set the position, rotation

[2022-09-07 23:59] DavidGoedicke commented on #2161
Ok, so I think it's working. The wheels are now in the correct space.

Only interpolation is still broken.  If I keep interpolation on the wheel keeps bouncing back and forth i.e. it looks like the 360 roll over does not fully work. For me, this is not a big problem, as the CrossCulturalDriving project is LAN only.

One thing that I am not sure about is if the `IsLocalSpace` is checked, does that

[2022-09-08 00:11] NoelStephensUnity commented on #2161
It means that any local space changes will be synchronized if the changes exceed the threshold (local space relative).
You should also make sure any changes you are applying to the wheels are applied to transform.localRotation and not transform.rotation as that would cause visual artifacts.

Local space (for child objects) is always "local relative to the parent".  It might be that the immediate p

[2022-09-08 07:59] akoolenbourke commented on #2161
Thanks Noel. I will try the new fix tomorrow to see if it helps me - however I see you mention that in order to have localSpace syncing work now, the localPosition etc need to be the property that gets changed. Does that mean we unable to have local syncing (i.e. sync relative to parent) but at the same time move/rotate objects in world position (transform.position and transform.rotation)?

Will t

[2022-09-08 14:57] jeffreyrainy commented on #2163
Thanks for the report! This is a good one. We refactored some stuff recently and missed the impact it had on NetworkList. With the PR https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2181 , your issue should be addressed.
Please let me know if that's not the case.

[2022-09-08 14:57] #2163 closed, assigned to jeffreyrainy

[2022-09-08 16:31] DavidGoedicke commented on #2161
Thanks for the explanation and hotfix, Noel. Any idea when the hotfix will go live?

[2022-09-08 17:15] ashwinimurt commented on #2167
We don't support connection counts this high currently. Closing as a won't fix.

[2022-09-08 17:15] #2167 closed, assigned to nobody

[2022-09-08 18:43] NoelStephensUnity commented on #2161
@akoolenbourke

When you spawn the NetworkObject, the authoritative side basically "teleports" the object which effectively sends a full state update of the network transform.

When joining players are synchronized with NetworkObjects the transform information (currently just position and rotation) should be the most recent values from the server.

If a **child** NetworkTransform is set to local s

[2022-09-08 18:45] NoelStephensUnity commented on #2161
@DavidGoedicke

Absolutely more than welcome!  Thank you for being patient while we fix some of the issues and for using Netcode for GameObjects!  :)

To answer your question: _It is entering into the "pipeline" sometime today and should be available by next week (it is expected early next week, but sometimes it takes a day or two longer than expected to get promoted and become visible within the

[2022-09-08 18:46] akoolenbourke commented on #2161
Thanks Noel. I thought it should be as such (re local space) so that's great to hear even if world is updated that the local will be synced too. I am going to try the hotfix soon. Hopefullly the interpolation is all good too as that's what we were initially wanting the update for.

Much appreciate the quick response

[2022-09-08 18:49] NoelStephensUnity commented on #2161
I am closing this issue at this time as the issues have been addressed and the fixes will be available in v1.0.2 (hotfix).
👍

[2022-09-08 18:51] NoelStephensUnity commented on #2093
I am marking this issue as resolved in [PR-2170 ](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2170) and should be available in next week's v1.0.2 hot-fix.

[2022-09-08 18:51] #2093 closed, assigned to nobody

[2022-09-08 18:54] akoolenbourke commented on #2161
Am I blind, but the link seems to be broken.
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tree/fix/networktransform-extrapolation

[2022-09-08 19:07] NoelStephensUnity commented on #2180
Hello @EscherHarlock
This is a known issue and a hot-fix update (v1.0.2) is expected to be available by next week.
If you are completely blocked, you could use our [develop branch](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects) which at this time has the NetworkTransform fixes committed from [PR-2170](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/21

[2022-09-08 19:07] #2180 closed, assigned to NoelStephensUnity

[2022-09-08 20:49] jeffreyrainy commented on #2136
I'm not able to repro either, in a simple project. However, the change you suggest is simple and to the point. It seems to add a necessary safety check. I'll run through our testing and, unless something weird shows up, it should be going in, in a further PR.

Thanks for the report, the investigation and the suggested fix.

[2022-09-08 20:57] #1928 closed, assigned to jeffreyrainy

[2022-09-08 22:41] jeffreyrainy commented on #2136
I've created a PR for it (our internal CI suite requires the PR to come from the dev team). I moved the removal a bit earlier in code, to be sure to catch all possible paths where it is being used. @JayPeet if you get to try it before we merge it, please let me know if it suits your needs. Thanks again!

[2022-09-09 11:19] c-warwick opened #2186 "Unable to reference NetworkAnimator in code. Am I supposed to be able to? (Could in UNet/MIrror)"
https://github.com/Unity-Technologies/com.unity.multiplayer.docs/issues/770

[2022-09-09 12:35] daalen commented on #2186
You need `using Unity.Netcode.Components;` to reference components such as NetworkAnimator.

[2022-09-09 12:48] c-warwick commented on #2186
you are my dang hero @daalen. Thank you

[2022-09-09 12:48] #2186 closed, assigned to nobody

[2022-09-09 14:07] ashwinimurt commented on #2168
Backlog [MTT-4607](https://jira.unity3d.com/browse/MTT-4607)

[2022-09-09 14:09] ashwinimurt commented on #2171
Backlog [MTT-4606](https://jira.unity3d.com/browse/MTT-4606)

[2022-09-09 14:09] ashwinimurt commented on #2175
Backlog [MTT-4605](https://jira.unity3d.com/browse/MTT-4605)

[2022-09-09 15:41] WhippetsAintDogs opened #2188 "Removing destroyed NetworkBehaviours from NetworkObject's ChildNetworkBehaviours messes with the order of the other still living sibling NetworkBehaviours"
### Description

Hi @NoelStephensUnity,

This commit introduced the bug I'm about to describe:
bc23a35 - fix: Nested NetworkBehaviours don't de-register or Invoke OnNetworkDespawn if destroyed while the parent NetworkObject remains spawned [NCCBUG-137] (#2091)

Let's say I have a NetworkObject representing an encounter with mobs. Each of the mobs are nested GameObjects with NetworkBehaviour(s) own

[2022-09-09 16:42] dsaunder opened #2189 "IsOwner is false on clients for player objects during OnNetworkSpawn()"
### Description

Any update on this? I updated to Netcode v1.0.1 and IsOwner is false for my player objects during OnNetworkSpawn(). I've got a workaround for the few instances that I currently use this, but it's error prone and adds some complexity.

### Reproduce Steps

1. Create a new NetworkBehavior
2. Override OnNetworkSpawn() with something like:
public override void OnNetworkSpawn()
{
    b

[2022-09-09 18:20] jeffreyrainy commented on #2136
Merged! Thanks.

[2022-09-09 18:20] #2136 closed, assigned to jeffreyrainy

[2022-09-09 20:43] NoelStephensUnity commented on #2121
After much contemplation, this issue is going to need a "NetworkRectTransform" implementation in order for it to all work out properly.  NetworkTransform synchronizes transforms and RectTransform is an extension of Transform which has additional values that need to be synchronized in order for the positioning to be accurate (with your current approach).

We don't have any current plans to implemen

[2022-09-09 22:09] #2121 closed, assigned to NoelStephensUnity

[2022-09-10 05:17] danielchipman opened #2193 "Rpcs in base classes with generic parameters throws exceptions from component ctor"
### Description

When multiple separate components that derive from a shared genericized NetworkBehaviour class are created and an Rpc is added to the base class, an exception is raised in the ctor of the component.

### Reproduce Steps

1. Install NGO 1.0.1
2. Define the following classes in your project:
[code]
[code]
[code]
3. Create a GameObject in a scene or prefab with a NetworkObject compon

[2022-09-10 13:47] JayPeet commented on #2136
That seemed to fix it for me. Thank you! :)

[2022-09-11 22:04] nikhilsha-coder opened #2194 "Cannot open server on port 7777 macOS 13 Beta"
### Description

When trying to load a server or host on macOS 13 Beta 5 using UNetTransport an error appears saying "Cannot open socket on ip {*} and port {7777}; check please your network, most probably port has been already occupied". When trying with UnityTransport it says "Server failed to bind". Both also say "Server is shutting down due to network transport start failure of _transport name_

[2022-09-12 11:19] mtpython commented on #2121
@NoelStephensUnity

Ok, this seems like a reasonable solution, since I've been doing the same for all kinds of other UI components (NetworkedScrollRect, NetworkedVideoPlayer, etc), and it's not a big difficulty.
Will you now delete the branch with the fix you've made?

Imagine a UI structure similar to webpage: vertical scroll rect filled with UI components (text, videos, interactive galleries, et

[2022-09-13 00:04] jeffreyrainy commented on #2171
Fixed with https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2187
Thanks again for the PR and the report.

[2022-09-13 00:04] #2171 closed, assigned to jeffreyrainy

[2022-09-13 07:42] PitouGames commented on #2171
Thanks for considering my issue and merging my PR! 🚀

[2022-09-13 16:35] NoelStephensUnity commented on #2180
@EscherHarlock
The v1.0.2 update is currently available via the Package Manager.
This should resolve your issues.

[2022-09-13 16:37] NoelStephensUnity commented on #2161
@DavidGoedicke @akoolenbourke
The v1.0.2 update is currently available via the Package Manager.
Let me know if this resolves your issues?

[2022-09-13 21:10] akoolenbourke commented on #2161
@NoelStephensUnity
Thanks Noel. My brief test this morning showed it looking much better but there still seems to be an issue. While the wheels are generally in the correct position, sometimes I can see that they snap to an orientation they shouldn't. That is, the wheels are rotating obviously (X axis) and they turn (Y Axis) but then sometimes they snap along Z and end up wonky. So far this only s

[2022-09-14 01:19] Shivang44 commented on #2134
Is Netcode still an experimental/beta package? Having such a critical bug open for a month is frustrating since having two clients is the primary way of testing for me as 3+ clients is harder to setup locally.

Regardless, I appreciate the bug post and those working on the issue.

[2022-09-14 01:36] Marc477 opened #2202 "Make XXHash NOT internal"
Since its a static class without any Netcode dependencies, i really see no reason to make this class Internal.
I would like to do some custom hashing in my own scripts, but i can't access this class because it's internal (why?).

This is probably the simplest fix ever, you just need to remove one word : internal.

Thank you.

[2022-09-14 15:57] NoelStephensUnity commented on #2161
@akoolenbourke
I haven't had a chance to fully familiarize myself with your code base, but one quick question:
Does the [VehicleController](https://github.com/FAR-Lab/CrossCulturalDriving2021/blob/ebbc6efd623db417f41b879c33d225e1838b2c02/Assets/Scripts/Vehicle/VehicleController.cs) only run on the server or does it run on the clients as well?
_Particularly, I am looking at the FixedUpdate and the

[2022-09-14 16:04] NoelStephensUnity commented on #2134
@Shivang44
Apologies for the delay as I was diverted to the most recent update (v1.0.2).
I am finishing up [PR-2127](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2127), and this will be included in the next update.  Not sure on the precise ETA for the next update, but it should be sometime this month.
If this issue is blocking you (sounding like it is), feel free to use

[2022-09-14 19:27] EscherHarlock commented on #2180
Looks like that did the job, thank you so much!

[2022-09-14 21:42] tangx246 opened #2206 "NetworkVariables not syncing when Time.timeScale == 0 on the Server"
### Description

NetworkVariable values are not propagated to client(s) when Time.timeScale == 0 on the server

### Reproduce Steps

1. Have a NetworkVariable<bool> in a NetworkBehaviour and set to true on the server
2. Verify that the value is updated on the client
3. Set Time.timeScale on the server to 0
4. Change the value of NetworkVariable<bool> to false
5. Note whether the value is updated o

[2022-09-14 21:45] tangx246 commented on #2206
Sorry this is a duplicate of https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/2171 it looks like. I only searched for open issues regarding this matter

[2022-09-14 21:45] #2206 closed, assigned to nobody

[2022-09-15 02:15] akoolenbourke commented on #2161
Hi Noel, it was @DavidGoedicke that gave up some source, we haven't been able to. Our game is server authoritative so nothing of control should be running on the client - our main car controller is disabled on dedicated clients so none of the code is running there. I went and checked and noticed we had some visual wheel code still running, however when I fixed that, the problem still showed.

Is t

[2022-09-15 15:32] NoelStephensUnity commented on #2161
@akoolenbourke
What are your rotation threshold level settings for the offending NetworkTransform(s)?
As well, do you have any scale adjustments that occur at any point prior to seeing this issue?

[2022-09-15 22:06] akoolenbourke commented on #2161
@NoelStephensUnity Our thresholds on the problem wheels are

Position: 0.001
Rot Angle: 0.01
Scale: 0.01

Yes, we do scale these wheels. The instantiated car is a base prefab, which we then go through and scale some parts based on configuration information for what type of car it actually is. We adjust the localScale, localPosition and localRotation immediately after Instantiate() and then when th

[2022-09-16 18:04] NoelStephensUnity commented on #2161
@akoolenbourke
Ahh...
Yeah, this possibly could be related to the parenting issues that should be resolved in [PR-2146](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2146).  [This branch is up to date with the develop branch ](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tree/fix/parenting-does-not-preserve-worldpositionstays-option) so it should i

[2022-09-18 00:25] Marc477 opened #2208 "ScriptableObject with missing script throwing warnings"
There is a scriptable object included in MultiplayerTools 1.0.0 that throws warning whenever you call Resources.LoadAll()

You probably just need to fix the reference in the next version.

<img width="598" alt="warning" src="https://user-images.githubusercontent.com/7688794/190880522-8a88c411-759d-4461-87fa-95322b4cb080.png">

The warnings i get:
The referenced script (Unknown) on this Behaviour i

[2022-09-18 07:48] jaros3 commented on #1499
This happens a lot if you use variant prefabs.

I have a base prefab called Unit. From it I have 4 prefab variants: Warrior, Archer, Mage, Priestess. If I have NetworkObject on the parent prefab, then after every edit to base prefab the Global Hash ID glitches out and becomes the same. I removed NetworkObject from the base prefab. Each time I encounter the Global Hash ID error, I remove and re-add

[2022-09-18 20:17] akoolenbourke commented on #2161
Hi @NoelStephensUnity . Would that PR also affect the situation where things are not manually parented? We just instantiate a prefab with the hierarchy already setup.

I turned off setting of the localScale and the issue still persisted.

Thanks

[2022-09-19 15:23] #2053 closed, assigned to nobody

[2022-09-19 15:42] NoelStephensUnity commented on #2161
Really, since your wheels still need to have a NetworkTransform for rotation and Y axis motion you might also try synchronizing scale too (if you are not already doing this).

Could you explain this a bit further?
PR-2146 solves the issue where parenting on the server-side with WorldPositionStays set to false would not be synchronized with currently connected clients nor with late joining clients.

[2022-09-19 17:20] jeffreyrainy commented on #1962
This should be fixed with
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2199

UTP support for WebSocket should also be available soon.

[2022-09-19 17:20] #1962 closed, assigned to ashwinimurt

[2022-09-19 17:21] jeffreyrainy commented on #722
Netcode for GameObjects building on WebGL is now possible, after
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2199

[2022-09-19 17:22] #722 closed

[2022-09-19 23:42] akoolenbourke commented on #2161
Yes we are already synchronising scale.

What I meant, was does the PR also help solve an issue for children in a prefab and not just children parented through code? Ours is the former. From your further explanation it seems it's unrelated to our problem.

[2022-09-20 15:32] NoelStephensUnity commented on #2161
@akoolenbourke
Could you send me the transform values for each of these objects when the Z axis rotation issue occurs and possibly the values just prior to when it occurs?
Base car - sync in world
-Rotator child - sync in local
--Visual - sync in local
--- Wheel - sync local
----Wheel Vis - sync local

Just trying to see if this is just local to one or all of the children.

[2022-09-20 21:16] becksebenius-unity commented on #2208
@Marc477 Hi Marc, can you clarify which Unity version you discovered this on?

[2022-09-20 22:06] Marc477 commented on #2208
2020.3.25

[2022-09-21 00:52] NoelStephensUnity commented on #2188
@WhippetsAintDogs
To better help you, I will need just a little bit more information about this issue if you have the time?

Does this look like the hierarchy of your NetworkObject with children NetworkBehaviours?
- MobEncounter (GameObject) with NetworkObject component
  - MobEncounter_1 (GameObject) with NetworkBehaviour_1 component
  - MobEncounter_2 (GameObject) with NetworkBehaviour_2 compone

[2022-09-21 03:54] 0xFA11 commented on #2193
Duplicate of #714

[2022-09-21 03:54] #2193 closed, assigned to 0xFA11, ashwinimurt

[2022-09-21 03:57] 0xFA11 commented on #2193
Also #937 & #572 are related.

Basically, we're aware of this issue and we do NOT support RPCs in generic base classes atm.

So, we want to treat this not as a bug but rather as a feature request.

I provided a simple suggestion under #714 in the past where you could still use a generic base class but implement RPCs under derived types rather than the base class to workaround this unsupported feat

[2022-09-21 21:24] SamuelBellomo commented on #2141
We use NetworkVariable<ulong> in boss room for tracking pot pickup. This tracks the object id. We set it to 0 when dropping the pot and so we track value changes for this.
It would have been cool if we could have used NetworkObjectReference for this instead of having to find the NetworkObject by id ourselves.

[2022-09-21 21:24] SamuelBellomo commented on #2141
@jeffreyrainy ^^^

[2022-09-21 22:33] jeffreyrainy commented on #2141
I don't think it is possible to change `NetworkObjectReference` to do what you want, not without making it into something entirely differently.

`NetworkObjectReference` is just a way to serialize a `NetworkObject` id. It doesn't have the synchornization part, that `NetworkVariable`s have. Looking at the code, it doesn't even seem possible to change the object a `NetworkObjectReference` references

[2022-09-22 12:54] WhippetsAintDogs commented on #2188
Yes (with more stuff and levels of nesting, but the general idea is there) !
And yes, we are deleting each MobEncounter_# GameObject when that mob is killed.

[2022-09-22 14:28] ashwinimurt commented on #2188
[MTT-4718](https://jira.unity3d.com/browse/MTT-4718)

[2022-09-22 14:31] ashwinimurt commented on #2189
[MTT-4717](https://jira.unity3d.com/browse/MTT-4717)

[2022-09-22 14:33] ashwinimurt commented on #2208
[MTT-4716](https://jira.unity3d.com/browse/MTT-4716)

[2022-09-23 15:28] NoelStephensUnity commented on #2161
@akoolenbourke
I think the [following branch from PR-2146](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tree/fix/parenting-does-not-preserve-worldpositionstays-option) will resolve your scale and rotation issue.  It should make it into the next update.  Since it isn't possible to access your project, could you verify that the slight rotation issue gets resolved when using th

[2022-09-23 16:20] NoelStephensUnity commented on #2188
@WhippetsAintDogs

The error message is there to let you know that somewhere in your scripts you are still sending RPCs to something that no longer exists.  So, it sounds like the handling of the deletion of the MobEncounter_# GameObject is working as expected (i.e. not throwing an exception but logging an error if something tries to send a message to it).

If you want to continue deleting the Gam

[2022-09-23 23:10] NoelStephensUnity commented on #2189
@dsaunder
I just ran this test using this script:
[code]

This was the output I got:

Does your script look similar to the above?
If not, then make sure you are checking:
- if the NetworkObject spawning belongs to the local player
- what the NetworkObject's OwnerClientId is to determine which instance is being spawned on the client

you can also do something like this:
[code]
If you are trying to

[2022-09-24 03:19] WhippetsAintDogs commented on #2188
Hello @NoelStephensUnity !

Thanks for your time. I'm well aware of the purpose of this error message and this is not what is happening in my case. I invite you to re-read my original post as I specified that it is RPCs sent to still living mobs that cause this message, not to the destroyed ones. I even described where the problem is located in this codebase : if a mob in the encounter's ChildNetw

[2022-09-25 18:38] BaloghDaniel commented on #2189
I *thought* i was having the same issue. I tried the debug script you provided and it seems that the client IsOwner. Although I still get "Client is not allowed to write to this networkvariable" when triyng to move. when editor is client.

If i have the server in the editor i get: "Trying to update interpolator when no data has beed added to it yet".

I am using the ClientNetworktTransform.

[2022-09-25 19:13] BaloghDaniel commented on #2189
I Debuggd all the way trough the "TrycommitTransformToServer" method in ClientNetworkTransform and i found this.
[code]

I suppose this is supposed to be "Owner" so that my client have writeperm? But i cant figure out why its just server that has writeperm. I thought the ClientNetwork transform made it so that the owner hade permission?

**EDIT**
You can override the OnIsServerAuthorative as such:

[2022-09-25 19:34] NoelStephensUnity commented on #2188
@WhippetsAintDogs
I apologize for misleading you on the deletion of NetworkBehaviours.  After creating a replica of your scenario it does seem there is another property being used to get the NetworkBehaviour index and that property is not being updated if a NetworkBehaviour is deleted from the ChildNetworkBehaviours list.  Having the NetworkBehaviours re-assign their NetworkBehaviourId when a Netw

[2022-09-25 19:48] WhippetsAintDogs commented on #2188
No worries ! 😄

Thanks @NoelStephensUnity !

[2022-09-25 20:20] NoelStephensUnity commented on #2188
@WhippetsAintDogs
Attached is the manual test I used to verify the issue as well as how I synchronized connected clients when the GameObject the pseudo mob behaviour was attached to was deleted.
[2188-ManualVerification.zip](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/files/9641688/2188-ManualVerification.zip)
This should "just work" for you if you want to just see it worki

[2022-09-25 21:08] NoelStephensUnity commented on #2189
@BaloghDaniel
Yeah, I see that we are missing some information in that NetworkTransform documentation on this indeed.  I went ahead and [submitted a PR](https://github.com/Unity-Technologies/com.unity.multiplayer.docs/pull/791) to provide more details on this.

As a side note, [the most recent version of the ClientNetworkTransform](https://github.com/Unity-Technologies/com.unity.multiplayer.sample

[2022-09-25 21:08] #2189 closed, assigned to NoelStephensUnity

[2022-09-27 19:53] #1924 closed, assigned to ashwinimurt, simon-lemay-unity

[2022-09-27 20:12] ezoray opened #2221 "NetworkList ResetDirty has no effect on object with no observers."
### Description

If a network object with a network list is spawned with no client visibility and the network list populated then ResetDirty() is called, when the object is subsequently shown to a client the populated list is sent to the client. If the object is already observed by the client and then the list is populated followed by the ResetDirty() call, the list is not sent to the client.

###

[2022-09-28 22:12] NoelStephensUnity commented on #2114
#2127 was merged and so I am closing this issue.

[2022-09-28 22:12] #2114 closed, assigned to NoelStephensUnity

[2022-09-28 22:13] NoelStephensUnity commented on #2126
#2127 contains the fix for this issue and should be in the next update!

[2022-09-28 22:13] #2126 closed, assigned to NoelStephensUnity

[2022-09-28 22:14] NoelStephensUnity commented on #2134
#2127 has been merged and should be in the next update!

[2022-09-28 22:14] #2134 closed, assigned to NoelStephensUnity

[2022-09-29 20:36] NoelStephensUnity commented on #2188
Hello @WhippetsAintDogs,
I have been looking at all of the possible ways to do this and after further investigating deleting a NetworkBehaviour, with the current implementation, it could be very problematic for NetworkBehaviours that have NetworkVariable properties.

There are still ongoing discussions about certain areas within the SDK that could be improved and this issue is being added to the l

[2022-09-30 00:15] NoelStephensUnity commented on #2175
@Marc477
It turns out that we just need to make a client regenerate the NetworkConfig hash value for each unique ConnectionRequestMessage since that is only sent by clients.
This fix should be in the next update.  👍

[2022-09-30 00:39] NoelStephensUnity commented on #2023
This is by design.
The server will always receive OnGainedOwnership notifications as it is useful to track (server-side) who has gained ownership when it happens.  If you have client-side specific code that needs to only be executed by clients, the best way to handle that would be:
[code]

[2022-09-30 00:39] #2023 closed, assigned to NoelStephensUnity

[2022-09-30 00:49] NoelStephensUnity commented on #1990
@lcompton
Hello, I was running through the Github issues and noticed that teleporting issues were resolved in [PR-2110](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2110) which was included in the current version (v1.0.2) of Netcode for GameObjects.
If, after you have updated to the most recent version, you are still experiencing issues with NetworkTransform.Teleport, p

[2022-09-30 00:49] #1990 closed, assigned to nobody

[2022-09-30 00:54] NoelStephensUnity commented on #1990
As a side note:
You need to set the Rigidbody.isKinematic to true while teleporting with a RigidBody.
A good [reference script of how this is done can be found here](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/develop/testproject/Assets/Scripts/PlayerMovement.cs)

If you grab the [develop branch you can find a working sample of Teleporting here](https://github.com/Unit

[2022-09-30 01:02] NoelStephensUnity commented on #1998
@LoneDev6
There were recent updates to the [PlayerMovement script](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/develop/testproject/Assets/Scripts/PlayerMovement.cs) that no longer require the NetworkTransform component. _(PlayerMovement derives from `NetworkTransform` now)_

I will open a PR to resolve this issue with the sample, but for the time being if you remove th

[2022-09-30 01:09] NoelStephensUnity commented on #1348
@ChadGatling
I did apply some [fixes just recently to NetworkAnimator](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2127) that are now in the develop branch that were not synchronizing if there were 2 clients so you might try your project with the develop branch and see if the fixes I applied resolve your issue.  These fixes will be included in the next update.

If what

[2022-09-30 01:26] NoelStephensUnity commented on #829
@Dockyardb
I am just running through the remaining open issues and wanted to try and help clarify some things as well as provide you with additional updates to server authoritative NetworkTransform.

NetworkObject.IsLocalPlayer denotes that the NetworkObject in question represents the client's "local player".  If you remove the ownership of the NetworkObject (which is what represents the local pla

[2022-09-30 01:26] #829 closed

[2022-09-30 01:41] NoelStephensUnity commented on #2168
@zzragida
I was looking at the log file and I think I see where the issue resides.
It appears you might need to adjust your UnityTransport buffer sizes with that many clients connecting and disconnecting.

This was the suspect error I was seeing:

We do have [an update to the UnityTransport ](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2212) that should be in the next

[2022-09-30 01:47] NoelStephensUnity commented on #2019
@andriyDev
Unfortunately, we currently do not support parenting directly when instantiating due to several reasons.
The current recommended solution is to use `NetworkObject.TrySetParent` to avoid this issue.
There are [some updates to parenting](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2146) that should be in the next update that resolve several parenting related i

[2022-09-30 01:47] #2019 closed, assigned to NoelStephensUnity

[2022-09-30 01:50] #2059 closed, assigned to nobody

[2022-09-30 09:28] LoneDev6 commented on #1998
Thanks for the efforts but I had to move to another solution since this doesn't seem production ready.

[2022-09-30 16:39] NoelStephensUnity commented on #1998
@LoneDev6
I am sorry to hear that, but glad you found the netcode solution that meets your project's needs.
Hopefully you will consider using Netcode for GameObjects with your next Unity project.

Best Regards,

Noel

[2022-09-30 20:40] #2038 closed, assigned to NoelStephensUnity

[2022-09-30 21:38] NoelStephensUnity commented on #2138
This issue was resolved in #2225 and will be in the next update!

[2022-09-30 21:38] #2138 closed, assigned to NoelStephensUnity

[2022-09-30 23:13] NoelStephensUnity commented on #2175
This fix will be in the next update!

[2022-09-30 23:13] #2175 closed, assigned to NoelStephensUnity

[2022-10-01 02:32] NoelStephensUnity commented on #1998
The fixes will be in the next update and are now merged into the develop branch.

[2022-10-01 02:32] #1998 closed, assigned to ashwinimurt, NoelStephensUnity

[2022-10-02 18:01] Isaac-dot opened #2229 "Unable to add package [https://github.com/Unity-Technologies/com.unity.multiplayer.mlapi.git?path=/com.unity.multiplayer.mlapi#release/0.1.0]: Could not clone [https://github.com/Unity-Technologies/com.unity.multiplayer.mlapi.git]. Make sure [release/0.1.0] is a valid branch name, tag or full commit hash on the remote registry. [NotFound]."
I think this link doesnot work anymore.
https://github.com/Unity-Technologies/com.unity.multiplayer.mlapi.git?path=/com.unity.multiplayer.mlapi#release/0.1.0

i tried to install MLAPI by adding package from git URL. and it shows me those two errors

Unable to add package [https://github.com/Unity-Technologies/com.unity.multiplayer.mlapi.git?path=/com.unity.multiplayer.mlapi#release/0.1.0]:
  Could

[2022-10-02 22:59] Shivang44 opened #2230 "NetworkList doesn't seem to work with in-scene placed networkobjects?"
### Description

I'm trying to use a NetworkList with either basic types like an `int` or custom types for which I implement `IReaderWriter`. When the script containing the NetworkList is on the player object, I'm able to write to it from the server and read to it from any client.

When the NetworkObject that the script is attached to is a non-player object and instead an in-scene placed NetworkOb

[2022-10-02 23:10] akoolenbourke commented on #2161
Hi @NoelStephensUnity. I tried to install and run that branch but on Parrelsync clones I get this error

KeyNotFoundException: The given key 'Unity.Netcode.ConnectionRequestMessage' was not present in the dictionary.
System.Collections.Generic.Dictionary`2[TKey,TValue].get_Item (TKey key) (at <e40e5a8f982c4b618a930d29f9bd091c>:0)
Unity.Netcode.MessagingSystem.SendPreSerializedMessage[TMessageType]

[2022-10-03 03:19] Shivang44 commented on #2230
To try to debug this I've cloned this repo locally and installed the package via the package manager by selecting the `package.json` file inside the `com.unity.netcode.gameobjects` folder.

However my `Debug.Log` statements aren't working. Does anyone know how I can write console statements inside the package (e.g. inside `NetworkList`) and have it show up in the game?

[2022-10-03 03:52] Shivang44 commented on #2230
Okay, wow. So this is a bug in the latest stable version **1.0.2** but _not_ a bug with the latest code on the develop branch. For now I will just use the package off the develop branch.

This whole week I thought I was insane and just doing it wrong, that's frustrating 😅

[2022-10-03 15:39] NoelStephensUnity commented on #2161
@akoolenbourke
Yes, you should update to the v1.2.0 version of UnityTransport.
Let me know if that resolves the issue above?

[2022-10-03 15:56] NoelStephensUnity commented on #2090
@WhippetsAintDogs
Hmmmm, yeah... that was something I was thinking about[ in the most recent update to NetworkAnimator](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/b92c6b83468f1b817cad15249ec05e56a8e0e9f6/com.unity.netcode.gameobjects/Components/NetworkAnimator.cs#L74) which pretty much looks very similar to your fixes.

This updated version is available in the develop

[2022-10-03 17:42] #2063 closed, assigned to ShadauxCat, NoelStephensUnity

[2022-10-03 18:51] NoelStephensUnity commented on #1554
This was verified fix using v1.0.2 but I believe it has been fixed since v1.0.0.

[2022-10-03 18:51] #1554 closed, assigned to ashwinimurt

[2022-10-03 20:10] akoolenbourke commented on #2161
Hi @NoelStephensUnity. Unfortunately it doesn't - I still get the same error. I downloaded the source from the link above
(https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tree/fix/parenting-does-not-preserve-worldpositionstays-option)

Copied it into Packages and changes the packages-lock.json to the following
[code]

To bring in 1.2.0 of the unity transport and the exception s

[2022-10-03 21:25] Shivang44 commented on #2229
Hey Issac, have you tried following these instructions: https://docs-multiplayer.unity3d.com/netcode/current/installation/install

MLAPI is now Netcode and unless there's a specific reason you're wanting to use MLAPI (older version) you should use Netcode.

[2022-10-03 21:48] NoelStephensUnity commented on #2161
@akoolenbourke
Ahh... so backup your current manifest.json file and then update your manifest.json file with these two entries:
[code]
Make sure there are no other entries for com.unity.netcode.gameobjects and com.unity.transport in manifest and then save it.  When you switch back to or open your project in the editor it should work.

If the PR gets merged and it can't find the branch (and you wan

[2022-10-04 01:24] jeffreyrainy commented on #2156
This is unexpected. An Exception should be thrown as this client write is not permitted. I'll have a PR to address this.

This is also unexpected. An Exception should be thrown as this client write is not permitted. I'll have a PR to address this.

Same as above two. Same expected result: exception. Same PR will address this.

Same.

I'm still getting to repro this in our test suite. That would be

[2022-10-04 02:20] jeffreyrainy commented on #2221
Sorry, this is not valid. Specifically:

The Netcode For GameObjects package is oriented around synchronizing variables between server and clients. Expecting to rely on `ResetDirty` so that the state _doesn't_ synchronize is not the intended usage. In fact, `ResetDirty` should probably not be public, if it was not for its history.

Please don't call `ResetDirty` from game code. If you want each si

[2022-10-04 02:20] #2221 closed, assigned to jeffreyrainy

[2022-10-04 08:50] ezoray commented on #2156
Thanks @jeffreyrainy, that last issue stopped happening a little while ago so may have been fixed inadvertently by another update. There was one situation where it still happened in my main project but I wasn't able to reproduce it in testing and I've done away with that code since then.

[2022-10-04 10:38] chromee commented on #1549
+1

[2022-10-04 11:47] ezoray commented on #2221
That's not a total shock to hear, thanks for letting me know.

[2022-10-04 14:16] jeffreyrainy commented on #2230
Hi @Shivang44 ,

Thanks for the report, and sorry for the frustration. `1.0.2` was a very targeted release for a specific area. I did not address this issue. But, as you can see, the `develop` branch has the fix for it. It will go in the next release.

I'll close this issue, as the fix is in already. Please wait for the next release, or use develop if you can, in the meantime.

[2022-10-04 14:16] #2230 closed, assigned to jeffreyrainy

[2022-10-04 14:53] jeffreyrainy commented on #2141
On the `develop` branch, `NetworkVariable<NetworkObjectReference> ` are now supported. You can use this if you need to synchronize a `NetworkObjectReference` between machines.

I'll close this, please re-open or file a new one if it turns out to be buggy or fall short of your expectations.

Thanks!

[2022-10-04 14:53] #2141 closed, assigned to nobody

[2022-10-04 17:02] NoelStephensUnity commented on #2229
Hello @Isaac-dot,

As @Shivang44 pointed out, the name changed from MLAPI to Netcode for GameObjects.

If you are wanting to grab a specific branch of Netcode for GameObjects you can now use this in your manifest file:
`"com.unity.netcode.gameobjects": "https://github.com/Unity-Technologies/com.unity.netcode.gameobjects.git?path=com.unity.netcode.gameobjects#develop"`

Let me know if this resolves

[2022-10-04 17:13] NoelStephensUnity commented on #2112
@Sirall
It is valid to have a hierarchy like this:
- Root GameObject with NetworkObject component attached
  - Child GameObject with Animator and NetworkAnimator components attached

With that said, could you further describe what kind of hierarchy you are trying to achieve that cannot be achieved with the above suggested hierarchy?

[2022-10-04 17:22] NoelStephensUnity commented on #2089
@itismarcii
Is this for connection approval and spawning of players?

[2022-10-04 17:35] NoelStephensUnity commented on #1977
Hello @daalen!
We will continue to look for ways to improve Netcode for GameObjects.
While we consider the suggested feature, could you further describe what feature you were trying to implement in your project when you ran into this issue?

[2022-10-04 20:38] daalen commented on #1977
Sure – I was trying to work around the fact that direct parenting of networkobjects to children of networkobjects (e.g. to the hand or back of a player object) is not possible. In the solution that I ended up with I parent to the root of the player object, switch to local space and non-interpolated, and update the position based on the movement of the body part of the player.

[2022-10-04 22:31] ashwinimurt commented on #1824
Hi @Shivang44 This has been fixed recently. Can you please try one of latest Unity Transport releases (1.3.0 is the latest as of today) and let us know.
Thanks

[2022-10-05 18:29] jeffreyrainy commented on #2194
Hi @nikhilsha-coder ,

The built game cannot forcibly take the port if another process is already using it. When the selected port is already in use, on your machine, you must use another one. There's no way around this.

When you use UNet or UnityTranport, `bool NetworkManager.StartHost()` will return `false` when the port is already in use. It is then possible to use another port, by setting the

[2022-10-05 21:22] NoelStephensUnity commented on #2104
@Marc477
I am converting this feature to a bug as you should be able to set the GameObject with the attached NetworkObject component as in-active.  After looking at where the disconnect is, I realized that there is an issue with this.

[2022-10-06 01:56] NoelStephensUnity commented on #1952
@thecosmicstudios
As an alternative, would it even be possible to make the larger assets in your scene addressable prefabs?
If so, then for non-NetworkObject prefabs it should "just work" and  for the addessable network prefabs you could have a networkbehaviour that handles spawning them as needed.

[2022-10-06 01:58] NoelStephensUnity commented on #1798
@NaolShow
That is not something that is built into Netcode for GameObjects, but there isn't anything preventing you from having the clients determine what their IP address is prior to connecting, enable connection approval, and send the client's IP Address along with the connection approval data.

[2022-10-06 02:02] NoelStephensUnity commented on #1698
@devx81
Have you seen the [INetworkSerializable Implementation Example](https://docs-multiplayer.unity3d.com/netcode/current/advanced-topics/serialization/arrays/index.html#inetworkserializable-implementation-example) in our documentation?  I think this will solve your issue.
Let me know if this works for you?

[2022-10-06 02:09] NoelStephensUnity commented on #1688
@daalen
In the up-and-coming update there will be a bunch of parenting fixes in [PR-2146](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2146).  This includes properly synchronizing in-scene placed multi-generation parent-child hierarchies.

[2022-10-06 06:42] daalen commented on #1688
That sounds good – but do I understand correctly this only works for scene objects, and not for parenting that happens during gameplay (e.g. a player picks up an object that should parent to its hand)?

[2022-10-06 13:49] ChadGatling commented on #1348
@NoelStephensUnity
I am trying to verify this but I am getting a bunch of unrelated errors after updating to 1.1.0 and even just 1.0.2

[2022-10-06 14:50] mrwillt1986 opened #2240 "InvalidCastException when NetworkAnimator removed from gameobject"
This is being spammed hundreds of times a second when a network animator gets removed from a gameobject. The client in my game doesn't send the server any animation, so the networkanimator gets removed from the gameobject as there is no other way to disable the network animator.

[code]

[2022-10-06 15:26] NoelStephensUnity commented on #1688
@daalen
In the soon to be released update, the ParentSyncMessage will synchronize:
- WorldPositionStays (i.e. if true then preserve world space or if not preserve local space)
- Position, Rotation, and Scale of the child after being parented

The idea is that if you have simple objects that can be picked up that don't normally move around in the world when they are not parented (i.e. backpack, wea

[2022-10-06 15:33] NoelStephensUnity commented on #1348
@ChadGatling could you share the errors that you are getting?
I might be able to assist you with those.

[2022-10-06 15:48] NoelStephensUnity commented on #2240
@mrwillt1986
Currently, Netcode for GameObjects does not support deleting a NetworkBehaviour derived component during runtime.  This is a known issue (#2188).  Could you describe what you are trying to accomplish by removing the NetworkAnimator during runtime?  Perhaps I might be able to offer an alternate solution/approach.

[2022-10-06 15:59] mrwillt1986 commented on #2240
Hi Noel, appreciate the reply.

So the local client runs his/her own animations and does not need to sync those animations with the server, as the server is running its own animations which then sync out to all other clients. As such, the local client needs to delete the networkanimator, while the server needs to keep it. This is attached to the player prefab, and it appears you cannot add the net

[2022-10-06 17:57] daalen commented on #1688
Cool! The objects I was having trouble with did need NetworkTransforms as they move about, but this is still very helpful. Thanks for the extensive answer!

[2022-10-06 19:16] NoelStephensUnity commented on #2240
@mrwillt1986
This is indeed a tricky combination!
Due to the known issue (#2188), removing the NetworkBehaviour is not a viable option.
With that said...
I think you could use [the connection approval process](https://docs-multiplayer.unity3d.com/netcode/current/basics/connection-approval) to spawn a unique player prefab for client(s) that do not use a NetworkAnimator and for those that do:

- Pla

[2022-10-06 20:02] akoolenbourke commented on #2010
Can I ask why this was triaged as low? The docs suggest making custom network variables and even give minimal demo code to show what to do. However, they just can't be done as it stands without completely copying and pasting CanClientRead, CanClientWrite and OwnerClientId as well as managing your own m_NetworkBehaviour. It seems in this case the API is broken and m_NetworkBehaviour should be prote

[2022-10-06 20:37] ChadGatling commented on #1348
@NoelStephensUnity

Here is the first error I get with 1.1.0 as a client trying to connect to my server.

image removed

The server is seeing the client connect but then I get a handshake timeout. Then the server disconnects the client.

image removed

Thanks for looking.

[2022-10-06 21:21] NoelStephensUnity commented on #1348
@ChadGatling
What version of Unity are you using?  There was a recent update to make NetworkVariables handle managed types and this requires the most recent version of Unity (or higher) to use the current develop branch:
2021.3.11f1 LTS
2020.3.40f1 LTS
2022.1.19f1

As well, if you want to use a specific branch you can update your Packages\manifest.json file with something like this for com.unity.n

[2022-10-06 21:29] gregharding commented on #2010
I've been trying to write a CustomNetworkVariable and am hitting the same issue with the `NetworkVariableBase` not quite being extensible enough. The current documentation only shows a minimal example and trying to use the techniques in `NetworkVariable` and `NetworkList` for checking client read/write permissions hits issues with the `m_NetworkBehaviour` not being accessible.

There are possible

[2022-10-06 23:05] ChadGatling commented on #1348
@NoelStephensUnity
I updated my editor to 2021.3.11f1 and I am still getting the same issues

[2022-10-07 00:10] akoolenbourke commented on #2161
Thanks @NoelStephensUnity. Unfortunately those instructions generate the same error (I had to use #develop because the other didn't work).

This is the callstack I get on dedicated clients. Hosts can start up OK BTW, although later when I perform RPCs and try and serialise one of my own structs, it now throws a null ref exception. I took a look and see some of our fields would be null and previous

[2022-10-07 06:21] ashwinimurt commented on #1824
We have verified that this issue is fixed. Please reopen if you encounter the same issue again.

[2022-10-07 06:21] #1824 closed, assigned to nobody

[2022-10-07 07:43] mrwillt1986 commented on #2240
Its going to be a real pain I have to admit, but if its all I have to work with then I can work on something that will work.

Do you know if Unity have plans to solve this in the near term?

[2022-10-07 12:18] ChadGatling commented on #1348
@NoelStephensUnity The previous still applies and I also tried it with Netcode for GameObjects 1.0.2 and on the server on player connect I am getting

![image](https://user-images.githubusercontent.com/26395708/194551000-98564e97-6c77-43b2-bb08-cd2335828936.png)

and on the client right after connecting I get

![image](https://user-images.githubusercontent.com/26395708/194551189-c54a9f88-7029-4b84

[2022-10-07 15:25] NoelStephensUnity commented on #2240
@mrwillt1986
I am definitely pushing for this process, and this is what I told the user who filed issue #2188:

So, this is something I can't make a definitive ETA on as it really depends upon how these changes align with other targeted improvements being discussed and if there are any cross dependencies.  I definitely am in favor of improving this area of code and will continue to help drive for

[2022-10-07 15:33] NoelStephensUnity commented on #1348
@ChadGatling
Ahh...well at least the errors you are getting are different than before and so updating did help resolves those errors.
It looks like you are still using the 1.0.0-pre.3 version of ClientNetworkTransform.
Replace that with the [updated version of ClientNetworkTransform](https://github.com/Unity-Technologies/com.unity.multiplayer.samples.coop/blob/main/Packages/com.unity.multiplayer.s

[2022-10-07 15:38] NoelStephensUnity commented on #2161
@akoolenbourke
What version of Unity are you using? There was a recent update (this week) to make NetworkVariables handle managed types and this requires the most recent version of Unity (or higher) to use the current develop branch:
2021.3.11f1 LTS
2020.3.40f1 LTS
2022.1.19f1

That error you are getting will happen if you are using an earlier version than the above listed versions.

Once you have

[2022-10-07 15:44] Brainshack commented on #2119
I personally like the way it is. Moving from server to client authority has a lot of consequences a developer needs to be aware of. The way it currently works, by having to write a small piece of coide makes it a lot harder to accidently swap between two modes.

[2022-10-07 17:49] jeffreyrainy commented on #2156
Addressed in https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2233 . That will be in the next release. Thanks again for the report, will close this.

[2022-10-07 17:49] #2156 closed, assigned to jeffreyrainy

[2022-10-07 19:59] ChadGatling commented on #1348
@NoelStephensUnity So this version of ClientNetworkTransform is for the 1.0.2 version of Netcode for gameobjects? Or for 1.1.0? And all of this is to be used with Unity 2021.3.11? I can't seem to find the info about what version requires what version

[2022-10-07 20:56] NoelStephensUnity commented on #2104
This issue will be resolved in the next update.

[2022-10-07 20:56] #2104 closed, assigned to NoelStephensUnity

[2022-10-07 21:50] ezoray opened #2242 "ChangeOwnership of an object is triggering a message to all clients."
### Description

When the server changes ownership of an object the server attempts to send a message to that object on all clients when it should only send a message to the client gaining or losing ownership and only if that client is currently observing the object.

### Reproduce Steps

1. Start server
2. Connect two clients, A & B
3. Spawn a network object with server ownership and make visible

[2022-10-07 22:08] NoelStephensUnity commented on #1348
@ChadGatling
Apologies for the confusion we are close to releasing the next version which has many updates.

The updated version of ClientNetworkTransform should be for v1.0.2 and beyond (which includes anything in the develop branch)
The next version is going to be v1.1.0 which is what is currently in the develop branch.

If you still have the suggested updates applied to your project's manifest

[2022-10-07 22:29] ChadGatling commented on #1348
Yes I am running those versions and I am getting this error when the client tries to connect. And the handshake timed out message on the server side.

![image](https://user-images.githubusercontent.com/26395708/194671039-b0bb8b15-f0b3-4561-80f0-9608fdc0f725.png)

[2022-10-08 01:59] ChadGatling commented on #1348
@NoelStephensUnity The issue seems to stem from this

![image](https://user-images.githubusercontent.com/26395708/194682199-2a0522bf-3c96-48a2-bd40-0f9c64ccb990.png)
![image](https://user-images.githubusercontent.com/26395708/194682378-674c6f43-d453-4bb4-b917-070ed2997fb7.png)

MessagingSystem.RegisterMessageType is not run if that helps

[2022-10-08 02:33] Marc477 commented on #2104
Cool, will it also be possible to Spawn() an object that was previously Despawn() ?  So Spawn() and Despawn() at will without destroying the object ? So it keeps running on the server, but not on the client. And only sync with client under certain conditions. I think before there were issues with Spawn() an object that was previously Despawn()

[2022-10-08 09:45] Mid-D-Man opened #2243 "Onnetwork spawn callback not working"
### Description

A clear and concise description of what the bug is.
Ever since two weeks ago the onnetwork spawn call back for netcode for gameobjcts stopped working I've tried everything I can to get it to work but not is working can anyone please help me out with this 🙏🙏
### Reproduce Steps

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Actual Outcome

A clear and

[2022-10-08 16:49] ChadGatling commented on #1348
@NoelStephensUnity Heads up I may be solving the issue but it is going to take a while. You might not want to put any effort into this until I confirm.

[2022-10-08 19:04] akoolenbourke commented on #2161
Hi @NoelStephensUnity I upgraded to 2021.3.11f1 (from 2021.3.5) and this issue still occurs on dedicated client editors as before. I deleted and recreated the clone as well as testing this on a real windows build and still the same issue. This is the NGO (And transport dependencies) I have installed, from the link you gave me the other day.

![image](https://user-images.githubusercontent.com/29034

[2022-10-09 12:31] itismarcii commented on #2089
Its for spawning NetworkObjects overall. At the beginning or just respawns of certain Enemies/Items in the current Scene

[2022-10-09 15:06] ChadGatling commented on #1348
@NoelStephensUnity I went through one by one updating stuff and everything worked until I updated to Netcode develop. That is when I got the `KeyNotFoundException: The given key 'Unity.Netcode.ConnectionRequestMessage' was not present in the dictionary.` error.

[2022-10-10 15:23] linyola opened #2244 "Crash when meet Max Send Queue Size"
### Description
Appearance 'Max Send Queue Size' can be accompanied by a crash. I've added try catch, but there's still a chance crash.

### Reproduce Steps
There is 1 client output 'Couldn't add payload of size x to reliable send queue' on server, more than 15 client output crash rate is clear.

### Expected Outcome
A clear and concise description of what you expected to happen.

### Screenshots

[2022-10-10 18:03] newFort4 commented on #650
Hi, @ashwinimurt . In release 1.0.2 version this issue still exists. Found a workaround to set position threshold to 0.

Pros: really fast solution
Cons: send package each tick, still need one tick when connects to sync.

With tick rate set by default (30) sending 3 floats during 1 minute  takes: 3 * 4 * 30 * 60 = 21600 bytes ~ 21 kilobytes. I think is not so bad.

Please correct me if I am wrong.

[2022-10-10 19:22] newFort4 commented on #1987
Hi.

Not sure it is related to, but the problem still exists when syncing data with regular _NetworkTransform_.

Position is not synced until changed.

[2022-10-10 20:59] JesseOlmer commented on #1397
Closing due to lack of activity or response from the reporting user.

[2022-10-10 20:59] #1397 closed, assigned to ashwinimurt

[2022-10-10 21:06] ashwinimurt commented on #1963
Hi @JayPeet  These issues have been fixed on the Unity side. If you try with latest Unity 2022 patch release, you should not get any compile errors. I have verified this locally.
Closing as completed. Please reopen if you are still seeing the same issue on latest 2022.
Thanks!

[2022-10-10 21:06] #1963 closed, assigned to ashwinimurt

[2022-10-11 07:22] Myxcil commented on #2063
Hi Noel,

Yes it was an issue on the server only when  a client lost the ownership of
an object. Your summary is correct. Looking forward to the patch .

Have a nice day
Markus Kark

Noel Stephens ***@***.***> schrieb am Do., 28. Juli 2022,
22:57:

[2022-10-11 16:33] ashwinimurt commented on #2243
Hi @Gabzee Sorry you are facing this issue. Could you provide us more details that we request in the Issues Template.
Specifically, the repro steps, netcode version, unity version and may be a testcase.
This will help us fix it faster.
Thanks

[2022-10-11 16:40] danielchipman commented on #2193
@ThusSpokeNomad makes sense, but in that case can the validation in the code gen check if the class is generic and provide the user with a legible error informing them that it's not a supported? Another user in the support Discord hit this issue today and this seems like the kind of thing other developers may run into and it's not immediately clear why the break occurs.

[2022-10-11 16:42] NoelStephensUnity commented on #2104
@Marc477
For in-scene placed NetworkObjects you are in control of what is disabled and what is not.
So, you could despawn an in-scene placed NetworkObject (passing false to not destroy) and disable it on all clients but on the server you could leave the root GameObject enabled... or you could pick and choose which components you wish to enable/disable like you can normally do in single player.  Yo