[2022-10-11 16:51] NoelStephensUnity commented on #2161
Could you send me an example of the RPCs you try to invoke where you have issues (and the struct that seems to also have issues)?
Also, when you say "dedicated clients" do you mean running clients from a stand alone build you create?

[2022-10-11 16:55] NoelStephensUnity commented on #2089
@itismarcii
I think I understand.  So, you are saying that as opposed to creating a serialized GameObject property in your NetworkBehaviour derived component that you assign a network prefab to and use that to instantiate and spawn the network prefab you would like to parse through the list of registered network prefabs and have some form of logic in your NetworkBehaviour derived component that de

[2022-10-11 17:19] jeffreyrainy commented on #2043
Hi Rob Lang,

There has been some changes to those interfaces, which may have contributed to the confusion. The usage you are describing is not the intended one. We are just about to release `1.1`. What I'll describe below applies to both `1.1`, and current `develop` branch.

If you want to simply create a `NetworkVariable` of **some new type**, please use `NetworkVariable<SomeNewType>`. The requi

[2022-10-11 17:19] #2043 closed, assigned to jeffreyrainy

[2022-10-11 17:24] NoelStephensUnity commented on #1987
@newFort4
What version of Netcode for GameObjects are you using?

[2022-10-11 18:40] NoelStephensUnity commented on #2161
@akoolenbourke
Does your project use NetworkList anywhere?

[2022-10-11 18:40] NoelStephensUnity commented on #1348
@ChadGatling
Does your project use NetworkList anywhere?

[2022-10-11 18:54] 0xFA11 commented on #2193
@danielchipman — yeah, I think that'd make sense and a good QoL improvement.
@JesseOlmer @lpmaurice — shall we create a ticket for this (the comment above) in our JIRA and bring it into a sprint some time? 👀

[2022-10-11 20:04] NoelStephensUnity commented on #2161
@akoolenbourke
Could you share your manifest file and what platform are you compiling for?

Also, could you exit the editor, delete the Library/ScriptAssemblies folder, then re-open the editor and once it is done loading your project share the editor.log file generated?  (we have a few people looking into this issue and this information will help us track down this issue).

[2022-10-11 20:07] NoelStephensUnity commented on #1348
@ChadGatling
Could you share your manifest file and what platform are you compiling for?

Also, could you exit the editor, delete the Library/ScriptAssemblies folder, then re-open the editor and once it is done loading your project share the editor.log file generated?  (we have a few people looking into this issue and this information will help us track down this issue).

[2022-10-11 21:21] ChadGatling commented on #1348
@NoelStephensUnity

I am running on Windows 10.
No active NetworkLists in project

[Editor.log](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/files/9759833/Editor.log)
[manifest.json](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/files/9759840/manifest.txt)

[2022-10-11 22:52] ShadauxCat commented on #1348
@ChadGatling Can you do the same thing again, but delete the entire Library directory this time instead of just ScriptAssemblies, and then upload Editor.log again?

[2022-10-11 23:02] NoelStephensUnity commented on #1348
@ChadGatling
Heh... sorry for the barrage.. but we are hunting down this issue that this seems to be happening for a couple of users.
If you don't mind... could we also get a copy of your ProjectSettings\ProjectSettings.asset file?
It seems like ILPostProcessor is not being ran for your project and we are trying to determine why.

[2022-10-11 23:07] ChadGatling commented on #1348
@ShadauxCat @NoelStephensUnity I got you
[Editor.log](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/files/9760223/Editor.log)
[ProjectSettings.asset](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/files/9760236/ProjectSettings.txt)
Its all good. You are doing me a favor really. Also, I was barraging you a bit over the weekend.

[2022-10-11 23:14] ShadauxCat commented on #1348
@ChadGatling That time, it looks like ILPostProcessor did run... can you try your test again and see if you still see the KeyNotFoundException? If you do, could you upload `Libraries/ScriptAssemblies/Unity.Netcode.Runtime.dll`?

[2022-10-11 23:22] ChadGatling commented on #1348
Oh I am not on Netcode 1.1.0 I am on 1.0.2. Sorry yall, I should have realized that is what you needed. Do you want me to get back on develop?

Also there might be a better way to communicate than on this thread.

[2022-10-11 23:23] ShadauxCat commented on #1348
Ah, yes, can you please repeat the last step on develop (deleting the whole Library directory) and then upload Editor.log again?

[2022-10-11 23:39] ChadGatling commented on #1348
Comin' in hot
[Editor.log](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/files/9760328/Editor.log)

[2022-10-11 23:42] ShadauxCat commented on #1348
Ok, I do see ILPostProcessor running... this would be so much easier if I could reproduce this.

Would you be up to helping out with some debugging in a custom branch tomorrow? (Are you in the Netcode for GameObjects discord? If so, you can find me there as Kitty [Unity] and send me a DM and we can do this more quickly.)

[2022-10-12 00:51] NoelStephensUnity commented on #2244
@linyola
Could you add the reproduction steps for this bug with details on the number of clients connected as well as a description of what is happening when this occurs?  This will help us reproduce the issue on our end faster,

[2022-10-12 01:16] Mid-D-Man commented on #2243
Honestly speaking it just started but I think it was after I updated to ngo
version 1.0.2 and I'm currently using unity version 2021.2.7f1 because
Everytime I try using a later LTS version
1: when I try to change my project version the universal render pipeline
does not work it keeps giving me a (http error code not found something
about fixing my fire wall and proxy setting Wich I do not use eith

[2022-10-12 01:19] Mid-D-Man commented on #2243
And yes I have all the latest LTS versions and the do the same thing please
h me out I've been working on my game for nearly a year now and this thing
has me really stressed out I really wish to complete my game it's currently
my only goal in life.

On Wed, Oct 12, 2022, 2:16 AM gabzee_ over ***@***.***>
wrote:

[2022-10-12 12:39] linyola commented on #2244
### reproduction steps

1.Massive number translation：20players or robot client, frequent movement
2.Small send queue: 1M（in my case）, of course it is possible to set a lower number, 2000bytes
3.Translated number stacking over queue size: One client setting network lag and lose
4.Waiting send number over max send queue( It will was crash some time)

### addition
1.I am trying to run my server in De

[2022-10-12 12:48] linyola commented on #2244
![image](https://user-images.githubusercontent.com/5463466/195346624-4dcca7a8-b2f7-4677-a6e9-b3f43e5f2793.png)

[2022-10-12 14:22] jeffreyrainy commented on #2242
Thank you, good observation. I've put a PR for it, see above. If you feel like running on the bleeding edge, please consider checking if it addresses your issue. Otherwise, it will get in `develop` once approved. It will probably miss the `1.1` release though.

[2022-10-12 14:34] ezoray commented on #2242
Many thanks @jeffreyrainy, I can live with the warnings so I'll stay on develop.

[2022-10-12 16:56] NoelStephensUnity commented on #2243
@Gabzee
Do you mind sharing your project or could you provide us with any errors you might be getting?
If neither of those are possible, could you provide us with one of the script files that no longer is invoking the OnNetworkSpawn method?

[2022-10-12 17:32] NoelStephensUnity commented on #2244
@linyola
Does this happen when you reset your Unity Transport to the default settings?
![image](https://user-images.githubusercontent.com/73188597/195409787-f7b8e82b-1c84-4cb0-818f-36fa5983d6f5.png)

[2022-10-12 18:35] ashwinimurt commented on #2243
Can you also upgrade to NGO 1.0.2 - This is the latest version and it contains a bunch of fixes.

[2022-10-12 21:12] Mid-D-Man commented on #2243
Here are some scripts which are attached to the player and onnetwork spawn
it will instantiate a gun prefab which will bet attached to the players
hand but it doesn't do anything just like the other scripts with onnetwork
spawn

On Wed, Oct 12, 2022, 5:56 PM Noel Stephens ***@***.***>
wrote:

[2022-10-12 22:22] akoolenbourke commented on #2161
Hi @NoelStephensUnity . I'm not trying to do RPC, I'm just trying to connect a client to the host with networkManager.StartClient(). My startup function (the one that calls StartClient) is async and returns a UniTask<ConnectStatus> from a completion source I create. It's during the awaiting of returned UniTask that I get the exception and the callstack is entirely in NetCode which confuses me.

Pr

[2022-10-12 23:35] NoelStephensUnity commented on #2161
@akoolenbourke
Depending upon the project size, you should be able to attach it to this issue (drag and drop).
You only need to include the Assets and Packages folders.
If your project's Assets and Packages folders zipped are too large to attach let me know and I can find an alternate way for you to do that.

[2022-10-12 23:51] NoelStephensUnity commented on #2161
@akoolenbourke
If you have a discord account then you could add me as a friend (my user name is nstephens and id is 0030), direct message me, and send a zip that way.
=or=
Within the Unity Editor, you can select Help-->Report a Bug
In the title you can use Github Issue #2160
For the details just make a note that you are submitting a bug for us to troubleshoot an issue with v1.1.0 (develop branch).

[2022-10-13 02:52] #2242 closed, assigned to jeffreyrainy

[2022-10-13 07:26] linyola commented on #2244
Does this happen when you reset your Unity Transport to the default settings?
-yes

[2022-10-13 16:41] davidwagn commented on #2010
Access to `m_NetworkBehaviour` and not being able to override `OnClientRead` and `OnClientWrite` are the exact roadblocks I hit with implementing my own networked variable.

Please consider changing the current implementation. As is, the idea of custom implementations of `NetworkVariableBase` is nice, but cumbersome in practice.

[2022-10-14 17:22] newFort4 commented on #1987
@NoelStephensUnity 1.0.2

It doesn't work with in-scene placed object with default NetworkTransform.

[2022-10-15 10:17] Mid-D-Man commented on #2243
Hey so did you find out what's wrong

On Wed, Oct 12, 2022, 10:12 PM gabzee_ over ***@***.***>
wrote:

[2022-10-15 10:17] Mid-D-Man commented on #2243
Hey so did you figure out what is wrong with it?

On Fri, Oct 14, 2022, 8:51 PM gabzee_ over ***@***.***>
wrote:

[2022-10-15 17:11] NoelStephensUnity commented on #2243
@Gabzee
I am not seeing any files attached to this issue.
If you are having issues with that, you can oprtionally:

-  open your project in the Unity Editor
- Select the "Help" upper menu category and then select "Report a Bug..."
![image](https://user-images.githubusercontent.com/73188597/195999179-7544cb60-6d72-4921-ab33-fc21fd8feef7.png)

Fill out the bug report and reference this Github issue.

[2022-10-16 01:06] billw2012 opened #2262 "Allow BufferSerializer to be used directly in game code"
**Is your feature request related to a problem? Please describe.**
I want to reuse the network serialization for saving object state for save game, however the `BufferSerializer` constructor is internal so I can't create my own instance of it.

**Describe the solution you'd like**
Make the `BufferSerializer` constructor public, as well as `BufferSerializerWriter` and `BufferSerializerReader`.

**D

[2022-10-16 14:11] Mid-D-Man commented on #2243
Ok I'll see what I can do

On Sat, Oct 15, 2022, 6:11 PM Noel Stephens ***@***.***>
wrote:

[2022-10-18 13:22] Mid-D-Man commented on #2243
I have reported the bug

On Sun, Oct 16, 2022, 3:11 PM gabzee_ over ***@***.***>
wrote:

[2022-10-18 13:24] Mid-D-Man commented on #2243
Hello I've reported the bug, is this the bug I'd, CASE IN-20163

On Tue, Oct 18, 2022, 2:21 PM gabzee_ over ***@***.***>
wrote:

[2022-10-18 17:25] ashwinimurt commented on #2244
Backlog [MTT-4896](https://jira.unity3d.com/browse/MTT-4896)

[2022-10-19 05:51] rendre90 opened #2266 "Secure Connection Problem"
Hello Everyone,
I'm new using netcode, Currently I using WebSocket Transport.
I have trouble of secure connection.
I already put certificate64BaseString, But when I run to server then player connect. server said
"Error|ExecutionContext.RunInternal|Certificate does not have a private key Parameter name : cert". After that I modify the code and try to put private key with additional field (because i

[2022-10-19 13:22] jeffreyrainy commented on #2266
Hi @rendre90 ,

Can you please provide the callstack to the log output:  ?

Can you please elaborate on what you passed to
[code]
(not the actual content, rather how you generated those, where your certificates are from, etc...)

Also, did you use the `com.unity.netcode.gameobjects/Runtime/Transports/UTP/SecretsLoaderHelper.cs` helper ?

And lastly, we're just about to release 1.1.0 with this, so

[2022-10-20 06:48] Mid-D-Man commented on #2243
Hello

On Tue, Oct 18, 2022, 2:23 PM gabzee_ over ***@***.***>
wrote:

[2022-10-20 10:26] chromee opened #2268 "NormalizedTime of NetworkAnimator is not synchronized when CrossFade to the same State"
### Description

NormalizedTime of NetworkAnimator is not synchronized when CrossFade to the same State.

### Reproduce Steps

1. Create an AnimatorController with a non-Loop AnimationClip as the State.
2. Instantiate a NetworkAnimator using the AnimatorController.
3. Transition to the State by Animator.CrossFade.
4. Transition the same way again.

### Actual Outcome

NormalizedTime does not chang

[2022-10-21 15:35] gustavopradobr opened #2269 "NetworkVariable OnValueChanged() not being called on spawn"
### Description

My game was running fine with Netcode 1.0.2, but after I upgraded to 1.1.0 some issues started to occur. There is a short example of code that works fine in 1.0.2:
[code]

If spawned on server, the NetworkVariable immediately has its value changed (initialized).
If the Bullet was spawned on client, it would listen to every change of its NetworkVariable value on server.

This works

[2022-10-22 11:54] SoonYu97 opened #2270 "NetworkList does not emit EventType.Full event"
**Feedback**
In ReadDelta function from NetworkList.cs line 161, the case for EventType.Full (line 357) does not emit the event.

**Suggested Changes**
From:
[code]
To:
[code]

[2022-10-22 12:53] CodeSmile-0000011110110111 opened #2271 "NetworkTransform subclasses cannot add Inspector fields without subclassing NetworkTransformEditor"
### Description

Any subclass of NetworkTransform cannot have custom public or [SerializeField] fields appearing in the Inspector automatically because its NetworkTransformEditor does not show fields in subclasses.

### Reproduce Steps

1. Make a subclass of NetworkTransform
2. Add a public field to it
3. Check Inspector, field doesn't show up

### Expected Outcome

I would expect the NetworkTrans

[2022-10-22 13:31] ezoray commented on #2269
To add, it looks like OnValueChanged is being called when an object is spawned on the server/host, but not when the object spawns on the client.

This is when an object is spawned and a network variable is immediately changed (same frame). Some discussion about this issue [here](https://forum.unity.com/threads/networkvariable-onvaluechanged-not-being-called-on-spawn-netcode-1-1-0.1352021/).

[2022-10-23 04:13] rendre90 commented on #2266
Than you for answer me @jeffreyrainy
I'm using WebSocket Transport By Community. I'm not using UnityTransport on Network Manager bcz I'm build my client apps on WebGL platform.
Is UnityTransport already support on WebGL build?

[2022-10-23 21:27] outercloudstudio opened #2272 "KeyNotFoundException: The given key '89302010' was not present in the dictionary. Network Scene Manager"
### Description
When my client joins a host the scene loads but the gives the error `KeyNotFoundException: The given key '89302010' was not present in the dictionary.`

This happened when I updated from `1.0.2` to `1.1.0`.

### Reproduce Steps
Have a client join a host who is on a different scene than the client

### Actual Outcome
Scene was loaded. No network objects spawn. No RPCs get received.

[2022-10-24 08:27] Navlyc opened #2273 "Rpc with only an INetworkSerializable argument doesn't compile"
### Description

I get this error message it doesn't make sense.
Don't know how to serialize INetworkSerializable. RPC parameter types must either implement INetworkSerializeByMemcpy or INetworkSerializable.

### Reproduce Steps

Write this following code in a NetworkBehaviour.
[code]

### Actual Outcome

I get this error message it doesn't make sense.
Don't know how to serialize INetworkSerializa

[2022-10-24 13:44] ezoray commented on #2273
The RPC parameter needs to be the implementing class/struct rather than INetworkSerializable. It's also worth noting you can't have interfaces as a parameter of RPC's.

[2022-10-24 14:31] jeffreyrainy commented on #2266
Hi @rendre90 ,

We do not provide support for this transport. The community does. It's possible that another Unity user on the forums might be able to help. https://forum.unity.com/forums/multiplayer.26/

With Netcode for GameObjects 1.1.0 and Unity Transport 2.0 we provide some support for WebSockets and WebGL, but that would be a change on your part. I can't tell what the impact on your project

[2022-10-24 14:31] #2266 closed, assigned to jeffreyrainy

[2022-10-24 14:39] rendre90 commented on #2266
Okay Thank you so much for helping me @jeffreyrainy

[2022-10-24 22:04] NoelStephensUnity commented on #2271
@CodeSmile-0000011110110111
This is currently a known issue, and for tracking purposes I am marking this to be imported.
_The NetworkTransform implementation could have used a serializable class that contains the synchronize properties and a custom editor for that serializable class alone (separate from NetworkTransform itself) to prevent this from happening._

**For the time being, you could do s

[2022-10-24 22:13] NoelStephensUnity commented on #2268
Hello @chromee,
I noticed you filed this issue using v1.0.2 and was wondering if you have updated to v1.1.0 yet? If so, does this issue still exist on v1.1.0?

[2022-10-24 22:36] NoelStephensUnity commented on #2272
Hello @outercloudstudio,
I have tried replicating this issue on our end [using our test project ](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tree/develop/testproject) using:
- MainMenu->Samples->[Additive Scene Loading](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tree/develop/testproject/Assets/Tests/Manual/SceneTransitioningAdditive)
- MainMenu->Ma

[2022-10-24 22:39] NoelStephensUnity commented on #2273
Hi @Navlyc ,
Ezoray is correct and you can [find more information about `INetworkSerializable` in our documentation ](https://docs-multiplayer.unity3d.com/netcode/current/advanced-topics/serialization/inetworkserializable) that provides you with examples of how to implement `INetworkSerializable` as well as how to pass the implementation via RPC parameter there.

If you run into any further issues

[2022-10-24 22:47] outercloudstudio commented on #2272
Yeah sure!

[2022-10-25 05:05] chromee commented on #2268
Hello @NoelStephensUnity
Yes, this issue also exist in v1.1.0.

[2022-10-25 08:31] D4rWiNSS commented on #2269
This is also happening on the NetworkList variable.

[2022-10-25 15:00] NoelStephensUnity commented on #2268
@chromee
Thank you. I will mark this issue to be imported and start looking into it.

[2022-10-25 18:08] ashwinimurt commented on #2272
Backlog [MTT-4951](https://jira.unity3d.com/browse/MTT-4951)

[2022-10-25 18:13] ashwinimurt commented on #2271
Backlog [MTT-4952](https://jira.unity3d.com/browse/MTT-4952)

[2022-10-25 18:15] ashwinimurt commented on #2269
Backlog [MTT-4953](https://jira.unity3d.com/browse/MTT-4953)

[2022-10-25 18:16] ashwinimurt commented on #2268
Backlog [MTT-4954](https://jira.unity3d.com/browse/MTT-4954)

[2022-10-25 20:48] JesseOlmer commented on #2194
Just a quick update on this since macOS Ventura shipped recently with this regression. Currently the only recommended workaround is to do as Jeff suggested and set your server/host to listen on an alternative port. We hope to have a better solution at some point later this year. We are also actively working on better error messaging around this type of scenario.

[2022-10-25 23:39] NoelStephensUnity commented on #1348
@ChadGatling
Just checking in and seeing if you are able to use NetworkAnimator with v1.1.0 now that it is released?

[2022-10-26 04:43] outercloudstudio commented on #2272
The issue does persist with unity version 2021.3.11f1

[2022-10-26 07:31] Isaac-dot commented on #2229
@NoelStephensUnity @Shivang44
thanksssssssssssssssssssssssss!!!!  sorry to reply so late. "com.unity.netcode.gameobjects" this one works.

[2022-10-26 12:48] jeffreyrainy commented on #2269
There was a change in `1.1.0`, which we saw as a bug fix over previous versions.

When spawning an object (from the host, only way it is allowed, now),

- The host gets `OnNetworkSpawn` called with initial values
- The client gets `OnNetworkSpawn` called with initial values
- The host and clients will only get `OnValueChanged` / `OnListChanged` when the values change. Say, when they are modified d

[2022-10-26 13:27] outercloudstudio commented on #2272
I will see if I can make a smaller version of my project that reproduces the error.

[2022-10-26 16:36] chromee commented on #2268
Thank you 😄

[2022-10-26 19:33] #2229 closed, assigned to nobody

[2022-10-26 19:45] NoelStephensUnity commented on #2272
@outercloudstudio
Or you can submit a bug via the unity editor (this will include your project) and provide me with the ticket number you should get back in an email.  I can then associate that bug with our internal MTT-4951 ticket (based on this Github issue) and figure out the issue that way too.  If you chose this path, please include the steps (in the unity editor bug) I need to take in order

[2022-10-27 11:16] davidyrgilbert opened #2278 "Updating from 1.0.2 to 1.1.0 leads to different behaviour for in-scene placed NetworkObjects regarding initial scale and position."
### Description

I've noticed a breaking change or bug regarding the initial syncing of in-scene places NetworkObjects that had either their position changed before a client connects, or which are in a hierarchy that contains scaled GameObjects.
Below is a link to a sample project which demonstrates this better than I can explain.

For both issues, the server starts on a bootstrap scene and then l

[2022-10-27 12:58] ChadGatling commented on #1348
@NoelStephensUnity I did test it with @ShadauxCat 's experimental branch for the .NET framework issue. It was working and I could get 2 players syncing animations while on a dedicated server. I think I did test the develop branch again once she pulled her branch to it and it worked. I haven't yet tested it released.

Weirdly it does not give me the option to update to 1.1.0 in the package manager.

[2022-10-27 14:43] #2194 closed, assigned to jeffreyrainy, ashwinimurt

[2022-10-27 17:26] Navlyc commented on #2273
Thank you for your answer !
I think just you need to change the error message.
"Don't know how to serialize INetworkSerializable. RPC parameter types must either implement INetworkSerializeByMemcpy or INetworkSerializable."
For example : "Rpc functions parameters cannot be an Interface but only a Class or Struct implementing INetworkSerializeByMemcpy or INetworkSerializable.."

[2022-10-27 17:26] #2273 closed, assigned to NoelStephensUnity

[2022-10-27 17:36] PitouGames opened #2279 "NetworkVariable now trigger warning when used offline"
Posted as a Discord forum during Dev-Blitz

### Feedback

**Me:**
Since the 1.1.0, an annoying warning pops when I use a NetworkVariable without a NetworkManager in scene: https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/blob/8b2a8b7a5975dc1229d060250df0bb655d11cbc7/com.unity.netcode.gameobjects/Runtime/NetworkVariable/NetworkVariableBase.cs#L88
This warning is great for beginne

[2022-10-28 00:47] NoelStephensUnity commented on #1348
Yeah, that is a known "thing"... there is a transition over to how package manager handles this.
If you delete Netcode for GameObjects via the package manager and then add it back via the package manager it will show v1.1.0.

I am going to close this issue since the primary issue appears to be resolved.
If you run into issues with the package manager stuff feel free to post here again.

[2022-10-28 00:47] #1348 closed, assigned to NoelStephensUnity

[2022-10-28 05:26] outercloudstudio commented on #2272
I have submitted my bug report. Here is the ticket `IN-21307`.

[2022-10-29 08:12] Dockyardb opened #2283 "OnLoadEventCompleted triggered twice if only host connected"
### Description

When you start a server as an host and nobody else connects the `OnLoadEventCompleted `and `OnSceneEvent with sceneEvent.SceneEventType = OnLoadEventCompleted` gets triggered twice. If there is a connected client this wont happen.

### Reproduce Steps

1. Host a server
2. Subscribe to the OnLoadEventCompleted
3. Change the Scene

### Actual Outcome

It is triggered twice

### Expe

[2022-10-29 20:10] g3trans opened #2284 "NetworkUpdateLoop breaks Editor when Exception is thrown within OnClientDisconnectCallback"
### Description

NetworkUpdateLoop breaks Editor when Exception is thrown within OnClientDisconnectCallback

### Reproduce Steps

Throw an exception within the OnClientDisconnectCallback, 999+ Exceptions are thrown from NetworkUpdateLoop, and Editor remains broken continuously throwing additional exceptions.

1. Start Server in Editor, connect as Server
2. Start Client in Build, connect as Client

[2022-10-31 16:07] jeffreyrainy commented on #2269
Hi, I'll be closing this issue later this week. Please let me know if this provided enough information, or if there is still an issue.

[2022-10-31 19:29] davidwagn opened #2286 "NetworkVariable with NetworkVariableReadPermission.Owner does not sync when changing ownership"
### Description

A `NetworkVariable` which is set up to be read by the owner and is owned by the server on startup does not sync its current value to the new owner when ownership is transferred.

### Reproduce Steps

1. Declare a `NetworkVariable` with `readPerm:NetworkVariableReadPermission.Owner`
2. Start the server and connect a client
4. Write to the `NetworkVariable` on the server
5. Transfer

[2022-10-31 20:32] NoelStephensUnity commented on #2090
@WhippetsAintDogs
This issue should be resolved in v1.1.0.

[2022-10-31 20:32] #2090 closed, assigned to NoelStephensUnity

[2022-10-31 22:19] NoelStephensUnity commented on #2268
@chromee
Are you leaving the non-looping state as the layer's current state when you are attempting to cross fade to it again or are you transitioning back to like the Idle state from the non-looping state before trying to crossfade into the same non-looping state again?
If you could, it would help me greatly if you provided me with an example project or just the code snippets that you are using t

[2022-11-01 17:03] NoelStephensUnity commented on #2272
@outercloudstudio
Thank you for submitting that.  Will be looking at it today and let you know what I find.

[2022-11-01 18:23] NoelStephensUnity commented on #2272
@outercloudstudio
Here are some of my initial findings:
The project you submitted seems to have two NetworkManager instances in the Connect and Game scenes.  You only need one NetworkManager in the Connect scene (it is automatically moved into the DDOL so if you load another scene as Single it will not get destroyed).  _This is just a heads up that this could be problematic._
I got your project an

[2022-11-01 18:39] ashwinimurt commented on #2284
Backlog [MTT-5007](https://jira.unity3d.com/browse/MTT-5007)

[2022-11-01 18:52] ashwinimurt commented on #2283
[MTT-5010](https://jira.unity3d.com/browse/MTT-5010)

[2022-11-01 18:52] ashwinimurt commented on #2286
[MTT-5009](https://jira.unity3d.com/browse/MTT-5009)

[2022-11-01 18:59] ashwinimurt commented on #1490
@LPLafontaineB I believe this issue is already fixed. Please reopen if we encounter again.

[2022-11-01 18:59] #1490 closed, assigned to ashwinimurt

[2022-11-01 19:01] ashwinimurt commented on #1498
Hi, Please update to latest NGO and Lobby and let us know if you are still having the same issue. Thanks

[2022-11-01 19:01] #1498 closed, assigned to ashwinimurt

[2022-11-01 19:33] NoelStephensUnity commented on #2278
Hi @davidyrgilbert,
Our develop branch has a fix for this issue where the Auto Object Parent Sync was not being taken into consideration with the parenting and scale updates in v1.1.0.
#2281 is the PR that resolves the Auto Object Parent Sync issue.
You can update your project's manifest file's `com.unity.netcode.gameobjects` entry with this:
`"com.unity.netcode.gameobjects": "https://github.com/U

[2022-11-01 20:11] NoelStephensUnity commented on #2283
Hello @Dockyardb !
Before I start looking into this, I have a few questions:

- Is the server/host the only one that registers for NetworkSceneManager.OnSceneEvent?
- Does both the client and the server/host register for the NetworkSceneManager.OnLoadEventCompleted event?

If that is the case, then what you are experiencing is the [correct default behavior.](https://docs-multiplayer.unity3d.com/ne

[2022-11-01 20:48] Dockyardb commented on #2283
Hello @NoelStephensUnity ,
`NetworkSceneManager.OnSceneEvent`  was just a test if it happens with this event aswell but yes it is only the server that registers to this event.
`NetworkSceneManager.OnLoadEventCompleted` Only the Host/server registers to this event no client.

And i also read the documentation before i opened this ticket. Furthermore i wrote with some ppl on the dedicated netcode.ga

[2022-11-01 21:09] NoelStephensUnity commented on #2283
@Dockyardb thank you for this clarification!  It helped me narrow down what could be happening.
Let me setup a test and check this real quick.  I want to check this in server mode vs host mode.
If it only happens when running in host mode then I am thinking the message is being sent and processed to the "host client" so the "server" receives the notification when the SceneEventProgress completes a

[2022-11-01 21:15] NoelStephensUnity commented on #2283
@Dockyardb
That is indeed what is happening! 👍
Nice catch! 💯
 I will look into why it only happens when there are no clients connected.
Followup:
A PR to resolve this is on its way!

[2022-11-02 06:45] Chien-65 opened #2293 "NetworkAnimator bug in Netcode 1.1"
### Description
I got a null exception in NetworkAnimator.BuildTransitionStateInfoList. Because I only have transition.destinationStateMachine for some transitions, no transition.destinationState. This happen when I upgrade from Netcode 1.0 to Netcode 1.1. This also cause syncing issue from animation state to animation state machine.

### Reproduce Steps
1. Create an animator for a character.
2. C

[2022-11-03 01:27] NoelStephensUnity commented on #2283
The fix for this issue will be included in the next update.  👍

[2022-11-03 01:27] #2283 closed, assigned to NoelStephensUnity

[2022-11-03 02:48] outercloudstudio commented on #2272
Thank you! A new clone fixed it. Sorry for taking your time.

[2022-11-03 02:48] #2272 closed, assigned to NoelStephensUnity

[2022-11-03 14:07] LPLafontaineB commented on #1490
I tested it on my side and see that the client is now properly disconnected, but the host still thinks it is connected and can carry on playing. Is there a way to notify the host that it is no longer connected to the relay server?

[2022-11-03 15:41] NoelStephensUnity commented on #2272
@outercloudstudio
No worries!  Glad I could assist you in moving forward with your project!

Cheers!

[2022-11-06 14:46] CosmicStud opened #2297 "Metrics Dispatch Warning Log"
### Description

In the package "Multiplayer Tools", The "MeticDispatcher" class, "Dispatch" method spams a warning of metrics over the limit, it tends to lower fps when viewing console on builds, and makes dev logging much more difficult

### Reproduce Steps

Send network messages in abundance

### Actual Outcome

Messages are sent and received successfully, though there are spammed logs every fr

[2022-11-06 14:58] CosmicStud commented on #2297
I added the package from the disk, added a small counter, if its more then my max, it wont print, it resets the log count if not over the limit

`internal MetricDispatcher(MetricCollection collection, IReadOnlyList<IResettable> resettables, IReadOnlyList<IEventMetric> eventMetrics)
        {
            m_Collection = collection;
            m_Resettables = resettables;
            m_EventMetrics

[2022-11-06 15:46] CosmicStud commented on #2297
//Changed log count  due to my needs and a lot of spam
`public void Dispatch()
        {
            var wentOverLimit = false;
            for (var i = 0; i < m_EventMetrics.Count; i++)
            {
                if (m_EventMetrics[i].WentOverLimit)
                {
                    wentOverLimit = true;
                    break;
                }
            }

            if (wentOverLi

[2022-11-07 14:35] RahulJoshi1997 opened #2299 "NetworkTransform Rotation Mismatch Issues (Possibly Due to Interpolation)"
### Description

In cases where the server's NetworkTransfom rotates rapidly, and somewhat haphazardly, before coming to a rest, sometimes the Client seems to come at a rest at the wrong rotation, with a delta much larger than the Rot Angle Threshold. It visually looks like maybe the clients final position is a frame or two old.

I haven't been able to recreate this issue with interpolation turned

[2022-11-07 15:57] JesseOlmer commented on #2194
Final Update:

This issue is a result of a change Apple made to Ventura. We've reported the issue and they have informed us a fix is on its way in 13.1

[2022-11-07 18:52] NoelStephensUnity commented on #2161
Re-opened temporarily to track until an internal ticket was opened.
[MTT-5024](https://jira.unity3d.com/browse/MTT-5024) was created to resolve the issue with nested NetworkBehaviours.

[2022-11-07 18:52] #2161 closed, assigned to NoelStephensUnity

[2022-11-07 20:16] akoolenbourke commented on #2161
Thanks @NoelStephensUnity . We are trying to implement various workarounds for things with varying degrees of luck so far so hope this comes about and we can use it.

[2022-11-07 22:11] NoelStephensUnity commented on #2293
Hello @Akyang65,
I apologize for this over-sight on my behalf while trying to address other issues with synchronizing state transitions.  Let me look into replicating your scenario on my end (if you can share a culled down version of your setup it would greatly reduce my time to fix this issue correctly).
Once I have replicated the issue on my end I can create a PR with the fix.

[2022-11-07 22:35] NoelStephensUnity commented on #2299
Hello @RahulJoshi1997!
Thank you for creating the replication project branch, that will help expedite the time it takes me to narrow down the issue at hand.
Will look into this and report back with my findings! 👍

[2022-11-08 00:51] NoelStephensUnity commented on #2299
@RahulJoshi1997,
Ok, I have verified that the issue you are experiencing has to do with how we synchronize Euler angles vs using a full quaternion. If this is blocking you currently, then you can use a branch where this issue is resolved but all of the changes will be rolled out over the next few updates (2 maybe 3) in order to be sure that we have full test coverage for the changes required.

If

[2022-11-08 06:33] RahulJoshi1997 commented on #2299
Awesome! Thanks for that link. I'll definitely try it out on our project and let you know if that fixes these issues for us.

[2022-11-08 07:22] RahulJoshi1997 commented on #2299
Yup I did my best trying to recreate the issue with the linked version of Netcode, and I wasn't able to. So I think the problem is solved!

[2022-11-08 13:50] adrianhoppe commented on #259
I believe this fix only applies to MLAPI which is now deprecated according to https://docs-multiplayer.unity3d.com/netcode/current/installation/upgrade_from_mlapi/index.html

Therefore, I was wondering if a similar feature (sending a reason for not approving a client) is already available in the new Netcode for GameObjects package.
If not, it would be great if it could be integrated.
This would be

[2022-11-08 15:39] NoelStephensUnity commented on #2299
Good to hear.
Feel free to continue to use that branch unless you run across other blockers until quaternion synch has made it into an update. I am going to keep this issue open until then.
_(FYI:  I periodically synchronize that branch with the develop branch)_

[2022-11-08 16:26] JesseOlmer commented on #259
@adrianhoppe Take a look at #2280 which was checked in to develop branch yesterday and will go out with our next version.

[2022-11-08 18:40] adrianhoppe commented on #259
@JesseOlmer wow, that was quick! ;-)
Thanks a lot! That change is exactly what I was looking for. Awesome!

[2022-11-08 19:47] ashwinimurt commented on #2299
[MTT-5082](https://jira.unity3d.com/browse/MTT-5082)

[2022-11-08 19:47] ashwinimurt commented on #2293
[MTT-5083](https://jira.unity3d.com/browse/MTT-5083)

[2022-11-08 19:56] ashwinimurt commented on #2297
Duplicate of https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/2058 [MTT-3388](https://jira.unity3d.com/browse/MTT-3388)

[2022-11-10 19:35] CosmicStud commented on #2297
Okay, did not notice that.

There is another log, although not spammed as much. If a custom build is completed it'll send more than a few of these
`Runtime Net Stats Monitor (RNSM) implementation disabled in release build targeting StandaloneLinux64`

The log is located in the package "Unity.Multiplayer.Tools", class "NetStatsMonitorBuildLogEntry", "OnPostprocessBuild" method

[2022-11-10 23:25] NoelStephensUnity commented on #2293
@Akyang65
Could you send me some screenshots of how you have your attack layer setup and the Sub-State Machine as well?
I would like to make sure I create the same thing on this end to validate a WIP fix.

[2022-11-11 06:33] Chien-65 commented on #2293
Hi,

I create a test project ([testproject.zip](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/files/9987044/testproject.zip)) from the "https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/tree/develop/testproject".

Once you open it, please open the SampleScene. When you play as host, you first will see the null exception. After you fix it, you can press space

[2022-11-11 12:39] C-atmaca opened #2305 "[Netcode] Detected the Host is sending itself animation updates! Please report this issue."
### I don't know if this is important it doesn't seem to break anything for me but it says to report the issue so I should report here I think.
### This is the warning I am getting in the console while player animations are being played:

[Netcode] Detected the Host is sending itself animation updates! Please report this issue.
UnityEngine.Debug:LogWarning (object)
Unity.Netcode.NetworkLog:LogWarn

[2022-11-11 23:31] NoelStephensUnity commented on #2293
That is even better (thank you)!  It wasn't as much as knowing where and why the exception was happening as much as I wanted to make sure  everything still synchronizes for connected and late joining clients.  This will be a great help. 👍
💯

[2022-11-12 00:53] NoelStephensUnity commented on #2293
@Akyang65
Ok, I tested my fix using your state machine setup with my manual test scene and it looks like it is not throwing exceptions and synchronizing the appropriate state.  I made some adjustments so I could add some basic animations to each attack state, but it follows the same general pattern.

As opposed to making the entry where the transition occurs, I added the transitions from the Idle

[2022-11-14 07:14] Chien-65 commented on #2293
Hi Noel,

I got this version and there are two places need to fix. In line 1345 and 1354 of the function, SetTrigger. When you call InternalSetTrigger, you need to pass setTrigger for the second parameter. After this fix, it is all good.
![image](https://user-images.githubusercontent.com/117246343/201597525-9f18d367-66b8-408e-ab7c-16b7209126e0.png)

Cheers,

Chien

[2022-11-14 10:49] ezoray opened #2306 "Stale NetworkList event sent to client when its containing object is re-shown."
### Description

I have a network object observed by a client containing a network list of structs. On direction by the client a timer is started on the server to remove the entries from the list from the bottom at half a second intervals. At any point the client can choose to deselect the object and the server hides the object from the client and continues to remove entries from the list until al

[2022-11-14 20:13] #2284 closed, assigned to jeffreyrainy

[2022-11-14 22:12] jeffreyrainy commented on #2306
Thanks for submitting this issue!

I managed to find a case when updates might be missed. But this is only for dynamically spawned object, and it would not cause an exception, only prevent updates from showing for a while.  So, I'm puzzled.

At what point during the frame is this timer running? Is this a coroutine, a thread, a check during `Update()`, during `FixedUpdate()`, something else altoget

[2022-11-14 22:50] NoelStephensUnity commented on #2268
@chromee
Just checking in to see if my above response was a help or if you are still having the same issue?

[2022-11-14 22:53] ezoray commented on #2306
Hi @jeffreyrainy, this is running in Update(), there's a MonoBehaviour that on each update calls a TimerManager routine which checks against deltaTime if enough time has passed to run any current timed events.

This is the MonoBehaviour, I think I grabbed it from the forums:
[code]

and this is the TimerManager:
[code]

[2022-11-15 10:37] chromee commented on #2268
@NoelStephensUnity
Sorry for the late reply.
I am still having the same issue.

I am leaving the non-looping state as the layer's current state when I am attempting to cross fade to it again.

This is example project.
https://github.com/chromee/netcode-cross-fade-test

The character's kick animation can play with a mouse left click.
You can confirm that the animation is not network-synchronized by

[2022-11-15 18:27] jeffreyrainy commented on #2306
Hi,

I'm failing to repro this on `develop`. I tried:
- Adding and removing from NetworkList
- Showing and hiding objects
- Using dynamically spawned and in-scene placed objects
- Triggering the update to occur from a different behaviour, in `Update` and `LateUpdate`

The best way for us to debug this with you would be if you could provide a simple project that repros the issue.

Below, I'm adding

[2022-11-15 19:05] ezoray commented on #2306
Okay thanks Jeffrey, I'll see what I can do about reproducing it in a test environment.

[2022-11-15 22:51] NoelStephensUnity commented on #2268
@chromee
Ahhh!  Thank you for the project link as I now am able to reproduce the issue you are experiencing.

Your current approach could be a tricky thing to get working with NetworkAnimator as it was originally designed to use triggers and parameters as events/values that typically are used to signal some form of change in the animator itself.

With normalized time, this is a value that is chang

[2022-11-16 08:01] chromee commented on #2268
@NoelStephensUnity
I will try the method you suggested.
Thanks for helping me!

[2022-11-16 10:29] ezoray commented on #2306
@jeffreyrainy, I was able to get what appear to be the same errors in testing.

I lifted the classes out of the main project and wired up a few buttons. To produce the error I started the timer removing entries from the list and have another button for toggling the visibility of the object to the client. Hammering that button whilst the timer removes the entries is producing a lot of errors relati

[2022-11-16 13:42] Daniel4144 opened #2312 "initial pose out of sync for child NetworkTransforms if interpolate is active"
### Description

When a child with a NetworkTransform of a Networkobject was moved before a client connects, the initial pose is not synced to the client. When it moves again after connecting, it is synced correctly. This seems to only occur, if interpolation on the NetworkTransform is on.

### Reproduce Steps

1. Create a NetworkObject with a child-object with a NetworkTransform component
2. Assi

[2022-11-17 01:40] nbaggett opened #2313 "Unable to declare a NetworkList regardless of the type"
### Description

I am unable to declare a NetworkList no matter the type. I am attempting to declare the list within a NetworkBehaviour script with a network object attached. I've copied the code exactly from [this example ](https://docs-multiplayer.unity3d.com/netcode/current/basics/networkvariable/index.html) on the docs and it will not work. I've also tried int, ulong, long, FixedString64Bytes

[2022-11-17 13:38] jeffreyrainy commented on #2286
Hi @davidwagn ,

A PR was merged to the `develop` branch to address this issue. If you are setup to build and run from `develop`, please let us know if this addresses the issue.

Thanks again for the report!

[2022-11-17 15:00] #2269 closed, assigned to jeffreyrainy

[2022-11-17 16:27] jeffreyrainy commented on #2313
Hi @nbaggett ,

The best (only?) place to allocate the `NetworkVariable`s and `NetworkList`s is during the `Awake` of the `NetworkBehaviour` that contains them.

So, in your case, you should do:

[code]

This should resolve your issue. Please let me know if it does not.

Thanks,
J.

[2022-11-17 17:32] nbaggett commented on #2313
That worked, thank you! I believe the official documentation needs updated to account for this as in their example it is allocated outside of awake.
https://docs-multiplayer.unity3d.com/netcode/current/basics/networkvariable/index.html#synchronizing-complex-types-example

[2022-11-17 17:32] #2313 closed, assigned to jeffreyrainy

[2022-11-17 18:36] basuarya opened #2314 "Network Prefab List - the ability to register prefabs on the fly w/o the need for drag and drop"
I have recently started using Netcode for GameObject, which has a lot of potentials.

I want the ability to register external GameObjects/Prefabs, which one can load on the fly in a Unity scene from a URL and/or File loader, with the Network Manager, without explicitly the need to drag and drop prefabs in the editor.

Thanks.

[2022-11-17 22:03] tynitoon opened #2315 "OnNetworkDespawn is not called on server side when a client disconnects"
### Description

The function OnNetworkDespawn() on server side is not called when a client leave the game or call the NetworkManager.Singleton.Shutdown() function.

Normaly, OnNetworkDespawn() should be call on server and client :
https://docs-multiplayer.unity3d.com/netcode/current/api/Unity.Netcode.NetworkBehaviour/index.html
In the version 0.1.0 this bug wasn't existing.

### Reproduce Steps

[2022-11-17 22:20] tynitoon opened #2316 "Network Objects in Canvas have their initial position changed when you join as a client"
### Description

When you create a canvas and put a gameobject with a NetworkObject Component on it. The position and the scale of the gameobject will change when you will join a server.

### Reproduce Steps

1. Setup a NetworkManager
2. Create a Canvas
3. Create a gameobject in the canvas and add a NetworkObject component and set its position to 0, 0, 0
4. Build
5. Start the executable and launch

[2022-11-18 08:21] RikuTheFuffs commented on #2313
@nbaggett  For future reference, here's a complete example on how to use NetworkList. I also added the code needed to react on changes specifically on the server/client. I'll add this example in the documentation too. Hope this helps!

[code]

[2022-11-18 16:19] NoelStephensUnity commented on #2268
Feel free to reply here or on discord: nstephens#0030 if you run into issues.  👍

[2022-11-19 05:21] TheCaveOfWonders commented on #2279
this is intended, please see
https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/issues/2159

[2022-11-19 18:09] TheCaveOfWonders commented on #2243
just fyi, if a game object is disabled (or its parent is disabled) at the time you spawn it (network spawn), its underlying network behaviours and children network behaviours will NOT raise the OnNetworkSpawned event, even though the network object itself will actually be spawned; in other words if you look at the network object component, it will be spawned.

I just ran through this issue myself,

[2022-11-19 18:28] TheCaveOfWonders opened #2318 "NetworkVariable.OnValueChanged is not called on the client unless the change took place while the object existed on the client"
### Description
leaving original title and description for context.

Upon further testing, the issue turned out to be that NetworkVariable.OnValueChanged is not being called on the client, UNLESS the value changed while the network object existed on the client.

So if the client connects, and the network variable already had its value set on the server, OnValueChanged will not get called on the cl

[2022-11-21 15:44] jeffreyrainy commented on #2318
From https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/releases

`1.1.0` should be
Oct 20 https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/commit/2c69184e5f85a025455c415145be3eeecbf98446

But you list `ba418fa5b600ad9eb61fab0575f12fbecc2c6520` which is
[code]

So, I'm a bit puzzled. There's a six-month gap there. Can you specify which one correctly describe the

[2022-11-21 17:16] NoelStephensUnity commented on #2315
@tynitoon
Following your steps I have not been able to replicate this issue.
I used the following script that I attached to our test project's playercube prefab (created a variant):
[code]
I updated the Telport Sample's NetworkManager to use the variant with the above script attached:
![image](https://user-images.githubusercontent.com/73188597/203116764-793b36d7-e02c-46dc-b4ea-c2445bb0d32e.png)
Th

[2022-11-21 17:29] NoelStephensUnity commented on #2243
@Gabzee
Just following up to let you know that I should have access to your submitted bug by end of today or tomorrow and will let you know what I find.  Thank you for doing that.  👍

[2022-11-21 17:36] NoelStephensUnity commented on #2312
@Daniel4144
The following [PR-2298](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/pull/2298) should resolve this issue and will be included in the up-coming update (v1.2).

If you wouldn't mind verifying that the above PR resolves your issue, then you can temporarily replace your com.unity.netcode.gameobjects manifest entry with this:
`"com.unity.netcode.gameobjects": "https:

[2022-11-21 18:25] NoelStephensUnity commented on #2316
@tynitoon
There were some adjustments that did change how in-scene placed NetworkObjects handling being parented.  With canvas and RecTransforms it can become a bit complicated, but to resolve this specific issue you will need to place a NetworkObject on the canvas itself.  This all has to do with how "[auto object parent synchronization for in-scene placed NetworkObjects](https://docs-multiplayer

[2022-11-21 22:34] jayd16 commented on #1367
If this is a won't fix, can the documentation site be updated?  There is example code that throws these errors.
https://docs-multiplayer.unity3d.com/netcode/current/basics/networkvariable#synchronizing-complex-types-example

[2022-11-22 02:59] Mid-D-Man commented on #2243
No need it seems the bug has been fixed after I updated the ngo package
sorry I haven't been on unity for a while

On Mon, 21 Nov 2022, 6:29 pm Noel Stephens, ***@***.***>
wrote:

[2022-11-22 08:19] Daniel4144 commented on #2312
Thanks for the answer and the fix @NoelStephensUnity

I checked with the develop branch as you suggested and I can confirm that this resolves the issue - the pose is synced immediately after connecting.

[2022-11-22 13:42] tynitoon commented on #2315
Hello, I tried to copy past your script to have exactly the same thing. But it didn't change the result on my side, so here the project that I'm using to test this bug :
https://github.com/tynitoon/netcode-bug-ondespawn/tree/master/Bug_Networking

here a video where I open the project after a fresh clone and show you the bug :
https://www.youtube.com/watch?v=RDJO0RP2mKI

[2022-11-22 14:20] tynitoon commented on #2316
I wasn't working with the "Auto Object parent sync" checked and my canvas isn't a network object. In my case I needed a timer which share his value through the network. Its position supposed to be fix. So what I did to fix this issue is to move the Timer component (which is a NetworkBehaviour) on a child of my timer because I don't care if the child move.

Anyway, I understand the adjustments and

[2022-11-22 15:29] jeffreyrainy commented on #2306
Hi @ezoray ,

I was not able to open your .zip. Well, it opened, but I had no idea what to do with those files without code.

I redid my test classes, included below. I'm now using your `UpdateCallManager` (even though it's unnecessary complexity, IMO), so that the update in a static instance triggers the component updates via an action. You can attach any number of `SomeNewScript` to various `Net

[2022-11-22 15:49] NoelStephensUnity commented on #2243
Glad to hear it! 👍

Cheers,

Noel

[2022-11-22 15:49] #2243 closed, assigned to ashwinimurt

[2022-11-22 15:49] ezoray commented on #2306
Hi @jeffreyrainy, UpdateCallManager is meant for adding multiple timers where multiple game instances are running and each attaches its own timer. I did change the invocation, it should be updateCallback?.Invoke().

The files I attached are added to a project via Assets -> Import Package. I did test and run the import in a new project before uploading so hopefully it should be straight forward.

I

[2022-11-22 15:57] NoelStephensUnity commented on #2312
That is indeed good news to hear!
Closing this out with the confirmation that this issue is (will be) fixed in the up-coming v1.2 update.

[2022-11-22 15:57] #2312 closed, assigned to NoelStephensUnity

[2022-11-22 16:58] TheCaveOfWonders commented on #2318
I will double check with a simpler object, sorry about the commit number that was auto-filled, I am on the 1.1.0 release.

[2022-11-22 19:11] jeffreyrainy commented on #2306
Best I can get from trying to import the provided package is:

![image](https://user-images.githubusercontent.com/24359051/203401013-27c038e4-bfd2-45d2-b313-53eff9d1088a.png)

and nothing gets added. 🤷

[2022-11-22 19:23] ezoray commented on #2306
You said you already opened it and saw the files, are they already imported, as that's the message I get when the files already exist in the project.

I'll see if I can zip up the whole project.

[2022-11-22 19:28] ezoray commented on #2306
This is the project minus the Library folder (I think it's missing ParrelSync).

[AssetImportTest.zip](https://github.com/Unity-Technologies/com.unity.netcode.gameobjects/files/10070473/AssetImportTest.zip)

[2022-11-22 19:55] NoelStephensUnity commented on #2316
@tynitoon
This kind of in-scene placed `NetworkObject` parenting behavior will most likely be the final way to handle scenarios like this for NGO v1.x.x.  So, there is most likely not going to be a change in how this currently works, but the good news is the only minor difference now is that you need to add a NetworkObject to your canvas/parent in order to properly synchronize the children local-s

[2022-11-22 19:55] #2316 closed, assigned to NoelStephensUnity

[2022-11-22 22:08] NoelStephensUnity commented on #2315
@tynitoon
Thank you for your project!  It really helped me narrow down a rather "odd" bug it would seem.
For the time being, using your same project, move the NetworkObject component above the "Log Despawn And Destroy" script so it looks like this:
![image](https://user-images.githubusercontent.com/73188597/203430046-b2072c40-11ac-4035-82af-c79e89740fff.png)
Then let me know if you start seeing th

[2022-11-22 22:27] tynitoon commented on #2315
Ahah I found the exact same thing 2 minutes ago. Yes it's the component order that cause this bug. If the Network Object component is first, the OnNetworkDespawn() is correctly call. But if it's last, it doesn't.

[2022-11-22 23:05] NoelStephensUnity commented on #2315
Correct.
But it is only specific to a client disconnecting from a server and will only happen on the server side.
For all other cases the ordering of components shouldn't matter.
I already found the area in NetworkManager that needs to be adjusted within OnClientDisconnectFromServer
[code]
This just makes sure the player is despawned and then destroyed on the server side if the client initiates th

[2022-11-22 23:20] ashwinimurt commented on #2305
[MTT-5122](https://jira.unity3d.com/browse/MTT-5122)

[2022-11-22 23:23] ashwinimurt commented on #2306
[MTT-5121](https://jira.unity3d.com/browse/MTT-5121)

[2022-11-22 23:25] ashwinimurt commented on #2315
[MTT-5120](https://jira.unity3d.com/browse/MTT-5120)

[2022-11-22 23:26] ashwinimurt commented on #2318
[MTT-5119](https://jira.unity3d.com/browse/MTT-5119)

[2022-11-23 07:00] TheCaveOfWonders commented on #2318
Upon further testing, the issue turned out to be that NetworkVariable.OnValueChanged is not being called on the client, UNLESS the value changed while the network object existed on the client.

So if the client connects, and the network variable already had its value set on the server, OnValueChanged will not get called on the client.
Similarly, if the object is network hidden on the client side,

[2022-11-23 16:47] jeffreyrainy commented on #2318
Hi @TheCaveOfWonders ,

First thing I need to mention:
`public override async void OnNetworkSpawn()`
This is definitely not supported. Any network-related notification, callback or API must return timely and not have any async/coroutine part to it. Consider it from the SDK point of view: What should the NetworkObject state be for those 10 seconds, if `OnNetworkSpawn` didn't finish ?

Good news, th

[2022-11-23 17:41] TheCaveOfWonders commented on #2318
Unless I'm misunderstanding something, this is my understanding of this:
OnNetworkSpawn is an empty virtual void in its base class NetworkBehaviour, and it's called synchronously in VisibleOnNetworkSpawn, meaning if we override it and make it async, that should not have an impact on the flow of VisibleOnNetworkSpawn, it will still be called synchronously up until the first await (the call from the

[2022-11-23 19:26] #2268 closed, assigned to NoelStephensUnity

[2022-11-23 19:33] jeffreyrainy commented on #2318
I'll kick an internal discussion with our team. I can't promise anything. On a released SDK, we should be limiting the changes to API and behaviours. In the meantime, the best I can offer is for you to put, in game code:

[code]
The downside is that you need a line per NetworkVariable. But at least it gets you your notifications

[2022-11-24 15:57] TheCaveOfWonders commented on #2318
thanks that's definitely appreciated and could save lots of boilerplate code, as I have lots of network behaviors and network variables in my project.

[2022-11-25 18:09] andresmonc commented on #1658
Something I just learned today that helped solve this problem for me:

you can actually simulate the behavior of childing an object to a parent using the existing component "Parent Constraint"

[2022-11-26 12:06] shreyyasm commented on #1417
@NoelStephensUnity  Hello, I'm having the same problem " Exception: Failed to find any loaded scene named Game!
Unity.Netcode.NetworkSceneManager.GetAndAddNewlyLoadedSceneByName (System.String scene name) " but my network manager's game object is not a  child of another game object. I've tried everything but couldn't find the solution!
If you can help that would be great! Thanks
Relay version: 1.0

[2022-11-28 09:21] RikuTheFuffs opened #2326 "ClientRPCs invoked within other ClientRPCs are only executed on the host player"
### Description
ClientRPCs invoked within other ClientRPCs are only executed on the host player.

The code below calls a ClientRpc nested within another ClientRpc. It makes sure that only the host calls the nested Rpc, because only the server can do that:

[code]

This will result in logs:
- **On Host:** TestNestedRPCCall --> FirstMethodClientRpc --> SecondMethodClientRpc
- **On Client:** FirstMet

[2022-11-28 15:36] jeffreyrainy commented on #2306
Hi @ezoray ,

I got your project installed and am running it against the `develop` branch with no issues. Maybe I have the wrong repro steps?

- I picked the `TestScene` scene.
- I'm running one server, one client
- I `Populate List` on the server, and get:

[code]

- I `Remove Steps` on the host, and get:

[code]
[repeats]
[code]

Am I missing some steps to get the exception?

[2022-11-28 15:37] RikuTheFuffs opened #2327 "Add OnServerStopped event"
### Description

Hi, I noticed that in NetworkManager  we have an event for when a client connects / disconnects, but for the server we only have the "started" one.

[code]

### Solution I'd like
Would it make sense to add an `OnServerStopped` event, so that applications can do specific operations when a server instance is stopped but the application is still running?

[code]

### Additional conte

[2022-11-28 16:13] NoelStephensUnity commented on #1417
@shreyyasm
Is the scene you are trying to load added to the Project Build Settings---> Scenes in Build list?

[2022-11-28 17:11] ezoray commented on #2306
Are you changing ownership at the same time as the timed function removes from the list? Hammering the Change Ownership button should produce errors.

[2022-11-28 18:41] jeffreyrainy commented on #2306
ChangeOwnership?
As long as you meant "toggle stack visible", yes. My understanding is that this bug description is around show/hide not ownership change.

You'll find, below, logs showing the server showing and hiding objects as the list gets its element removed.

Server
[code]

Client
[code]

[2022-11-28 18:45] NoelStephensUnity commented on #2327
As an additional thought, we might think about this:

- OnClientStarted: Basically does the exact same thing as OnServerStarted but for Clients only
  - We could make a host invoke both
- OnShutdownComplete:  Both server and clients would invoke this once the NetworkManager is shutdown.

[2022-11-28 19:41] ezoray commented on #2306
Sorry yes I meant toggling visibility with NetworkHide and NetworkShow.

Doing the same here I'm getting errors like this on the client `IndexOutOfRangeException: Index 6 is out of range in container of '2' Length.`I'll double check everything is up to date and give it another go.

[2022-11-28 20:03] ezoray commented on #2306
I've updated to Unity `2020.3.42f1` from the previous version and Netcode version is develop showing as `1.2.0`.

I"m still getting the errors. To try and make it a bit more consistent I put the visibility toggling in Update which produces 3 or 4 of the same errors as the values are removed from the list.

[2022-11-29 06:25] shreyyasm commented on #1417
@NoelStephensUnity yeah! it is in the build settings.

[2022-11-30 18:49] NoelStephensUnity commented on #1417
@shreyyasm
Ok,
Then if you could share your project (i.e. Github branch or the like) it would greatly help me understand where the issue might be (or possibly find a bug).
If that is not possible then could you file a bug report in the Unity Editor (this will include your project automatically as a zip) and send me the CASE number you should receive in the bug report confirmation email?  (i.e. CAS